---
import Layout from "../../layouts/BlankLayout.astro";
import Section from "../../components/Section.astro";
import SubSection from "../../components/SubSection.astro";
import SubSubSection from "../../components/SubSubSection.astro";
import SubSubSubSection from "../../components/SubSubSubSection.astro";
import CodeBox from "../../components/CodeBox.astro";
import DisplayEquation from "../../components/DisplayEquation.astro";
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro";
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro";
import InlineEquation from "../../components/InlineEquation.astro";
import InlineCanvas from "../../components/InlineCanvas.astro";
import CalloutCard from "../../components/CalloutCard.astro";
import CalloutContainer from "../../components/CalloutContainer.astro";
import Image from "../../components/Image.astro";
---

<style>
    red-text{
        background-color: red;
        color: black;
    }

    .background-yellow{
        background-color: #f0f0d0;
        border: 1px solid #444;
        border-radius: 5px;
    }

    display-equation{
        width: 100%;
        margin-bottom: 0.5rem;
        overflow: hidden;
    }
</style>

<Layout title="Style Guide & Documentation">

<Section title="Mechref Component Docs">

The aim of using components is to maintain a consistant look and feel throughout the website, as well as being able to make changes without having to go through every page.

When relevant, we've tried to maintain the LateX naming scheme for ease of use by those coming directly from it with little coding experience. For example:
<ul>
<li> \item => `Item`</li>
<li> \itemize => `Itemize`</li>
<li> \enumerate => `Enumerate`</li>
</ul>
"Components" and "elements" will be used interchangeably throughout this document.

I want to:
<ul>
<li><a href="#basics">Learn how to add elements to my page, and the nuances when using HTML components</a></li>
<li><a href="#sections">Create a new section inside my page</a></li>
<li><a href="#latex">Add an equation</a></li>
<li><a href="#callout">Add a callout card</a></li>
<li><a href="#image">Add a image</a></li>
<li><a href="#utilities">Find elements that simplify my coding</a></li>
</ul>

</Section>

<SubSection id="basics" title="How to import components">

Make sure to import the element at the top of the page before using it. If you get an error like `XXX is not defined`, this is typically what it's refering to. To import an element, use the following syntax.
<CodeBox code=`import Component from '../../components/Component.astro'` />
`Component` refers to the name of the component you want to import.
</SubSection>

<SubSection title="Inserting components into HTML page" >

All HTML tags must be closed, which means when you add an element to the page, you must close it to indicate the beginning and the end of that element. Elements can be in two states: regular or self-closed. Regular means it follows the following convention:
<CodeBox language="html" code=`
<Component> Content goes here... </Component>
` />
Notice how the component has two tags, one start tag and one end tag with a forward-slash. This allows us to insert content inside the element when supported.

Self-closing tags follow another convention:
<CodeBox language="html" code=`<Component />
` />

Now, the component only has one tag, essentially combining both the start and end tag. The component will still load, but we cannot insert any content inside it.

Depending on that state, the behavior of the component might be different. For example, let's take the `&ltDisplayEquation&gt` component. When declared with self closing tags, it will simply be displaying an equation that take up the entire width of the screen (or whichever element it's inside of):

<CodeBox language="html" code=`
<DisplayEquation title="Normalization to unit vector." id="rvv-eu1" background="True" equation="\\\\begin{aligned} \\\\hat{a} =\\\\frac{\\\\vec{a}}{a}\\\\end{aligned}"/>
` />
<DisplayEquation title="Normalization to unit vector." id="rvv-eu1" background="True" equation="\\begin{aligned} \\hat{a} =\\frac{\\vec{a}}{a}\\end{aligned}"/>

But when in regular mode, whatever content we add inside of it will now be displayed inside the derivation menu:

<CodeBox language="html" code=`
<DisplayEquation title="Normalization to unit vector." id="rvv-eu2" background="True" equation="\\begin{aligned} \\\\hat{a} =\\\\frac{\\\\vec{a}}{a}\\\\end{aligned}" derivation="True">
    <p>Content goes here:</p>
    <DisplayEquation equation="\\\\vec{v} = \\\\vec{\\\\omega} \\\\times \\\\vec{r}"/>
</DisplayEquation>
` />
<DisplayEquation title="Normalization to unit vector." id="rvv-eu2" background="True" equation="\\begin{aligned} \\hat{a} =\\frac{\\vec{a}}{a}\\end{aligned}" derivation="True">
    <p>Content goes here:</p>
    <DisplayEquation equation="\\vec{v} = \\vec{\\omega} \\times \\vec{r}"/>
</DisplayEquation>

This concept is very important, and applies to almost every component. The different behaviors will be discussed when explaining the different uses of each component.
</SubSection>

<SubSection id="sections" title="Elements currently added">

<h4 class="h3">Section:</h4> 

<p><p>Type: Regular only</p></p>

Options:
<ul>
<li>title: Displays title of the section.</li>
<li>id: Gives an id to the section so it can be linked to in the navigation tree or other pages.</li>
</ul>

Example:
<CodeBox language="html" code=`
<Section title="Example Page" id="example_page">
    <p>Lorem ipsum.</p>
</Section>
` />

<p class="mt-3">Result:</p>

<Section title="Example page">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</Section>

<h4 class="h3">SubSection:</h4> 

Same as Section, but with smaller title.

<p><p>Type: Regular only</p></p>

Options:
<ul>
<li>title: Displays title of the section.</li>
<li>id: Gives an id to the section so it can be linked to in the navigation tree or other pages.</li>
</ul>

Example:
<CodeBox language="html" code=`
<SubSection title="Example Subsection" id="example_subsection">
    <p>Lorem ipsum.</p>
</SubSection>
` />
<p class="mt-3">Result:</p>
<SubSection title="Example Subsection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</SubSection>

<h4 class="h3">SubSubSection:</h4> 

Same as SubSection, but with smaller title.

<p>Type: Regular only</p>

Options:
<ul>
<li>title: Displays title of the section.</li>
<li>id: Gives an id to the section so it can be linked to in the navigation tree or other pages.</li>
</ul>

Example:
<CodeBox language="html" code=`
<SubSubSection title="Example SubSubsection" id="example_subsubsection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</SubSubSection>
` />
<p class="mt-3">Result:</p>
<SubSubSection title="Example SubSubsection" id="example_subsubsection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</SubSubSection>

<h4 class="h3">SubSubSubSection:</h4> 

Same as SubSection, but with smaller title.

<p>Type: Regular only</p>

Options:
<ul>
<li>title: Displays title of the section.</li>
<li>id: Gives an id to the section so it can be linked to in the navigation tree or other pages.</li>
</ul>

Example:
<CodeBox language="html" code=`
<SubSubSubSection title="Example SubSubsection" id="example_subsubsubsection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</SubSubSubSection>
` />
<p class="mt-3">Result:</p>
<SubSubSubSection title="Example SubSubsection" id="example_subsubsubsection">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
</SubSubSubSection>

<SubSubSection id="latex" title="Latex displaying elements" >
These elements provide a wrapper for LateX equation, since we cannot use {`{}`} directly in the HTML, preventing us from writing complex equations. <red-text>Make sure to double every backslash</red-text>, e.g. \\vec => \\\\vec.

<h4 class="h3 mt-2">DisplayEquation:</h4> 

This will create an element that takes the entire width of the element it's inside of, and is useful for important equations that deserve to be highlighted.

<p>Type: Self-closing & Regular</p>

Options:
<ul>
<li>equation: Insert your LateX equation here.</li>
<li>title: Displays a title above the equation.</li>
<li>id: Gives an id to the equation so it can be linked to in within the current page or from other pages. <red-text>Required when derivation is set to "True"</red-text>. Also allows the proper function of the derivation menu.</li>
<li>background: Adds the characteristic yellow background and black border around the equation when set to "True".</li>
<li>derivation: Adds a "Derivation +" button to expand the derivation menu when set to "True".</li>
</ul>

<p class="mt-3"><u>Self-closing:</u></p>

Will simply display equation. 

Example:

<CodeBox language="html" code=`
<DisplayEquation title="Normalization to unit vector." id="rvv-eu" background="True" equation="Equation here"/>
` />
<p class="mt-3">Result:</p>
<DisplayEquation title="Normalization to unit vector." id="rvv-eu" background="True" equation="\\text{Equation here}"/>

<p class="mt-3"><u>Regular:</u></p>

But when in regular mode, whatever content we add inside of it will now be displayed inside the derivation menu:

<CodeBox language="html" code=`
<DisplayEquation title="Normalization to unit vector." id="rvv-eu3" background="True" equation="Equation here" derivation="True">
    <p>Derivation goes here:</p>
</DisplayEquation>
` />
<p class="mt-3">Result:</p>
<DisplayEquation title="Normalization to unit vector." id="rvv-eu3" background="True"  equation="\\text{Equation here}" derivation="True">
    <p>Derivation goes here:</p>
</DisplayEquation>

<h4 class="h3 mt-2">DisplayEquationCustom:</h4>

Same as DisplayEquation, but provides a lot more freedom with how everything looks. Made for when equation boxes don't follow the format above.

<p>Type: Regular only</p>

Options:
<ul>
<li>title: Displays a title above the equation.</li>
<li>id: Gives an id to the equation so it can be linked to in within the current page or from other pages. <red-text>Required</red-text>. Also allows the proper function of the derivation menu.</li>
<li>background: Adds the characteristic yellow background and black border around the equation when set to "True".</li>
</ul>

<CodeBox language="html" code=`
<DisplayEquationCustom title="Moment of inertia of prism." id="prism" background="True" derivation="True">
    <div class="w-100 d-flex flex-row">
        <div class="w-50">
            <InlineCanvas id="rcm-er-c" width="300" height="300" show_border="False" />
        </div>
        <div class="w-50">
            <DisplayEquation equation="\\\\vec{r}_C = \\\\frac{\\\\ell_x}{2}\\\\hat{\\\\imath} + \\\\frac{\\\\ell_y}{2}\\\\hat{\\\\jmath}" />
        </div>
    </div>
    <div slot="derivation">
        <p>Derivation goes here:</p>
    </div>
</DisplayEquationCustom>
` />

<script src="/about/docs.js" is:inline></script>

<red-text>Important:</red-text> Note the use of the `&ltdiv slot="derivation"&gt&lt/div&gt`. This is required when adding a derivation inside a `DisplayEquationCustom` element.

<p class="mt-3">Result:</p>

<DisplayEquationCustom title="Moment of inertia of prism." id="prism" background="True" derivation="True">
    <div class="w-100 d-flex flex-row align-items-center">
        <div class="w-50">
            <InlineCanvas id="rcm-er-c" width="300" height="300" show_border="False" />
        </div>
        <div class="w-50">
            <DisplayEquation equation="\\vec{r}_C = \\frac{\\ell_x}{2}\\hat{\\imath} + \\frac{\\ell_y}{2}\\hat{\\jmath}" />
        </div>
    </div>
    <div slot="derivation">
        <p>Derivation goes here:</p>
    </div>
</DisplayEquationCustom>

<h4 class="h3">InlineEquation:</h4>

This will create an element that goes along with the text it's included with, and is useful for important equations that need to be part of a paragraph.

<p>Type: Self-closing only</p>

Options:
<ul>
<li>equation: Insert your LateX equation here.</li>
</ul>

Example:

<CodeBox language="html" code=`
<p>
    <InlineEquation equation="\\\\vec{F} = m\\\\vec{a}" /> is a very important equation you guys need to remember.
</p>
` />
<p class="mt-3">Result:</p>

<InlineEquation equation=`\\\\vec{F} = m\\\\vec{a}` /> is a very important equation you guys need to remember.
</SubSubSection>


<SubSection id="callout" title="Callout card elements:">

<h4 class="h3">CalloutContainer:</h4>

To add callout cards, one first needs to add a `CalloutContainer` element within a section element (Section, SubSection, SubSubSection, etc.)

<p>Type: Regular only</p>

This element doesn't have options and follows the exact same naming convention everytime, don't forget to include `slot="cards"`:

<CodeBox language="html" code=`
<SubSection title="Vectors">

<p>Vectors are really useful, they can be used in many ways and have fun properties.</p>

<CalloutContainer slot="cards">
    ... cards go here ...
</CalloutContainer>
</SubSection>
` />

<h4 class="h3">CalloutCard:</h4>

Must be within CalloutContainer.

<p>Type: Regular only</p>

Options:
<ul>
<li>title: If left blank, defaults to "Did you know?". Otherwise the title will be whatever you declare here.</li>
</ul>

Example:

<CodeBox language="html" code=`
<SubSection title="Vectors">

<p>Lorem ipsum.</p>

<CalloutContainer slot="cards">
    <CalloutCard title="Extras!">
        <p style="margin-bottom: 0px">Random image:</p>
        <img src="https://picsum.photos/200" />
    </CalloutCard>
    <CalloutCard>
        <p style="margin-bottom: 0px">Lorem ipsum.</p>
    </CalloutCard>
</CalloutContainer>
</SubSection>
` />
<p class="mt-3">Result:</p>

<div class="fake-subsection">
    <div class="w-100">
        <h2 class="fw-bold text-center">Vectors</h2>
        <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla augue, interdum sed sapien non, dictum luctus risus. Maecenas pretium leo orci, condimentum vehicula libero scelerisque vel. Nulla hendrerit nunc a mauris elementum, id molestie augue dictum. Etiam convallis justo eu sem ultricies, sed ultricies tellus commodo. Nunc ac bibendum odio. Etiam non tincidunt mauris, vitae condimentum eros. Fusce id semper arcu, id dictum neque.</p>
    </div>
    <div class="example-callout">
        <CalloutCard title="Extras!">
            <p style="margin-bottom: 0px">Random image:</p>
            <img src="https://picsum.photos/200" />
        </CalloutCard>
        <CalloutCard>
            <p style="margin-bottom: 0px">Lorem ipsum.</p>
        </CalloutCard>
    </div>
</div>

<style>
 .fake-subsection{
    display: grid;
    grid-template-columns: 20fr 7fr;
 }

 @media (width <= 992px){
    .fake-subsection{
    display: grid;
    grid-template-columns: 1fr;
 }
 }
</style>
</SubSection>

<h3><a id="image" class="title">Images:</a></h3>

The `Image` component is used to display images with optional width and alt text (text displayed in case the image fails to load).

<p>Type: Self-closing & Regular</p>

Options:
<ul>
<li>src: URL to the image.</li>
<li>width: A value between 1 and 7. A value of 7 means it will take up the full available width, and otherwise it will take up <InlineEquation equation="n/7\\cdot100\\%" />.</li>
<li>id: Gives an id to the image so it can be linked to in within the current page or from other pages. Optional.</li>
<li>alt: The text to display in place of the image if it fails to load. Optional but recommended for accessibility reasons.</li>
<li>class_: Give the image extra classes for styling. Optional.</li>
</ul>

<p class="mt-3"><u>Self-closing:</u></p>

Will just display the image.

Example: 

<CodeBox language="html" code=`
<Image src="/Solid_Mechanics/Bending-Figures/Geometry.png" width="5"/>
` />

<p class="mt-3">Result:</p>
<div style="width: 100%; display: flex; align-items: center; justify-content:center;">
<Image src="/public/Solid_Mechanics/Bending-Figures/Geometry.png" width="5" />
</div>

<p class="mt-3"><u>Regular:</u></p>

Anything contained within the `Image` tag will be treated as a caption.

Example: 

<CodeBox language="html" code=`
<Image src="/Solid_Mechanics/Torsion-Figures/Equilibrium.png" width="3">
    <p>
        Wow that's a beautiful image
    </p>
</Image>
` />

<p class="mt-3">Result:</p>
<div style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content:center;">
<Image src="/public/Solid_Mechanics/Torsion-Figures/Equilibrium.png" width="3">
    Wow that's a beautiful image
</Image>
</div>

<h3><a id="utilities" class="title">Utility elements:</a></h3>


</Layout>
