---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import Warning from "../../components/Warning.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
---




<Layout title = "Contact and rolling" description = "Learn how velocity and acceleration behave when rigid bodies roll on flat and curved surfaces.">
    <style>
        .caption-heading{
            border-bottom: solid 1px;
        }
    </style>

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#rolling_motion'>Rolling motion</a>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#rolling_flat_surface'>Rolling on a flat surface</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#rolling_curved_surface'>Rolling on curved surfaces</a></li>   
        </ul>	
    </li>
  </ul>
</div>


<Section title="Contact and rolling"></Section>


<SubSection title="Rolling motion"  id="rolling_motion">
    <p>
        A special case of rigid body motion is <em>rolling without
        slipping</em> on a stationary ground surface. This is
        defined by motion where the point of contact with the ground
        has zero velocity, so it matches the ground velocity and is
        not slipping.
    </p>
    
    
    <DisplayEquation equation="\\text{Contact point P has zero velocity}: \\quad \\vec{v}_P = 0" title="Rolling without slipping on stationary ground surfaces:" derivation="True" background="True" id="rko-er">
        <p class="m-0">
            Rolling without slipping means by definition that the
            contacting points have the same velocity. For a
            stationary ground the velocity is zero, so the contact
            point on the body must also have zero velocity.
          </p>
     
    </DisplayEquation>

    
    <p>
        It is helpful to think about the motion of the body in two
        ways:
    </p>

    <Enumerate>
        <Item>
            The body rotates about the moving center <InlineEquation equation="C" />.
        </Item>
        <Item>
            The body rotates about the instantaneous center at the contact point <InlineEquation equation="P" />.
        </Item>
    </Enumerate>

    <p>
        These two ways of visualizing the motion can be seen on the
        figure below.
    </p>

    <PrairieDrawCanvas id="rko-fr-c" width="600" height="600">
        <p class="controls">
            <button class="anim-toggle:rko-fr-c" onclick="rko_fr_c.toggleAnim()">animation</button>
            <button class="reset:rko-fr-c" onclick="rko_fr_c.reset()">reset</button>
            <button class="option-toggle:rko-fr-c:showLabels" onclick="rko_fr_c.toggleOption('showLabels')">show labels</button>
          </p>
          <div class="d-flex flex-row flex-wrap radio-container" style="gap: 10px;">
              <p class="mb-0">Movement:</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="smallFlat" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)" checked/> flat</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="bigFlat" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> big flat</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="rock" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> rock</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="in-2-circle" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> inside 2-circle</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="in-3-circle" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> inside 3-circle</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="in-rock" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> inside rock</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="out-1-circle" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> outside 1-circle</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="out-2-circle" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> outside 2-circle</p>
              <p class="mb-0"><input type="radio" name="rko-fr-c-movement" value="out-rock" class="data-input:rko-fr-c:movement" onchange="rko_fr_c.setOption('movement', this.value)"/> outside rock</p>
        </div>
          
          <Row>
            <Col values="12 sm-6 md-3">
                <div class="d-flex flex-column">
                    <p class="mb-1" >Center \(C\)</p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showCVel" onclick="rko_fr_c.toggleOption('showCVel')">\(C\) velocity</button></p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showCAcc"onclick="rko_fr_c.toggleOption('showCAcc')">\(C\) acceleration</button></p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showCPath" onclick="rko_fr_c.toggleOption('showCPath')">\(C\) path</button></p>
                </div>
            </Col>
            <Col values="12 sm-6 md-3">
                <div class="d-flex flex-column">
                    <p class="mb-1 caption-heading">Body</p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showAngVel" onclick="rko_fr_c.toggleOption('showAngVel')">ang. vel.</button></p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showAngAcc" onclick="rko_fr_c.toggleOption('showAngAcc')">ang. acc.</button></p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showPPath" onclick="rko_fr_c.toggleOption('showPPath')">\(P\) path</button></p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showInstRot" onclick="rko_fr_c.toggleOption('showInstRot')">inst. cent. \(M\)</button></p>
                </div>
            </Col>
            <Col values="12 sm-6 md-3">
                <div class="d-flex flex-column">
                    <p class="mb-1 caption-heading">\(P\) velocity</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-velField" value="none" class="data-input:rko-fr-c:velField" onchange="rko_fr_c.setOption('velField', this.value)" checked/> none</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-velField" value="base" class="data-input:rko-fr-c:velField" onchange="rko_fr_c.setOption('velField', this.value)"/> <InlineEquation equation="\\vec{v}_C" /> (trans.)</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-velField" value="omega" class="data-input:rko-fr-c:velField" onchange="rko_fr_c.setOption('velField', this.value)"/> <InlineEquation equation="\\vec{\\omega} \\times \\vec{r}_{CP}" /> (rot.)</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-velField" value="total" class="data-input:rko-fr-c:velField" onchange="rko_fr_c.setOption('velField', this.value)"/> <InlineEquation equation="\\vec{v}_P" /> (total)</p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showVelField" onclick="rko_fr_c.toggleOption('showVelField')">all points</button></p>
                </div>
            </Col>
            <Col values="12 sm-6 md-3">
                <div class="d-flex flex-column">
                    <p class="mb-1 caption-heading">\(P\) acceleration</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-accField" value="none" class="data-input:rko-fr-c:accField" onchange="rko_fr_c.setOption('accField', this.value)" checked/> none</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-accField" value="base" class="data-input:rko-fr-c:accField" onchange="rko_fr_c.setOption('accField', this.value)"/> <InlineEquation equation="\\vec{a}_C" /> (trans.)</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-accField" value="alpha" class="data-input:rko-fr-c:accField" onchange="rko_fr_c.setOption('accField', this.value)"/> <InlineEquation equation="\\vec{\\alpha} \\times \\vec{r}_{CP}" /> (ang.)</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-accField" value="cent" class="data-input:rko-fr-c:accField" onchange="rko_fr_c.setOption('accField', this.value)"/> <InlineEquation equation="\\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{CP})" /> (cent.)</p>
                    <p class="mb-1"><input type="radio" name="rko-fr-c-accField" value="total" class="data-input:rko-fr-c:accField" onchange="rko_fr_c.setOption('accField', this.value)"/> <InlineEquation equation="\\vec{a}_P" /> (total)</p>
                    <p class="mb-1"><button class="option-toggle:rko-fr-c:showAccField" onclick="rko_fr_c.toggleOption('showAccField')">all points</button></p>
                </div>
            </Col>
          </Row>
            
          <p class="figureCaption">
            Velocity and acceleration of points on a rigid body
            undergoing different rolling motions.
          </p>
    </PrairieDrawCanvas>
</SubSection>

<SubSubSection title="Rolling on a flat surface" id="rolling_flat_surface" >

    <p>
        The most common and also the simplest form of rolling occurs
        on a flat surface.
      </p>
      <PrairieDrawCanvas width="600" height="600" id="rko-ff-c">
        <p class="controls">
          <button class="anim-toggle:rko-ff-c" onclick="rko_ff_c.toggleAnim()">animation</button>
          <button class="reset:rko-ff-c" onclick="rko_ff_c.reset()">reset</button>
        </p>
        <p class="controls">
          <button class="option-toggle:rko-ff-c:showPaths"onclick="rko_ff_c.toggleOption('showPaths')">show paths</button>
          <button class="option-toggle:rko-ff-c:reversed" onclick="rko_ff_c.toggleOption('reversed')">reverse direction</button>
        </p>
        <p class="figureCaption">
          Geometry and variables for rolling without slipping on a
          flat surface.
        </p>
      </PrairieDrawCanvas>
      <p>
        While rolling, the velocity and acceleration are directly
        connected to the angular velocity and angular acceleration,
        as shown by the next equations.
      </p>
    <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= r \\omega \\,\\hat{e}_t \\\\            \\vec{a}_C &amp;= r \\alpha \\,\\hat{e}_t            \\end{aligned}" background="True" title="Center velocity and acceleration while rolling on a flat surface (Tangential-Normal Basis)." id="rko-ef" derivation="True">
        <p>
            We begin by observing that the sign conventions in
            Figure <a href="#rko-ff">#rko-ff</a> mean that
            <InlineEquation equation="\\vec\\omega = -\\omega\\,\\hat{e}_b" />. Now rolling without
            slipping means the contact point \(A\) must
            instantaneously have zero velocity, so using <a
            href="rkg.html#rkg-er">#rkg-er</a> gives:

            <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= \\vec{v}_A + \\vec{\\omega} \\times \\vec{r}_{AC} \\\\            &amp;= (-\\omega \\,\\hat{e}_b) \\times r \\,\\hat{e}_n \\\\            &amp;= r \\omega \\,\\hat{e}_t.            \\end{aligned}" />

            Because the surface is flat, the tangential basis vector
            <InlineEquation equation="\\hat{e}_t" /> is constant, and the radius \(r\) is also
            constant. Differentiating the velocity expression thus
            results in:

            <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= r \\omega \\,\\hat{e}_t \\\\            \\dot{\\vec{v}}_C &amp;= r \\dot\\omega \\,\\hat{e}_t \\\\            \\vec{a}_C &amp;= r \\alpha \\,\\hat{e}_t.            \\end{aligned}"/>
          </p>
    </DisplayEquation>


    <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= -r \\omega_z \\,\\hat\\imath \\\\            \\vec{a}_C &amp;= -r \\alpha_z \\,\\hat\\imath            \\end{aligned}" background="True" id="rko-ef2" title="Center velocity and acceleration while rolling on a flat surface (Standard Basis)." derivation="True">
        <p>
            Since the body is rolling without slipping, the contact point \(A\)'s
            velocity is instantaneously zero. Using rigid body equations:

            <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= \\vec{v}_A + \\vec{\\omega} \\times \\vec{r}_{AC} \\\\            &amp;= \\omega_z r_{AC}^\\perp \\\\            &amp;= -r \\omega_z \\,\\hat\\imath.            \\end{aligned}"/>

            Differentiating to obtain acceleration results in:

            <DisplayEquation equation="\\begin{aligned}            \\vec{v}_C &amp;= -r \\omega_z \\,\\hat\\imath \\\\            \\dot{\\vec{v}}_C &amp;= -r \\dot\\omega_z \\,\\hat\\imath \\\\            \\vec{a}_C &amp;= -r \\alpha_z \\,\\hat\\imath.            \\end{aligned}"/>
          </p>
    </DisplayEquation>

      <p>
        Another way to express the connection between angular and
        linear velocity and acceleration is via the distance \(s\)
        traveled by the rolling body:
      </p>

    <DisplayEquation equation="\\begin{aligned}            s &amp;= r \\theta \\\\            \\dot{s} &amp;= r \\omega \\\\            \\ddot{s} &amp;= r \\alpha            \\end{aligned}" background="True" id="rko-eh" title="Distance-angular relationships for rolling on a flat surface." derivation="True">
        <p>
            The contact point \(P\) and center \(C\) are offset by the
            constant vector <InlineEquation equation="r\\,\\hat{e}_n" /> so <InlineEquation equation="\\dot{s} = v_P = v_C            = r\\omega" />, from <a href="#rko-ef">#rko-ef</a>. Because
            \(r\) is constant, differentiating the velocity expression
            gives <InlineEquation equation="\\ddot{s} = r \\dot\\omega = r \\alpha" />, while
            integrating with zero initial displacement gives <InlineEquation equation=" s = r            \\theta" />.
          </p>
    </DisplayEquation>
      <p>
        While rolling, the contact point will have zero velocity but
        will have a centripetal acceleration towards the rolling
        center:
      </p>

        <DisplayEquation equation="\\begin{aligned}            \\vec{v}_P &amp;= 0 \\\\            \\vec{a}_P &amp;= \\omega^2 \\,\\vec{r}_{PC}            \\end{aligned}" background="True" title="Contact point \\(P\\) velocity and acceleration while rolling on a flat surface." id="rko-eo" derivation="True">
            <p>
                By definition of non-slip rolling contact, the point of
                contact \(P\) has zero velocity. The acceleration can be
                computed from the center \(C\) with <a
                href="#rkg-e2">#rkg-e2</a>:
    
                <DisplayEquation equation="\\begin{aligned}            \\vec{a}_P &amp;= \\vec{a}_C + \\vec{\\alpha} \\times \\vec{r}_{CP}            + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{CP}) \\\\            &amp;= \\alpha r \\,\\hat{e}_t + (-\\alpha\\,\\hat{e}_b) \\times (-r\\,\\hat{e}_n)            + (-\\omega\\,\\hat{e}_b) \\times \\Big((-\\omega\\,\\hat{e}_b) \\times (-r\\,\\hat{e}_n)\\Big) \\\\            &amp;= \\alpha r \\,\\hat{e}_t - \\alpha r \\,\\hat{e}_t            + \\omega^2 r \\,\\hat{e}_n \\\\            &amp;= \\omega^2 \\,\\vec{r}_{PC}.            \\end{aligned}"/>
              </p>
        </DisplayEquation>

</SubSubSection>


<SubSubSection title="Rolling on curved surfaces"  id="rolling_curved_surface">
    <p>
        When a circular rigid body rolls without slipping on a
        surface which is itself curved, the radius of curvature of
        the surface affects the acceleration (but not velocity) of
        points on the rolling body.
    </p>

    <PrairieDrawCanvas id="rko-fc-c" width="600" height="600"></PrairieDrawCanvas>

    <DisplayEquation id="rko-eg" derivation='True' background="True" title="Geometric quantities for rolling on a curved surface." equation="\\begin{aligned} \\left.\\begin{aligned} R &amp;= \\rho - r \\\\ \\vec{\\omega} &amp;= -\\omega \\,\\hat{e}_b \\\\ \\vec{\\alpha} &amp;= -\\alpha \\,\\hat{e}_b \\end{aligned}\\right\\} &amp; \\text{ when rolling on the inside of a curved surface} \\\\[1em] \\left.\\begin{aligned} R &amp;= \\rho + r \\\\ \\vec{\\omega} &amp;= \\omega \\,\\hat{e}_b \\\\ \\vec{\\alpha} &amp;= \\alpha \\,\\hat{e}_b \\end{aligned}\\right\\} &amp; \\text{ when rolling on the outside of a curved surface} \\end{aligned}"> 
            These formulas are all choices of sign conventions for
            <InlineEquation equation="\\omega" /> and <InlineEquation equation="\\alpha" />, and definitions of <InlineEquation equation="R" />. Figure <a
            href="#rko-fc">#rko-fc</a> shows the appropriate
            geometry. Note that <InlineEquation equation="\\omega" /> and <InlineEquation equation="\\alpha" /> are defined
            with positive values corresponding to motion in the
            tangential direction.
    </DisplayEquation>

    <Warning id="rko-wr" title="Radii of curvature \\(\\rho\\) and \\(r\\) may not be constant.">
      <p>
        The radius of curvature <InlineEquation equation="\\rho" /> of the surface may be
        varying with position as the body rolls. If <InlineEquation equation="\\rho" />
        changes then this will also cause <InlineEquation equation="R" /> to change. These
        two variables will only be constant if the surface is in
        fact perfectly circular.
      </p>
    </Warning>

    <p>
      The center velocity for rolling on a curved surface is the
      same as for a flat surface, while the acceleration also
      depends on the radius of curvature of the surface:
    </p>

    <DisplayEquation title="Center velocity and acceleration while rolling on a curved surface (Tangential-Normal Basis)." id="rko-ec" equation="\\begin{aligned}\\vec{v}_C &amp;= r \\omega \\,\\hat{e}_t \\\\\\vec{a}_C &amp;= r \\alpha \\,\\hat{e}_t+ \\frac{(r\\omega)^2}{R} \\,\\hat{e}_n\\end{aligned}" background="true" derivation="true">
      <p>
        The two configurations shown in Figure <a
        href="#rko-eg">#rko-eg</a> must be considered
        individually. We will do the derivation for the case of
        rolling inside (the left diagram), as the
        rolling-outside case is very similar, but with different
        signs.
      </p>

      <p>
        We begin with the point of contact \(P\), which has zero
        velocity and so it is the instantaneous center of the
        body. Using <a href="rkg.html#rkg-er">#rkg-er</a> with
        the expressions <a href="#rko-eg">#rko-eg</a> thus gives
        the velocity expression:

        <DisplayEquation equation="\\begin{aligned}        \\vec{v}_C &amp;= \\vec{v}_P + \\vec{\\omega} \\times \\vec{r}_{PC} \\\\        &amp;= (-\\omega\\,\\hat{e}_b) \\times r\\,\\hat{e}_n \\\\        &amp;= r \\omega \\,\\hat{e}_t.        \\end{aligned}" />


        Differentiating this velocity and using <a
        href="rkt.html#rkt-ed">#rkt-ed</a> gives the
        acceleration:

        <DisplayEquation equation="\\begin{aligned}        \\vec{a}_C &amp;= r \\dot{\\omega} \\,\\hat{e}_t        + r \\omega \\,\\dot{\\hat{e}}_t \\\\        &amp;= r \\alpha \\,\\hat{e}_t        + r \\omega \\frac{\\dot{s}}{\\rho} \\,\\hat{e}_n.        \\end{aligned}" />


        To replace <InlineEquation equation="\\dot{s}" /> in this acceleration expression, we
        first consider the instantaneous center \(M\), which moves
        along the surface with speed <InlineEquation equation="\\dot{s}" /> and tangential
        acceleration <InlineEquation equation="\\ddot{s}" />. Thus from <a
        href="rkt.html#rkt-ev">#rkt-ev</a>:

        <DisplayEquation equation="\\begin{aligned}        \\vec{v}_M &amp;= \\dot{s} \\,\\hat{e}_t.        \\end{aligned}" />


        We can now compute the velocity of \(C\) from \(M\), as
        follows. Note that we cannot use equation <a
        href="rkg.html#rkg-er">#rkg-er</a> because \(M\) and \(C\)
        are not fixed to the same body (\(M\) is not fixed to the
        body). Thus:

        <DisplayEquation equation="\\begin{aligned}        \\vec{r}_C &amp;= \\vec{r}_M + r\\,\\hat{e}_n \\\\        \\vec{v}_C &amp;= \\vec{v}_M + r\\,\\dot{\\hat{e}}_n \\\\        &amp;= \\dot{s}\\,\\hat{e}_t - r \\frac{\\dot{s}}{\\rho} \\,\\dot{\\hat{e}}_t \\\\        &amp;= \\frac{(\\rho - r)}{\\rho} \\dot{s} \\,\\hat{e}_t \\\\        &amp;= \\frac{R}{\\rho} \\dot{s} \\,\\hat{e}_t.        \\end{aligned}" />


        Comparing this expression for <InlineEquation equation="\\vec{v}_C" /> to the one
        above, we see that:

        <DisplayEquation equation="\\begin{aligned}        r \\omega &amp;= \\frac{R}{\\rho} \\dot{s} \\\\        \\dot{s} &amp;= \\frac{\\rho r}{R} \\omega.        \\end{aligned}" />


        This expression for <InlineEquation equation="\\dot{s}" /> can be substituted back
        into our earlier equation for <InlineEquation equation="\\vec{a}_C" />, giving:

        <DisplayEquation equation="\\begin{aligned}        \\vec{a}_C &amp;= r \\alpha \\,\\hat{e}_t        + r \\omega \\frac{1}{\\rho} \\left( \\frac{\\rho r}{R} \\omega \\right) \\,\\hat{e}_n \\\\        &amp;= r \\alpha \\,\\hat{e}_t        + \\frac{(r \\omega)^2}{R} \\,\\hat{e}_n.        \\end{aligned}" />


        The case of rolling on the outside of the curved surface
        (the right diagram in Figure <a
        href="#rko-fc">#rko-fc</a>) is similar to the above but
        with the different sign conventions from <a
        href="#rko-eg">#rko-eg</a>. The final expressions in <a
        href="#rko-ec2">#rko-ec</a> apply to rolling on both the
        inside and outside.
      </p>

    </DisplayEquation>

    <DisplayEquationCustom title="Center velocity and acceleration while rolling on a curved surface (I-J Basis)." id="rko-ec2" background="true" derivation="true">

      <InlineEquation equation="\\text{Rolling on the inside}:" />
      <DisplayEquation equation="\\begin{aligned}\\vec{v}_C &amp;= -r \\omega_z \\,\\hat{I}\\\\\\vec{a}_C &amp;= -r \\alpha_z \\,\\hat{I}+ \\frac{(r\\omega)^2}{R} \\,\\hat{J}\\end{aligned}" />

      <InlineEquation equation="\\text{Rolling on the outside}:" />
      <DisplayEquation equation="\\begin{aligned}\\vec{v}_C &amp;= -r \\omega_z \\,\\hat{I}\\\\\\vec{a}_C &amp;= -r \\alpha_z \\,\\hat{I}- \\frac{(r\\omega)^2}{R} \\,\\hat{J}\\end{aligned}" />


      <div slot="derivation">
        <p>
          By defining positive <InlineEquation equation="\\hat{J}" /> as always pointing towards the center of the
          body rolling, i.e <InlineEquation equation="\\hat{J}  = -\\hat{e}_n" /> for rolling on the outside,
          and <InlineEquation equation="\\hat{J}  = \\hat{e}_n" /> for rolling on the inside, 
          and <InlineEquation equation="\\hat{I}" /> to make a right-handed 
          set (i.e <InlineEquation equation="\\hat{I} \\times \\hat{J} = \\hat{k}" />)
          we can obtain the expressions above. 
        </p>
      </div>
    </DisplayEquationCustom>

    <p>
      The angular velocity of the rolling rigid body can be
      related to the derivative <InlineEquation equation="\\dot{s}" /> of the distance traveled
      on the surface as follows. In the special case of a
      perfectly circular surface, the angular acceleration also
      has a simple relationship with <InlineEquation equation="\\ddot{s}" />.
    </p>
    
    <DisplayEquation equation="\\begin{aligned}\\omega &amp;= \\frac{R}{\\rho r} \\dot{s} \\quad \\text{on any curved surface} \\\\\\alpha &amp;= \\frac{R}{\\rho r} \\ddot{s} \\quad \\text{on a circular surface}\\end{aligned}" id="rko-ew" background="true" derivation="true" title="Distance-angular relationships for rolling on a curved surface.">
      <p>
        See the derivation for <a href="#rko-ec">#rko-ec</a>,
        where the relationship between \(\omega\) and <InlineEquation equation="\\dot{s}" /> is
        obtained. If the surface is exactly circular then by
        definition $\rho$ and \(r\) are constant, so
        differentiating the angular velocity expression
        immediately gives the angular acceleration equation.
      </p>
    </DisplayEquation>

    <p>
      Just as with rolling on a flat surface, when a rigid body
      rolls on a curved surface the contact point has zero
      velocity but nonzero acceleration, as shown below.
    </p>

    <DisplayEquation equation="\\begin{aligned}\\vec{v}_P &amp;= 0 \\\\\\vec{a}_P &amp;= \\frac{\\rho}{R} \\omega^2 \\,\\vec{r}_{PC}\\end{aligned}" id="rko-ep" background="true" derivation="true" title="Contact point \\(P\\) velocity and acceleration while rolling on a curved surface.">
      <p>
        The derivations for rolling on the inside or outside of
        a surface are different. Here we show the rolling inside
        case, as the outside case is very similar.
      </p>
      <p>
        By definition the contact point \(P\) has zero
        velocity. The acceleration can be computed from the
        center \(C\):

        <DisplayEquation equation="\\begin{aligned}        \\vec{a}_P &amp;= \\vec{a}_C + \\vec{\\alpha} \\times \\vec{r}_{CP}        + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{CP}) \\\\        &amp;= r \\alpha \\,\\hat{e}_t        + \\frac{(r\\omega)^2}{R} \\,\\hat{e}_n        + (-\\alpha \\,\\hat{e}_b) \\times (-r\\,\\hat{e}_n)        + (-\\omega \\,\\hat{e}_b) \\times \\Big(        (-\\omega \\,\\hat{e}_b) \\times (-r\\,\\hat{e}_n) \\Big) \\\\        &amp;= r \\alpha \\,\\hat{e}_t        + \\frac{(r\\omega)^2}{R} \\,\\hat{e}_n        - r \\alpha \\,\\hat{e}_t        + r \\omega^2 \\,\\hat{e}_n \\\\        &amp;= \\frac{(r + R)}{R} r \\omega^2 \\,\\hat{e}_n \\\\        &amp;= \\frac{\\rho}{R} \\omega^2 \\,\\vec{r}_{PC}.        \\end{aligned}" />

      </p>
    </DisplayEquation>


    
</SubSubSection>



</Layout>

<script src="/dyn/contact_and_rolling/canvases.js" is:inline></script>
