---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import SubSubSubSection from "../../components/SubSubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import Center from "../../components/Center.astro"
import Example from "../../components/Example.astro"
import Itemize from "../../components/Itemize.astro"
import Item from "../../components/Item.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title = "Particle kinetics" description = "Learn about how forces affect velocity and acceleration of particles.">

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#classical_mechanics'>Classical mechanics</a>
    </li> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#methods_assumed'>Methods of assumed forces and motion</a>
    </li> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#solution_steps'>Solution steps</a>
    </li>
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#numerical_integration'>Numerical integration</a>
    </li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#applications_pkinetics'>Applications</a>
	        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#accelerating_braking'>Accelerating and braking</a></li>
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#banked_turns'>Banked turns</a></li>
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#projectiles_air_resistance'>Projectiles with air resistance</a></li>
      <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#kiiking'>Kiiking</a></li>
        </ul>
    </li>
</ul>
</div>


<Section title="Particle Kinetics" id="particle_kinetics"></Section>

<SubSection title="Classical mechanics" id="classical_mechanics">

    <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                If we have objects which are either very massive, very
                small, or moving very fast, then Newton's equations do not
                provide a good model of their motion. Instead we must use
                Einstein's equations of <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/General_relativity">general
                relativity</a> (for massive and fast objects) or the
                equations of <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Quantum_mechanics">quantum
                mechanics</a> (for very small objects). Unfortunately,
                these two theories cannot be used together, so we
                currently have no good models for objects which are
                simultaneously very small and very massive, such as <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Micro_black_hole">micro
                black holes</a> or the universe shortly after the <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Big_Bang">big
                bang</a>. Physicists are currently trying to reconcile
                general relativity with quantum mechanics by devising a
                new set of equations (sometimes called <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Quantum_gravity">quantum
                gravity</a> or a <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Theory_of_everything">theory
                of everything</a>). Current possibilities for new
                equations include <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/String_theory">string
                theory</a> and <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Loop_quantum_gravity">loop
                quantum gravity</a>, but none of these are generally
                accepted yet.
              </p>
              <p>
                It is important to remember that all of these different
                equations are only models of reality and are not actually
                real:
              </p>
              <blockquote>
                “All models are wrong. Some models are useful.”
                <br />
                — <a target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/George_E._P._Box">George Box</a>
              </blockquote>
        </CalloutCard>
    </CalloutContainer>

    Newton's equations relate the acceleration <InlineEquation equation="\\vec{a}" /> of a point mass with mass <InlineEquation equation="m" /> to the total applied force <InlineEquation equation="\\vec{F}" /> on the mass (sum of all applied forces). They are:
    
    <DisplayEquation equation="\\vec{F} = m\\vec{a}" background="True" title="Newton's equations: "/>

    There is no derivation for Newton's equations, because they are an assumed model for dynamics. We can only verify them by comparing with experimental evidence, which confirms that Newtonian dynamics are accurate for non-relativistic and non-quantum systems.

    <PrairieDrawCanvas id="rep-ff-c" width="600" height="600">
      <button onclick="rep_ff_c.toggleAnim()">animate</button>
      <button onclick="rep_ff_c.reset()">reset</button>
      <p>A point mass moving in the plane with an applied force. You can try to made the mass move in a circle and then see what happens when the force is suddenly removed, which will demonstrate Newton's first law (no net force implies motion at constant speed in a constant direction). Also observe which force directions cause the speed to increase or decrease.</p>
    
      <small><em>Click and drag to impart a force on the particle.</em></small>
    </PrairieDrawCanvas>

</SubSection>

<SubSubSection title="Method of assumed forces and method of assumed motion" id="methods_assumed">
    Newton's equations can be used in two main ways. Either we
          know the forces and we use this to compute the acceleration
          of a mass, or we know the acceleration and use this to
          compute the forces.

        <DisplayEquation equation="\\begin{align}\\textbf{Method of assumed forces: } \\text{Know } \\vec{F} \\Longrightarrow \\text{Compute } \\vec{a} \\\\ \\textbf{Method of assumed motion: } \\text{Know } \\vec{a} \\Longrightarrow \\text{Compute } \\vec{F} \\end{align}" />

    Of course there are other possibilities from these two, such
          as knowing the vertical component of the force and the
          horizontal component of acceleration, and then computing the
          missing components of each.
        
    <Example id="rep-xf" title="Method of assumed forces">
        A cannonball of mass <InlineEquation equation="m" /> is fired from the origin with initial velocity <InlineEquation equation="\\vec{v}_0" /> and then experiences a force <InlineEquation equation="\\vec{F}_{\\rm g} = -m g \\hat{\\jmath}" /> due to gravity and a wind force <InlineEquation equation="\\vec{F}_{\\rm w} = -C_{\\rm w} \\hat{\\imath}" />. What is the motion of the cannonball as a function of time?

        <div slot="solution">
            We can use Newton's equations to find the acceleration of the cannonball, using the method of assumed forces:

            <DisplayEquation equation="\\begin{aligned} m \\vec{a} &amp;= \\vec{F}_{\\rm w} + \\vec{F}_{\\rm g} \\\\ \\vec{a} &amp;= \\frac{1}{m} \\left( - C_{\\rm w} \\hat{\\imath} - m g \\hat{\\jmath} \\right) \\end{aligned}" />
        </div>
    </Example>

    <Example id="rep-xm" title="Method of assumed motion">
        A car of mass <InlineEquation equation="m" /> is observed driving on a sinusoidal road at a constant horizontal speed <InlineEquation equation="v_0" />. The road surface has equation <InlineEquation equation="y = A \\sin(k x)" />, where <InlineEquation equation="A" /> is the amplitude and <InlineEquation equation="k" /> is the wavenumber. What is the force of the road on the car? Gravity <InlineEquation equation="g" /> acts vertically and assume no air resistance.

        <div slot="solution">
            We can determine the acceleration of the car, and then use Newton's equations and method of assumed motion to find the total force and thus the road force. First, we find the acceleration:

            <DisplayEquation equation="\\begin{aligned} x(t) &amp;= x_0 + v_0 t \\\\ \\vec{r}(t) &amp;= x(t)\\,\\hat{\\imath} + y(x(t)) \\,\\hat{\\jmath} \\\\ &amp;= (x_0 + v_0 t)\\,\\hat{\\imath} + A \\sin(k x_0 + k v_0 t)\\,\\hat{\\jmath} \\\\ \\vec{a}(t) = \\ddot{\\vec{r}}(t) &amp;= - A (k v_0)^2 \\sin(k x_0 + k v_0 t)\\,\\hat{\\jmath} \\\\ &amp;= - A (k v_0)^2 \\sin(k x)\\,\\hat{\\jmath}. \\end{aligned}" />

            Given the force of gravity <InlineEquation equation="\\vec{F}_{\\rm g} = - m g \\,\\hat{\\jmath}" /> and the road force <InlineEquation equation="\\vec{F}_{\\rm r} " />, Newton's equations give the forces as:

            <DisplayEquation equation="\\begin{aligned} \\vec{F}_{\\rm r} + \\vec{F}_{\\rm g} &amp;= m \\vec{a} \\\\ \\vec{F}_{\\rm r} &amp;= - m A (k v_0)^2 \\sin(k x)\\,\\hat{\\jmath} + m g \\,\\hat{\\jmath} \\\\ &amp;= m \\Big(g - A (k v_0)^2 \\sin(k x)\\Big) \\,\\hat{\\jmath},  \\end{aligned}" />

            where we have solved for the road force on the car.
        </div>
    </Example>
</SubSubSection>

<SubSubSection title="Solution steps" id ="solution_steps">
    The steps involved in analyzing a mechanical system with Newton's equations are as follows.

    <DisplayEquation equation="\\begin{aligned} &amp;\\text{1. FBD: draw a Free Body Diagram.} \\\\ &amp;\\text{2. Kinematics: determine $\\vec{a}$.} \\\\ &amp;\\text{3. Newton: use $\\vec{F} = m\\vec{a}$.} \\\\ &amp;\\text{4. Algebra: rear and solve as needed.} \\end{aligned}" background="True"/>

    <Example title="Pendulum with Newton's equations" id="rep‑xl">
        <div class="d-flex flex-row">
            <div class="w-50">
                Consider the 2D pendulum with a massless rigid rod of
                length <InlineEquation equation="\\ell" /> and a point mass <InlineEquation equation="m" />. What is the
                equation of motion for <InlineEquation equation="\\ddot\\theta" /> and the tension
                <InlineEquation equation="T" /> in the rod?
            </div>
            <div class="w-50">
                <PrairieDrawCanvas id="rep-xl-c" width="300" height="200" />
            </div>
        </div>
        
        

        <div slot="solution">
            <p>
                It is helpful in this problem to use both Cartesian and polar bases:
                <button class="option-toggle:rep-xl-c:showBases" onclick="rep_xl_c.toggleOption('showBases')">show bases</button>
              </p>
              <p>
                <strong>1. FBD:</strong> The free body diagram for the point mass is:
              </p>
              <PrairieDrawCanvas id="rep-xl-f" width="300" height="200"/>
              <p>
                The forces on the free body diagram are:

                <DisplayEquation equation="\\begin{aligned} \\vec{F}_g &amp;= - mg \\,\\hat\\jmath \\\\ \\vec{F}_T &amp;= - T \\,\\hat{e}_r.  \\end{aligned}" />
              </p>
              <p>
                <strong>2. Kinematics:</strong> Using the polar
                basis acceleration equation <a
                href="/dyn/particle_kinematics#rkv-ep">#rkv-ep</a> gives:
                <DisplayEquation equation="\\begin{aligned} \\vec{a} &amp;= (\\ddot{r} - r\\dot\\theta^2) \\,\\hat{e}_r + (r\\ddot\\theta + 2\\dot{r}\\dot\\theta) \\,\\hat{e}_\\theta \\\\ &amp;= -\\ell \\dot\\theta^2 \\,\\hat{e}_r + \\ell\\ddot\\theta \\,\\hat{e}_\\theta. \\end{aligned}" />
              </p>
              <p>
                <strong>3. Newton:</strong> Using <a
                href="#rep-en">#rep-en</a> gives:
                <DisplayEquation equation="\\begin{aligned} \\vec{F} &amp;= m\\vec{a} \\\\ \\vec{F}_T + \\vec{F}_g &amp;= m(-\\ell \\dot\\theta^2 \\,\\hat{e}_r + \\ell\\ddot\\theta \\,\\hat{e}_\\theta) \\\\ -T\\,\\hat{e}_r - mg\\,\\hat\\jmath &amp;= -m\\ell \\dot\\theta^2 \\,\\hat{e}_r + m\\ell\\ddot\\theta \\,\\hat{e}_\\theta. \\end{aligned}" />
              </p>
              <p>
                <strong>4. Algebra:</strong> To compare components
                in the above equation we need to switch to a single
                basis. We will convert to <InlineEquation equation="\\hat{e}_r,\\hat{e}_\\theta" />
                using: 
                <DisplayEquation equation="\\hat\\jmath = -\\cos\\theta \\,\\hat{e}_r + \\sin\\theta \\,\\hat{e}_\\theta," />

                which gives:

                <DisplayEquation equation="(-T + mg\\cos\\theta)\\,\\hat{e}_r - mg\\sin\\theta\\,\\hat{e}_\\theta = -m\\ell \\dot\\theta^2 \\,\\hat{e}_r + m\\ell\\ddot\\theta \\,\\hat{e}_\\theta." />

                Equating the <InlineEquation equation="\\hat{e}_\\theta" /> and <InlineEquation equation="\\hat{e}_r" /> terms
                gives <InlineEquation equation="\\ddot\\theta" /> and <InlineEquation equation="T" /> by:

                <DisplayEquation equation="\\begin{aligned} \\ddot\\theta &amp;= - \\frac{g}{\\ell} \\sin\\theta \\\\ T &amp;= mg\\cos\\theta + m\\ell\\dot\\theta^2. \\end{aligned}" />
              </p>
        </div>
    </Example>

<p>
     A free-body diagram (abbreviated as FBD, also called force diagram) is a diagram used to show the magnitude and direction of all applied forces, moments, and reaction and constraint forces acting on a body. They are important and necessary in solving complex problems in mechanics.
  </p>
  <p>
     What is and is not included in a free-body diagram is important. Every free-body diagram should have the following:
  </p>

	<ul>
		<li> The body represented as a dot if it is a point mass, and the body itself if it is a rigid body. </li>
		<li> The external forces/moments. The force vector should indicate: relative magnitude, point of application, and the direction. </li>
		<li> A properly defined coordinate system </li>
	</ul>

	<p>
		A free-body diagram should not include the following:
	</p>

	<ul>
		<li> Bodies other than the body we are interested in. </li>
		<li> Forces applied <i>by</i> the body </li>
		<li> Internal forces depending on the chosen system. For example, a free-body diagram on a truss should not include the forces between individual truss members. </li>
		<li> Kinematic quantities (velocity and acceleration). </li>
	</ul>
	
	<CalloutContainer slot="cards">
        <CalloutCard title="Warning!">
            <p>
                Always assume the direction of forces/moments to be positive according to the appropriate coordinate system. The calculations from Newton/Euler equations will provide you with the correct direction of those forces/moments. Things that should not follow this are:
              </p>
              <ul>
                <li> Gravity </li>
				<li> Tension </li>
				<li> Friction if the velocity <InlineEquation equation="\\vec{v}" /> is provided </li>
              </ul>
        </CalloutCard>
        <CalloutCard title="Warning!">
            <p>
                If forces/moments are present, always begin with a free-body diagram. Do not write down equations before drawing the FBD as those are often simple kinematic equations, or Newton/Euler equations.
              </p>
        </CalloutCard>
    </CalloutContainer>

</SubSubSection>

<SubSection title="Numerical integration"   id="numerical_integration">

<ol>
	<li> Independent variable (time). </li>
	<li> State variables come in pairs (position, velocity)(<InlineEquation equation=" \\theta , \\omega" />).  </li>
	<li> Initial conditions are the state variables at <InlineEquation equation=" t=0" />. 
			<DisplayEquation equation=" \\theta_0 = \\theta(0) , \\omega_0 = \\omega(0)" />
		</li>
	<li> Time step <InlineEquation equation=" \\Delta t "/> is how we jump forward in time.  </li>
	<li> Update rule.
	      <DisplayEquation equation=" \\theta_{n+1} = \\theta_n + \\Delta t \\dot{\\theta_n} = \\theta_n  + \\Delta t \\omega_n" />
		  <DisplayEquation equation=" \\omega_{n+1} = \\omega_n + \\Delta t \\ddot{\\theta_n} = \\omega_n  + \\Delta t \\alpha_n" />
		</li>
	<li> Need to compute second derivatives (<InlineEquation equation=" \\ddot{\\theta}=\\alpha" /> ) at each timestep. </li>
</ol>

</SubSection>

<SubSection title="Applications" id="applications_pkinetics"></SubSection>


<SubSubSection title="Accelerating and braking" id="accelerating_braking">
    <p>
        What happens when we step on the gas or brake in a car? The
        car pushes against the road to either accelerate (gas pedal)
        or decelerate (brake pedal). But how are the forces on the
        car and wheels distributed? What determines whether the
        wheels grip the road or lose traction and spin or slide?
    </p>

    <p>
        To study this problem we need a model. Let's start with the simplest model and then
        gradually consider more complex models.
    </p>
    <Image src="/dyn/particle_kinetics/red_car.jpg" width="8"> The classic American <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Pony_car">Pony Car</a>:
        a 1965 <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Ford_Mustang">Ford
        Mustang</a> <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Fastback">Fastback</a>
        with the <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Golden_Gate_Bridge">Golden
        Gate Bridge</a> in the background. Image source: <a
        target="_blank" rel="noopener noreferrer" href="http://www.flickr.com/photos/aresauburnphotos/4704100327/">flikr
        image </a> by <a
        target="_blank" rel="noopener noreferrer" href="http://www.flickr.com/photos/aresauburnphotos/">Nick
        Ares</a> <a
        target="_blank" rel="noopener noreferrer" href="http://creativecommons.org/licenses/by-sa/2.0/">(CC
        BY-SA 2.0)</a> (<a href="/public/dyn/particle_kinetics/red_car_full.jpg">full-sized
        image</a>).</Image>

    <p>
        The simplest model of a car is to treat the entire vehicle
        as a point mass. On a <button
        class="seq-toggle:ava-fp-c:fbd" onclick="ava_fp_c.stepSequence('fbd')">free body diagram</button>
        we have vertical force balance for a stationary car. When
        the car <button
        class="seq-step:ava-fp-c:motion:stationary" onclick="ava_fp_c.stepSequence('motion', 'stationary')">accelerates</button>,
        there is a horizontal forward force on the car, and a
        corresponding backwards horizontal force on the ground. As
        the car picks up speed, <a
        target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Drag_%28physics%29">air
        resistance</a> produces a backwards force. On the diagram we
        have drawn some forces offset from the center of mass, so
        that the vectors don't overlap. Because we are assuming a
        point mass model, however, all vectors are really acting at
        the same point.
      </p>
      <p>
        While cruising at a constant speed, there is a balance
        between the horizontal driving force and the drag force due
        to air resistance. When the car <button
        class="seq-step:ava-fp-c:motion:cruising" onclick="ava_fp_c.stepSequence('motion', 'cruising')">brakes</button>,
        there is a backwards force that slows the car down to a
        stop.
      </p>

    <Center>
        <PrairieDrawCanvas id="ava-fp-c" width="600" height="600" />
    </Center>
        
      <p>
        <button class="seq-step:ava-fp-c:motion:stationary" onclick="ava_fp_c.stepSequence('motion', 'stationary')">accelerate</button>
        <button class="seq-step:ava-fp-c:motion:cruising" onclick="ava_fp_c.stepSequence('motion', 'cruising')">brake</button>
        <button class="seq-toggle:ava-fp-c:fbd" onclick="ava_fp_c.stepSequence('fbd')">free body diagram</button>
        <button class="option-toggle:ava-fp-c:components" onclick="ava_fp_c.toggleOption('components')">components</button>
        <button class="anim-toggle:ava-fp-c" onclick="ava_fp_c.toggleAnim()">animation</button>
      </p>
      <p>
        We can think of the force vectors (such as the ground force
        on the car) as either in separate horizontal and vertical
        <button
        class="option-toggle:ava-fp-c:components" onclick="ava_fp_c.toggleOption('components')">components</button>
        or as unified vectors. It may be helpful to pause the
        <button class="anim-toggle:ava-fp-c" onclick="ava_fp_c.toggleAnim()">animation</button>
        during <button
        class="seq-step:ava-fp-c:motion:stationary" onclick="ava_fp_c.stepSequence('motion', 'stationary')">acceleration</button>
        and <button
        class="seq-step:ava-fp-c:motion:cruising" onclick="ava_fp_c.stepSequence('motion', 'cruising')">braking</button>
        to consider the forces at work.
      </p>

    <CalloutContainer slot="cards">
        <CalloutCard title="Reference material">
            <Itemize>
                <Item><a href="">Kinetics of point masses</a></Item>
                <Item><a href="">Kinetics of rigid bodies</a></Item>
            </Itemize>
        </CalloutCard>
        <CalloutCard title="Extra links">
            <Itemize>
                <Item><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=JAAZGDY7Fq0">Video of
                    a burnout</a> with a deliberate loss of traction.</Item>
                <Item><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=_07GEGeLR5c">Video of
                    a wheelie</a>, where the front wheels lose contact.</Item>
                <Item><a target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=_07GEGeLR5c"><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=HnVkeZXsXjo">Video of
                    braking</a> in which the rear wheels lose contact.</Item>
                <Item><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=unwujSVpZwA">Another
                    burnout video</a>, taken to the point of destruction.</Item>
            </Itemize>
        </CalloutCard>
    </CalloutContainer>

</SubSubSection>

<SubSubSection title="Banked turns" id="banked_turns">

    <p>
        Turning in a circle requires a vehicle to have a centripetal acceleration inwards
        on the turn, and so there must be some centripetal force
        that produces this acceleration. For a vehicle driving on
        flat ground, this force must be produced by a sideways
        friction force on the tires. This introduces two problems:
      </p>
      <ol>
        <li>
          If the coefficient of friction is not high enough (say the
          road is wet or icy), then the friction force will be
          insufficient and the vehicle will slide off the road.
        </li>
        <li>
          Even if the friction force is high enough, because it acts
          at the bottom of the tires, it produces a net moment about
          the center of mass, which can cause the vehicle to roll
          over.
        </li>
      </ol>
      <p>
        To avoid both of these problems, the road can be <a href=
        "https://en.wikipedia.org/wiki/Banked_turn">banked</a>
        inwards, so that the outer edge of the road is higher than
        the inner edge. This is called <em>superelevation</em> and
        means that some of the centripetal force can be provided by
        the normal force with the road, reducing the friction force
        and minimizing the risk of slip or roll.
      </p>
      <p>
        The figure below shows a bus driving around a sharp corner
        at high speed on a heavily banked road. To understand the
        dynamics of this vehicle and the design tradeoffs for
        cornering on banked turns, we need a model. We will start
        below with a simple point mass model, which will be enough
        to understand friction and sliding, and then move on to a 2D
        rigid-body body to understand roll behavior.
      </p>
        <Image src="/dyn/particle_kinetics/avb_09A186_small.jpg">
            <p class="figureCaption">
            <a
            target="_blank" rel="noopener noreferrer" href="http://www.setra.de/en/coaches-buses/topclass/models/s-411-hd.html">
            Setra
            S 411 HD coach</a> from the TopClass 400 series on the
            Mercedes-Benz Untertürkheim test track. This 10.16 m long
            coach model is relatively compact and has short overhangs,
            allowing it to traverse the sharp banked corner at about
            100 km/h. The vehicle is powered by an OM 501 LA V6-engine
            developing 300 kW (408 hp). Image source:
            <a href=
            "http://media.daimler.com/dcmedia/0-921-657769-1-1183792-1-0-1-0-0-1-12639-854946-0-1-0-0-0-0-0.html">
            Daimler Global Media Site</a> (<a
            href="avb_09A186.jpg">full-sized image</a>).
            </p>
        </Image>
        
        
        <CalloutContainer slot="cards">
            <CalloutCard title="Required material">
                <ul>
                    <li>Kinetics of point masses</li>
                    <li><a href="/dyn/rigid_body_kinetics">Kinetics of rigid bodies</a></li>
                  </ul>
            </CalloutCard>
            <CalloutCard title="Extras!">
                <ul>
                    <li><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=yukC-zdj2Y8#t=05m20s">Video of
                    a Dodge Challenger</a> on the Untertürkheim track
                    curve.</li>
                    <li><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=TK59zTPlL4g">Video of
                    the bus</a> shown in coach figure.</li>
                    <li><a
                    target="_blank" rel="noopener noreferrer" href="http://www.youtube.com/watch?v=MXtfsxhAHfs">Video
                    taken from inside a car</a> driving around the
                    Untertürkheim track.</li>
                  </ul>
            </CalloutCard>
        </CalloutContainer>
</SubSubSection>

<SubSubSubSection title="Track geometry" id="track_geometry">
    <p>
        To understand the dynamics of the bus
        above, we first need a simple model of the geometry of
        the road. A satellite photo of the track is shown below. The
        bus was photographed while on the far-left-hand curve, which we
        can see is approximately a half-circle with radius about 50
        m.
      </p>
      <Image id="avb-ft" src="/dyn/particle_kinetics/avb_unterturkheim_border.png">
        <p class="figureCaption">
          Satellite image of the Mercedes-Benz test track at
          Untertürkheim, on the <a
          target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Neckar">Neckar
          River</a> just outside of <a
          target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Stuttgart">Stuttgart</a>,
          Germany. The <a href="#avb-fc">picture of the bus</a>
          above was taken on the far-left-hand corner, which has a
          radius of curvature of about 50 m. Integrated with the
          test track is the excellent <a
          target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Mercedes-Benz_Museum">Mercedes-Benz
          Museum</a>.
        </p>
      </Image>
      <p>
        To make a simple model, let us consider a track with
        straight segments and half-circular ends, as shown below. If
        we <button class="anim-toggle:avb-fg-c" onclick="avb_fg_c.toggleAnim()">animate</button> the
        bus then we can see the <button
        class="option-toggle:avb-fg-c:vectors" onclick="avb_fg_c.toggleOption('vectors')">vectors</button> for
        velocity, acceleration, and force as the bus drives around
        the track. We assume constant speed, so there is only an
        acceleration when the velocity
        changes direction around the corners. This model assumes
        semi-circular track ends, but this is
        not a good idea in practice.
      </p>
        <PrairieDrawCanvas id="avb-fg-c" width="600" height="600">
            <p>
                <button class="anim-toggle:avb-fg-c" onclick="avb_fg_c.toggleAnim()">animate</button>
                <button class="option-toggle:avb-fg-c:vectors" onclick="avb_fg_c.toggleOption('vectors')">show vectors</button>
              </p>
        </PrairieDrawCanvas>  
      
      <p>
        The centripetal acceleration must be caused by an inwards
        force while going around the corners. To understand the
        magnitude and source of this force, we now consider a simple
        point mass model.
      </p>

      <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                The modern automobile was invented in 1885 by <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Karl_Benz">Karl
                Benz</a> in <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Mannheim">Mannheim</a>,
                Germany, about 100 km from Stuttgart. The commercial
                success of the new invention was significantly aided by
                Benz' wife <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Bertha_Benz">Bertha</a>,
                who marketed the automobile by making the world's first <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Road_trip">road
                trip</a>, inventing <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Brake_lining">brake
                linings</a> in the process. Driven by the post-WWI <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Hyperinflation_in_the_Weimar_Republic">German
                economic crisis and hyperinflation</a>, the Benz company
                later merged with <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Daimler_Motoren_Gesellschaft">Daimler</a>
                to form <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Daimler-Benz">Daimler-Benz</a>,
                and began producing <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Mercedes-Benz">Mercedes-Benz</a>
                cars in Untertürkheim, just outside of Stuttgart, where it
                is still headquartered. One of the company's engineers, <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Ferdinand_Porsche">Ferdinand
                Porsche</a>, later founded his <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Porsche">own
                company</a>, which is also still based in Stuttgart.
              </p>
        </CalloutCard>
    </CalloutContainer>
</SubSubSubSection>

<SubSubSubSection title="Point mass model">
    <p>
        Consider the bus as a single point mass on the track while
        going around the corner. The diagram below shows the bus
        front-on, so the inside of the track is towards the left. We
        start by assuming there is no bank on the road and that the
        bus is stationary. The <button
        class="seq-toggle:avb-fp-c:fbd">free body diagram</button>
        shows that the gravity force \(W\) is balanced by the normal
        force \(N\) from the road. If we now increase the bank
        angle \(\theta\) below, then we see that a friction force
        \(F\) tangential to the road is needed to keep the bus from
        sliding. In practice, this force will be limited by \(F \le
        \mu N\), where \(\mu\) is the coefficient of friction. If we
        incline the track until it is nearly vertical, we see that
        there a huge friction force would be required but only a
        tiny normal force is available. As this would not be
        possible without gluing the tires to the road, this
        situation would result in the bus sliding downwards towards
        the center of the track.
      </p>
        <PrairieDrawCanvas id="avb-fp-c" width="600" height="600" >
            <p>
                <button class="seq-toggle:avb-fp-c:fbd" onclick="avb_fp_c.stepSequence('fbd')">free body diagram</button>
                <button class="option-toggle:avb-fp-c:components" onclick="avb_fp_c.toggleOption('components')">components</button>
              </p>
            <Row> 
                <Col values="12">
                    <div class="d-flex  align-items-baseline">
                        <p class="m-0 flex-shrink-1">Road bank angle:</p>
                        <div class="flex-grow-1 d-flex align-items-baseline">
        
                        
                            <input type="range" min="0" max="85" value="45" class="data-input:avb-fp-c:thetaDeg flex-grow-1 mx-2" onchange="avb_fp_c.setOption('thetaDeg', this.value); document.querySelector('span[class*=thetaDegBus1]').innerText = this.value; console.log(this.value);" oninput="avb_fp_c.setOption('thetaDeg', this.value); document.querySelector('span[class*=thetaDegBus1]').innerText = this.value;"/>
                                \(\theta = \; \) <span class="data-option:avb-fp-c:thetaDegBus1">45</span>\(^\circ\)
                        </div>
                    </div>
                </Col>
                <Col values="12">
                    <div class="d-flex  align-items-baseline">
                        <p class="m-0 flex-shrink-1">Bus speed: </p>
                        <div class="flex-grow-1 d-flex align-items-baseline">
                            <input type="range" min="0" max="40" value="30" class="data-input:avb-fp-c:velocity flex-grow-1 mx-2" onchange="avb_fp_c.setOption('velocity', this.value); document.querySelector('span[class*=velocityBus1]').innerText = this.value; console.log(this.value);" oninput="avb_fp_c.setOption('velocity', this.value); document.querySelector('span[class*=velocityBus1]').innerText = this.value;" />
                            \(v = \; \) <span class="data-option:avb-fp-c:velocityBus1">30</span> \(\rm m/s\)
                        </div>
                    </div>
                </Col>
            </Row>
        </PrairieDrawCanvas>

      
      <p>
        Now set the bank angle back to \(0^\circ\) and make sure the
        speed is zero and that the <button
        class="seq-toggle:avb-fp-c:fbd" onclick="avb_fp_c.stepSequence('fbd')">free body diagram</button>
        is visible. Now increase the speed of the bus to produce a
        centripetal acceleration. <a
        href="/sta/introduction#rkn-en">Newton's law</a> implies that there
        must be a centripetal friction force producing this
        acceleration. As the speed increases, we will eventually
        reach a point when the friction force required is too large
        and the bus will slide outwards on the track.
      </p>
      <p>
        To avoid sliding outwards, we can increase the bank on the
        road. This increases the normal force and decreases the
        friction force, making it less likely that sliding will
        occur. For any given speed, there is some angle that exactly
        cancels the friction force, so that all the force is normal
        force. This is a very safe driving situation, as no sliding
        is possible, even in very slippery road conditions. On the
        <a href="#avb-fc">real track</a>, the bank angle increases
        as the bus drives higher. This allows the driver to select
        the correct incline angle to minimize sliding risk. We can
        also show the forces in <button
        class="option-toggle:avb-fp-c:components" onclick="avb_fp_c.toggleOption('components')">components</button>
        or as total vectors as we change the bank angle and bus
        speed.
      </p>
      <p>
        While this simple point mass model allows us to understand
        how banking the road can help with the problem of sliding,
        it does not tell us anything about rolling of the vehicle,
        because point masses can't rotate. We thus need a rigid body
        model to investigate roll.
      </p>

      <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                Higher speed and a smaller radius of curvature on a
                circular track requires higher bank angles, as in the photo
                below.
            </p>
            <div class="imageBox width250">
                <Image src="/dyn/particle_kinetics/avb_114255874071-32_vertical_small.jpg" alt="Mercedes cars on the Untertürkheim test track."/>
                <p class="caption">
                Mercedes-Benz models 450 SL and 450 SLC in the front,
                with models 450 SE and 450 SEL behind, on the
                Untertürkheim test track in 1973. Image credit: <a
                target="_blank" rel="noopener noreferrer" href="http://media.daimler.com/dcmedia/0-921-1090569-1-1309207-1-0-0-0-0-1-12759-614216-0-0-@ac.clink104771_3842-0-0-0-0.html">Daimler
                Global Media Site</a> (<a
                href="avb_114255874071-32_vertical.jpg">full-sized
                image</a>, <a href="avb_114255874071-32.jpg">original
                rotated image</a>).
                </p>
            </div>
        </CalloutCard>
    </CalloutContainer>
</SubSubSubSection>

<SubSubSubSection title="2D Rigid body model">
    <p>
        We now use a single rigid body model for the bus and we will
        do everything in 2D. Below we see a front-on diagram of the
        bus, with the inside of the track to the left. If we turn on
        the <button class="seq-toggle:avb-fr-c:fbd" onclick="avb_fr_c.stepSequence('fbd')">free body
        diagram</button>, then we see that the weight of the bus is
        supported by two forces, one on each wheel. If we increase
        \(\theta\) then the weight is supported more by the
        down-slope wheel, and we also see sideways friction forces
        appear to stop the bus from sliding. If the slope becomes
        too steep, then the normal force on the up-slope wheel
        reverses direction, indicating that it is holding the wheel
        down onto the road. Physically this cannot happen, so at
        this point the bus would tip over. We needed this rigid-body
        model to understand this tipping behavior, as we couldn't
        model this with the <a href="#avb-sp">point mass
        model</a>. Depending on the value of the friction
        coefficient, the bus may either slide or roll first as
        \(\theta\) increases.
      </p>
        <PrairieDrawCanvas id="avb-fr-c" width="600" height="600" >
            <p>
                <button class="seq-toggle:avb-fr-c:fbd" onclick="avb_fr_c.stepSequence('fbd')">free body diagram</button>
                <button class="option-toggle:avb-fr-c:components" onclick="avb_fr_c.toggleOption('components')">components</button>
              </p>
              <Row> 
                <Col values="12">
                    <div class="d-flex  align-items-baseline">
                        <p class="m-0 flex-shrink-1">Road bank angle:</p>
                        <div class="flex-grow-1 d-flex align-items-baseline">
                            <input type="range" min="0" max="85" value="45" class="data-input:avb-fp-c:thetaDeg flex-grow-1 mx-2" onchange="avb_fr_c.setOption('thetaDeg', this.value); document.querySelector('span[class*=thetaDegBus2]').innerText = this.value; console.log(this.value);" oninput="avb_fr_c.setOption('thetaDeg', this.value); document.querySelector('span[class*=thetaDegBus2]').innerText = this.value;"/>
                                \(\theta = \; \) <span class="data-option:avb-fp-c:thetaDegBus2">45</span>\(^\circ\)
                        </div>
                    </div>
                </Col>
                <Col values="12">
                    <div class="d-flex  align-items-baseline">
                        <p class="m-0 flex-shrink-1">Bus speed: </p>
                        <div class="flex-grow-1 d-flex align-items-baseline">
                            <input type="range" min="0" max="40" value="30" class="data-input:avb-fp-c:velocity flex-grow-1 mx-2" onchange="avb_fr_c.setOption('velocity', this.value); document.querySelector('span[class*=velocityBus2]').innerText = this.value; console.log(this.value);" oninput="avb_fr_c.setOption('velocity', this.value); document.querySelector('span[class*=velocityBus2]').innerText = this.value;" />
                            \(v = \; \) <span class="data-option:avb-fp-c:velocityBus2">30</span> \(\rm m/s\)
                        </div>
                    </div>
                </Col>
            </Row>
        </PrairieDrawCanvas>
      

    <p>
        If we now set the bank angle \(\theta\) back to zero, we
        can start to increase the speed \(v\). Now we see that the
        wheel on the inside of the track takes less of the weight,
        and the friction forces now stop the bus from sliding
        outwards on the track. If the bus goes too fast then it will
        roll outwards on the track (assuming the friction
        coefficient is high enough that it didn't slide first).
      </p>
      <p>
        Having considered both a banked road with stationary bus,
        and a moving bus on a horizontal road, we can now combine
        them to see the advantage of having a banked road when the
        bus is cornering. Choose a bus velocity, and then change the
        bank angle \(\theta\), so that the friction force is reduced
        (helping to avoid sliding) and the normal forces on the
        wheels are more evenly balanced (helping to avoid
        rolling). For any given speed, we can choose a bank angle so
        that there is simultaneously no sideways friction force and
        also exactly balanced normal forces. This is the safest bank
        angle for this speed.
      </p>
</SubSubSubSection>

<SubSubSubSection title="Design of roads, tracks, and rail">
    <p>
        A straight road generally has the center somewhat higher
        than the edges to allow water to run off. This is called <a
        target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Cross_slope">cross
        slope</a> or camber. When it is desired to have a banked
        turn, then the outer edge of the road is raised to produce
        <em>superelevation</em>, with the outer edge rising above
        both the center and the inner edge. The bank angle is chosen
        based on the radius of curvature of the turn and the
        expected speed of cars going around the turn, while still
        allowing for the fact that cars might be moving slowly or
        even stopped. The angle should thus not be chosen to
        eliminate all friction forces when cars are traveling at
        maximum speed, as this would be dangerous if traffic had to
        stop on the road.
      </p>
      <p>
        <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Velodrome"> Velodromes</a>
        are arenas with tracks designed for high-speed bicycle
        races, as shown below, with speeds up to 85 km/h. The bank
        angle on velodrome tracks is chosen to minimize sideways
        forces on the bicycles when they are traveling at near
        maximum speeds, so the angle chosen depends on the radius of
        curvature of the track corners. For example, the Blaine
        velodrome track pictured below is 250 m long and has a
        43&#xb0; bank angle on the corners and 15&#xb0; banking on
        the straightaways.
      </p>

      <Image id="avb-fv" alt="Bicycle riders in a velodrome" src="/dyn/particle_kinetics/avb_3886159972_71e0dc52d8_o_600.jpg" >
        <p class="figureCaption">
          Bicycle riders on a banked turn at the <a
          target="_blank" rel="noopener noreferrer" href="http://velodrome.nscsports.org/">Blaine
          velodrome</a>, part of the <a
          target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/National_Sports_Center">National
          Sports Center</a> in <a
          target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Blaine,_Minnesota">Blaine,
          Minnesota</a>. Image source: <a
          target="_blank" rel="noopener noreferrer" href="http://www.flickr.com/photos/flyinswede/3886159972/">flikr
          user flyinfoto</a> <a
          target="_blank" rel="noopener noreferrer" href="http://creativecommons.org/licenses/by/2.0/deed.en">(CC
          BY 2.0)</a> (<a
          href="avb_3886159972_71e0dc52d8_o.jpg">full-sized
          image</a>).
        </p>
    </Image>

    <p>
        High-speed trains such as the French <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/TGV">TGV</a> operate at
        speeds of over 300 km/h and have run at <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/TGV_world_speed_record">up
        to 575 km/h</a>. To accommodate cornering at such speeds,
        track bends are constructed with a large radius of curvature
        (at least 7 km for new tracks) and a bank angle of up to
        about 7&#xb0; (180 mm maximum superelevation with <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Standard_gauge">Standard
        gauge</a> of 1435 mm). For railways, banking the track is
        know as <a
        target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Cant_%28road/rail%29">cant</a>.
      </p>
      <p>
        An alternative approach for cornering with trains is to
        leave the track relatively flat and to <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Tilting_train">tilt the
        train</a> as it travels around a corner. This allows
        high-speed trains to operate on regular tracks, while
        maintaining safety and comfort for the passengers. For
        example, the <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/QR_Tilt_Train">Queensland
        Rail Tilt Train</a> operates at 180 km/h by tilting at up to
        5&#xb0; around corners. As we see from our <a
        href="#avb-sr">rigid body analysis</a> above, tilting the
        train will help with avoiding tipping over at high speeds,
        but will not help with reducing horizontal friction
        forces. Even with a tilting train, entering a curve at too
        high a speed will lead to <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Cairns_Tilt_Train_derailment">disastrous
        results</a>.
      </p>

      <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                The <a target="_blank" rel="noopener noreferrer" href="http://velodrome.nscsports.org/">Blaine
                velodrome</a> in Minnesota was designed by the famous <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Schuermann">Schuermann</a>
                velodrome architects and built from the extremely durable
                African <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Afzelia">Afzelia</a>
                hardwood.  Velodrome races are always counter-clockwise
                and use <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Velodrome#Bicycles_and_track_design">special
                bikes</a> with fixed chains (no freewheeling, no gears)
                and <em>no brakes</em>. The corners are scarily steep:
              </p>
              <Image src="/dyn/particle_kinetics/avb_velodrome_track_small.jpg" alt="woman leaning against a velodrome track">
                <p>
                  Image credit: <a
                  target="_blank" rel="noopener noreferrer" href="http://cycletc.com/2011/06/30/track-cycling-we-have-a-what-nsc-velodrome-in-blaine-mn-by-nicole/">Tom
                  McGoldrick</a> (<a href="avb_velodrome_track.jpg">full
                  sized image</a>).
                </p>
              </Image>
        </CalloutCard>
        <CalloutCard>
            <p>
                High-speed trains such as the <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/TGV">French TGV</a> and
                <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Intercity-Express">German
                ICE</a> require many sophisticated engineering techniques
                to enable travel at extreme speed. Very smooth rails are
                needed, so the track is formed by welding the segments
                together into one precisely-aligned continuous steel
                line. The steel rails conduct heat too well for
                conventional welding, so <a href="">thermite</a> welding
                is used to join the track segments.
              </p>
              <p>
                At high speeds the train drivers are unable to see railway
                signals on the side of the track. Electronic signaling
                systems are used to communicate to the drivers, either <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Transmission_Voie-Machine">through
                the tracks</a> for the TGV or <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Linienzugbeeinflussung">via
                additional cables</a> for the ICE.
              </p>
              <p>
                Friction-based brakes produce too much heat, as they would
                need to absorb the kinetic energy of several hundred
                tonnes of train moving at over 300 km/h. Instead, <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Dynamic_braking">dynamic
                breaking</a> is used, in which the electric motors
                powering the trains are run in reverse as generators and
                the energy is shed as heat in resistor arrays. At
                extremely high speeds, the wheels themselves cannot
                provide sufficient traction to enable braking, so
                technologies like <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Eddy_current_brake">magnetic
                induction brakes</a> are being developed, which directly
                push against the rails without involving the wheels at
                all.
              </p>
        </CalloutCard>
    </CalloutContainer>
</SubSubSubSection>

<SubSubSubSection title="Bus model">
    <p>
        The bus model used above is a <a
        target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Setra">Setra</a> <a
        target="_blank" rel="noopener noreferrer" href="http://www.setra.de/en/coaches-buses/topclass/models/s-411-hd.html">S
        411 HD</a> coach. The mass of the vehicle is 12.6 t and the
        dimensions are shown below.
      </p>
      <DisplayTable>
        <tr>
          <td>
            <PrairieDrawCanvas id="avb-fb-c" width="300" height="300" />
          </td>
          <td>
                <DisplayEquation equation="\\begin{aligned} h_1 &amp;= {0.87\\rm\\ m} &amp; \\ell_1 &amp;= {0.30\\rm\\ m} \\\\ h_2 &amp;= {2.24\\rm\\ m} &amp; \\ell_2 &amp;= {0.97\\rm\\ m} \\\\ &amp; &amp; \\ell_3 &amp;= {0.97\\rm\\ m} \\\\ &amp; &amp; \\ell_4 &amp;= {0.30\\rm\\ m} \\end{aligned}">
          </td>
        </tr>
        </DisplayTable>
</SubSubSubSection>


<SubSubSection title="Projectiles with air resistance" id = "projectiles_air_resistance">

    <p>
        Consider a spherical object, such as a baseball, moving
        through the air.  The motion of an object though a fluid is
        one of the most complex problems in all of science, and it
        is still not completely understood to this day.  One of the
        reasons this problem is so challenging is that, in general,
        there are many different forces acting on such objects,
        including:
      </p>
    <Itemize>
        <Item>gravity</Item>
        <Item>drag</Item>
        <Item>lift</Item>
        <Item>thrust</Item>
        <Item>buoyancy</Item>
        <Item>bulk fluid motion, such as wind</Item>
        <Item>inertial forces, such as the centrifugal and Coriolis forces</Item>
    </Itemize>

    <p>
        In most introductory physics and dynamics courses, gravity
        is the only force that is accounted for (this is equivalent
        to assuming that the motion takes place in a vacuum).  Here
        we will consider realistic and accurate models of air
        resistance that are used to model the motion of projectiles
        like baseballs.
      </p>

    <Image src="/dyn/particle_kinetics/baseball_field.jpg" width="8">
        <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Wrigley_Field">
        Wrigley
        Field</a> in Chicago, Illinois is the home of
        the <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Chicago_Cubs">Chicago
        Cubs</a> baseball team. In baseball, an “out of the
        park” <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Home_run">home
        run</a> is scored when the ball is hit beyond the
        green <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Outfield">outfield</a>
        (past the
        yellow <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Baseball_field#Foul_poles">foul
        pole</a> at the left of the above image).  Image
        source: <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/jbash/1023071278">Flickr
        image</a>
        by <a target="_blank" rel="noopener noreferrer" href="http://www.flickr.com/photos/jbash/">Mike
        Bash</a> (<a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-nd/2.0/">CC
        BY NC ND 2.0</a>)
        (<a href="/public/dyn/particle_kinetics/baseball_field_full.jpg">full-sized
        image</a>).
    </Image>
</SubSubSection> 

<SubSubSubSection title="Drag forces and drag coefficients">
    <p>
        The <em>drag force</em> is always directly opposed to the velocity of
        the object.  In vector notation,

        <DisplayEquation equation="\\vec{F}_{\\rm D} = -F_{\\rm D} \\hat{v}," />

        where <InlineEquation equation="F_{\\rm D}" /> is the magnitude of the drag force, and
        <InlineEquation equation="\\hat{v}" /> is the unit vector in the direction of the
        object's velocity.
      </p>

      <PrairieDrawCanvas id="afp-ff-c" width="600" height="600">
        <Row> 
            <Col values="12">
                <div class="d-flex align-items-baseline mb-2">
                    <p class="m-0 flex-shrink-1">Velocity angle from horizontal:</p>
                    <div class="flex-grow-1 d-flex align-items-baseline">
                        <input type="range" min="-180" max="180" value="30" class="data-option:afp-ff-c:vAngleDeg flex-grow-1 mx-2" onchange="afp_ff_c.setOption('vAngleDeg', this.value); document.querySelector('span[class*=vAngleDeg]').innerText = this.value; console.log(this.value);" oninput="afp_ff_c.setOption('vAngleDeg', this.value); document.querySelector('span[class*=vAngleDeg]').innerText = this.value;"/>
                            \(\theta = \; \) <span class="data-option:avb-fp-c:vAngleDeg">30</span>\(^\circ\)
                    </div>
                </div>
            </Col>
        </Row>
        <small>
            <em><p class="figureCaption">
                The free body diagram for a baseball subject to gravity
                and air resistance. Observe that the drag due to air
                resistance is always in the opposite direction to the
                velocity. Image credit: Microsoft clip art.
              </p></em>
        </small>
        
      </PrairieDrawCanvas>


      
      <p>
        The magnitude of the drag force is
        characterized by the dimensionless <em>drag coefficient</em>
        <InlineEquation equation="C_{\\rm D}"  />, given by

        <DisplayEquation equation="C_{\\rm D} = \\frac{F_{\\rm D}}{\\frac{1}{2} \\rho A v^2}," />


        where <InlineEquation equation="\\rho" /> is the density of the fluid (in this case,
        air), <InlineEquation equation="A=(1/4)\\pi D^{2}" /> is the cross-sectional area of the object, and <InlineEquation equation="v" />        is the object's speed.
      </p>

      
</SubSubSubSection>

<SubSubSubSection title="Drag coefficients as a function of Reynolds number"  id="drag_coefficients">
    
    <p>
        A dimensionless parameter that is very useful in fluid
        dynamics is the Reynolds number, which is defined as

        <DisplayEquation equation="{\\rm Re} = \\frac{\\rho v L}{\\mu}," />

        where <InlineEquation equation="L" /> is a characteristic length for the flow (in this
        case, the diameter <InlineEquation equation="D" /> of the ball), and <InlineEquation equation="\\mu" /> is the
        dynamic viscosity of the fluid.  The Reynolds number gives a
        ratio between inertial forces and viscous forces in a fluid
        flow.  For very small Reynolds numbers, the viscous forces
        are much stronger than the inertial forces (think of trying
        to stir a cup of honey).  For very large Reynolds numbers,
        the viscous forces are negligible, and we refer to the flow
        as <em>inviscid</em> (think of stirring a cup of coffee).
      </p>
      <p>
        An important result in fluid dynamics is that the drag
        coefficient is a function only of the Reynolds number of the
        fluid flow about the object.  That is,
  
        <DisplayEquation equation="C_{\\rm D} = C_{\\rm D}({\\rm Re})." />

        This functional relationship has no closed form.  However,
        the relationship has been established numerically based on
        experimental data.  See <a href="#fig6">Figure #aft-fd</a>
        for a schematic diagram of the drag coefficient's dependence
        on the Reynolds number.</p>
        
        <Image id="aft-fd" src="/dyn/particle_kinetics/drag_coefficient.png" width="8">
          <p>
             Experimental dependence of drag coefficient on Reynolds
             number for a sphere. Image
             credit: <a target="_blank" rel="noopener noreferrer" href="http://www.grc.nasa.gov/WWW/k-12/airplane/dragsphere.html">NASA</a>
             via <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Stokes_number#/media/File:Drag_sphere_nasa.svg">Wikipedia</a>.
           </p>
        </Image>

</SubSubSubSection>

<SubSubSubSection title="Quadratic drag model">

    <p>
        Notice from <a href="#aft-fd">Figure #aft-fd</a> that there
        is a range of Reynolds numbers (<InlineEquation equation="10^3 < {\\rm Re} < 10^5" />),
        characteristic of macroscopic projectiles, for which the
        drag coefficient is approximately constant at about 1/2 (see
        the part of the curve labeled “4”
        in <a href="#aft-fd">
          Figure #aft-fd</a>).  That the drag 
    coefficient is constant means that,
        within this region, the magnitude of the drag force is
        proportional to the square of the object’s speed.
    Substituting <InlineEquation equation="C_{\\rm D}=1/2"/> into the definition of <InlineEquation equation="C_{D}" /> above,
        we obtain

        <DisplayEquation equation="F_{\\rm D} = \\frac{1}{4} \\rho A v^2 = c v^2,"/>
      
    where we have defined the <em>quadratic drag parameter</em> \(c\) as

        <DisplayEquation equation="c = \\frac{1}{4} \\rho A = \\frac{\\pi}{16} \\rho D^2," />

        which is a constant for a given projectile. This is referred to as <em>quadratic
        drag</em>, because the drag force magnitude is proportional
        to the <em>square</em> of the speed.
    Using this result, we can write the drag force vector as
      
        <DisplayEquation equation="\\vec{F}_{\\rm D} = - c v^2 \\hat{v}." />
        
      <p>
      <p>
        In the presence of gravity and quadratic drag alone, the net
        force on an object is given by

        <DisplayEquation equation="\\sum \\vec{F} = m \\vec{g} - c v^2 \\hat{v}," />
        

        where <InlineEquation equation="m" /> is the mass of the object and <InlineEquation equation="\\vec{g}" /> is the
        local acceleration due to gravity. Below is an interactive
        graphic showing the trajectory of an object with gravity and
        quadratic drag.  You can change the various parameters to
        see their effects on the object’s motion.
      </p>

    <PrairieDrawCanvas id="afp-ft-c" width="600" height="600">
      <Row>
        <Col values="12">
          <div class="d-flex align-items-baseline">
            <p class="m-0 flex-shrink-1">Initial speed:</p>
            <div class="flex-grow-1 d-flex align-items-baseline">
              <input type="range" min="0" max="55" value="30" step="1" class="data-input:afp-ft-c:v0 flex-grow-1 mx-2" onchange="afp_ft_c.setOption('v0', this.value); document.querySelector('span[class*=v0baseball]').innerText = this.value;" oninput="afp_ft_c.setOption('v0', this.value); document.querySelector('span[class*=v0baseball]').innerText = this.value;"/>
              \(v_0 = \;\) <span class="data-option:afp-ft-c:v0baseball">30</span> m/s
            </div>
          </div>
        </Col>
      </Row>
      <Col values="12">
        <div class="d-flex align-items-baseline">
          <p class="m-0 flex-shrink-1">Initial angle:</p>
          <div class="flex-grow-1 d-flex align-items-baseline">
            <input type="range" min="0" max="90" value="45" step="1" class="data-input:afp-ft-c:v0AngleDeg flex-grow-1 mx-2" onchange="afp_ft_c.setOption('v0AngleDeg', this.value); document.querySelector('span[class*=v0AngleDegbaseball]').innerText = this.value;" oninput="afp_ft_c.setOption('v0AngleDeg', this.value); document.querySelector('span[class*=v0AngleDegbaseball]').innerText = this.value;"/>
            \(\theta_0 = \;\) <span class="data-option:afp-ft-c:v0AngleDegbaseball">45</span>°
          </div>
        </div>
      </Col>
      <Col values="12">
        <div class="d-flex align-items-baseline">
          <p class="m-0 flex-shrink-1">Mass:</p>
          <div class="flex-grow-1 d-flex align-items-baseline">
            <input type="range" min="5" max="300" value="135" step="5" class="data-input:afp-ft-c:m_g flex-grow-1 mx-2" onchange="afp_ft_c.setOption('m_g', this.value); document.querySelector('span[class*=m_gbaseball]').innerText = this.value;" oninput="afp_ft_c.setOption('m_g', this.value); document.querySelector('span[class*=m_gbaseball]').innerText = this.value;"/>
            \(m = \;\) <span class="data-option:afp-ft-c:m_gbaseball">135</span> g
          </div>
        </div>
      </Col>
      <Col values="12">
        <div class="d-flex align-items-baseline">
          <p class="m-0 flex-shrink-1">Diameter:</p>
          <div class="flex-grow-1 d-flex align-items-baseline">
            <input type="range" min="1" max="20" value="7.5" step="0.1" class="data-input:afp-ft-c:D_cm flex-grow-1 mx-2" onchange="afp_ft_c.setOption('D_cm', this.value); document.querySelector('span[class*=D_cmbaseball]').innerText = this.value;" oninput="afp_ft_c.setOption('D_cm', this.value); document.querySelector('span[class*=D_cmbaseball]').innerText = this.value;"/>
            \(D = \;\) <span class="data-option:afp-ft-c:D_cmbaseball">7.5</span> cm
          </div>
        </div>
      </Col>
    </PrairieDrawCanvas>

    <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                There is no well-measured record for longest
                baseball <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Home_run">home
                run</a>. It is claimed
                that <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Mickey_Mantle">Mickey
                Mantle</a> hit a ball 643 feet (196 m), although this
                apparently included rolling on the ground. Other power
                hits by Mantle are reliably measured to be over 500 feet
                (152 m).
              </p>
        </CalloutCard>
    </CalloutContainer>
</SubSubSubSection>
</Layout>

<script src="/dyn/particle_kinetics/canvases.js" is:inline></script>