---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import SubSubSubSection from "../../components/SubSubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import Center from "../../components/Center.astro"
import Example from "../../components/Example.astro"
import Itemize from "../../components/Itemize.astro"
import Item from "../../components/Item.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title = "Particle kinetics" description = "Learn how forces affect velocity and acceleration of particles.">

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#classical_mechanics'>Classical mechanics</a>
      <ul class='list-group list-group-flush py-0'>
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#methods_assumed'>Method of assumed forces and method of assumed motion</a>
    </li> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#solution_steps'>Solution steps</a>
    </li>
      </ul>
    </li>
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#numerical_integration'>Numerical integration</a>
    </li>
</ul>
</div>


<Section title="Particle kinetics" id="particle_kinetics">
  <CalloutContainer slot = "cards">
    <CalloutCard title = "Application alert!">
      <p>
        <a href = "/dyn/projectiles_with_air_resistance">Projectiles with air resistance</a> uses <strong>particle kinetics.</strong>
      </p>
    </CalloutCard>
  </CalloutContainer>
</Section>

<SubSection title="Classical mechanics" id="classical_mechanics">

    <CalloutContainer slot="cards">
        <CalloutCard>
            <p>
                If we have objects which are either very massive, very
                small, or moving very fast, then Newton's equations do not
                provide a good model of their motion. Instead we must use
                Einstein's equations of <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/General_relativity">general
                relativity</a> (for massive and fast objects) or the
                equations of <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Quantum_mechanics">quantum
                mechanics</a> (for very small objects). Unfortunately,
                these two theories cannot be used together, so we
                currently have no good models for objects which are
                simultaneously very small and very massive, such as <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Micro_black_hole">micro
                black holes</a> or the universe shortly after the <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Big_Bang">big
                bang</a>. Physicists are currently trying to reconcile
                general relativity with quantum mechanics by devising a
                new set of equations (sometimes called <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Quantum_gravity">quantum
                gravity</a> or a <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Theory_of_everything">theory
                of everything</a>). Current possibilities for new
                equations include <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/String_theory">string
                theory</a> and <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Loop_quantum_gravity">loop
                quantum gravity</a>, but none of these are generally
                accepted yet.
              </p>
              <p>
                It is important to remember that all of these different
                equations are only models of reality and are not actually
                real:
              </p>
              <blockquote>
                “All models are wrong. Some models are useful.”
                <br />
                — <a target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/George_E._P._Box">George Box</a>
              </blockquote>
        </CalloutCard>
    </CalloutContainer>

    Newton's equations relate the acceleration <InlineEquation equation="\\vec{a}" /> of a point mass with mass <InlineEquation equation="m" /> to the total applied force <InlineEquation equation="\\vec{F}" /> on the mass (sum of all applied forces). They are:
    
    <DisplayEquation equation="\\vec{F} = m\\vec{a}" background="True" title="Newton's equations: "/>

    There is no derivation for Newton's equations, because they are an assumed model for dynamics. We can only verify them by comparing with experimental evidence, which confirms that Newtonian dynamics are accurate for non-relativistic and non-quantum systems.

    <PrairieDrawCanvas id="rep-ff-c" width="600" height="600">
      <button onclick="rep_ff_c.toggleAnim()">animate</button>
      <button onclick="rep_ff_c.reset()">reset</button>
      <p>A point mass moving in the plane with an applied force. You can try to made the mass move in a circle and then see what happens when the force is suddenly removed, which will demonstrate Newton's first law (no net force implies motion at constant speed in a constant direction). Also observe which force directions cause the speed to increase or decrease.</p>
    
      <small><em>Click and drag to impart a force on the particle.</em></small>
    </PrairieDrawCanvas>

</SubSection>

<SubSubSection title="Method of assumed forces and method of assumed motion" id="methods_assumed">
    Newton's equations can be used in two main ways. Either we
          know the forces and we use this to compute the acceleration
          of a mass, or we know the acceleration and use this to
          compute the forces.

        <DisplayEquation equation="\\begin{align}\\textbf{Method of assumed forces: } \\text{Know } \\vec{F} \\Longrightarrow \\text{Compute } \\vec{a} \\\\ \\textbf{Method of assumed motion: } \\text{Know } \\vec{a} \\Longrightarrow \\text{Compute } \\vec{F} \\end{align}" />

    Of course there are other possibilities from these two, such
          as knowing the vertical component of the force and the
          horizontal component of acceleration, and then computing the
          missing components of each.
        
    <Example id="rep-xf" title="Method of assumed forces">
        A cannonball of mass <InlineEquation equation="m" /> is fired from the origin with initial velocity <InlineEquation equation="\\vec{v}_0" /> and then experiences a force <InlineEquation equation="\\vec{F}_{\\rm g} = -m g \\hat{\\jmath}" /> due to gravity and a wind force <InlineEquation equation="\\vec{F}_{\\rm w} = -C_{\\rm w} \\hat{\\imath}" />. What is the motion of the cannonball as a function of time?

        <div slot="solution">
            We can use Newton's equations to find the acceleration of the cannonball, using the method of assumed forces:

            <DisplayEquation equation="\\begin{aligned} m \\vec{a} &amp;= \\vec{F}_{\\rm w} + \\vec{F}_{\\rm g} \\\\ \\vec{a} &amp;= \\frac{1}{m} \\left( - C_{\\rm w} \\hat{\\imath} - m g \\hat{\\jmath} \\right) \\end{aligned}" />
        </div>
    </Example>

    <Example id="rep-xm" title="Method of assumed motion">
        A car of mass <InlineEquation equation="m" /> is observed driving on a sinusoidal road at a constant horizontal speed <InlineEquation equation="v_0" />. The road surface has equation <InlineEquation equation="y = A \\sin(k x)" />, where <InlineEquation equation="A" /> is the amplitude and <InlineEquation equation="k" /> is the wavenumber. What is the force of the road on the car? Gravity <InlineEquation equation="g" /> acts vertically and assume no air resistance.

        <div slot="solution">
            We can determine the acceleration of the car, and then use Newton's equations and method of assumed motion to find the total force and thus the road force. First, we find the acceleration:

            <DisplayEquation equation="\\begin{aligned} x(t) &amp;= x_0 + v_0 t \\\\ \\vec{r}(t) &amp;= x(t)\\,\\hat{\\imath} + y(x(t)) \\,\\hat{\\jmath} \\\\ &amp;= (x_0 + v_0 t)\\,\\hat{\\imath} + A \\sin(k x_0 + k v_0 t)\\,\\hat{\\jmath} \\\\ \\vec{a}(t) = \\ddot{\\vec{r}}(t) &amp;= - A (k v_0)^2 \\sin(k x_0 + k v_0 t)\\,\\hat{\\jmath} \\\\ &amp;= - A (k v_0)^2 \\sin(k x)\\,\\hat{\\jmath}. \\end{aligned}" />

            Given the force of gravity <InlineEquation equation="\\vec{F}_{\\rm g} = - m g \\,\\hat{\\jmath}" /> and the road force <InlineEquation equation="\\vec{F}_{\\rm r} " />, Newton's equations give the forces as:

            <DisplayEquation equation="\\begin{aligned} \\vec{F}_{\\rm r} + \\vec{F}_{\\rm g} &amp;= m \\vec{a} \\\\ \\vec{F}_{\\rm r} &amp;= - m A (k v_0)^2 \\sin(k x)\\,\\hat{\\jmath} + m g \\,\\hat{\\jmath} \\\\ &amp;= m \\Big(g - A (k v_0)^2 \\sin(k x)\\Big) \\,\\hat{\\jmath},  \\end{aligned}" />

            where we have solved for the road force on the car.
        </div>
    </Example>
</SubSubSection>

<SubSubSection title="Solution steps" id ="solution_steps">
    The steps involved in analyzing a mechanical system with Newton's equations are as follows.

    <DisplayEquation equation="\\begin{aligned} &amp;\\text{1. FBD: draw a Free Body Diagram.} \\\\ &amp;\\text{2. Kinematics: determine $\\vec{a}$.} \\\\ &amp;\\text{3. Newton: use $\\vec{F} = m\\vec{a}$.} \\\\ &amp;\\text{4. Algebra: rear and solve as needed.} \\end{aligned}" background="True"/>

    <Example title="Pendulum with Newton's equations" id="rep‑xl">
        <div class="d-flex flex-row">
            <div class="w-50">
                Consider the 2D pendulum with a massless rigid rod of
                length <InlineEquation equation="\\ell" /> and a point mass <InlineEquation equation="m" />. What is the
                equation of motion for <InlineEquation equation="\\ddot\\theta" /> and the tension
                <InlineEquation equation="T" /> in the rod?
            </div>
            <div class="w-50">
                <PrairieDrawCanvas id="rep-xl-c" width="300" height="200" />
            </div>
        </div>
        
        

        <div slot="solution">
            <p>
                It is helpful in this problem to use both Cartesian and polar bases:
                <button class="option-toggle:rep-xl-c:showBases" onclick="rep_xl_c.toggleOption('showBases')">show bases</button>
              </p>
              <p>
                <strong>1. FBD:</strong> The free body diagram for the point mass is:
              </p>
              <PrairieDrawCanvas id="rep-xl-f" width="300" height="200"/>
              <p>
                The forces on the free body diagram are:

                <DisplayEquation equation="\\begin{aligned} \\vec{F}_g &amp;= - mg \\,\\hat\\jmath \\\\ \\vec{F}_T &amp;= - T \\,\\hat{e}_r.  \\end{aligned}" />
              </p>
              <p>
                <strong>2. Kinematics:</strong> Using the polar
                basis acceleration equation <a
                href="/dyn/particle_kinematics#rkv-ep">#rkv-ep</a> gives:
                <DisplayEquation equation="\\begin{aligned} \\vec{a} &amp;= (\\ddot{r} - r\\dot\\theta^2) \\,\\hat{e}_r + (r\\ddot\\theta + 2\\dot{r}\\dot\\theta) \\,\\hat{e}_\\theta \\\\ &amp;= -\\ell \\dot\\theta^2 \\,\\hat{e}_r + \\ell\\ddot\\theta \\,\\hat{e}_\\theta. \\end{aligned}" />
              </p>
              <p>
                <strong>3. Newton:</strong> Using <a
                href="#rep-en">#rep-en</a> gives:
                <DisplayEquation equation="\\begin{aligned} \\vec{F} &amp;= m\\vec{a} \\\\ \\vec{F}_T + \\vec{F}_g &amp;= m(-\\ell \\dot\\theta^2 \\,\\hat{e}_r + \\ell\\ddot\\theta \\,\\hat{e}_\\theta) \\\\ -T\\,\\hat{e}_r - mg\\,\\hat\\jmath &amp;= -m\\ell \\dot\\theta^2 \\,\\hat{e}_r + m\\ell\\ddot\\theta \\,\\hat{e}_\\theta. \\end{aligned}" />
              </p>
              <p>
                <strong>4. Algebra:</strong> To compare components
                in the above equation we need to switch to a single
                basis. We will convert to <InlineEquation equation="\\hat{e}_r,\\hat{e}_\\theta" />
                using: 
                <DisplayEquation equation="\\hat\\jmath = -\\cos\\theta \\,\\hat{e}_r + \\sin\\theta \\,\\hat{e}_\\theta," />

                which gives:

                <DisplayEquation equation="(-T + mg\\cos\\theta)\\,\\hat{e}_r - mg\\sin\\theta\\,\\hat{e}_\\theta = -m\\ell \\dot\\theta^2 \\,\\hat{e}_r + m\\ell\\ddot\\theta \\,\\hat{e}_\\theta." />

                Equating the <InlineEquation equation="\\hat{e}_\\theta" /> and <InlineEquation equation="\\hat{e}_r" /> terms
                gives <InlineEquation equation="\\ddot\\theta" /> and <InlineEquation equation="T" /> by:

                <DisplayEquation equation="\\begin{aligned} \\ddot\\theta &amp;= - \\frac{g}{\\ell} \\sin\\theta \\\\ T &amp;= mg\\cos\\theta + m\\ell\\dot\\theta^2. \\end{aligned}" />
              </p>
        </div>
    </Example>

<p>
     A free-body diagram (abbreviated as FBD, also called force diagram) is a diagram used to show the magnitude and direction of all applied forces, moments, and reaction and constraint forces acting on a body. They are important and necessary in solving complex problems in mechanics.
  </p>
  <p>
     What is and is not included in a free-body diagram is important. Every free-body diagram should have the following:
  </p>

	<ul>
		<li> The body represented as a dot if it is a point mass, and the body itself if it is a rigid body. </li>
		<li> The external forces/moments. The force vector should indicate: relative magnitude, point of application, and the direction. </li>
		<li> A properly defined coordinate system </li>
	</ul>

	<p>
		A free-body diagram should not include the following:
	</p>

	<ul>
		<li> Bodies other than the body we are interested in. </li>
		<li> Forces applied <i>by</i> the body </li>
		<li> Internal forces depending on the chosen system. For example, a free-body diagram on a truss should not include the forces between individual truss members. </li>
		<li> Kinematic quantities (velocity and acceleration). </li>
	</ul>
	
	<CalloutContainer slot="cards">
        <CalloutCard title="Warning!">
            <p>
                Always assume the direction of forces/moments to be positive according to the appropriate coordinate system. The calculations from Newton/Euler equations will provide you with the correct direction of those forces/moments. Things that should not follow this are:
              </p>
              <ul>
                <li> Gravity </li>
				<li> Tension </li>
				<li> Friction if the velocity <InlineEquation equation="\\vec{v}" /> is provided </li>
              </ul>
        </CalloutCard>
        <CalloutCard title="Warning!">
            <p>
                If forces/moments are present, always begin with a free-body diagram. Do not write down equations before drawing the FBD as those are often simple kinematic equations, or Newton/Euler equations.
              </p>
        </CalloutCard>
    </CalloutContainer>

</SubSubSection>

<SubSection title="Numerical integration"   id="numerical_integration">

<ol>
	<li> Independent variable (time). </li>
	<li> State variables come in pairs (position, velocity)(<InlineEquation equation=" \\theta , \\omega" />).  </li>
	<li> Initial conditions are the state variables at <InlineEquation equation=" t=0" />. 
			<DisplayEquation equation=" \\theta_0 = \\theta(0) , \\omega_0 = \\omega(0)" />
		</li>
	<li> Time step <InlineEquation equation=" \\Delta t "/> is how we jump forward in time.  </li>
	<li> Update rule.
	      <DisplayEquation equation=" \\theta_{n+1} = \\theta_n + \\Delta t \\dot{\\theta_n} = \\theta_n  + \\Delta t \\omega_n" />
		  <DisplayEquation equation=" \\omega_{n+1} = \\omega_n + \\Delta t \\ddot{\\theta_n} = \\omega_n  + \\Delta t \\alpha_n" />
		</li>
	<li> Need to compute second derivatives (<InlineEquation equation=" \\ddot{\\theta}=\\alpha" /> ) at each timestep. </li>
</ol>

</SubSection>

  <div hidden>
    <PrairieDrawCanvas id = "ava-fp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avb-fg-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avb-fp-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avb-fr-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avb-fb-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "afp-ft-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "afp-ff-c" width = "1" height = "1"/>
  </div>
</Layout>

<script src="/dyn/particle_kinetics/canvases.js" is:inline></script>