---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro"
import Center from "../../components/Center.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import Warning from "../../components/Warning.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import Example from "../../components/Example.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---

<Layout title = "Rigid body kinematics" description = "Learn how velocity and acceleration of rigid bodies behave.">


<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#rigid_bodies'>Rigid bodies</a>
    </li> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#rotating_rigid_bodies'>Rotating rigid bodies</a>
    </li> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#points_rigid_bodies'>Points on rigid bodies</a>
    </li>
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#rigid_bodies_2d'>Rigid bodies in 2D</a>
    </li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#constrained_motion'>Constrained motion</a>
		        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#constraint_forces'>Constraint forces</a></li>
        </ul>
    </li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#gears'>Gears</a>
		    <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#sign_convention'>Standard sign convention</a></li>
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#acce_contact_noslip_convention'>Acceleration in contact (no slip)</a></li>
        </ul>
    </li>
</ul>
</div>




<Section title="Rigid body kinematics"/>

  <SubSection title = "Rigid bodies" id = "rigid_bodies">
    A <em>rigid body</em> is an extended area of material that
          includes all the points inside it, and which moves so that
          the distances and angles between all its points remain
          constant. The location of a rigid body can be described by
          the position of one point \(P\) inside it, together with the
          rotation angle of the body (one angle in 2D, three angles in
          3D).
  <DisplayTable id="rigid-body-table1">
    <thead>
      <tr>
        <th></th>
        <th>location description</th>
        <th>velocity description</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>point mass</th>
        <td>position vector <InlineEquation equation="\\vec{r}_P" /></td>
        <td>velocity vector <InlineEquation equation="\\vec{v}_P" /></td>
        </tr>
        <tr>
        <th>rigid body in 2D</th>
        <td>
            position vector <InlineEquation equation="\\vec{r}_P" />
            <br />
            angle \(\theta\)
        </td>
        <td>
            velocity vector <InlineEquation equation="\\vec{v}_P"/>
            <br />
            angular velocity <InlineEquation equation="\\omega" />
        </td>
        </tr>
        <tr>
          <th>rigid body in 3D</th>
        <td>
            position vector <InlineEquation equation="\\vec{r}_P"/>
            <br />
            angles <InlineEquation equation="\\theta,\\phi,\\psi"/>
        </td>
        <td>
            velocity vector <InlineEquation equation="\\vec{v}_P"/>
            <br />
            angular velocity vector <InlineEquation equation="\\vec{\\omega}" />
        </td>
        </tr>
    </tbody>
            
    </DisplayTable>

    <p>
        Neither point masses nor rigid bodies can physically exist,
        as no body can really be a single point with no extent, and
        no extended body can be exactly rigid. Despite this, these
        are very useful models for mechanics and dynamics.
      </p>
    <CalloutContainer slot = "cards">
      <CalloutCard title = "Application alert!">
        <p>
          <a href = "/dyn/steering_geometry">Steering geometry</a> uses <strong>rigid bodies.</strong>
        </p>
      </CalloutCard>
      <CalloutCard title = "Application alert!">
        <p>
          <a href = "/dyn/knee_joint">Knee joint</a> uses <strong>rigid bodies.</strong>
        </p>
      </CalloutCard>
      <CalloutCard title = "Application alert!">
        <p>
          <a href = "/dyn/suspensions_with_watts_linkage">Suspension with Watt's linkage</a> uses <strong>rigid bodies.</strong>
        </p>
      </CalloutCard>
    </CalloutContainer>
  </SubSubsection>

<SubSection title="Rotating rigid bodies" id="rotating_rigid_bodies">

    <p>
        All points on a rigid body have the same angular rotation
        angles, as we can see on the figure below. Because the
        angular velocity is the derivative of the rotation angles,
        this means that every point on a rigid body has the same
        angular velocity <InlineEquation equation="\\vec{\\omega}" />, and also the same angular
        acceleration <InlineEquation equation="\\vec{\\alpha}" />.
      </p>
      <p>
        In 2D the angle <InlineEquation equation="\\theta" /> of a rigid body the angle of
        rotation from a fixed reference (typically the <InlineEquation equation="\\hat\\imath" />
        direction), measured positive counter-clockwise. The angular
        velocity is <InlineEquation equation="\\omega = \\dot\\theta" /> and the angular
        acceleration is <InlineEquation equation="\\alpha = \\dot\\omega = \\ddot\\theta"/>. The
        vector versions of these are <InlineEquation equation="\\vec\\omega = \\omega \\, \\hat{k}" />
        and <InlineEquation equation="\\vec\\alpha = \\alpha\\,\\hat{k}" />, where <InlineEquation equation="\\hat{k}" /> is the
        out-of-plane direction.
      </p>
	  
	  <PrairieDrawCanvas id="rkg-fw-c" height="600" width="600">
        <p class="controls">
            <button class="anim-toggle:rkg-fw-c" onclick="rkg_fw_c.toggleAnim()">animation</button>
            <button class="reset:rkg-fw-c" onclick="rkg_fw_c.reset()">reset</button>
            Show:
            <button class="option-toggle:rkg-fw-c:showAngles" onclick="rkg_fw_c.toggleOption('showAngles')">angles</button>
            <button class="option-toggle:rkg-fw-c:showAngVels" onclick="rkg_fw_c.toggleOption('showAngVels')">angular velocities</button>
          </p>
          <p class="figureCaption">
            All points on a rigid body rotate at the same rate. Body
            <InlineEquation equation="\\mathcal{B}_1" /> is rotated by angle \(\theta_1\), so its
            angular velocity is <InlineEquation equation="\\omega_1 = \\dot{\\theta}_1" />, and
            similarly for the second body.
          </p>
      </PrairieDrawCanvas>
	  
	  
	  <Warning title="Labeling angular quantities on rigid bodies." id="rkg-ww">
      <p>
         Angular quantities (<InlineEquation equation="\\theta , \\omega , \\alpha"/>)for rigid bodies should not be labeled with points. If <b>P</b> and <b>Q</b> are points on a rigid body, we do not write <InlineEquation equation="\\omega_P"/> or <InlineEquation equation="\\omega_Q"/> for the angular velocity about these points.
      </p>
	  <p>
		Instead, we label angular quantities according to the body. If we have two rigid bodies <InlineEquation equation="B_1"/> and <InlineEquation equation="B_2"/>, then <InlineEquation equation="\\omega_1"/>  is the angular velocity of the first body (and all points on it) and <InlineEquation equation="\\omega_2"/> is the angular velocity of the second body.
	  </p>
     </Warning>
	
	
	
      <CalloutContainer slot="cards">
          <CalloutCard>
            <p>
                Rotations in 3D are significantly more complicated than
                rotations in 2D. Unlike positions, velocities, etc, which
                simply go from 2D vectors to 3D vectors, rotational
                quantities go from scalars in 2D to full 3D vectors in
                3D. Angular velocity and angular acceleration are somewhat
                straightforward, so equations <a
                href="#rkg-er">#rkg-er</a> hold in both 2D and 3D, but
                understanding the rotations themselves is significantly
                more complicated. There are three main ways that 3D
                rotations can be represented:
              </p>
              <Enumerate>
                <Item><a target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Euler_angles">Euler angles</a></Item>
                <Item><a target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Rotation_matrix">Rotation matrices</a></Item>
                <Item><a target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Quaternions">Quaternions</a></Item>
              </Enumerate>
              <p>
                Detailed study of rotations in 3D is necessary for a full
                understanding of topics ranging from <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Attitude_control_(spacecraft)">satellite
                attitude control</a> to <a
                target="_blank" rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Articulated_robot">articulated
                robot construction</a>, and is usually covered in advanced
                dynamics courses.
              </p>
          </CalloutCard>
      </CalloutContainer>
</SubSection>

<SubSection title="Points on rigid bodies"  id="points_rigid_bodies">

    <p>
        If we know how one point \(P\) on a rigid body is moving and
        we also know how the body is rotating, then we can calculate
        the movement of any other point \(Q\) on the same body. The
        formulas for this are given below.
    </p>

    <DisplayEquationCustom background="True" derivation="True" title="Rigid body point relations." id='rkg-er'>
        <DisplayEquation equation="\\begin{aligned}\\vec{r}_Q &amp;= \\vec{r}_P + \\vec{r}_{PQ} \\\\\\vec{v}_Q &amp;= \\vec{v}_P+ \\vec{\\omega} \\times \\vec{r}_{PQ} \\\\\\vec{a}_Q &amp;= \\vec{a}_P+ \\vec{\\alpha} \\times \\vec{r}_{PQ}+ \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ})\\end{aligned}" />
        <p class="m-0">
            Points \(P\) and \(Q\) are two locations on a rigid
            body. Vectors <InlineEquation equation="\\vec{\\omega}" /> and <InlineEquation equation="\\vec{\\alpha}" /> are the
            angular velocity and angular acceleration of the rigid
            body.
        </p>

        <div slot="derivation">
            <p>
                The first equation is simply the definition of the
                offset vector <InlineEquation equation="\\vec{r}_{PQ}" />. Differentiating the first
                equation gives
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{r}_Q &amp;= \\vec{r}_P + \\vec{r}_{PQ} \\\\  \\dot{\\vec{r}}_Q &amp;= \\dot{\\vec{r}}_P  + \\dot{\\vec{r}}_{PQ} \\\\  \\vec{v}_Q &amp;= \\vec{v}_P  + \\vec{\\omega} \\times \\vec{r}_{PQ},  \\end{aligned}" />
  
                where the derivative of <InlineEquation equation="\\vec{r}_{PQ}" /> comes from the <a
                href="rkr.html#rkr-ew">rotation formula</a>, given that
                this offset vector is simply rotating with the rigid
                body.
              </p>
              <p>
                If we differentiate again then we obtain
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{v}_Q &amp;= \\vec{v}_P  + \\vec{\\omega} \\times \\vec{r}_{PQ} \\\\  \\dot{\\vec{v}}_Q &amp;= \\dot{\\vec{v}}_P  + \\dot{\\vec{\\omega}} \\times \\vec{r}_{PQ}  + \\vec{\\omega} \\times \\dot{\\vec{r}}_{PQ} \\\\  \\vec{a}_Q &amp;= \\vec{a}_P  + \\vec{\\alpha} \\times \\vec{r}_{PQ}  + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ}),  \\end{aligned}" />
  
                where we use the fact that <InlineEquation equation="\\vec{\\alpha} = \\dot{\\vec{\\omega}}" />.
              </p>
        </div>
    </DisplayEquationCustom>

    <Warning id="rkg-wc" title="Cross product order">
        <p>
            Because cross products are <a
            href="/dyn/vector_calculus#rvv-wc">not associative</a>, it is very
            important to compute the centripetal acceleration term
            with the parentheses as shown. That is, we must not
            compute <InlineEquation equation="(\\vec{\\omega} \\times \\vec{\\omega}) \\times \\vec{r}_{PQ}" />, as this is always zero.
          </p>
    </Warning>

    <p>
        The term <InlineEquation equation="\\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ})" /> in the acceleration equation above is called
        the <em>centripetal</em> (center-seeking) term, as it is
        always in the direction <InlineEquation equation="-\\vec{r}_{PQ}" /> and so acts from \(Q\)
        towards the “center” \(P\).
      </p>

    <PrairieDrawCanvas id="rkg-fr-c" height="600" width="600">
        <p class="controls">
            Show:
            <input type="radio" name="rkg-fr-c-showType" value="none" class="data-input:rkg-fr-c:showType" onchange="rkg_fr_c.setOption('showType', this.value);" checked/>
            none
            <input type="radio" name="rkg-fr-c-showType" value="position" class="data-input:rkg-fr-c:showType" onchange="rkg_fr_c.setOption('showType', this.value);"/>
            position
            <input type="radio" name="rkg-fr-c-showType" value="velocity" class="data-input:rkg-fr-c:showType" onchange="rkg_fr_c.setOption('showType', this.value);"/>
            velocity
            <input type="radio" name="rkg-fr-c-showType" value="acceleration" class="data-input:rkg-fr-c:showType" onchange="rkg_fr_c.setOption('showType', this.value);"/>
            acceleration
          </p>
          <p class="figureCaption">
            Two points \(P\) and \(Q\) on a moving and accelerating rigid body.
          </p>
    </PrairieDrawCanvas>

    <Example id="rkg-xp" title="Points on a rigid body" solution="True">
        <div class="d-flex">
            <p>
                A rectangular block is sliding along the ground so
                that the contact point \(P\) is moving at a constant
                speed of \(3\rm\ m/s\) to the left. The block is
                rotating clockwise and just before point \(Q\) hits the
                ground the angular velocity is \(2\rm\ rad/s\) clockwise
                and the angular acceleration is \(3\rm\ rad/s^2\)
                clockwise. What is the velocity and acceleration of
                \(Q\) just before impact?
              </p>
            <InlineCanvas id="rkg-xp-c" width="300" height="200"/>
        </div>
        <div slot="solution">
            <p>
                Using the regular <InlineEquation equation="\\hat\\imath,\\hat\\jmath" /> basis, the
                known information just before impact is

                <DisplayEquation equation="    \\vec{r}_{PQ} = 2\\,\\hat\\imath \\qquad    \\vec{v}_P = -3\\,\\hat\\imath \\qquad    \\vec{a}_P = 0 \\qquad    \\vec\\omega = -2\\,\\hat{k} \\qquad    \\vec\\alpha = -3\\,\\hat{k}.    " />



                The velocity and acceleration of \(Q\) are given by
                
                <DisplayEquation equation="\\begin{aligned}  \\vec{v}_Q &amp;= \\vec{v}_P  + \\vec{\\omega} \\times \\vec{r}_{PQ} \\\\  &amp;= -3\\,\\hat\\imath  - 2\\,\\hat{k} \\times 2\\,\\hat\\imath \\\\  &amp;= -3\\,\\hat\\imath  - 4\\,\\hat\\jmath \\\\  \\vec{a}_Q &amp;= \\vec{a}_P  + \\vec{\\alpha} \\times \\vec{r}_{PQ}  + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ}) \\\\  &amp;= 0 - 3\\,\\hat{k} \\times 2\\,\\hat\\imath  - 2\\,\\hat{k} \\times (-2\\,\\hat{k} \\times 2\\,\\hat\\imath) \\\\  &amp;= -6\\,\\hat\\jmath - 2\\,\\hat{k} \\times (-4\\,\\hat\\jmath) \\\\  &amp;= -8\\,\\hat\\imath - 6\\,\\hat\\jmath.  \\end{aligned}" />

              </p>
        </div>
    </Example>

    <Example title="Coupled rigid bodies" id="rkg-xc" solution="True" >
        <div class="d-flex">
            <div>
                <p>
                    Three rigid bodies (two rods and a block) are coupled
                    by pins at \(O\), \(P\), and \(Q\) as shown. Body
                    <InlineEquation equation="\\mathcal{B}_3" /> cannot rotate and must slide
                    horizontally along the ground. The rod lengths are <InlineEquation equation="OP      = 3\\sqrt{2}\\rm\\ m" />
                    and <InlineEquation equation="PQ = 5\\rm\\ m" />, and points \(O\)
                    and \(Q\) are the same height above the ground.
                  </p>
                  <p>
                    At the instant shown, <InlineEquation equation="\\theta_1 = 45^\\circ" />, <InlineEquation equation="\\omega_1      = 4\\rm\\ rad/s" />
                    . What are <InlineEquation equation="\\omega_2" /> and <InlineEquation equation="\\vec{v}_Q" /> at
                    this instant?
                  </p>
            </div>
            <InlineCanvas id="rkg-xc-c" width="300" height="200" />
        </div>

        <div slot="solution">
            <p>
                Taking a regular <InlineEquation equation="\\hat\\imath,\\hat\\jmath" /> basis at
                \(O\), we can use the rod lengths and angles to find
                the relative position vectors:

                <DisplayEquation equation="\\begin{aligned}  \\vec{r}_{OP} &amp;= 3\\hat\\imath + 3\\hat\\jmath\\rm\\ m \\\\  \\vec{r}_{PQ} &amp;= 4\\hat\\imath - 3\\hat\\jmath\\rm\\ m.  \\end{aligned}" />


                Using the vector angular velocities <InlineEquation equation="\\vec{\\omega}_1  = \\omega_1\\,\\hat{k}" /> and <InlineEquation equation="\\vec{\\omega}_2 =  \\omega_2\\,\\hat{k}" />, we can now use <a
                href="#rkg-er">#rkg-er</a> to find first <InlineEquation equation="\\vec{v}_P" />
                and then <InlineEquation equation="\\vec{v}_Q" /> in terms of the unknown angular
                velocity \(\omega_2\):

                <DisplayEquation equation="\\begin{aligned}  \\vec{v}_{P} &amp;= \\vec{v}_O + \\vec{\\omega}_1 \\times \\vec{r}_{OP} \\\\  &amp;= 4\\hat{k} \\times (3\\hat\\imath + 3\\hat\\jmath) \\\\  &amp;= -12\\hat\\imath + 12\\hat\\jmath{\\rm\\ m/s} \\\\  \\vec{v}_{Q} &amp;= \\vec{v}_P + \\vec{\\omega}_2 \\times \\vec{r}_{PQ} \\\\  &amp;= (-12\\hat\\imath + 12\\hat\\jmath{\\rm\\ m/s})  + \\omega_2\\,\\hat{k} \\times (4\\hat\\imath - 3\\hat\\jmath) \\\\  &amp;= (-12 + 3\\omega_2)\\,\\hat\\imath  + (12 + 4\\omega_2)\\,\\hat\\jmath{\\rm\\ m/s}.  \\end{aligned}" />


                The last piece of information that we need to use is
                the constraint on the motion of <InlineEquation equation="\\mathcal{B}_3" />,
                namely that it can only slide horizontally. This can
                be expressed by saying that the vertical component
                of <InlineEquation equation="\\vec{v}_Q" /> is zero, or more generally that the
                component in the normal direction <InlineEquation equation="\\hat{e}_n =  \\hat\\jmath" /> is zero. That is:

                <DisplayEquation equation="\\begin{aligned}  0 &amp;= \\vec{v}_Q \\cdot \\hat{e}_n \\\\  &amp;= \\Big((-12 + 3\\omega_2)\\,\\hat\\imath  + (12 + 4\\omega_2)\\,\\hat\\jmath\\Big) \\cdot \\hat\\jmath \\\\  &amp;= 12 + 4\\omega_2 \\\\  \\omega_2 &amp;= -3{\\rm\\ rad/s}.  \\end{aligned}" />


                Substituting this back into the expression above for
                <InlineEquation equation="\\vec{v}_Q" /> gives:

                <DisplayEquation equation="\\vec{v}_Q = -21\\hat\\imath{\\rm\\ m/s}," />


                which does indeed have no vertical component, as
                expected.
              </p>
        </div>
    </Example>

    <Warning title="Rigid body points may be accelerating even if \\(\\vec{a}_P = 0\\) and \\(\\alpha = 0\\)." id="rkg-wa">
        <p>
            If <InlineEquation equation="\\vec{\\alpha} = 0" /> and <InlineEquation equation="\\vec{a}_P = 0" /> for a rigid
            body then we would normally say that the body itself is
            not accelerating. This does not mean, however, that the
            points on the bodies are not accelerating. If the body
            is rotating (so <InlineEquation equation=" \\vec{\\omega} \\ne 0" />) then the
            centripetal acceleration means that in fact most points
            on the body are accelerating at any time.
          </p>
    </Warning>
</SubSection>

<SubSection title="Rigid bodies in 2D"  id="rigid_bodies_2d">
    
    <p>
        The <a href="#rkg-er">#rkg-er</a> equations above are valid
        in both 2D and 3D. If we know that we are in the 2D
        <InlineEquation equation="\\hat\\imath,\\hat\\jmath" /> plane then the angular velocity
        vector is orthogonal to the plane in the <InlineEquation equation="\\hat{k}" /> direction
        and the equations can be written in a simpler form with the
        perpendicular vector notation <a
        href="/dyn/vector_calculus#rvv-en">#rvv-en</a>, as shown below.
    </p>
    
    <DisplayEquationCustom background="True" id="rkg-e2" title="Rigid body point relations in 2D." derivation="True">
        <DisplayEquation equation="\\begin{aligned}\\vec{r}_Q &amp;= \\vec{r}_P + \\vec{r}_{PQ} \\\\\\vec{v}_Q &amp;= \\vec{v}_P+ \\omega_z \\, \\vec{r}_{PQ}^\\perp \\\\\\vec{a}_Q &amp;= \\vec{a}_P+ \\alpha_z \\, \\vec{r}_{PQ}^\\perp- \\omega^2 \\, \\vec{r}_{PQ}\\end{aligned}" />

        <p>
            Points \(P\) and \(Q\) are two locations on a rigid
            body. Scalars <InlineEquation equation="\\omega_z" /> and <InlineEquation equation="\\alpha_z" /> are the scalar
            angular velocity and angular acceleration of the rigid
            body (positive counter-clockwise).
        </p>

        <div slot="derivation">
            <p>
                The position vectors <InlineEquation equation="\\vec{r}_P" /> and <InlineEquation equation="\\vec{r}_Q" /> lie in
                the <InlineEquation equation="\\hat\\imath,\\hat\\jmath" /> plane, so <InlineEquation equation="\\vec{v}_P" />,
                <InlineEquation equation="\\vec{v}_Q" />, and <InlineEquation equation="\\vec{r}_{PQ}" /> are also in this
                plane. The angular velocity and angular acceleration
                vectors are orthogonal and thus can be written:
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{\\omega} &amp;= \\omega\\,\\hat{k} \\\\  \\vec{\\alpha} &amp;= \\alpha\\,\\hat{k}.  \\end{aligned}" />

  
                Evaluating <a href="#rkg-er">#rkg-er</a> and using the
                cross-product expression <a
                href="rvv.html#rvv-e9">#rvv-e9</a> now gives the
                velocity expression:
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{v}_Q &amp;= \\vec{v}_P  + \\vec{\\omega} \\times \\vec{r}_{PQ} \\\\  &amp;= \\vec{v}_P  + \\omega\\,\\hat{k} \\times \\vec{r}_{PQ} \\\\  &amp;= \\vec{v}_P  + \\omega \\,\\vec{r}_{PQ}^\\perp,  \\end{aligned}" />

  
                and the acceleration equation:
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{a}_Q &amp;= \\vec{a}_P  + \\vec{\\alpha} \\times \\vec{r}_{PQ}  + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ}) \\\\  &amp;= \\vec{a}_P  + \\alpha\\,\\hat{k} \\times \\vec{r}_{PQ}  + \\omega\\,\\hat{k} \\times (\\omega\\,\\hat{k} \\times \\vec{r}_{PQ}) \\\\  &amp;= \\vec{a}_P  + \\alpha\\,\\vec{r}_{PQ}^\\perp  + \\omega\\,\\hat{k} \\times (\\omega\\,\\vec{r}_{PQ}^\\perp) \\\\  &amp;= \\vec{a}_P  + \\alpha\\,\\vec{r}_{PQ}^\\perp  + \\omega^2 (\\vec{r}_{PQ}^\\perp)^\\perp \\\\  &amp;= \\vec{a}_P  + \\alpha\\,\\vec{r}_{PQ}^\\perp  - \\omega^2 \\vec{r}_{PQ},  \\end{aligned}" />

  
                where we used the fact that <InlineEquation equation="\\vec{r}^{\\perp\\perp} =  -\\vec{r}" />
                (two <InlineEquation equation="90^\\circ" /> rotations make a <InlineEquation equation="180^\\circ" />
                rotation).
              </p>
        </div>
    </DisplayEquationCustom>

    <p>
        If a point \(M\) on a rigid body has zero velocity then it is
        called the <em>instantaneous center of rotation</em>,
        because the velocity of all points on the body will be given
        by simple rotation about \(M\) with the angular velocity
        <InlineEquation equation="\\vec{\\omega}" /> of the body. In 2D we can always find the
        instantaneous center with the following equation, although
        it might be outside of the physical body.
      </p>

      <DisplayEquationCustom background="True" id="rkg-ei" title="Instantaneous center of rotation \\(M\\) in 2D." derivation="True">
            <DisplayEquation equation="            \\vec{r}_{PM} =            \\frac{1}{\\omega^2} \\vec{\\omega} \\times \\vec{v}_P            = \\frac{1}{\\omega} \\vec{v}_P^\\perp            " />
          <p>
            Point \(P\) has velocity <InlineEquation equation="\\vec{v}_P" /> and is attached to a
            rigid body rotating with angular velocity
            <InlineEquation equation="\\vec{\\omega}" />.
          </p>

          <div slot="derivation">
            <p>
                The instantaneous center \(M\) has the property that the
                point on the rigid body at \(M\) has zero velocity. We
                thus want:
  
                <DisplayEquation equation="  0 = \\vec{v}_M =  \\vec{v}_P + \\vec{\\omega} \\times \\vec{r}_{PM}.  " />

  
                Taking another cross product by <InlineEquation equation="\\vec{\\omega}" /> gives:
  
                <DisplayEquation equation="\\begin{aligned}  0 &amp;=  \\vec{\\omega} \\times \\Big(  \\vec{v}_P + \\vec{\\omega} \\times \\vec{r}_{PM} \\Big) \\\\  &amp;= \\vec{\\omega} \\times \\vec{v}_P  + \\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PM}) \\\\  &amp;= \\vec{\\omega} \\times \\vec{v}_P  - \\omega^2 \\, \\vec{r}_{PM} \\text{ (because \\vec\\omega \\perp \\vec{r}_{PM})} \\\\  \\vec{r}_{PM} &amp;= \\frac{1}{\\omega^2}  \\vec{\\omega} \\times \\vec{v}_P.  \\end{aligned}" />

                
                Here we used the fact that if <InlineEquation equation="\\vec{r}_{PM}" />. lies in the
                <InlineEquation equation="\\hat\\imath,\\hat\\jmath " /> plane and <InlineEquation equation="\\vec{\\omega}" /> is in
                the <InlineEquation equation="\\hat{k}" /> direction, then from <a
                href="rvv.html#rvv-e9">#rvv-e9</a> we have
                <InlineEquation equation="\\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PM})  = \\omega^2 \\,\\vec{r}_{PM}^{\\perp\\perp} =  -\\omega^2\\,\\vec{r}_{PM}" />, as in the derivation of <a
                href="#rkg-e2">#rkg-e2</a>.
              </p>
          </div>
      </DisplayEquationCustom>

      <p>
        In 3D there will only be an instantaneous center if
        <InlineEquation equation="\\vec{v}_P" /> is orthogonal to <InlineEquation equation="\\vec{\\omega}" />, in which case
        there will many choices for the instantaneous center, all
        lying on a line in the <InlineEquation equation="\\vec{\\omega}" /> direction.
      </p>
      <p>
        If \(M\) is an instantaneous center, so it has zero velocity,
        then the velocity of any other point on the rigid body is
        given by the following equation.
      </p>

      <DisplayEquationCustom background="True" id="rkg-ev" title="Velocity from the instantaneous center \\(M\\)." derivation="True">
            <DisplayEquation equation="            \\vec{v}_{Q} = \\vec{\\omega} \\times \\vec{r}_{MQ}            " />
          <p>
            Point \(M\) is the instantaneous center of rotation for a
            rigid body rotating with angular velocity
            <InlineEquation equation="\\vec{\\omega}" />, and \(Q\) is any point on the body.
          </p>

          <div slot="derivation">
            <p>
                By definition the instantaneous center has <InlineEquation equation="\\vec{v}_M =  0" />
                , so the velocity formula <a
                href="#rkg-er">#rkg-er</a> gives:
  
                <DisplayEquation equation="\\begin{aligned}  \\vec{v}_Q &amp;= \\vec{v}_M + \\vec{\\omega} \\times \\vec{r}_{MQ} \\\\  &amp;= \\vec{\\omega} \\times \\vec{r}_{MQ}.  \\end{aligned}" />
              </p>
          </div>
      </DisplayEquationCustom>

      <PrairieDrawCanvas id="rkg-fd-c" width="600" height="600">
        <p class="controls">
            <button class="anim-toggle:rkg-fd-c" onclick="rkg_fd_c.toggleAnim()">animation</button>
            <button class="reset:rkg-fd-c" onclick="rkg_fd_c.reset()">reset</button>
            <button class="option-toggle:rkg-fd-c:showLabels" onclick="rkg_fd_c.toggleOption('showLabels')">show labels</button>
          </p>
          <DisplayTable class="controls mb-3">
            <tbody>
              <tr>
                <td>Movement:</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="translate" class="data-input:rkg-fd-c:movement" checked onchange="rkg_fd_c.setOption('movement', this.value);"/> translation</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="varTranslate" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> var. translation</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="rotate" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> rotation</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="varRotate" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> var. rotation</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="slide" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> slide</td>
              </tr>
              <tr>
                <td></td>
                <td><input type="radio" name="rkg-fd-c-movement" value="hinge" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> hinge</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="circle" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> circle</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="spin" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> spin</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="reverse" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> reverse spin</td>
                <td><input type="radio" name="rkg-fd-c-movement" value="osc" class="data-input:rkg-fd-c:movement" onchange="rkg_fd_c.setOption('movement', this.value);"/> oscillation</td>
              </tr>
            </tbody>
            
          </DisplayTable>
          <Row>
            <Col values="6 md-3">
                <div class="d-flex flex-column mb-2">
                    <p class="fw-bold text-center">Point \(P\)</p>
                    <button class="option-toggle:rkg-fd-c:showPVel my-1" onclick="rkg_fd_c.toggleOption('showPVel');">\(P\) velocity</button>
                    <button class="option-toggle:rkg-fd-c:showPAcc my-1" onclick="rkg_fd_c.toggleOption('showPAcc');">\(P\) acceleration</button>
                    <button class="option-toggle:rkg-fd-c:showPPath my-1" onclick="rkg_fd_c.toggleOption('showPPath');">\(P\) path</button>
                    <button class="option-toggle:rkg-fd-c:showPAngVel my-1" onclick="rkg_fd_c.toggleOption('showPAngVel');">ang. vel. about \(P\)</button>
                    <button class="option-toggle:rkg-fd-c:showPAngAcc my-1" onclick="rkg_fd_c.toggleOption('showPAngAcc');">ang. acc. about \(P\)</button>
                    <button class="option-toggle:rkg-fd-c:PAtCorner my-1" onclick="rkg_fd_c.toggleOption('PAtCorner');">\(P\) at corner</button>
                </div>
                
            </Col>
            <Col values="6 md-3">
                <div class="d-flex flex-column mb-2">
                    <p class="fw-bold text-center">Body</p>
                    <button class="option-toggle:rkg-fd-c:showQPath my-1" onclick="rkg_fd_c.toggleOption('showQPath');">\(Q\) path</button>
                    <button class="option-toggle:rkg-fd-c:showAngVel my-1" onclick="rkg_fd_c.toggleOption('showAngVel');">ang. vel.</button>
                    <button class="option-toggle:rkg-fd-c:showAngAcc my-1" onclick="rkg_fd_c.toggleOption('showAngAcc');">ang. acc.</button>
                    <button class="option-toggle:rkg-fd-c:showInstRot my-1" onclick="rkg_fd_c.toggleOption('showInstRot');">inst. cent. \(M\)</button>
                    
                </div>
            </Col>
            <Col values="6 md-3">
                <div class="d-flex flex-column mb-2">
                    <p class="fw-bold text-center">\(Q\) Velocity</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-velField" value="none" class="data-input:rkg-fd-c:velField me-2" checked onchange="rkg_fd_c.setOption('velField', this.value);"/> none</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-velField" value="base" class="data-input:rkg-fd-c:velField me-2" onchange="rkg_fd_c.setOption('velField', this.value);"/> <InlineEquation equation="\\vec{v}_P" /> (trans.)</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-velField" value="omega" class="data-input:rkg-fd-c:velField me-2" onchange="rkg_fd_c.setOption('velField', this.value);"/> <InlineEquation equation="\\vec{\\omega} \\times \\vec{r}_{PQ}" /> (rot.)</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-velField" value="total" class="data-input:rkg-fd-c:velField me-2" onchange="rkg_fd_c.setOption('velField', this.value);"/> <InlineEquation equation="\\vec{v}_Q" />  (total)</p>
                    <button class="option-toggle:rkg-fd-c:showVelField my-1" onclick="rkg_fd_c.toggleOption('showVelField');">all points</button>
                </div>
            </Col>
            <Col values="6 md-3">
                <div class="d-flex flex-column mb-2">
                    <p class="fw-bold text-center">\(Q\) Acceleration</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-accField" value="none" class="data-input:rkg-fd-c:accField me-2" checked onchange="rkg_fd_c.setOption('accField', this.value);"/> none</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-accField" value="base" class="data-input:rkg-fd-c:accField me-2" onchange="rkg_fd_c.setOption('accField', this.value);"/> <InlineEquation equation="\\vec{a}_P" /> (trans.)</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-accField" value="alpha" class="data-input:rkg-fd-c:accField me-2" onchange="rkg_fd_c.setOption('accField', this.value);"/> <InlineEquation equation="\\vec{\\alpha} \\times \\vec{r}_{PQ}" /> (ang.)</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-accField" value="cent" class="data-input:rkg-fd-c:accField me-2" onchange="rkg_fd_c.setOption('accField', this.value);"/> <InlineEquation equation="\\vec{\\omega} \\times (\\vec{\\omega} \\times \\vec{r}_{PQ})" />
                        (cent.)</p>
                    <p class="m-0"><input type="radio" name="rkg-fd-c-accField" value="total" class="data-input:rkg-fd-c:accField me-2" onchange="rkg_fd_c.setOption('accField', this.value);"/> <InlineEquation equation="\\vec{a}_Q" />  (total)</p>
                    <button class="option-toggle:rkg-fd-c:showAccField my-1" onclick="rkg_fd_c.toggleOption('showAccField');">all points</button>
                    
                </div>
            </Col>
          </Row>
        
          <p class="figureCaption">
            Velocity and acceleration of points on a rigid body
            undergoing different motions.
          </p>
      </PrairieDrawCanvas>
</SubSection>

<SubSection title="Constrained motion"  id="constrained_motion">


    <p>
      One of the most common type of motion is constrained motion, where an object is
      restricted to move in a certain way.
  </p>
  <p>
      Generally, a point constrained to move in a specific direction obeys the following equation:
  </p>

  <DisplayEquationCustom id="rkc-pc" background="true" title="Constraint equation for a point \\(P\\).">
    <p>
      <DisplayEquation equation="      \\vec{v}_P \\cdot \\hat{n}_P = 0      " />

    </p>
    <p>
        where <InlineEquation equation="\\hat{n}_P" /> is the normal vector to the motion of point \(P\).
    </p>
  </DisplayEquationCustom>

  <p>
    The above equation is difficult to apply to a system with a collection of points or particles.
    It is not the only way to derive constraint equations. For example, rigid body kinematics
    equations (also known as relative motion equations) are derived using the definition of a rigid body. Namely,
    the distance and angles between all points remain constant. See <a href="#rkg-er">rigid body relations</a>.
    It is often best to look at examples of constrained motion to see how constraint equations are differentiated to obtain
    velocity and acceleration.
</p>
<p>
    We can visualize the motion of several constrained systems, shown on the figure below.
</p>

<PrairieDrawCanvas id="rkc-cm-c" width="600" height="600">
  <p class="controls">
    <button class="anim-toggle:rkc-cm-c" onclick="rkc_cm_c.toggleAnim()">animation</button>
    <button class="reset:rkc-cm-c" onclick="rkc_cm_c.reset()">reset</button>
    <button class="option-toggle:rkc-cm-c:showLabels" onclick="rkc_cm_c.toggleOption('showLabels')">show labels</button>
    <button class="option-toggle:rkc-cm-c:showVelocity" onclick="rkc_cm_c.toggleOption('showVelocity')">show velocity</button>
  </p>
  <table id="rkc-ts" class="controls">
      <tr style="border: 0px;">
          <td style="border: 0px;">System:</td>
          <td style="border: 0px;"><input type="radio" name="rkc-cm-c-movement" value="rodCircle" class="data-input:rkc-cm-c:movement ms-2 me-1" checked onchange="rkc_cm_c.setOption('movement', this.value);"/>rod-circular</td>
          <td style="border: 0px;"><input type="radio" name="rkc-cm-c-movement" value="sliderCrank" class="data-input:rkc-cm-c:movement ms-2 me-1" onchange="rkc_cm_c.setOption('movement', this.value);"/>slider-crank</td>
      </tr>
  </table>
  <p>
  </p>

  <Row>
    <Col values="6 md-4">
      <div class="d-flex flex-column">
        <p class="fw-bold text-center">rod-circular</p>
        <button class="option-toggle:rkc-cm-c:showQTrace" onclick="rkc_cm_c.toggleOption('showQTrace')">Trace \(Q\)</button>
      </div>
    </Col>
    <Col values="6 md-4">
      <div class="d-flex flex-column">
        <p class="fw-bold text-center">slider-crank</p>
        <button class="option-toggle:rkc-cm-c:showBTrace mb-1" onclick="rkc_cm_c.toggleOption('showBTrace')">Trace \(B\)</button>
        <button class="option-toggle:rkc-cm-c:showBPath my-1" onclick="rkc_cm_c.toggleOption('showBPath')">\(B\) path</button>
        <button class="option-toggle:rkc-cm-c:flipSystem my-1" onclick="rkc_cm_c.toggleOption('flipSystem')"><InlineEquation equation="\\hat{v}_C = \\hat{\\jmath}" />
        </button>
      </div>
    </Col>
  </Row>
</PrairieDrawCanvas>

<Example id="rkc-xcl" title="Sliding rod" solution="True">
  <div class="d-flex">
    <p>
      A uniform rod leaning against a wall has a fixed length of \(\ell = 10 \rm\ m\). 
      The bottom of the rod at point \(P\) is \(8 \rm\ m\) from the wall. 
      Point \(P\) is moving away from the wall at a speed of \(6 \rm\ m/s\). 
      The rod maintains contact with the wall and ground at all times.
      What is <InlineEquation equation="\\vec{v}_Q" /> of point \(Q\), the point at the top of the rod?
    </p>
    <InlineCanvas id="rkc-xcl-c" width="300" height="200"/>
  </div>

  <div slot="solution">
    <p>
      To solve this, note the question states that the rod's length is fixed, and is not permitted to
      lose contact with the wall and ground. Therefore, 
      the constraint equation is given by the Pythagorean theorem:
      <DisplayEquation equation="\\begin{aligned}      x_P^2 + y_Q^2 = \\ell^2      \\end{aligned}" />

  </p>
  <p>
      This becomes a related rates problem from calculus 1.
  </p>
  <p>
      Differentiating with respect to time, keeping in mind the chain rule:
      <DisplayEquation equation="\\begin{aligned}      2x_P\\dot{x}_P + 2y_Q\\dot{y}_Q = 0      \\end{aligned}" />

  </p>
  <p>
      The quantity we're interested in is <InlineEquation equation="\\dot{y}_Q" />
      , or <InlineEquation equation="v_Q" />, and <InlineEquation equation="y_Q = \\sqrt{\\ell^2 - x_P^2}" />
      .
  </p>
  <p>
      Solving yields <InlineEquation equation="\\vec{v}_Q = -8\\hat{\\jmath} \\rm\\ m/s" />
      .
  </p>
  <p>
      Another way to solve this is using the <a href="#rkg-er">rigid body relations</a>,
      knowing that the distance and angles from the top to the bottom of the rod remains constant,
      which is a rigid body by definition. Using rigid body relations:
      <DisplayEquation equation="\\begin{aligned}      \\vec{v}_Q &amp;= \\vec{v}_P + \\vec\\omega \\times \\vec{r}_{PQ} \\\\      &amp;= \\vec{v}_P + \\omega_z \\vec{r}_{PQ}^{\\perp}      \\end{aligned}" />


      where we have two unknowns:<InlineEquation equation=" \\vec{v}_Q" />
      , and \(\vec\omega\), and 
      <InlineEquation equation="\\vec{r}_{PQ} = -\\ell \\cos\\theta \\hat{\\imath} + \\ell \\sin\\theta \\hat{\\jmath} \\rm\\ m" />,
      where <InlineEquation equation="\\theta = \\cos^{-1}\\left(\\frac{x_P}{\\ell}\\right)" />.
   </p>
   <p>
      Therefore, <InlineEquation equation="\\vec{r}_{PQ}^{\\perp} = -\\ell \\sin\\theta \\hat{\\imath} - \\ell \\cos\\theta \\hat{\\jmath} \\rm\\ m" />
      .
   </p>
  <p>
      Expanding the vector equation into its two scalar equations yields:
      <DisplayEquation equation="\\begin{aligned}      v_{Qx} &amp;= v_{Px} - \\omega_z \\ell \\sin\\theta \\\\      v_{Qy} &amp;= v_{Py} - \\omega_z \\ell \\cos\\theta      \\end{aligned}" />

  </p>
  <p>
      Since the top of the rod can only move vertically, <InlineEquation equation="v_{Qx} = 0, and \\omega_z = \\frac{v_{Px}}{\\ell \\sin\\theta} \\rm\\ rad/s" />

  </p>
  <p>
      Since the bottom of the rod can only move horizontally, <InlineEquation equation="v_{Py} = 0, and v_{Qy} = -\\omega_z \\ell \\cos\\theta \\rm\\ m/s" />

  </p>
  <p>
      Plugging in \(\omega_z\) expression:
      <DisplayEquation equation="      v_{Qy} = -\\frac{v_{Px}}{\\ell \\sin\\theta} \\ell \\cos\\theta = -v_{Px}\\cot\\theta \\rm\\ m/s      " />

  </p>
  <p>
      Plugging in the numbers yields the same result of <InlineEquation equation="\\vec{v}_{Q} = -8\\hat{\\jmath} \\rm\\ m/s" />
      .
  </p>
  <p>
      Note in the rigid body relations method, we implicitly used the constraint equation for a point. Namely,
      we know that the top of the rod can only move vertically, so <InlineEquation equation="\\vec{v}_Q \\cdot \\hat{n}_Q = 0" />
      , where <InlineEquation equation="\\hat{n}_Q = \\hat{\\imath}" />
      and <InlineEquation equation="\\vec{v}_P \\cdot \\hat{n}_P = 0" />
      , where <InlineEquation equation="\\hat{n}_P = \\hat{\\jmath}" />.
  </p>
  </div>

</Example>

<p>
  In general, the steps involved in analyzing systems with constrained motions are as follows:
</p>

<DisplayEquationCustom id="rkc-cp" title="Solution procedure for constrained motion." background="True">
  <DisplayEquation equation="\\begin{aligned}&amp;\\text{1. Write down constraint equation in terms of distances/positions.} \\\\&amp;\\text{2. Differentiate once or twice with respect to time to obtain} \\\\&amp; \\quad  \\vec{v} \\quad  \\text{and}  \\ \\vec{a} \\  \\text{relationships.} \\\\&amp;\\text{3. Solve for the desired quantity.}\\end{aligned}" />

</DisplayEquationCustom>

<Example id="rkc-xcp" title="Compound pulley system" solution="True">
  <div class="d-flex">
    <p>
      Consider the compound pulley system shown, consisting of two massless pulleys \(A, B\). Pulley \(A\) is free to
      move vertically, and pulley \(B\) is fixed to the top. The two pulleys are connected by an inextensible, massless rope.
      One block of mass \(m_1\) is connected to pulley \(A\) by a string, and another block of mass \(m_2\) is hanging from the
      rope connecting the two pulleys. Assume the pulleys' radii are negligbile. 
      If \(m_2\) moves downwards at a velocity \(v_2 = 6 \rm\ m/s\) and acceleration \(a_2 = 2 \rm\ m/s^2\), what are
      the velocity and acceleration of \(m_1\)?
  </p>
  <InlineCanvas id="rkc-xcp-c" width="300" height="200"/>
  </div>

  <div slot="solution">
    <p>
      We will begin by underlining important information given in the question. Namely:
      <ol>
          <li>The rope is inextensible, meaning the total length of the rope remains constant. This is our constraint.</li>
          <li>The pulleys are massless, meaning we do not need to consider any rotational motion they may exhibit.</li>
          <li>The pulleys radii' are negligbile, meaning we do not need to consider their radii as a part of the total length of the rope.</li>
      </ol>
    </p>
    <p>
      Using the solution procedure highlighted in <a href="#rkc-cp">#rkc-cp</a>:
    </p>
    <p>
        <strong>1. Write down constraint equation in terms of distances/positions.</strong>
        If the rope's length remains constant, we need to choose a reference line to relate the distances of
        the masses to that reference line and set it equal to the rope's length. The following figure shows
        the reference line, as well as the masses' distances from that line.
    </p>
    <InlineCanvas id="rkc-xcp-cs" width="300" height="200" />
    <p>
        Note that \(y_1\) is only extended to pulley \(A\). Since the pulleys are massless, they will not rotate,
        and therefore \(m_1\) and pulley \(A\) will translate vertically together at the same rate.
    </p>
    <p>
        Now, we can write the total length of the rope in terms of those two distances. The total length of the rope,\(L\) will be:
        <DisplayEquation equation="        2y_1 + y_2 = L        " />
    </p>
    <p>
        <strong>2. Differentiate once or twice with respect to time to obtain <InlineEquation equation="\\vec{v}" />
          and <InlineEquation equation="\\vec{a}" />
          relationships.</strong>
        Now, we can take two derivatives with respect to time to obtain the relationship between the speeds <InlineEquation equation="v_1, v_2" />
        , and
        the accelerations <InlineEquation equation="a_1, a_2" />        .
        <DisplayEquation equation="\\begin{aligned}        2v_1 + v_2 &amp;= 0 \\\\        2a_1 + a_2 &amp;= 0         \\end{aligned}" />

    </p>
    <p>
        Notice that the length of the rope does not matter ultimately. This makes sense,
        as the length of the rope is constant, and therefore does not change with time.
    </p>
    <p>
        <strong>3. Solve for the desired quantity.</strong>
        We are interested in both the velocity and acceleration of \(m_1\).
        <br>
        Solving for <InlineEquation equation="\\vec{v}_1 = \\frac{-\\vec{v}_2}{2} = 3\\hat{\\jmath}\\rm\\ m/s" />
        and <InlineEquation equation="\\vec{a}_1 = \\frac{-\\vec{a}_2}{2} = \\hat{\\jmath}\\rm\\ m/s^2" />
 
    </p>
    <p>
        Reflecting on the result obtained, it makes sense. The distance \(m_1\) has to travel up the rope is two times
        more than the length \(m_2\) has to travel. We can also draw a free-body diagram to understand
        this result further. We will return to this example further down when constraint forces are covered.
    </p>
  </div>
</Example>

<CalloutContainer slot="cards">
  <CalloutCard title="Reference material">
    <ul>
      <li>Calculus and vectors</li>
      <li>Rigid bodies</li>
      <li>Kinetics of point masses</li>
      <li>Kinetics of rigid bodies</li>
      <li>Free body diagrams</li>
      <li>Energy and work</li>
    </ul>
  </CalloutCard>
  <CalloutCard title="Applications">
    <ul>
      <li>Four-bar linkages</li>
    </ul>
  </CalloutCard>
</CalloutContainer>
</SubSection>


<SubSubSection id="constraint_forces" title="Constraint forces">

  <p>
    If an object is constrained to move in a specific direction, by Newton's second law, there must be
    forces or moments preventing the movement of the object in that direction. Those are called <em>constraint forces</em>.
</p>
<p>
    The approach to solving for constraint forces is the same approach to solve for any forces/moments that are not constraint forces. Namely,
    drawing a free body diagram, and applying Newton's equations. See <a href="/dyn/particle_kinetics">the solution procedure with Newton's equations.</a>
</p>
<p>
    Let's return to our example of the rod leaning against a wall.
</p>

<Example id="rkc-xcf" title="Constraint forces on a sliding rod." solution="True">

  <div class="d-flex">
    <p>
      A uniform rod of mass \(m\) and length \(\ell\) is leaning against a frictionless wall at an angle \(\phi\) as shown.
      The rod starts sliding along a frictionless ground under the influence of gravity <InlineEquation equation="\\vec{g}" />.
      What are the expressions of the constraint forces <InlineEquation equation="\\vec{F}_P, \\vec{F}_Q" /> that ensure the rod maintains contact with the wall
      and ground at all times? 
  </p>
    <InlineCanvas id="rkc-xcf-c" width="300" height="200"/>
  </div>

  <div slot="solution">
    <p>
      We will begin by drawing a free body diagram on the rod.
      <InlineCanvas id="rkc-xcf-s" width="300" height="200" />
    </p>
    <p>
        Note that due to the constraint placed on the rod, point \(P\) can only slide along the ground
        and therefore by <a href="#rkc-pc">#rkc-pc</a>, <InlineEquation equation="\\vec{F}_P" /> acts vertically. Similarly for point \(Q\), <InlineEquation equation="\\vec{F}_Q" />
        acts horizontally.
    </p>
    <p>
        Applying Newton's second law:
        <DisplayEquation equation="        \\sum \\vec{F}_{ext} = m\\vec{a}_C        " />

    </p>
    <p>
        Breaking it up into the scalar equations. Note we will use <InlineEquation equation="\\ddot{x}_C, \\ddot{y}_C" /> to denote
        the acceleration of the center of mass \(C\) in each direction.
        <DisplayEquation equation="\\begin{aligned}        F_Q &amp;= m\\ddot{x}_C \\\\        F_P - mg &amp;= m\\ddot{y}_C        \\end{aligned}" />

    </p>
    <p>
        Now we can apply the solution procedure detailed in <a href="#rkc-cp">#rkc-cp</a> to find
        the acceleration of point \(C\). Due to our constraint, the following applies at all times:
        <DisplayEquation equation="        x_C = \\frac{\\ell}{2}\\sin\\phi \\qquad \\qquad y_C = \\frac{\\ell}{2}\\cos\\phi        " />

    </p>
    <p>
        Differentiating twice, keeping in mind the chain rule:
        <DisplayEquation equation="\\begin{aligned}        \\ddot{x}_C &amp;= -\\frac{\\ell\\dot\\theta^2}{2}\\sin\\phi + \\frac{\\ell\\ddot\\theta}{2}\\cos\\phi  \\\\        \\ddot{y}_C &amp;= -\\frac{\\ell\\dot\\theta^2}{2}\\cos\\phi - \\frac{\\ell\\ddot\\theta}{2}\\sin\\phi        \\end{aligned}" />

    </p>
    <p>
        Plugging into Newton's second law equations and solving for each constraint force yields:
        <DisplayEquation equation="\\begin{aligned}        F_Q &amp;= -\\frac{m\\ell\\dot\\theta^2}{2}\\sin\\phi + \\frac{m\\ell\\ddot\\theta}{2}\\cos\\phi \\\\        F_P &amp;= -\\frac{m\\ell\\dot\\theta^2}{2}\\cos\\phi - \\frac{m\\ell\\ddot\\theta}{2}\\sin\\phi + mg        \\end{aligned}" />
    </p>
  </div>
</Example>

<Example id="rkc-xlc" title="Instance where rod loses contact with a wall." solution="True">

  <div class="d-flex">
    <p>
      A uniform rod of mass \(m\) and length \(\ell\) is leaning against a frictionless wall at rest at an angle \(\phi\) as shown.
      The rod starts sliding on a frictionless ground under the influence of gravity <InlineEquation equation="\\vec{g}" />.
      At what angle \(\theta\) does the rod lose contact with the wall?
    </p>
    <InlineCanvas id="rkc-xlc-c" width="300" height="200"/>
  </div>

  <div slot="solution">
    <p>
      While there is contact with the wall, our constraint still holds. This means
      our constraint forces expressions from <a href="#rkc-cf">#rkc-cf</a> still hold.
      We are only interested in the constraint force from the wall on the rod, <InlineEquation equation="\\vec{F}_Q" />. at <InlineEquation equation="\\theta" />:
      <DisplayEquation equation="      F_Q = -\\frac{m\\ell\\dot\\theta^2}{2}\\sin\\theta + \\frac{m\\ell\\ddot\\theta}{2}\\cos\\theta      " />

    </p>
    <p>
        If the rod loses contact with the wall, then <InlineEquation equation="\\vec{F}_Q = 0" />. We have two unknowns:
        the angular velocity \(\dot\theta\) and the angular acceleration \(\ddot\theta\).
        However, we know that <InlineEquation equation="\\ddot\\theta = \\frac{d\\dot\\theta}{dt}" />
        , so if we obtain
        an expression for <InlineEquation equation="\\dot\\theta" />, then finding <InlineEquation equation="\\ddot\\theta" /> is possible.
        We can use conservation of energy to obtain an expression for <InlineEquation equation="\\dot\\theta" />.  
    </p>
    <p>
        Using <a href="#">the work-energy theorem</a>:
        <DisplayEquation equation="        W = \\Delta T + \\Delta V        " />

    </p>
    <p>
        The rod is sliding along frictionless surfaces, so there are no non-conservative forces present,
        and constraint forces do no work (See <a href="#">work done by a constraint force</a>)
    </p>
    <p>
        Therefore:
        <DisplayEquation equation="\\begin{aligned}        T_1 + V_1 &amp;= T_2 + V_2 \\\\        0 + mgh_{C, 1} &amp;= \\frac{1}{2}mv_C^2 + \\frac{1}{2}I_{C, \\hat{k}}\\omega^2 + mgh_{C, 2}        \\end{aligned}" />

    </p>
    <p>
        From before:
        <DisplayEquation equation="\\begin{aligned}        h_{C, 1} = y_{C, 1} = \\ell\\cos\\phi \\qquad h_{C, 2} = y_{C, 2} = \\ell\\cos\\theta        \\end{aligned}" />

    </p>
    <p>
        And the velocity of the center of mass at <InlineEquation equation="\\theta" />:
        <DisplayEquation equation="\\begin{aligned}        \\vec{v}_C &amp;= \\dot{x}_{C,2}\\hat{\\imath} + \\dot{y}_{C, 2}\\hat{\\jmath} \\\\        &amp;= \\ell\\dot\\theta\\cos\\theta \\hat{\\imath} - \\ell\\dot\\theta\\sin\\theta \\hat{\\jmath}        \\end{aligned}" />

    </p>
    <p>
        So <InlineEquation equation="v_C" />        is simply <InlineEquation equation="l\\dot\\theta" />.
    </p>
    <p>
        Plugging into our energy conservation, where <InlineEquation equation="I_{C, \\hat{k}} = \\frac{1}{12}m\\ell^2" />:
        <DisplayEquation equation="\\begin{aligned}        mg\\ell\\cos\\phi &amp;= \\frac{1}{2}m(\\ell\\dot\\theta)^2 + \\frac{1}{2}\\left(\\frac{1}{12}m\\ell^2 \\right) \\dot\\theta^2 + mg\\ell\\cos\\theta \\\\        mg\\ell\\cos\\phi &amp;= \\frac{1}{2}m\\ell^2 \\dot\\theta^2 + \\frac{1}{24}m\\ell^2 \\dot\\theta^2 + mg\\ell\\cos\\theta \\\\        mg\\ell\\cos\\phi &amp;= \\frac{13}{24}m\\ell^2 \\dot\\theta^2 + mg\\ell\\cos\\theta        \\end{aligned}" />

    </p>
    <p>
        Solving for <InlineEquation equation="\\dot\\theta^2" />        :
        <DisplayEquation equation="        \\dot\\theta^2 = \\frac{24g}{13\\ell}\\left(\\cos\\phi - \\cos\\theta\\right)        " />

    </p>
    <p>
        Differentiating to obtain <InlineEquation equation="\\ddot\\theta" />
        :
        <DisplayEquation equation="\\begin{aligned}        2\\dot\\theta\\ddot\\theta &amp;= \\frac{24g}{13\\ell}\\sin\\theta\\dot\\theta \\\\        \\ddot\\theta &amp; = \\frac{12g}{13\\ell}\\sin\\theta        \\end{aligned}" />

    </p>
    <p>
        Plugging our results into <InlineEquation equation="F_Q" />        :
        <DisplayEquation equation="\\begin{aligned}        F_Q &amp;= -\\frac{m\\ell\\frac{24g}{13\\ell}\\left(\\cos\\phi - \\cos\\theta\\right)}{2}\\sin\\theta + \\frac{m\\ell\\frac{12g}{13\\ell}\\sin\\theta}{2}\\cos\\theta \\\\        &amp;= -\\frac{12}{13}mg\\sin\\theta \\left(\\cos\\phi - \\cos\\theta\\right) + \\frac{6}{13}mg\\cos\\theta\\sin\\theta \\\\        \\end{aligned}" />

    </p>
    <p>
        Setting <InlineEquation equation="F_Q=0" />        :
        <DisplayEquation equation="\\begin{aligned}        \\frac{12}{13}mg\\sin\\theta \\left(\\cos\\phi - \\cos\\theta\\right) &amp;= \\frac{6}{13}mg\\cos\\theta\\sin\\theta \\\\        2\\left(\\cos\\phi - \\cos\\theta\\right) &amp;= \\cos\\theta \\\\        2\\cos\\phi - 2\\cos\\theta - \\cos\\theta &amp;= 0 \\\\        2\\cos\\phi - 3\\cos\\theta &amp;= 0 \\\\        \\end{aligned}" />

    </p>
    <p>
        Solving for <InlineEquation equation="\\theta" /> yields <InlineEquation equation="\\theta = \\arccos\\left(\\frac{2}{3}\\cos\\phi\\right)" />
        , or when the rod has fallen 2/3 of the original height.
        Note if the rod was unconstrained, the constraint we used still holds until the rod has fallen 2/3 of the original height.
        We can use rigid body relations to find the velocity of point \(Q\) once the rod loses contact with the wall, and it will have
        both vertical and horizontal components of velocity, as expected. 
    </p>
  </div>
</Example>

<Example id="rkc-xtp" title="Tension in a compound pulley system." solution="True">

  <div class="d-flex">
    <p>
      Consider the compound pulley system shown, consisting of two massless pulleys \(A, B\). Pulley \(A\) is free to
      move vertically, and pulley \(B\) is fixed to the top. The two pulleys are connected by an inextensible, massless rope.
      One block of mass \(m_1\) is connected to pulley \(A\) by a string, and another block of mass \(m_2\) is hanging from the
      rope connecting the two pulleys. Assume the pulleys' radii are negligbile, and the rope can only slip. What is the tension
      \(T\) in the rope?
  </p>
    <InlineCanvas id="rkc-xtp-c" width="300" height="200"/>
  </div>

  <div slot="solution">
    <p>
      We added one more assumption to the ones made in <a href="#rkc-xcp">#rkc-xcp</a>. Namely, the rope can only slip.
      This simply means that the tension is the same at any point in the rope.
  </p>
  <p>
      We will begin by drawing a free body diagram and applying Newton's second law 
      on three bodies: <InlineEquation equation="m_1" />, <InlineEquation equation="m_2" /> and pulley \(A\). We will
      neglect pulley \(B\) as it is fixed to the wall, and the results obtained from it are trivial.
  </p>
  <p>
      The free body diagram on pulley \(A\) is as follows:
      <InlineCanvas id="rkc-xtp-sa" width="300" height="200" class="standaloneImage" />
  </p>
  <p>
      Applying Newton's second law:
      <DisplayEquation equation="      2T - T_2 = m_A a_A      " />

  </p>
  <p>
      Since the pulley is massless, that means <InlineEquation equation="T_2 = 2T" />      .
  </p>
  <p>
      The free body diagram on <InlineEquation equation="m_1" /> is as follows:
      <InlineCanvas id="rkc-xtp-s1" width="300" height="200" class="standaloneImage"/>
  </p>
  <p>
      Applying Newton's second law:
      <DisplayEquation equation="      2T - m_1 g = m_1 a_1      " />

  </p>
  <p>
      Finally, the free body diagram on <InlineEquation equation="m_2" /> is as follows:
      <InlineCanvas id="rkc-xtp-s2" width="300" height="200" />
  </p>
  <p>
      Applying Newton's second law:
      <DisplayEquation equation="            T - m_2 g = m_2 a_2      " />
  </p>
  <p>
      We have 3 unknowns, 2 equations. We apply our constraint equation from <a href="#rkc-xcp">#rkc-xcp</a> to relate
      the accelerations of <InlineEquation equation="m_1" /> and <InlineEquation equation="m_2" />:
      <DisplayEquation equation="      2a_1 + a_2 = 0      " />

  </p>
  <p>
      Solving for \(T\) from Newton's second law on <InlineEquation equation="m_2" />:
      <DisplayEquation equation="      T = m_2 a_2 + m_2 g      " />

  </p>
  <p>
      Plugging it into Newton's second law on <InlineEquation equation="m_1" />:
      <DisplayEquation equation="      2m_2 a_2 + 2m_2 g - m_1 g = m_1 a_1      " />

  </p>
  <p>
      Since <InlineEquation equation="a_2 = -2a_1" />      :
      <DisplayEquation equation="\\begin{aligned}      -4m_2 a_1 + 2m_2 g - m_1g &amp;= m_1 a_1 \\\\      g\\left(2m_2 - m_1 \\right) &amp;= a_1\\left(m_1 + 4m_2\\right)      \\end{aligned}" />

  </p>
  <p>
      Solving for <InlineEquation equation="a_1" />      :
      <DisplayEquation equation="      a_1 = \\frac{g\\left(2m_2 - m_1 \\right)}{m_1 + 4m_2}      " />

  </p>
  <p>
      Plugging that result into Newton's second law on <InlineEquation equation="m_1" /> and solving for \(T\):
      <DisplayEquation equation="      T = \\frac{m_1\\frac{g\\left(2m_2 - m_1 \\right)}{m_1 + 4m_2} + m_1g}{2}      " />

  </p>
  <p>
      Simplifying a little by multiplying the top and bottom by <InlineEquation equation="m_1 + 4m_2" />      :
      <DisplayEquation equation="      T = \\frac{m_1g(2m_2 - m_1) + m_1g(m_1 + 4m_2)}{2(m_1 + 4m_2)}      " />

  </p>
  <p>
      We obtain our final result for the tension in the rope \(T\):
      <DisplayEquation equation="      T = \\frac{3m_1m_2g}{m_1 + 4m_2}      " />
  </p>
  </div>
</Example>


</SubSubSection>

<SubSection title="Gears"  id="gears">

		<Image src="/dyn/rigid_body_kinematics/Gears1.png" width="5"></Image>
		
	<ul>
      <li>Larger gear - &gt; slower spin</li>
      <li>Accelerations - &gt; tangential are equal but centripetal are not</li>
      <li>Opposite direction</li>
    </ul>


    <Image src="/dyn/rigid_body_kinematics/GearsChains.png" width="7"></Image>
	

</SubSection> 
<SubSubSection title="Standard sign convention"  id="sign_convention">

    <Image src="/dyn/rigid_body_kinematics/GearsSignConvention.png" width="6"></Image>
	
	<Image src="/dyn/rigid_body_kinematics/GearsSignConvention2.png" width="7"></Image>
	
	<ol>
      <li> <InlineEquation equation="\\omega_{1z}" /> and  <InlineEquation equation="\\omega_{2z}" /> have opposite signs (the gears rotate in opposite direction) </li>
      <li>Smaller gears rotate faster</li>
    </ol>

<Example id="rkc-gsc" title="Rotating gears." solution="False">

  <div class="d-flex">
  <Image src="/dyn/rigid_body_kinematics/GearsExample1.png" width="5"></Image>

  </div>
</Example>


<Example id="rkc-csc" title="Rotating gears with chain." solution="False">

  <div class="d-flex">
  <Image src="/dyn/rigid_body_kinematics/GearsExample2.png" width="5"></Image>

  </div>
</Example>

	
</SubSubSection>

<SubSubSection title="Acceleration in contact (no slip)"  id="acce_contact_noslip_convention">

    <Image src="/dyn/rigid_body_kinematics/GearsContact.png" width="7"></Image>
</SubSubSection>

  <div hidden>
    <PrairieDrawCanvas id = "avs-ft-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "avs-fr-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "aml-fk-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "aml-fs-c" width = "1" height = "1"/>
    <PrairieDrawCanvas id = "aml-fw-c" width = "1" height = "1"/>
  </div>

<script src="/dyn/rigid_body_kinematics/canvases.js" is:inline></script>
</Layout>