---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import Example from "../../components/Example.astro"
import Center from "../../components/Center.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import Warning from "../../components/Warning.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title="Work and Energy">

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#energy'>Energy</a></li>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#potential_energy'>Potential energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#kinetic_energy'>Kinetic energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#energy_summary'>Summary energy</a></li>  
        </ul>	
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#work'>Work</a></li>
        <ul class='list-group list-group-flush py-0'>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_force'>Work done by a force</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#conserv_nonconserv_forces'>Conservative vs Non-conservative forces</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_friction'>Work done by friction</a></li> 
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_moment'>Work done by a moment</a></li> 
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#friction'>Friction</a></li>
        <ul class='list-group list-group-flush py-0'>   
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#solution_procedure'>Solution procedure</a></li>  
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#momentum'>Momentum</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#impulse'>Impulse</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#collisions'>Collisions</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#app_work_energy'>Applications</a></li>
  </ul>
</div>


<Section title="Work and Energy"></Section>

<SubSection title="Energy"  id="energy">

<SubSubSection title="Potential Energy" id="potential_energy" >
<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Potential energy </a> subsection here. </BlueText>

</SubSubSection>

<SubSubSection title="Kinetic Energy" id="kinetic_energy" >
<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Kinetic energy </a> subsection here. </BlueText>
</SubSubSection>

<SubSubSection title="Summary" id="energy_summary">
<p><b> Total energy </b></p>
<DisplayEquation equation=" \\begin{aligned}  E &amp;= T + V  \\\\     Total \\ Energy &amp;= Kinetic + Potential   \\end{aligned}" background="True"  id="wan-su"/>

<p><b> Kinetic </b></p>

<DisplayEquation equation=" T = \\frac{1}{2} m v^2 " background="True"  title= "Point Mass." id="sum-pm"/>

<DisplayEquation equation=" \\begin{aligned}  T &amp;= \\frac{1}{2} m \\ {v_c}^2 + \\frac{1}{2} I_c \\ \\omega^2  \\quad \\text{(about center of mass C)} \\\\    T &amp;= \\frac{1}{2} \\ I_O \\ \\omega^2  \\quad \\text{(if point O is pinned)}  \\\\    T &amp;= \\frac{1}{2} \\ I_M \\ \\omega^2  \\quad \\text{(if M is the instantaneous center)} \\end{aligned}"  background="True"   title="Rigid Body."  id="sum-rb" />

<p><b> Potential </b></p>

<DisplayEquation equation=" V = m \\ g \\ h_c    \\quad \\text{ (h is the height of center of mass)}" background="True"  title= "Gravitational." id="sum-pg"/>
<DisplayEquation equation=" V = \\frac{1}{2}\\  k \\ x^2    \\quad \\text{ (k is the spring stifness and x is elongation)}" background="True"  title= "Elastic." id="sum-pe"/>

</SubSubSection>

</SubSection>

<SubSection title="Work" id="work" >
    <DisplayEquation equation=" W = \\Delta{E} = E_f  -   E_0" background="True"  title="Work-Energy Principal" id="wan-we" />


<SubSubSection title="Work done by a Force"  id="work_force">
	<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Work, Forces and Moments </a> subsection here. </BlueText>

    
	<Example id="wfe-cf" title="Constant Force." solution=True>
    <div>
		<p> Work done by <InlineEquation equation=" \\vec{F}" /> is <InlineEquation equation="W = 6 J " />.  Assume no gravity, frictionless, constraint force <InlineEquation equation=" \\vec{R}" /> of the slot of the mass. </p>
	  <Image src="/Dynamics/WorkEnergyFigs/WorkForce_example1.png" width="10"></Image>
	  <p> What is the increase in energy of the mass? </p>
	     <ol  type="A">
			<li> <InlineEquation equation=" > 6 J" />  </li>
			<li> <InlineEquation equation=" 6 J" /> </li>
			<li> <InlineEquation equation=" < 6 J" /> </li>
			<li> Need to first find <InlineEquation equation=" \\vec{R}" />  </li>
		 </ol>	
    </div>
	  
	 <div slot="solution">
	  <p> B. <InlineEquation equation=" 6 J" /> </p>
	  <DisplayEquation equation=" \\Delta E = W = \\vec{R} \\ \\cdot \\Delta \\ \\vec{r}   \\quad , \\quad  \\vec{R}  \\perp  \\vec{r} "  />
	  </div>
    </Example>

</SubSubSection>

<SubSubSection title="Conservative vs Non-conservative forces"  id="conserv_nonconserv_forces">
	<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Conservative vs non-conservative forces </a> subsection here. </BlueText>
</SubSubSection>

<SubSubSection title="Work done by Friction"  id="work_friction">

<DisplayEquation equation=" W = \\Delta{E} = E_f  -   E_i  " background="True"   id="wan-wf"> </DisplayEquation>

<p> Work done by friction can be positive, zero, or negative. </p>

	<Example id="wdf-rws" title="Friction during rolling wihtout slip." solution=True>
    <div>
	  <Image src="/Dynamics/WorkEnergyFigs/WorkForce_example2.png" width="10"></Image>
	  <ol> 
		<li> Which direction does friction force <InlineEquation equation=" \\vec{F}" /> act? </li>
			 <ol  type="A">
				<li> Right </li>
				<li> Zero </li>
				<li> Left </li>
			 </ol>	
		<li> What is the work done by friction? </li>
			 <ol  type="A">
				<li> <InlineEquation equation=" > 0 " />  </li>
				<li> Zero </li>
				<li> <InlineEquation equation=" < 0" /> </li>
			 </ol>	
	   </ol>
    </div>
	  
	 <div slot="solution">
	 <ol>
	  <li> A. </li>
	  <li> B. 
	  <DisplayEquation equation=" W = \\int \\vec{F} \\cdot \\vec{r} \\,dt = 0   \\quad  \\text{as} \\quad  \\vec{r} = 0"  />
	    <ul>
			<li> Friction prevents slip </li>
			<li> Converts rotation motion into translational </li>
		</ul>
	  </li>
	 </ol>
	 </div>
    </Example>

</SubSubSection>

    
<SubSubSection title="Work done by a Moment"  id="work_moment">

<DisplayEquation equation=" W = \\int_{\\theta_0}^{\\theta_f} M_z \\,d\\theta = \\int_{t_0}^{t_f} M_z \\ \\dot{\\theta} \\,d\\theta " background="True"  id="wan-wm"> </DisplayEquation>

	<Example id="wdm-rm" title="Rod with friction moment." solution=True>
    <div>
	  <Image src="/Dynamics/WorkEnergyFigs/WorkForce_example3.png" width="10"></Image>
		<p> Rod shown above starts from rest, falls to horizontal, fiction moment of 2 Nm. What is the work done by friction? </p>
		<ol  type="A">
				<li> <InlineEquation equation=" \\geq 2 J" /> </li>
				<li> <InlineEquation equation=" 0 < W < 2 J" /> </li>
				<li> <InlineEquation equation=" = 0" /> </li>
				<li> <InlineEquation equation=" W \\leq -2 J" /> </li>
			 </ol>
    </div>
	  
	 <div slot="solution">
		<p> D.  </p>
		<InlineEquation equation=" W = \\int_{\\frac{\\pi}{4}}^0 (2 Nm) \\, d\\theta \\\\ =  \\mu \\ (\\Delta \\theta) \\\\ = (2 Nm)(0- \\frac{\\pi}{4}) = -\\frac{\\pi}{2} J " /> 

	 </div>
    </Example>

</SubSubSection>

</SubSection>


<SubSection title="Friction"  id="friction">
    

<DisplayTable id="friction_table">
    <thead>
        <tr>
            <th class="table-shaded">
		<strong>Stick</strong>
            </th>
            <th class="table-shaded">
                <strong>Transition</strong>
            </th>
            <th class="table-shaded"> 
                <strong>Slip</strong>
            </th>	
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
					<li> No relative motion <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/>  </li>
					<li> <InlineEquation equation="F \\leq \\mu N"/>  </li>
				</ul>
				<Image src="/Dynamics/WorkEnergyFigs/FrictionTableStick.png" width="10"></Image>
            </td>
            <td>
                <ul>
					<li> No relative motion <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/>  </li>
					<li> Critical friction force <InlineEquation equation="F = \\mu N"/>  </li>
				</ul>
				<Image src="/Dynamics/WorkEnergyFigs/FrictionTableTransition.png" width="10"></Image>
            </td>
	    <td>
       		    <ul>
					<li> Relative motion <InlineEquation equation="v_{px} \\neq 0"/> or <InlineEquation equation="a_{px} \\neq 0"/>  </li>
					<li> <InlineEquation equation="F = \\mu N"/>  </li>
					<li> <InlineEquation equation="\\hat{F}"/> opposed motion </li>
				</ul>
				<Image src="/Dynamics/WorkEnergyFigs/FrictionTableSlip.png" width="10"></Image>
	    </td>
	   
        </tr>
    </tbody>
</DisplayTable>
    
<SubSubSection title="Solution procedure"  id="solution_procedure">
    <p><b> Known Case </b></p>
			<ol> 
				<li> Determine case: stick, transition, slip (and direction) </li>
				<li> FBD, equations of motion (or statics), solve </li>
			</ol>
			
    <p><b> Unknown Case </b></p>
			<ol type="A"> 
				<li> Try stick </li>
					<ol>
						<li> Assume <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/> </li>
						<li> Solve for N, F </li>
						<li> Check <InlineEquation equation=" |F| \\leq \\mu |N|"/>
					</ol>
				<li> Try slip </li>
					<ol>
						<li> Assume <InlineEquation equation="F = \\mu N"/> (in one direction) </li>
						<li> Solve for motion of contact point and N, F </li>
						<li> Check <InlineEquation equation=" v_{px} \\neq 0"/> or <InlineEquation equation=" a_{px} \\neq 0"/> and <InlineEquation equation="\\hat{F}"/> opposed motion (<InlineEquation equation="\\hat{v}"/> or <InlineEquation equation="\\hat{a}"/>) </li>
					</ol>
				<li> Otherwise </li>
					<ol>
						<li> Assume <InlineEquation equation="F = \\mu N"/> (in opposite direction) and resume from step B.2 </li>
					</ol>
			</ol>
			
			
</SubSubSection>

</SubSection>


<SubSection title="Momentum"  id="momentum">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Momentum </a> subsection here  (first subsection). </BlueText>
</SubSection>



<SubSection title="Impulse" id="impulse">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Impulse </a> subsection here. </BlueText>
</SubSection>

<SubSection title="Collisions" id="collisions">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Collisions </a> subsection here. </BlueText>
</SubSection>

<SubSection title="Applications"  id="app_work_energy">


</SubSection>


</Layout>