---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import Example from "../../components/Example.astro"
import Center from "../../components/Center.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import Warning from "../../components/Warning.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title="Work and Energy">

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#energy'>Energy</a></li>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#potential_energy'>Potential energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#kinetic_energy'>Kinetic energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#energy_summary'>Summary</a></li>  
        </ul>	
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#work'>Work</a></li>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_energy'>Work and Energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_force'>Work done by a force</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#conserv_nonconserv_forces'>Conservative vs Non-conservative forces</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_friction'>Work done by friction</a></li> 
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_moment'>Work done by a moment</a></li> 
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#friction'>Friction</a></li>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#stick_transition_slip'>Stick, transition, slip</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#solution_procedure'>Solution procedure</a></li>  
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#momentum'>Momentum</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#impulse'>Impulse</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#collisions'>Collisions</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#app_work_energy'>Applications</a></li>
		<ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#app_wind_turbine'>Wind turbine</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#app_race_cars'>Race cars</a></li>
        </ul>
  </ul>
</div>


<Section title="Work and Energy"></Section>

<SubSection title="Energy"  id="energy">

<SubSubSection title="Potential Energy" id="potential_energy" >
<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Potential energy </a> subsection here. </BlueText>

</SubSubSection>

<SubSubSection title="Kinetic Energy" id="kinetic_energy" >
<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Kinetic energy </a> subsection here. </BlueText>
</SubSubSection>

<SubSubSection title="Summary" id="energy_summary">
<p><b> Total energy </b></p>
<DisplayEquation equation=" \\begin{aligned}  E &amp;= T + V  \\\\     Total \\ Energy &amp;= Kinetic + Potential   \\end{aligned}" background="True"  id="wan-su"/>

<p><b> Kinetic </b></p>

<DisplayEquation equation=" T = \\frac{1}{2} m v^2 " background="True"  title= "Point Mass." id="sum-pm"/>

<DisplayEquation equation=" \\begin{aligned}  T &amp;= \\frac{1}{2} m \\ {v_c}^2 + \\frac{1}{2} I_c \\ \\omega^2  \\quad \\text{(about center of mass C)} \\\\    T &amp;= \\frac{1}{2} \\ I_O \\ \\omega^2  \\quad \\text{(if point O is pinned)}  \\\\    T &amp;= \\frac{1}{2} \\ I_M \\ \\omega^2  \\quad \\text{(if M is the instantaneous center)} \\end{aligned}"  background="True"   title="Rigid Body."  id="sum-rb" />

<p><b> Potential </b></p>

<DisplayEquation equation=" V = m \\ g \\ h_c    \\quad \\text{ (h is the height of center of mass)}" background="True"  title= "Gravitational." id="sum-pg"/>
<DisplayEquation equation=" V = \\frac{1}{2}\\  k \\ x^2    \\quad \\text{ (k is the spring stifness and x is elongation)}" background="True"  title= "Elastic." id="sum-pe"/>

</SubSubSection>

</SubSection>

<SubSection title="Work" id="work" >

<SubSubSection title="Work and Energy"  id="work_energy">
    <DisplayEquation equation=" W = \\Delta{E} = E_f  -   E_0" background="True"  title="Work-Energy Principal" id="wan-we">
</SubSubSection>

<SubSubSection title="Work done by a Force"  id="work_force">
	<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Work, Forces and Moments </a> subsection here. </BlueText>

    
	<Example id="wfe-cf" title="Constant Force." solution=True>
    <div>
		<p> Work done by <InlineEquation equation=" \\vec{F}" /> is <InlineEquation equation="W = 6 J " />.  Assume no gravity, frictionless, constraint force <InlineEquation equation=" \\vec{R}" /> of the slot of the mass. </p>
	  <Image src="/Dynamics/WorkEnergyFigs/WorkForce_example1.png" width="10"></Image>
	  <p> What is the increase in energy of the mass? </p>
	     <ol  type="A">
			<li> <InlineEquation equation=" > 6 J" />  </li>
			<li> <InlineEquation equation=" 6 J" /> </li>
			<li> <InlineEquation equation=" < 6 J" /> </li>
			<li> Need to first find <InlineEquation equation=" \\vec{R}" />  </li>
		 </ol>	
    </div>
	  
	 <div slot="solution">
	  <p> B. <InlineEquation equation=" 6 J" /> </p>
	  <DisplayEquation equation=" \\Delta E = W = \\vec{R} \\ \\cdot \\Delta \\ \\vec{r}   \\quad , \\quad  \\vec{R}  \\perp  \\vec{r} "  />
	  </div>
    </Example>

</SubSubSection>

<SubSubSection title="Conservative vs Non-conservative forces"  id="conserv_nonconserv_forces">
	<BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/ren.html"> Conservative vs non-conservative forces </a> subsection here. </BlueText>
</SubSubSection>

<SubSubSection title="Work done by Friction"  id="work_friction">
    <Image src="/Dynamics/WorkEnergyFigs/WorkFriction.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Work done by a Moment"  id="work_moment">
	<Image src="/Dynamics/WorkEnergyFigs/WorkMoment.png" width="7"></Image>
</SubSubSection>

</SubSection>


<SubSection title="Friction"  id="friction">
    
<SubSubSection title="Stick, Transition, Slip"  id="stick_transition_slip">
    <Image src="/Dynamics/WorkEnergyFigs/Friction.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Solution procedure"  id="solution_procedure">
    <Image src="/Dynamics/WorkEnergyFigs/FrictionSolutionProcedure.png" width="7"></Image>
</SubSubSection>

</SubSection>


<SubSection title="Momentum"  id="momentum">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Momentum </a> subsection here  (first subsection). </BlueText>
</SubSection>



<SubSection title="Impulse" id="impulse">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Impulse </a> subsection here. </BlueText>
</SubSection>

<SubSection title="Collisions" id="collisions">
    <BlueText> Copy <a target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer" href="https://mechref.engr.illinois.edu/dyn/rec.html"> Collisions </a> subsection here. </BlueText>
</SubSection>

<SubSection title="Applications"  id="app_work_energy">

<SubSubSection title="Wind Turbine"  id="app_wind_turbine">
	Application for "Energy".
    <Image src="/Dynamics/WorkEnergyFigs/AppWindTurbine.png" width="7"></Image>
</SubSubSection>
    
<SubSubSection title="Race Cars"  id="app_race_cars">
	Application for "Friction".
	<Image src="/Dynamics/WorkEnergyFigs/AppRaceCars.png" width="7"></Image>
</SubSubSection>

</SubSection>


</Layout>