---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import Example from "../../components/Example.astro"
import Center from "../../components/Center.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import Warning from "../../components/Warning.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
---
<Layout title = "Work and energy" description = "Learn about work, kinetic energy, potential energy, friction, and momentum.">

<div slot="navtree">
  <ul class='list-group list-group-flush py-0'> 
    <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#energy'>Energy</a></li>
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#potential_energy'>Potential energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#kinetic_energy'>Kinetic energy</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#energy_summary'>Summary energy</a></li>  
        </ul>	
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#work'>Work</a></li>
        <ul class='list-group list-group-flush py-0'>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_force'>Work done by a force</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#conserv_nonconserv_forces'>Conservative vs Non-conservative forces</a></li>  
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_friction'>Work done by friction</a></li> 
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#work_moment'>Work done by a moment</a></li> 
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#friction'>Friction</a></li>
        <ul class='list-group list-group-flush py-0'>   
			<li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#solution_procedure'>Solution procedure</a></li>  
        </ul>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#momentum'>Momentum</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#impulse'>Impulse</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#collisions'>Collisions</a></li>
	<li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#app_work_energy'>Applications</a></li>
  </ul>
</div>


<Section title="Work and Energy"></Section>

<SubSection title="Energy"  id="energy"></SubSection>

<SubSubSection title="Potential Energy" id="potential_energy" >

<DisplayEquation equation="\\begin{aligned}\\vec{F} &amp;= -\\nabla V \\\\&amp; = -\\frac{\\partial V}{\\partial x}\\hat{\\imath} -\\frac{\\partial V}{\\partial y}\\hat{\\jmath} - \\frac{\\partial V}{\\partial z}\\hat{k}\\end{aligned}" id="ren-efp" title="Force and potential energy." background="True" derivation="True">
	<p>
		Beginning with <a href="#ren-ec">#ren-ec</a> and generalizing it to one-dimensional displacement in the y-direction, the equation becomes:
		<DisplayEquation equation="\\begin{aligned}		W &amp;= \\vec{F} \\cdot \\Delta{\\vec{y}}		\\end{aligned}" />

	</p>
	<p>
		Assuming the only force applied is the force <InlineEquation equation="\\vec{F}" />		, then the system gains potential energy, so the amount of work done is equal to <InlineEquation equation=" \\Delta{V}" />		.
		<DisplayEquation equation="\\begin{aligned}		\\Delta{V} &amp;= \\vec{F} \\cdot \\Delta{\\vec{y}}		\\end{aligned}" />

	</p>
	<p>
		Rearranging:
		<DisplayEquation equation="\\begin{aligned}		F &amp;= \\frac{\\Delta{V}}{\\Delta{y}}		\\end{aligned}" />

	</p>
	<p>
		Since we are interested in the force the field exerts on the system, due to Newton's Third Law, the force is equal and opposite. Therefore, the above result becomes:
		<DisplayEquation equation="\\begin{aligned}		F &amp;= -\\frac{\\Delta{V}}{\\Delta{y}}		\\end{aligned}" />

	</p>
	<p>
		If the change in potential energy and displacement is infinitesimally small, this becomes a derivative:
		<DisplayEquation equation="\\begin{aligned}		F &amp;= -\\frac{dV}{dy}		\\end{aligned}" />

	</p>
	<p>
		Generalizing this result to 3 dimensions, we use the gradient to obtain the following result:
		<DisplayEquation equation="\\begin{aligned}		\\vec{F} &amp;= -\\nabla V \\\\		&amp; = -\\frac{\\partial V}{\\partial x}\\hat{\\imath} -\\frac{\\partial V}{\\partial y}\\hat{\\jmath} - \\frac{\\partial V}{\\partial z}\\hat{k}		\\end{aligned}" />

	</p>
</DisplayEquation>

<Example id="ren-xgp" title="Gravitational potential energy." solution="True">
	<div class="d-flex flex-row">
		<p>
			Consider an object of mass \(m\) in the air under the influence of gravity.
			Derive the potential energy \(V_g\) of the object.
		</p>
		<PrairieDrawCanvas id="ren-xgp-c" width="300" height="200"/>
	</div>
	<div slot="solution">
		<p>
			Using <a href="#ren-efp">#ren-efp</a>, we can derive the gravitational potential energy. The force due to gravity is:
			<DisplayEquation equation="\\begin{aligned}			\\vec{F} &amp;= -mg\\hat{\\jmath}			\\end{aligned}" />

		  </p>
		  <p>
			Since gravity only acts in one direction, we can simplify <a href="ren-efp">#ren-efp</a> to:
			<DisplayEquation equation="\\begin{aligned}			F &amp;= -\\frac{dV}{dy} \\\\			-mg &amp;= -\\frac{dV}{dy} \\\\			mg \\, dy &amp;= dV \\\\			\\end{aligned}" />

		  </p>
		  <p>
			Integrating both sides:
			<DisplayEquation equation="\\begin{aligned}			\\int_{V_1}^{V_2} dU &amp;= \\int_{y_1}^{y_2} mg \\, dy \\\\			\\Delta V &amp; = mg\\Delta y			\\end{aligned}" />

		  </p>
		  <p>
			We can simplify the result by assuming \(U_1\) is zero, and \(y_1\) is at the reference zero-potential height. Therefore, the above becomes:
			<DisplayEquation equation="\\begin{aligned}			V_g &amp; = mgy = mgh			\\end{aligned}" />

		  </p>
		  <p>
			The above result also proves that gravity is a conservative force, as it only depends on the initial and final position of the object.
		</p>
	</div>
</Example>

<Example id="ren-xsp" title="Potential energy in a spring." solution="True">
	<div class="d-flex flex-row">
		<p>
			Consider an object of mass \(m\) attached to a spring of stiffness \(k\).
			Derive the potential energy \(V_s\) stored in the spring.
		</p>
		<PrairieDrawCanvas id="ren-xsp-c" width="300" height="200" />
	</div>
	<div slot="solution">
		<p>
			Using <a href="#ren-efp">#ren-efp</a>, we can derive the potential energy in a spring. 
			From the above diagram, the spring force is:
			<DisplayEquation equation="\\begin{aligned}			\\vec{F} &amp;= -kx\\hat{\\imath}			\\end{aligned}" />

		  </p>
		  <p>
			Since the restoring force in a spring only acts in one direction, we can simplify <a href="ren-efp">#ren-efp</a> to:
			<DisplayEquation equation="\\begin{aligned}			F &amp;= -\\frac{dV}{dx} \\\\			-kx &amp;= -\\frac{dV}{dx} \\\\			kx \\, dx &amp;= dV \\\\			\\end{aligned}" />

		  </p>
		  <p>
			Integrating both sides:
			<DisplayEquation equation="\\begin{aligned}			\\int_{V_1}^{V_2} dU &amp;= \\int_{x_1}^{x_2} kx \\, dx \\\\			\\Delta V &amp; = \\frac{1}{2}k\\Delta x^2 = \\frac{1}{2}k(x^2_2 - x^2_1)			\\end{aligned}" />

		  </p>
		  <p>
			We can simplify the result by assuming \(U_1\) is zero, and \(x_1\) is at the reference zero-potential displacement. Therefore, the above becomes:
			<DisplayEquation equation="\\begin{aligned}			V &amp; = \\frac{1}{2}kx^2			\\end{aligned}" />

		  </p>
		  <p>
			The above result also proves that the restoring force in a spring is a conservative force, as it only depends on the initial and final position of the object.
		</p>
	</div>
</Example>

<Warning title="Work and energy are not vectors." id="wrng-vec">
	<p>
		Work and energy are scalar quantities, as seen by the dot product that results in a scalar value. Positive and negative work/energy values represent either
		a gain or loss in energy in the system. For instance, in thermodynamics, work done by the system is negative, and work done on the system is positive.
		In mechanics, positive work represents an object speeding up (putting energy into the system), and negative work represents an object slowing 
		down (taking energy away from the system).
	</p>
</Warning>

<DisplayEquationCustom id="ren-eg" title="Gravitational potential energy with uniform gravitational acceleration \\(g\\)." background="True">
	<DisplayEquation equation="V_g = mgh_C" />
	<p>
		The distance \(h_C\) is the height of the center of mass
		of the body above the reference height.
	</p>
</DisplayEquationCustom>

<DisplayEquationCustom id="ren-es" title="Potential energy stored in a spring with stiffness \\(k\\)." background="True">
	<DisplayEquation equation="V_s = \\frac{1}{2}kx_C^2" />
	<p>
		The distance \(h_C\) is the height of the center of mass
		of the body above the reference height.
	</p>
</DisplayEquationCustom>

<DisplayEquation id="ren-ewp" equation="W = -\\Delta V" title="Work-potential energy theorem." background="True" derivation="true">
	<p>
		Beginning with the work definition:
		<DisplayEquation equation="\\begin{aligned}		W = \\vec{F} \\cdot \\Delta \\vec{r}		\\end{aligned}" />

	</p>
	<p>
		Assuming one-dimensional motion, and using the force-potential energy relationship:
		<DisplayEquation equation="\\begin{aligned}		W &amp; = -\\frac{\\Delta V}{\\Delta x}\\Delta x\\\\		&amp; = -\\Delta V		\\end{aligned}" />

	</p>
</DisplayEquation>

</SubSubSection>

<SubSubSection title="Kinetic Energy" id="kinetic_energy" >

<DisplayEquation id="ren-ek" equation="T = \\frac{1}{2}mv^2" title="Kinetic energy of a point mass." background="True" derivation="true">
	<p>
		We begin with Newton's 2nd Law assuming <InlineEquation equation="\\vec{F}" /> is the total external force applied:
		<DisplayEquation equation="\\begin{aligned}		\\vec{F} &amp;= m\\vec{a} \\\\		&amp; = m\\frac{d\\vec{v}}{dt}		\\end{aligned}" />

	</p>
	<p>
		Using <a href="#ren-efp">#ren-efp</a> to relate force and energy:
		<DisplayEquation equation="\\begin{aligned}		\\frac{dU(\\vec{r})}{d\\vec{r}} &amp; = m\\frac{d\\vec{v}}{dt}		\\end{aligned}" />

	</p>
	<p>
		Note that the negative is not found here, as we're interested in the force exerted on the field, not by the field (see derivation in <a href="#ren-efp">#ren-efp</a>).
	</p>
	<p>
		Rearranging then yields:
		<DisplayEquation equation="\\begin{aligned}		dU &amp; = m\\frac{d\\vec{v}}{dt} d\\vec{r}		\\end{aligned}" />

	</p>
	<p>
		We can then do the following:
		<DisplayEquation equation="\\begin{aligned}		dU &amp; = m\\frac{d\\vec{r}}{dt} d\\vec{v} \\\\		&amp; = m\\vec{v} \\, d\\vec{v} \\\\		\\end{aligned}" />

	</p>
	<p>
		Integrating both sides:
		<DisplayEquation equation="\\begin{aligned}		\\int_{U_1}^{U_2} dU &amp; = \\int_{\\vec{v_1}}^{\\vec{v_2}}m\\vec{v} \\, d\\vec{v} \\\\		\\Delta U &amp; = \\frac{1}{2}m\\left[\\vec{v} \\cdot \\vec{v}\\right]_{\\vec{v_1}}^{\\vec{v_2}} \\\\		\\end{aligned}" />

	</p>
	<p>
		Assuming an initial velocity of zero, and zero potential energy (i.e the object is at the reference height):
		<DisplayEquation equation="\\begin{aligned}		U &amp; = \\frac{1}{2}m\\left(\\vec{v} \\cdot \\vec{v}\\right)		\\end{aligned}" />

	</p>
	<p>
		Using conservation of energy, and the fact that a vector dotted with itself equals its magnitude squared (see <a href="rvi.html#rvi-eg">#rvi-eg</a>), then:
		<DisplayEquation equation="\\begin{aligned}		T &amp; = \\frac{1}{2}mv^2\\\\		\\end{aligned}" />

	</p>
	<p>
		Another perhaps less intuitive way is to begin with the work definition <a href="#ren-ef">#ren-ef</a>:
		<DisplayEquation equation="\\begin{aligned}		W &amp;= \\int_{\\vec{r}_1}^{\\vec{r}_2} \\vec{F} \\cdot d\\vec{r} \\\\		&amp; = \\int_{t_1}^{t_2} \\vec{F} \\cdot \\dot{\\vec{r}}dt \\\\ 		&amp; = \\int_{t_1}^{t_2} \\vec{F} \\cdot \\vec{v} \\, dt		\\end{aligned}" />

	</p>
	<p>
		Using Newton's 2nd Law assuming <InlineEquation equation="\\vec{F}" /> is the total external force applied:
		<DisplayEquation equation="\\begin{aligned}		W &amp; = \\int_{t_1}^{t_2} m\\vec{a} \\cdot \\vec{v} \\, dt 		\\end{aligned}" />

	</p>
	<p>
		Note that this integrand looks similar to the following:
		<DisplayEquation equation="\\begin{aligned}		  \\frac{d}{dt}(\\vec{u} \\cdot \\vec{u}) = \\dot{\\vec{u}} \\cdot \\vec{u} + \\vec{u} \\cdot \\dot{\\vec{u}} = 2\\vec{u} \\cdot \\dot{\\vec{u}}		\\end{aligned}" />

	</p>
	<p>
		By the fundamental theorem of calculus, this must mean that: 
		<DisplayEquation equation="\\begin{aligned}		  W = \\frac{1}{2}m\\left(\\vec{v} \\cdot \\vec{v}\\right)		\\end{aligned}" />

	</p>
	<p>
		And we've arrived at the last step of the previous derivation.
	</p>
</DisplayEquation>

<DisplayEquation id="ren-ekb" equation="T = \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho v^2 \\, dV" title="Kinetic energy of an arbitrary body." background="True" />

<DisplayEquation id="ren-ekr" equation="T = \\frac{1}{2} m v_C^2 + \\frac{1}{2} I_{C,\\hat\\omega} \\omega^2" title="Kinetic energy of a rigid body about the center of mass \\(C\\)." background="True" derivation="true">
	<p>
		Using <a href="#ren-ea">#ren-ea</a> below, in the case
		that the point \(Q\) is the center of mass \(C\) we see that
		<InlineEquation equation="\\vec{r}_{QC} = \\vec{r}_{CC} = 0" /> and so the middle term
		in <a href="#ren-ea">#ren-ea</a> is eliminated, leaving
		the result.
	</p>
</DisplayEquation>

<DisplayEquation id="ren-em" equation="T = \\frac{1}{2} I_{M,\\hat\\omega} \\omega^2" title="Kinetic energy of a rigid body about the instantaneous center \\(M\\)." background="True" derivation="true">
	<p>
		Using <a href="#ren-ea">#ren-ea</a> below, in the case
		that the point \(Q\) is the instantaneous center \(M\) we
		have that <InlineEquation equation="\\vec{v}_Q = \\vec{v}_M = 0" /> and so the first
		two terms are eliminated.
	</p>
</DisplayEquation>

<DisplayEquation id="ren-ea" equation="T = \\frac{1}{2} m v_Q^2 + m \\vec{v}_Q \\cdot \\left( \\vec\\omega \\times \\vec{r}_{QC} \\right) + \\frac{1}{2} I_{Q,\\hat\\omega} \\omega^2" title="Kinetic energy of a rigid body about an arbitrary body point \\(Q\\)." background="True" derivation="true">
	<p>
		We start with the general expression <a href="#rem-eb">#rem-eb</a>:

		<DisplayEquation equation="\\begin{aligned}		T &amp;= \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho v_P^2 \\, dV,		\\end{aligned}" />


		where we integrate over the body with a location \(P\). We
		choose a point \(Q\) fixed to the body and
		use <a href="rkg.html#rkg-er">#rkg-er</a> to express the
		velocity of \(P\) in terms of <InlineEquation equation="\\vec{v}_Q" /> and
		\(\vec\omega\), giving

		<DisplayEquation equation="\\begin{aligned}		T &amp;= \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho \\|\\vec{v}_Q + \\vec\\omega \\times \\vec{r}_{QP}\\|^2 \\, dV \\\\		&amp;= \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho		\\left(\\vec{v}_Q + \\vec\\omega \\times \\vec{r}_{QP}\\right)		\\cdot \\left(\\vec{v}_Q + \\vec\\omega \\times \\vec{r}_{QP}\\right) \\, dV \\\\		&amp;= \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho \\left( \\vec{v}_Q \\cdot \\vec{v}_Q		+ 2 \\vec{v}_Q \\cdot (\\vec\\omega \\times \\vec{r}_{QP})		+ (\\vec\\omega \\times \\vec{r}_{QP}) \\cdot (\\vec\\omega \\times \\vec{r}_{QP}) \\right) \\, dV.		\\end{aligned}" />


		We next use the fact that <InlineEquation equation="\\vec{v}_Q" /> and \(\vec\omega\)
		do not depend on the integration point within the body
		to pull them outside of the integrals, which results in

		<DisplayEquation equation="\\begin{aligned}		T &amp;= \\frac{1}{2} \\|\\vec{v}_Q\\|^2 \\iiint_{\\mathcal{B}} \\rho \\, dV		+ \\vec{v}_Q \\cdot \\bigg( \\vec\\omega \\times		\\iiint_{\\mathcal{B}} \\rho \\vec{r}_{QP} \\, dV \\bigg)		+ \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho		(\\vec\\omega \\times \\vec{r}_{QP}) \\cdot (\\vec\\omega \\times \\vec{r}_{QP}) \\, dV \\\\		&amp;= \\frac{1}{2} m v_Q^2 + \\vec{v}_Q \\cdot \\left( \\vec\\omega \\times m \\vec{r}_{QC} \\right)		+ \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho \\| \\vec\\omega \\times \\vec{r}_{QP} \\|^2 \\, dV \\\\		&amp;= \\frac{1}{2} m v_Q^2 + m \\vec{v}_Q \\cdot \\left( \\vec\\omega \\times \\vec{r}_{QC} \\right)		+ \\iiint_{\\mathcal{B}} \\frac{1}{2} \\rho \\omega^2 r_{QP}^2 \\sin^2\\theta \\, dV \\\\		&amp;= \\frac{1}{2} m v_Q^2 + m \\vec{v}_Q \\cdot \\left( \\vec\\omega \\times \\vec{r}_{QC} \\right)		+ \\frac{1}{2} \\omega^2 \\iiint_{\\mathcal{B}} \\rho (r_{QP} \\sin\\theta)^2 \\, dV,		\\end{aligned}" />


		where $\theta$ is the angle between \(\vec\omega\) and
		<InlineEquation equation="\\vec{r}_{QP}" />. But <InlineEquation equation=" r_{QP}\\sin\\theta" />
		is simply the
		orthogonal distance to point \(P\) from the line through
		\(Q\) in direction <InlineEquation equation="\\vec\\omega" />
		, so
		from <a href="rem.html#rem-ei">#rem-ei</a> we see that
		the final integral above is the moment of inertia
		<InlineEquation equation="I_{Q,\\hat\\omega}" />
  about the  axis through
		point \(Q\).
	</p>
</DisplayEquation>

<DisplayEquation id="ren-wk" equation="W = \\Delta T" title="Work-kinetic energy theorem." background="True" derivation="true">
	<p>
		Skipping the derivation shown in <a href="#ren-ep">#ren-ep</a>, taking the last step with the integral:
		<DisplayEquation equation="\\begin{aligned}		\\int dW &amp; = \\int_{\\vec{v_1}}^{\\vec{v_2}}m\\vec{v} \\, d\\vec{v} \\\\		W &amp; = \\frac{1}{2}m\\left[\\vec{v} \\cdot \\vec{v}\\right]_{\\vec{v_1}}^{\\vec{v_2}} \\\\		&amp; = \\Delta T		\\end{aligned}" />
	</p>
</DisplayEquation>

<DisplayEquationCustom id="ren-eco" title="Work-energy theorem." background="True">
	<DisplayEquation equation="W = \Delta T + \Delta V"/>
	<p>
		where \(W\) is the work done by non-conservative forces. If non-conservative forces are not present, then
		it becomes conservation of energy.
	</p>
</DisplayEquationCustom>

</SubSubSection>

<SubSubSection title="Summary" id="energy_summary">
<p><b> Total energy </b></p>
<DisplayEquation equation=" \\begin{aligned}  E &amp;= T + V  \\\\     Total \\ Energy &amp;= Kinetic + Potential   \\end{aligned}" background="True"  id="wan-su"/>

<p><b> Kinetic </b></p>

<DisplayEquation equation=" T = \\frac{1}{2} m v^2 " background="True"  title= "Point Mass." id="sum-pm"/>

<DisplayEquation equation=" \\begin{aligned}  T &amp;= \\frac{1}{2} m \\ {v_c}^2 + \\frac{1}{2} I_c \\ \\omega^2  \\quad \\text{(about center of mass C)} \\\\    T &amp;= \\frac{1}{2} \\ I_O \\ \\omega^2  \\quad \\text{(if point O is pinned)}  \\\\    T &amp;= \\frac{1}{2} \\ I_M \\ \\omega^2  \\quad \\text{(if M is the instantaneous center)} \\end{aligned}"  background="True"   title="Rigid Body."  id="sum-rb" />

<p><b> Potential </b></p>

<DisplayEquation equation=" V = m \\ g \\ h_c    \\quad \\text{ (h is the height of center of mass)}" background="True"  title= "Gravitational." id="sum-pg"/>

<DisplayEquation equation=" V = \\frac{1}{2}\\  k \\ x^2    \\quad \\text{ (k is the spring stifness and x is elongation)}" background="True"  title= "Elastic." id="sum-pe"/>

</SubSubSection>



<SubSection title="Work" id="work" >
    <DisplayEquation equation=" W = \\Delta{E} = E_f  -   E_0" background="True"  title="Work-Energy Principal" id="wan-we" />
</SubSection>

<SubSubSection title="Work done by a Force"  id="work_force">

	<DisplayEquation equation="\\begin{aligned}W &amp;= \\int_{\\vec{r}_1}^{\\vec{r}_2} \\vec{F} \\cdot d\\vec{r} \\\\&amp; = \\int_{t_1}^{t_2} \\vec{F} \\cdot \\dot{\\vec{r}}dt\\end{aligned}" background="True" title="Work done by a force \\(\\vec{F}\\)." id="ren-wf"/>

	<DisplayEquationCustom id="ren-wc" title="Work done by a constant force \\(\\vec{F}\\)." background="True">
		<DisplayEquation equation="W = \\vec{F} \\cdot \\Delta \\vec{r}"/>
		<p>
			The change in position is <InlineEquation equation=" \\Delta \\vec{r} = \\vec{r}_2 - \\vec{r}_1" />
			.
		</p>

		<div slot="derivation">
			<p>
				Compute the <a href="#ren-ef">work definition</a> for a
				constant force by pulling <InlineEquation equation="\\vec{F}" />
				out of the integral,
				so the resulting trivial integral is just the difference
				between the endpoints.
			</p>
		</div>
	</DisplayEquationCustom>

	<DisplayEquationCustom id="ren-wt" title="Work done by a constraint force \\(\\vec{F}\\)." background="True" derivation="true">
		<DisplayEquation equation="W = 0"/>
		<p>
			The work \(W\) is by a force of constraint force <InlineEquation equation="\\vec{F}" />
			.
		</p>

		<div slot="derivation">
			<p>
				By definition a constraint force <InlineEquation equation="\\vec{F}" /> does not
				permit movement in the direction that it applies. This means
				that the constraint force and the displacement are always orthogonal
				and the dot product between orthogonal vectors is zero.
			</p>
		</div>
	</DisplayEquationCustom>

	<DisplayEquationCustom id="ren-wm" title="Work done by a moment \\(M\\)." background="True" derivation="true">
		<DisplayEquation equation="\\begin{aligned}W &amp;= \\int_{\\theta_1}^{\\theta_2} M \\, d\\theta \\\\&amp; = \\int_{t_1}^{t_2} M \\dot\\theta \\, dt \\\\&amp;= M \\, \\Delta \\theta \\text{ (for constant M)}\\end{aligned}" />
		<p>
			The rotation angle \(\theta\) is measured around the same
			axis <InlineEquation equation="\\vec{a}" /> about which the moment \(M\) is applied.
		</p>
	</DisplayEquationCustom>
    
	<Example id="wfe-cf" title="Constant Force." solution=True>
    <div>
		<p> Work done by <InlineEquation equation=" \\vec{F}" /> is <InlineEquation equation="W = 6 J " />.  Assume no gravity, frictionless, constraint force <InlineEquation equation=" \\vec{R}" /> of the slot of the mass. </p>
	  <Image src="/dyn/work_and_energy/WorkForce_example1.png" width="10"></Image>
	  <p> What is the increase in energy of the mass? </p>
	     <ol  type="A">
			<li> <InlineEquation equation=" > 6 J" />  </li>
			<li> <InlineEquation equation=" 6 J" /> </li>
			<li> <InlineEquation equation=" < 6 J" /> </li>
			<li> Need to first find <InlineEquation equation=" \\vec{R}" />  </li>
		 </ol>	
    </div>
	  
	 <div slot="solution">
	  <p> B. <InlineEquation equation=" 6 J" /> </p>
	  <DisplayEquation equation=" \\Delta E = W = \\vec{R} \\ \\cdot \\Delta \\ \\vec{r}   \\quad , \\quad  \\vec{R}  \\perp  \\vec{r} "  />
	  </div>
    </Example>

</SubSubSection>

<SubSubSection title="Conservative vs Non-conservative forces"  id="conserv_nonconserv_forces">

	<p>
		A conservative force is one such that the work done by the force only depends on the initial 
		and final positions of the object (i.e independent of the path taken by the object). Examples of 
		conservative forces are gravity and spring force, where only the initial and final displacements are needed
		to calculate the work done by those forces. Examples of a non-conservative force are any type of drag forces
		(e.g friction, air resistance).
	</p>
	<p>
		The diagram below illustrates different paths and the work done by a conservative
		forces vs. a non-conservative force.
	</p>

	<PrairieDrawCanvas id="ren-cf-c" width="500" height="300" />

	<p>
		If the force moving an object from point \(A\) to point \(B\) was conservative, the work done by that force
		in all paths is equal. If the force was non-conservative, the work done by that force is not equal, and
		it depends on the path length.
	</p>
</SubSubSection>

<SubSubSection title="Work done by Friction"  id="work_friction">

<DisplayEquation equation=" W = \\Delta{E} = E_f  -   E_i  " background="True"   id="wan-wf"> </DisplayEquation>

<p> Work done by friction can be positive, zero, or negative. </p>

	<Example id="wdf-rws" title="Friction during rolling wihtout slip." solution=True>
    <div>
	  <Image src="/dyn/work_and_energy/WorkForce_example2.png" width="10"></Image>
	  <ol> 
		<li> Which direction does friction force <InlineEquation equation=" \\vec{F}" /> act? </li>
			 <ol  type="A">
				<li> Right </li>
				<li> Zero </li>
				<li> Left </li>
			 </ol>	
		<li> What is the work done by friction? </li>
			 <ol  type="A">
				<li> <InlineEquation equation=" > 0 " />  </li>
				<li> Zero </li>
				<li> <InlineEquation equation=" < 0" /> </li>
			 </ol>	
	   </ol>
    </div>
	  
	 <div slot="solution">
	 <ol>
	  <li> A. </li>
	  <li> B. 
	  <DisplayEquation equation=" W = \\int \\vec{F} \\cdot \\vec{r} \\,dt = 0   \\quad  \\text{as} \\quad  \\vec{r} = 0"  />
	    <ul>
			<li> Friction prevents slip </li>
			<li> Converts rotation motion into translational </li>
		</ul>
	  </li>
	 </ol>
	 </div>
    </Example>

</SubSubSection>

    
<SubSubSection title="Work done by a Moment"  id="work_moment">

<DisplayEquation equation=" W = \\int_{\\theta_0}^{\\theta_f} M_z \\,d\\theta = \\int_{t_0}^{t_f} M_z \\ \\dot{\\theta} \\,d\\theta " background="True"  id="wan-wm"> </DisplayEquation>

	<Example id="wdm-rm" title="Rod with friction moment." solution=True>
    <div>
	  <Image src="/dyn/work_and_energy/WorkForce_example3.png" width="10"></Image>
		<p> Rod shown above starts from rest, falls to horizontal, friction moment of 2 Nm. What is the work done by friction? </p>
		<ol  type="A">
				<li> <InlineEquation equation=" \\geq 2 J" /> </li>
				<li> <InlineEquation equation=" 0 < W < 2 J" /> </li>
				<li> <InlineEquation equation=" = 0" /> </li>
				<li> <InlineEquation equation=" W \\leq -2 J" /> </li>
			 </ol>
    </div>
	  
	 <div slot="solution">
		<p> D.  </p>
		<InlineEquation equation=" W = \\int_{\\frac{\\pi}{4}}^0 (2 Nm) \\, d\\theta \\\\ =  \\mu \\ (\\Delta \\theta) \\\\ = (2 Nm)(0- \\frac{\\pi}{4}) = -\\frac{\\pi}{2} J " /> 

	 </div>
    </Example>

</SubSubSection>




<SubSection title="Friction"  id="friction">
    

<DisplayTable id="friction_table">
    <thead>
        <tr>
            <th class="table-shaded" noborder>
		<strong>Stick</strong>
            </th>
            <th class="table-shaded">
                <strong>Transition</strong>
            </th>
            <th class="table-shaded"> 
                <strong>Slip</strong>
            </th>	
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
					<li> No relative motion <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/>  </li>
					<li> <InlineEquation equation="F \\leq \\mu N"/>  </li>
				</ul>
				<Image src="/dyn/work_and_energy/FrictionTableStick.png" width="10"></Image>
            </td>
            <td>
                <ul>
					<li> No relative motion <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/>  </li>
					<li> Critical friction force <InlineEquation equation="F = \\mu N"/>  </li>
				</ul>
				<Image src="/dyn/work_and_energy/FrictionTableTransition.png" width="10"></Image>
            </td>
	    <td>
       		    <ul>
					<li> Relative motion <InlineEquation equation="v_{px} \\neq 0"/> or <InlineEquation equation="a_{px} \\neq 0"/>  </li>
					<li> <InlineEquation equation="F = \\mu N"/>  </li>
					<li> <InlineEquation equation="\\hat{F}"/> opposed motion </li>
				</ul>
				<Image src="/dyn/work_and_energy/FrictionTableSlip.png" width="10"></Image>
	    </td>
	   
        </tr>
    </tbody>
</DisplayTable>
</SubSection>

<SubSubSection title="Solution procedure"  id="solution_procedure">
    <p><b> Known Case </b></p>
			<ol> 
				<li> Determine case: stick, transition, slip (and direction) </li>
				<li> FBD, equations of motion (or statics), solve </li>
			</ol>
			
    <p><b> Unknown Case </b></p>
			<ol type="A"> 
				<li> Try stick </li>
					<ol>
						<li> Assume <InlineEquation equation="v_{px} = 0"/> and <InlineEquation equation="a_{px} = 0"/> </li>
						<li> Solve for N, F </li>
						<li> Check <InlineEquation equation=" |F| \\leq \\mu |N|"/>
					</ol>
				<li> Try slip </li>
					<ol>
						<li> Assume <InlineEquation equation="F = \\mu N"/> (in one direction) </li>
						<li> Solve for motion of contact point and N, F </li>
						<li> Check <InlineEquation equation=" v_{px} \\neq 0"/> or <InlineEquation equation=" a_{px} \\neq 0"/> and <InlineEquation equation="\\hat{F}"/> opposed motion (<InlineEquation equation="\\hat{v}"/> or <InlineEquation equation="\\hat{a}"/>) </li>
					</ol>
				<li> Otherwise </li>
					<ol>
						<li> Assume <InlineEquation equation="F = \\mu N"/> (in opposite direction) and resume from step B.2 </li>
					</ol>
			</ol>
			
			
</SubSubSection>


<SubSection title="Momentum"  id="momentum">

	<p>
		Momentum is one of the most fundamental concepts in dynamical systems. It is often
		convenient to derive equations of motion using momentum. Furthermore, it is related
		to kinetic energy and Newton's second law. Conservation of momentum is one of the 
		three conservation laws in dynamics alongside conservation of energy and mass.
	</p>

	<DisplayEquation equation="\\vec{p} = m\\vec{v}_C"  background="True" title="Linear momentum of a rigid body." id="rec-lm"/>

	<p>
		Unlike energy, momentum is a vector, and its direction is the same as the direction of
		the velocity of the center of mass.
	</p>
	<p>
		Furthermore, angular momentum is analogous to linear momentum. The angular momentum of
		a rigid body is shown below.
	</p>

	<DisplayEquation equation="\\vec{L}_O = I_{O,\\, \\hat{a}} \\vec{\\omega}"  background="True" title="Angular momentum of a rigid body rotating about principal axis \\(\\hat{a}\\) through point \\(O\\)." id="rec-am"/>

	<p>
		Momentum is also closely linked to force and moments. More specifically,
		the change in momentum and Newton's second law can be related.
	</p>

	<DisplayEquation equation="\\begin{aligned}\\vec{F} &amp;= \\frac{d\\vec{p}_C}{dt}\\\\&amp;= \\dot{\\vec{p}_C}\\end{aligned}"  background="True" title="Newton's equations and linear momentum." id="rec-mn" derivation="True">
		<p>
			We begin with Newton's second law:
			<DisplayEquation equation="\\begin{aligned}			\\vec{F} &amp;= m\\vec{a}_C\\\\			&amp;= m \\frac{d\\vec{v}_C}{dt} \\\\			\\end{aligned}" />

		</p>
		<p>
			Assuming constant mass, then this can be rewritten as:
			<DisplayEquation equation="			\\begin{aligned}			\\vec{F} &amp;= \\frac{d}{dt} (m\\vec{v}_C)\\\\			&amp; = \\frac{d\\vec{p}_C}{dt} \\\\			&amp; = \\dot{\\vec{p}_C}			\\end{aligned}" />

		</p>
	</DisplayEquation>

	<Warning title="\\(\\vec{F} = \\dot{\\vec{p}_C}\\) is not applicable with variable mass." id="rec-wm">
		<p>
			In the derivation of <a href="#rec-mn">#ren-mn</a>, the mass was assumed to be constant.
			In the case of a rocket expelling propellant, this does not work. See 
			the rocket equation derivation further down.
		</p>
	</Warning>

	<p>
		As aforementioned, angular momentum is analogous to linear momentum,
		so the above equation can also be derived using moments and angular
		momentum.
	</p>

	<DisplayEquation equation="\\begin{aligned} \\vec{M}_{C} &amp;= \\frac{d\\vec{L}_C}{dt}\\\\&amp;= \\dot{\\vec{L}_C}\\end{aligned}"  background="True" title="Newton's equations and angular momentum." id="rec-mm" derivation="True">
		<p>
			We begin with Newton's second law:
			<DisplayEquation equation="\\begin{aligned}			 \\vec{M}_{C} &amp;= I_{C, \\hat{a}}\\vec{\\alpha}\\\\			&amp;= I_{C, \\hat{a}} \\frac{d\\vec{\\omega}}{dt} \\\\			\\end{aligned}" />

		</p>
		<p>
			Assuming constant moment of inertia, then this can be rewritten as:
			<DisplayEquation equation="\\begin{aligned}			 \\vec{M}_{C} &amp;= \\frac{d}{dt} (I_{C, \\hat{a}}\\vec{\\omega})\\\\			&amp; = \\frac{d\\vec{L}_C}{dt} \\\\			&amp; = \\dot{\\vec{L}_C}			\\end{aligned}" />

		</p>
	</DisplayEquation>

	<p>
		From the above equations, it is clear to see that linear momentum is conserved
		if and only if the <em>sum</em> of external forces acting on the system is 
		zero, and angular momentum is conserved if and only if the <em>sum</em>
		of external moments acting on the system is zero.
	</p>

	<DisplayEquation equation="\\begin{aligned} \\vec{F} &amp;= \\frac{d\\vec{p}_C}{dt}\\\\&amp;= \\vec{0}\\end{aligned}"  background="True" title="Conservation of linear momentum." id="rec-lmc" />

	<Warning title="Linear momentum is conserved if and only if the sum of external forces is zero" id="rec-wlmc">
		<p>
			As seen from <a href="#rec-lmc">#rec-lmc</a>, linear momentum is conserved if the sum of the external forces
			is zero. This is why choosing an appropriate system and
			drawing a free-body diagram is crucial in determining whether linear momentum is conserved.
			See examples below.
		</p>
	</Warning>

	<DisplayEquation equation="\\begin{aligned} \\vec{M}_{C} &amp;= \\frac{d\\vec{L}_C}{dt}\\\\&amp;= \\vec{0}\\end{aligned}"  background="True" title="Conservation of angular momentum." id="rec-amc" />

	<Warning title="Angular momentum is conserved if and only if the sum of external moments is zero." id="rec-wamc">
		<p>
			As seen from <a href="#rec-lmc">#rec-amc</a>, angular momentum is conserved if the sum of the external moments
			is zero. This is why choosing an appropriate system and
			and drawing a free-body diagram is crucial in determining whether angular momentum is conserved.
			See examples below.
		</p>
	</Warning>

	<Example title="An object in free-fall." id="rec-xlmc">
		<div class="d-flex flex-row">
			<p>
				An object is free-falling in the air under the influence of gravity.
				Take the system to be the object. Is linear momentum conserved?
			</p>
			<PrairieDrawCanvas id="rec-xlm-c" width="300" height="200"  />
		</div>
		
		<div slot="solution">
			<p>
				Begin with a free-body diagram of the forces acting on the system:
			</p>
			<PrairieDrawCanvas id="rec-xlm-f" width="300" height="200" />
			<p>
				Write <a href="#rec-mn">Newton's second law in terms of momentum</a>:
				<DisplayEquation equation="\\begin{aligned}				 \\vec{F} &amp;= \\frac{d\\vec{p}_C}{dt} \\\\				m\\vec{g} &amp; = \\frac{d\\vec{p}_C}{dt}				\\end{aligned}" />

			</p>
			<p>
				Verifying with <a href="#rec-lmc">conservation of linear momentum</a>, it's clear to see
				that the sum of external forces is not zero, as the weight of the object is external to the system,
				and is not balanced by any other force. Therefore, linear momentum is not conserved.
			</p>
			<p>
				If however, the system was chosen to be the object <em>and the Earth</em>, then linear
				momentum is conserved, as by Newton's third law, the Earth exerts a force equal to \(mg\),
				and the object exerts a force \(-mg\) on the Earth. Therefore, the sum of external forces 
				acting on the system is zero, and linear momentum is conserved.
			</p>
		</div>
	</Example>

	<Example title="A satellite in a circular orbit around the Earth." id="rec-xamc">
		<div class="d-flex flex-row">
			<p>
				A satellite of mass \(m\) is inserted into a circular orbit around the Earth.
				Take the system to be the satellite and the Earth. Ignoring the effects
				of gravity from any other celestial body, is angular momentum conserved?
			</p>
			<PrairieDrawCanvas id="rec-xam-c" width="300" height="200"  />
		</div>
		
		<div slot="solution">
			<p>
				Begin with a free-body diagram of the forces acting on the system. Assume the altitude of the satellite
				is negligble enough so that the gravitational acceleration is $g$. Otherwise, Newton's Law of Gravitation
				would need to be used to denote the forces.
			</p>
			<PrairieDrawCanvas id="rec-xam-f" width="300" height="200" />
			<p>
				Write <a href="#rec-mm">Newton's second law in terms of momentum</a>:
				<DisplayEquation equation="\\begin{aligned}				 \\vec{M}_C &amp;= \\frac{d\\vec{L}}{dt} \\\\				\\vec{r} \\times m\\vec{g} - \\vec{r} \\times m\\vec{g} &amp; = \\frac{d\\vec{L}}{dt}				\\end{aligned}" />

			</p>
			<p>
				Verifying with <a href="#rec-amc">conservation of angular momentum</a>, it's clear to see
				that the sum of external moments is zero, as the moment due to the pull of the Earth on the satellite is equal
				and opposite to the moment due to the pull of the satellite on the Earth. Moreover, those moments
				are equal to zero as the position vector $r$ and $mg$ are parallel, which yields a cross product of zero.
			</p>
		</div>
	</Example>

	<p>
		Interestingly, angular momentum is also related to linear momentum if 
		the object is a point mass.
	</p>


	<DisplayEquation equation="\\vec{L}_{O} = \\vec{r}_{OP} \\times \\vec{p}_P" id="rec-al" title="Angular momentum of a point mass \\(P\\) about a stationary point \\(O\\)." background="True" derivation="True">
		<p>
			Begin with the relationship between angular momentum and moment at <a href="#rec-mm">#rec-mm</a>
			<DisplayEquation equation="\\begin{aligned}			 \\vec{M}_C &amp;= \\frac{d\\vec{L}}{dt}\\\\			\\end{aligned}" />

		</p>
		<p>
			For simplicity's sake, assume there's only one external moment due to 
			a force applied at point \(P\). Recall the definition of moment due to a 
			force applied at point \(P\):
			<DisplayEquation equation="\\begin{aligned}			\\vec{M}_O &amp;= \\vec{r}_{OP} \\times \\vec{F}_P \\\\			\\end{aligned}" />

		</p>
		<p>
			Then <a href="#rec-mm">#rec-mm</a> becomes:
			<DisplayEquation equation="\\begin{aligned}			\\frac{d\\vec{L}}{dt} &amp;= \\vec{r}_{OP} \\times \\vec{F}_P			\\end{aligned}" />

		</p>
		<p>
			Using the relationship between linear momentum and force at <a href="#rec-mn">#rec-mn</a>
			, the above equation becomes:
			<DisplayEquation equation="\\begin{aligned}			\\frac{d\\vec{L}}{dt} &amp;= \\vec{r}_{OP} \\times \\vec{F}_P \\\\			&amp; = \\vec{r}_{OP} \\times \\frac{d\\vec{p}_P}{dt}			\\end{aligned}" />

		</p>
		<p>
			Multiplying both sides by $dt$ yields:
			<DisplayEquation equation="			d\\vec{L} = \\vec{r}_{OP} \\times d\\vec{p}_P			" />

		</p>
		<p>
			Recall integration by parts:
			<DisplayEquation equation="			\\int u \\, dw = uw - \\int w \\, du			" />

		</p>
		<p>
			Setting <InlineEquation equation="dw = d\\vec{p}_P and u = \\vec{r}_{OP}" />
			, then:
			<DisplayEquation equation="\\begin{aligned}			u = \\vec{r}_{OP} \\quad \\quad \\quad du = \\vec{v}_P \\,dt \\\\			w = \\vec{p}_P \\quad \\quad \\quad dw = d\\vec{p}_P			\\end{aligned}" />

		</p>
		<p>
			Therefore:
			<DisplayEquation equation="\\begin{aligned}			\\int d\\vec{L} &amp;= \\int \\vec{r}_{OP} \\times d\\vec{p}_P \\\\			&amp;= \\vec{r}_{OP} \\times \\vec{p}_P - \\int \\vec{p}_P \\times \\vec{v}_P \\,dt			\\end{aligned}" />

		</p>
		<p>
			However, <InlineEquation equation="\\vec{p}_P = m\\vec{v}_P" />
			as established in <a href="#rec-lm">#rec-lm</a>:
			<DisplayEquation equation="\\begin{aligned}			\\vec{L} &amp;= \\vec{r}_{OP} \\times \\vec{p}_P - \\int m\\vec{v}_P \\times \\vec{v}_P \\,dt			\\end{aligned}" />

		</p>
		<p>
			The cross product of a vector with itself is zero 
			(<a href="rvi.html#rvi-ez">cross product self-annihilation</a>). So the
			integral of <InlineEquation equation="\\int m\\vec{v}_P \\times \\vec{v}_P \\, dt" />			is a constant, which is 
			the initial angular momentum. Assuming this is zero, we arrive at the 
			desired expression.
		</p>
	</DisplayEquation>
</SubSection>



<SubSection title="Impulse" id="impulse">

	<p>
		Impulse is a quantity that describes the effect of a resultant force acting over
		time. Naturally, impulse is related to momentum.
	</p>
	
	<DisplayEquation equation="\\vec{J} = \\int_{t_1}^{t_2}  \\vec{F} \\, dt" id="rec-ij" title="Impulse." background="True"  />

	<p>
		Note that impulse, like momentum, is a vector. Its direction is the same direction
		as the net force.
	</p>
	<p>
		As seen from the equation above, this naturally leads to relating the impulse and
		momentum. Specifically, impulse is the change in momentum.
	</p>

	<DisplayEquation equation="\\vec{J} = \\Delta \\vec{p}_C" id="rec-jm" title="Impulse-momentum theorem." background="True" derivation="True">
		<p>
			From Newton's second law and linear momentum at <a href="#rec-mn">#rec-mn</a>:
			<DisplayEquation equation="\\vec{F} = \\frac{d\\vec{p}_C}{dt}" />

		</p>
		<p>
			Plugging into the impulse definition:
			<DisplayEquation equation="\\begin{aligned}\\vec{J} &amp;= \\int_{t_1}^{t_2} \\frac{d\\vec{p}_C}{dt} \\, dt \\\\&amp;= \\int_{\\vec{p}_1}^{\\vec{p}_2} d\\vec{p} \\\\&amp;= \\vec{p}_2 - \\vec{p}_1 = \\Delta \\vec{p}_C\\end{aligned}" />


		</p>
	</DisplayEquation>

	<Example title="The Rocket Equation" id="rec-xr" solution="false">
		<p>
			As stated in the warning at <a href="#rec-wm">#rec-wm</a>, the 
			relationship between Newton's equations and linear momentum are 
			not applicable for a system whose mass is changing with time. To use
			that relationship, a few things must be changed. Consider the figure 
			below of a rocket.
		</p>
		<PrairieDrawCanvas id="rec-xr-c" width="600" height="200" />
		<p>
			The vector <InlineEquation equation="\\vec{v}" /> is the velocity of the center of mass of the rocket
			relative to an inertially fixed point in space, \(O\). The vector <InlineEquation equation="\\vec{c}" />
			is the effective exhaust velocity. It is the average equivalent velocity
			at which propellant is ejected from the rocket <em>relative to the rocket</em>.
			We will explain further how it relates to what is often a characteristic value of
			the performance of an engine, called the <em>specific impulse</em>, denoted by <InlineEquation equation="I_{sp}" />.
		</p>
		<p>
			Since the rocket is ejecting propellant, the rate at which this propellant is expelled is
			the mass flow rate, denoted by <InlineEquation equation=" \\dot{m}" />. In this case, it will be <InlineEquation equation="-\\dot{m} " /> as the 
			rocket is expelling propellant. To derive the rocket equation, we will need to calculuate
			the momentum at time \(t\), and at time \(t + dt\), a little time after expelling propellant.
		</p>
		<p>
			The momentum at time \(t\) is simply <InlineEquation equation="\\vec{p}_1 = m\\vec{v}" />. The momentum at time \(t + dt\)
			consists of two parts: the momentum of the rocket without the mass lost to propellant expulsion,
			and the momentum of the propellant leaving the rocket. First, the momentum of the rocket at 
			time \(t + dt\) is given by:
			<DisplayEquation equation="\\begin{aligned}\\vec{p}_{2, rocket} = (m + \\dot{m}dt)(\\vec{v} + d\\vec{v})\\end{aligned}" />

		</p>
		<p>
			You can expand the result to make sure it makes sense:
			<DisplayEquation equation="\\begin{aligned}\\vec{p}_{2, rocket} &amp;= (m + \\dot{m}dt)(\\vec{v} + d\\vec{v}) \\\\&amp; = m\\vec{v} + md\\vec{v} + \\dot{m}\\vec{v}dt + \\dot{m}d\\vec{v}dt\\end{aligned}" />

		</p>
		<p>
			The expression <InlineEquation equation="m\\vec{v}" /> is the initial momentum of the rocket. 
			The expression <InlineEquation equation="md\\vec{v}" /> is the momentum of the rocket due to the velocity change.
			The expression <InlineEquation equation="\\dot{m}\\vec{v}dt" /> is the momentum of the propellant at the initial velocity.
			(Note that <InlineEquation equation="\\dot{m}dt" /> is the mass of the propellant since <InlineEquation equation=" \\dot{m} = -\\frac{dm}{dt}" />).
			The expredssion <InlineEquation equation="\\dot{m}d\\vec{c}dt" /> is the momentum of the propellant due to the velocity change.
		</p>
		<p>
			The second part of the momentum is the momentum of the propellant leaving the rocket. This
			expression is a little tricky, as the effective exhaust velocity is <em>relative to the rocket</em>
			as aforementioned, so we need to obtain the effective exhaust velocity <InlineEquation equation="\\vec{c}" /> relative to the inertially
			fixed point, \(O\). Otherwise, Newton's equations cannot work. The exhaust velocity relative to \(O\) is:
			<DisplayEquation equation="\\vec{c}_{O} = \\vec{c}_{rocket} + \\vec{v}_{rocket, O} = \\vec{c} + \\vec{v} " />

		</p>
		<p>
			Then the momentum of the propellant being exhausted:
			<DisplayEquation equation="\\vec{p}_{2, p} = -\\dot{m}dt(\\vec{c} + \\vec{v})" />

		</p>
		<p>
			So the total momentum at time \(t + dt\):
			<DisplayEquation equation="\\vec{p}_2 = (m + \\dot{m}dt)(\\vec{v} + d\\vec{v}) - \\dot{m}dt(\\vec{c} + \\vec{v})" />

		</p>
		<p>
			By the impulse-momentum theorem:
			<DisplayEquation equation="\\begin{aligned}\\vec{J} = \\Delta \\vec{p}_C =  \\vec{F} dt\\end{aligned}" />

		</p>
		<p>
			Plugging into the above equation:
			<DisplayEquation equation="\\begin{aligned}(m + \\dot{m}dt)(\\vec{v} + d\\vec{v}) - \\dot{m}dt(\\vec{c} + \\vec{v}) - m\\vec{v} =  \\vec{F} dt\\end{aligned}" />

		</p>
		<p>
			Expanding:
			<DisplayEquation equation="\\begin{aligned}m\\vec{v} + md\\vec{v} + \\dot{m}\\vec{v}dt + \\dot{m}d\\vec{v}dt - \\dot{m}\\vec{c}dt - \\dot{m}\\vec{v}dt - m\\vec{v} =  \\vec{F} dt\\end{aligned}" />

		</p>
		<p>
			Simplifying:
			<DisplayEquation equation="\\begin{aligned}md\\vec{v} + \\dot{m}d\\vec{v}dt - \\dot{m}\\vec{c}dt &amp;=  \\vec{F}dt \\\\md\\vec{v} + \\dot{m}dt(d\\vec{v} - \\vec{c}) &amp;=  \\vec{F}dt\\end{aligned}" />

		</p>
		<p>
			Dividing by $dt$:
			<DisplayEquation equation="\\begin{aligned}m\\frac{d\\vec{v}}{dt} + \\dot{m}(d\\vec{v} - \\vec{c}) &amp;=  \\vec{F} \\\\m\\vec{a} + \\dot{m}(d\\vec{v} - \\vec{c}) &amp;=  \\vec{F}\\end{aligned}" />

		</p>
		<p>
			This shows that Newton's equations in linear momentum form do not work
			with variable mass, as <InlineEquation equation="\\vec{F} - m\\vec{a}" /> is not zero in this case.
			Rearranging one more time:
			<DisplayEquation equation="\\begin{aligned}m\\frac{d\\vec{v}}{dt} = \\dot{m}(d\\vec{v} - \\vec{c}) +  \\vec{F}\\end{aligned}" />

		</p>
		<p>
			Note the positive next to <InlineEquation equation="\\dot{m}" /> is due to the loss of mass, as aforementioned earlier.
			The above equation is called the <em>ideal rocket equation</em>, or <a href="https://en.wikipedia.org/wiki/Tsiolkovsky_rocket_equation"><em>Tsiolkovsky rocket equation</em></a>.
		</p>
	</Example>
</SubSection>

<SubSection title="Collisions" id="collisions">

	<p>
		A collision is when two or more objects exert forces on each other in a relatively short time. These problems are usually
		solved using conservation of momentum and energy. There are two general types of collisions: elastic and inelastic collisions.
		They are categorized by the state of the kinetic energy before and after the collisions:
	</p>

	<DisplayTable id="rec-tc">
		<thead>
			<tr>
				<th noborder>type of collision</th>
                <th>definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>elastic collisions</td>
				<td>collisions where there is no loss in kinetic energy</td> 
			</tr>
			<tr>
				<td>inelastic collisions</td>
				<td>collisions where there are losses in kinetic energy, typically due to internal friction</td>
			</tr>
		</tbody>
	</DisplayTable>

	<p>
		Typically in collisions, it is assumed it takes place on a frictionless surface. This is important, since if friction were to be present, the system
		is not isolated, and therefore momentum is not conserved. 
	</p>
	<p>
		The types of collisions that will be noted are <em>perfectly</em> inelastic and elastic collisions.
	</p>
	<p>
		The steps involved in solving a perfectly elastic collision with conservation of momentum and energy are detailed as follows:
	</p>

	<DisplayEquationCustom id="rec-ecp" title="Solution procedure of perfectly elastic collisions." background="True">
		<DisplayEquation equation="\\begin{aligned}                            m_1 \\vec{v}_{1, i} + m_2 \\vec{v}_{2, i} &amp;= m_1 \\vec{v}_{1, f} + m_2 \\vec{v}_{2, f} \\\\                            \\frac{1}{2} m_1 v_{1, i}^2 + \\frac{1}{2} m_2 v_{2, i}^2 &amp; = \\frac{1}{2} m_1 v_{1, f}^2 + \\frac{1}{2} m_2 v_{2, f}^2                            \\end{aligned}" />
		<p>
			where subscripts \(i, f\) denote initial and final velocities, respectively.
		</p>
	</DisplayEquationCustom>

	<p>
		Below an animation to simulate a 1D perfectly elastic collision between two blocks.
	</p>

	<PrairieDrawCanvas id="rec-eco-c" width="600" height="200">
		<p class="controls">
			<button class="anim-toggle:rec-eco-c" onclick="rec_eco_c.toggleAnim()">animation</button>
			<button class="reset:rec-eco-c" onclick="rec_eco_c.reset()">reset</button>
		</p>
		
		<Row> 
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(m_1\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="1" max="50" value="0" step="1" class="data-option:rec-eco-c:m1 flex-grow-1 mx-2" onchange="rec_eco_c.setOption('m1', this.value)" oninput="rec_eco_c.setOption('m1', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(v_1\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="-5" max="5" value="0" step="1" class="data-option:rec-eco-c:v1x flex-grow-1 mx-2" onchange="rec_eco_c.setOption('v1x', this.value)" oninput="rec_eco_c.setOption('v1x', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(m_2\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="1" max="50" value="0" step="1" class="data-option:rec-eco-c:m2 flex-grow-1 mx-2" onchange="rec_eco_c.setOption('m2', this.value)" oninput="rec_eco_c.setOption('m2', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(v_2\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="-5" max="5" value="0" step="1" class="data-option:rec-eco-c:v2x flex-grow-1 mx-2" onchange="rec_eco_c.setOption('v2x', this.value)" oninput="rec_eco_c.setOption('v2x', this.value)"/>
					</div>
				</div>
			</Col>
		</Row>
	</PrairieDrawCanvas>

	<p>
		The solution procedure to solve a perfectly inelastic collisions is simpler, as the objects stick together after an inelastic collision.
		It involves using conservation of momentum only, as kinetic energy is lost in the collision, as aforementioned.
	</p>

	<DisplayEquationCustom id="rec-icp" title="Solution procedure of perfectly inelastic collisions." background="True">
		<DisplayEquation equation="m_1 \\vec{v}_{1, i} + m_2 \\vec{v}_{2, i} = (m_1 + m_2)\\vec{v}_f" />
		<p>
			where subscripts \(i, f\) denote initial and final velocities, respectively.
		</p>
	</DisplayEquationCustom>


	<p>
		Note the <InlineEquation equation="\\vec{v}_f" /> shown above is the velocity of the <em>center of mass</em>. It is the same before and after the collision due to conservation of
		momentum where the net external force is zero (and therefore, the acceleration of the center of mass).
	</p>
	<p>
		Below is an animation to simulate a 1D perfectly inelastic collision between two blocks.
	</p>

	<PrairieDrawCanvas id="rec-ico-c" width="600" height="200">
		<p class="controls">
			<button class="anim-toggle:rec-ico-c" onclick="rec_ico_c.toggleAnim()">animation</button>
			<button class="reset:rec-ico-c" onclick="rec_ico_c.reset()">reset</button>
		</p>
		
		<Row> 
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(m_1\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="1" max="50" value="0" step="1" class="data-option:rec-ico-c:m1 flex-grow-1 mx-2" onchange="rec_ico_c.setOption('m1', this.value)" oninput="rec_ico_c.setOption('m1', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(v_1\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="-5" max="5" value="0" step="1" class="data-option:rec-ico-c:v1x flex-grow-1 mx-2" onchange="rec_ico_c.setOption('v1x', this.value)" oninput="rec_ico_c.setOption('v1x', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(m_2\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="1" max="50" value="0" step="1" class="data-option:rec-ico-c:m2 flex-grow-1 mx-2" onchange="rec_ico_c.setOption('m2', this.value)" oninput="rec_ico_c.setOption('m2', this.value)"/>
					</div>
				</div>
			</Col>
			<Col values="12 md-6">
				<div class="d-flex  align-items-baseline">
					<p class="m-0 flex-shrink-1">\(v_2\)</p>
					<div class="flex-grow-1 d-flex align-items-baseline">
						<input type="range" min="-5" max="5" value="0" step="1" class="data-option:rec-ico-c:v2x flex-grow-1 mx-2" onchange="rec_ico_c.setOption('v2x', this.value)" oninput="rec_ico_c.setOption('v2x', this.value)"/>
					</div>
				</div>
			</Col>
		</Row>
	</PrairieDrawCanvas>

	<p>
		One way collisions can be classified into elastic and inelastic collisions is using what is called <em>the coefficient of restitution</em>.
		It is the ratio of the final to initial relative speeds between two objects after the collision. It can be a way to solve collisions that
		are not classified as perfectly inelastic or elastic, as well as collisions of more than two objects.
	</p>

	<DisplayEquationCustom id="rec-cor" title="Coefficient of restitution." background="True" derivation="True">
		<DisplayEquation equation="e = \\frac{\\left|v_{2,f} - v_{1,f}\\right|}{\\left|v_{2,i} - v_{1,i}\\right|}" />
		<p>
			where subscripts \(i, f\) denote initial and final velocities, respectively.
		</p>

		<div slot="derivation">
			<p>
				Using the solution procedure of perfectly elastic collisions at <a href="#rec-ecp">#rec-ecp</a> and assuming
				a one-dimensional collision:
				<DisplayEquation equation="\\begin{aligned}m_1 v_{1, i} + m_2 v_{2, i} &amp;= m_1 v_{1, f} + m_2 v_{2, f} \\\\\\frac{1}{2} m_1 v_{1, i}^2 + \\frac{1}{2} m_2 v_{2, i}^2 &amp; = \\frac{1}{2} m_1 v_{1, f}^2 + \\frac{1}{2} m_2 v_{2, f}^2\\end{aligned}" />

			</p>
			<p>
				From conservation of kinetic energy:
				<DisplayEquation equation="\\begin{aligned}m_1 \\left(v_{1, i}^2 - v_{1, f}^2\\right) &amp;= m_2 \\left(v_{2, f}^2 - v_{2, i}^2\\right)\\end{aligned}" />

			</p>
			<p>
				Using the difference of two squares :
				<DisplayEquation equation="\\begin{aligned}m_1 \\left(v_{1, i} - v_{1, f}\\right) \\left(v_{1, i} + v_{1, f}\\right) &amp;= m_2 \\left(v_{2, f} - v_{2, i}\\right) \\left(v_{2, f} + v_{2, i}\\right)\\end{aligned}" />

			</p>
			<p>
				From conservation of linear momentum:
				<DisplayEquation equation="\\begin{aligned}m_1 \\left(v_{1, i} - v_{1, f}\\right) &amp;= m_2 \\left(v_{2, f} - v_{2, i}\\right)\\end{aligned}" />

			</p>
			<p>
				Divide the conservation of linear momentum equation:
				<DisplayEquation equation="\\begin{aligned}\\frac{m_1 \\left(v_{1, i} - v_{1, f}\\right)}{m_2 \\left(v_{2, f} - v_{2, i}\\right)} &amp;= 1\\end{aligned}" />

			</p>
			<p>
				Divide the conservation of kinetic energy equation:
				<DisplayEquation equation="\\begin{aligned}\\frac{m_1 \\left(v_{1, i} - v_{1, f}\\right)}{m_2 \\left(v_{2, f} - v_{2, i}\\right)} &amp;= \\frac{\\left(v_{2, f} + v_{2, i}\\right)}{\\left(v_{1, i} + v_{1, f}\\right)}\\end{aligned}" />

			</p>
			<p>
				Substituting the division from conservation of momentum into the division from the conservation of kinetic energy:
				<DisplayEquation equation="\\begin{aligned}1 &amp;= \\frac{\\left(v_{2, f} + v_{2, i}\\right)}{\\left(v_{1, i} + v_{1, f}\\right)}\\end{aligned}" />

			</p>
			<p>
				Rearranging:
				<DisplayEquation equation="\\begin{aligned}v_{1, i} + v_{1, f} &amp;= v_{2, f} + v_{2, i} \\\\v_{1, i} - v_{2, i} &amp; = -\\left(v_{1, f} - v_{2, f}\\right)\\end{aligned}" />

			</p>
			<p>
				Finally, one more divison and taking the absolute value:
				<DisplayEquation equation="\\begin{aligned}1 &amp; = \\frac{\\left|v_{2,f} - v_{1,f}\\right|}{\\left|v_{2,i} - v_{1,i}\\right|}\\end{aligned}" />

			</p>
			<p>
				Which equals 1, which is the coefficient of restitution for a perfectly elastic collision.
			</p>
		</div>
	</DisplayEquationCustom>

	<p>
		The range of values of the coefficient of restitution corresponds to different types of collisions. It is a dimensionless parameter, usually between
		0 and 1. Those ranges are tabulated below.
	</p>

	<DisplayTable id="rec-tc">
		<thead>
			<tr>
				<th noborder>range</th>
				<th>type of collision</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>\(e = 0\)</td>
				<td>This corresponds to a perfectly inelastic collision. The velocity of both objects after the collision is the same</td> 
			</tr>
			<tr>
				<td>\(0 &lt; e &lt; 1\)</td>
				<td>This corresponds to an inelastic collision that happens in the real world, where some kinetic energy is lost</td>
			</tr>
			<tr>
				<td>\(e = 1\)</td>
				<td>This corresponds to a perfectly elastic collision, where no kinetic energy is lost.</td>
			</tr>
			<tr>
				<td>\(e &gt; 1\)</td>
				<td>This corresponds to a superelastic collision, where energy is gained/released, like a chemical reaction, a reduction of rotational energy.</td>
			</tr>
		</tbody>
		
	</DisplayTable>

	<CalloutContainer slot="cards">
		<CalloutCard>
			<p>
				Counting the number of collisions with two simple objects, such as blocks,
				billiard balls, can be used to estimate \(\pi\) to any accuracy. Mathematician
				<a href="https://www.ux1.eiu.edu/~cfgg/"><i>Gregory Galperin</i></a> of
				Eastern Illinois University discovered this in 1995 and 
				<a href="https://www.maths.tcd.ie/~lebed/Galperin.%20Playing%20pool%20with%20pi.pdf">published</a> this in 2003.
				Famous YouTuber <a href="https://www.youtube.com/c/3blue1brown"><i>3Blue1Brown</i></a> 
				made a <a href="https://www.youtube.com/watch?v=HEfHFsfGXjs">video</a> on this explaining this
				seemingly paradoxical result. However, looking at the velocity phase space,
				which is graphing the velocity of \(m_1\) on one axis, and the velocity of \(m_2\)
				on another. This arises from conservation of kinetic energy in elastic collisions.
			</p>
		</CalloutCard>
		<CalloutCard>
			<p>
				There was a time when hitting the perfect shot in a game of billiards could result in the ball to explode. 
				They were made from <a href="https://pubchem.ncbi.nlm.nih.gov/compound/Nitrocellulose"><em>nitrocellulose</em></a>, which is
				a plastic that is easily combustible, as an alternative to ivory. This corresponds to a coefficient of restitution greater than 1.
			</p>
		</CalloutCard>
	</CalloutContainer>

</SubSection>

<SubSection title="Applications"  id="app_work_energy">


</SubSection>


</Layout>

<script src="/dyn/work_and_energy/canvases.js" is:inline></script>