--- 
import Enumerate from "../../components/Enumerate.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayEquationCustom from "../../components/DisplayEquationCustom.astro"
import Example from "../../components/Example.astro"
import Center from "../../components/Center.astro"
import SubSubSubSection from "../../components/SubSubSubSection.astro"
import Warning from "../../components/Warning.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
---
<Layout title="Center of Mass">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#centroid'>Centroid</a></li> 
		  <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#basic_shapes'>Centroids of Basic Shapes</a></li>
		  <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#composite_shapes'>Finding Centroids Using Composite Shapes</a></li>
      </ul>
      </div>

<Section title="Center of Mass, Gravity, and Volume" id="center_of_mass">

<p>
The center of mass, center of gravity, and center of volume of an object are all very similar. In fact, they are all the same if the density of the object is constant and gravity is constant along an object. 
</p>

<p>
The center of mass, center of gravity, and center of volume are all represented by a point <InlineEquation equation="(\\bar{x},\\bar{y}, \\bar{z})" />.
</p>

<DisplayTable id="mvdiag_table">
    <thead>
        <tr>
	    <th class="table-shaded"> 
                <strong></strong>
            </th>            
	   <th class="table-shaded">
		<strong>Center of Mass</strong>
            </th>
            <th class="table-shaded">
                <strong>Center of Gravity</strong>
            </th>
            <th class="table-shaded"> 
                <strong>Center of Volume <br> (Centroid)</strong>
            </th>	
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                <strong>Definition</strong>
            </td>
            <td>
                Average location of <br> the mass of an object
            </td>
	    <td>
               Average location of <br> the weight of an object 
           </td>
	    <td> 
		Geometric center <br> of an object 
	   </td>
           </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                <strong>Equation<br> (Summation <br> Form)</strong>
            </td>
            <td>
                <DisplayEquation equation="\\bar{x} = \\frac{\\sum \\tilde{x}_i m_i}{\\sum m_i}" />            
            </td>
	    <td>
            	<DisplayEquation equation="\\bar{x} = \\frac{\\sum \\tilde{x}_i W_i}{\\sum W_i}" />
        </td>
	    <td>
                <DisplayEquation equation="\\bar{x} = \\frac{\\sum \\tilde{x}_i V_i}{\\sum V_i}" />
        </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                <strong>Equation <br> (Integral <br> Form)</strong>
            </td>
            <td>
                 <DisplayEquation equation=" \\bar{x} = \\frac{\\int \\tilde{x} \\,dm}{\\int dm}"   />        
            </td>
	    <td>
            	  <DisplayEquation equation=" \\bar{x} = \\frac{\\int \\tilde{x} \\,dW}{\\int dW}"  />   
        </td>
	    <td>
                <DisplayEquation equation=" \\bar{x} = \\frac{\\int \\tilde{x} \\,dV}{\\int dV}"  /> 
        </td>
        </tr>
    </tbody>
</DisplayTable>

  <DisplayEquation title="When are Centers of Gravity, Mass, and Volume the same?" id="com" background="True" equation="" derivation="True">
    
      <Image src='/Statics/COMFigures/CoGMVDerivation.jpg' width='5'> </Image>

  </DisplayEquation>

</Section>

<SubSection title="Centroid" id="centroid">

<p>
    The centroid denotes the <em>geometric</em> center of an object. When an object is made of a homogeneous material, the centroid and the center of mass are at the same point. If the object has an axis of symmetry, the centroid is on the axis of symmetry. In some cases, the centroid may not be on the object. 
</p>

To solve for the centroid of an object:
<Enumerate>
    <Item>Define your coordinate system</Item>
    <Item>Define the infinitesimally small element (usually \(dL\), \(dA\), or \(dV\))</Item>
    <Item>Express the element in terms of the coordinate system you defined</Item>
    <Item>Identify any symmetry</Item>
    <Item>Define the centroid <InlineEquation equation="(\\tilde{x}, \\tilde{y})" />of the element</Item>
    <Item>Plug the equations from 3 and 5 into the equations for the centroid</Item>
</Enumerate>

<p>The equation for the centroid of an object is:</p>

  <DisplayEquation title="Centroid of an Object (3D)" id="com3D" background="True" equation="\\bar{x} = \\frac{\\int{\\tilde{x}dV}}{\\int{dV}}" >
 </DisplayEquation>

  <DisplayEquation title="Centroid of an Object (2D)" id="com2D" background="True" equation="\\bar{x} = \\frac{\\int{\\tilde{x}dA}}{\\int{dA}}" >
 </DisplayEquation>

  <DisplayEquation title="Centroid of an Object (1D)" id="com1D" background="True" equation="\\bar{x} = \\frac{\\int{\\tilde{x}dL}}{\\int{dL}}" >
 </DisplayEquation>

with similar equations for <InlineEquation equation="\\bar{y}" />. 


<Example title="Centroid of a curved area"  id="com-epc">
	<ol>
		<li> Solve for <InlineEquation equation=" \\bar{x}" /> </li>
		<li> Solve for <InlineEquation equation=" \\bar{y}" /> </li>
	</ol>
	<Image src='/Statics/COMFigures/CentroidEx.jpg' width='5'> </Image>
	
	<div slot="solution">
	<ol>
		<li> Solve for <InlineEquation equation=" \\bar{x}" /> 
			<DisplayEquation equation=" \\bar{x} = \\frac{\\int \\tilde{x} \\,dA}{\\int dA} = \\frac{\\int x \\ y  \\,dx}{\\int y \\,dx}  = \\frac{\\int_{0}^{1} x^3 \\,dx}{\\int_{0}^{1} x^2 \\,dx} =  \\frac{\\frac{x^4}{4} \\Big|_{0}^{1}}{\\frac{x^3}{3} \\Big|_{0}^{1}}   = \\frac{3}{4} \\ m" />
		</li>
		<li> Solve for <InlineEquation equation=" \\bar{y}" /> 
			<DisplayEquation equation=" \\bar{y} = \\frac{\\int \\tilde{y} \\,dA}{\\int dA} = \\frac{\\int \\frac{y}{2} y   \\,dx}{\\int y \\,dx}  = \\frac{\\int_{0}^{1} \\frac{x^4}{2} \\,dx}{\\int_{0}^{1} x^2 \\,dx} =  \\frac{\\frac{x^5}{10} \\Big|_{0}^{1}}{\\frac{x^3}{3} \\Big|_{0}^{1}}   = \\frac{3}{10} \\ m" />
		</li>
	</ol>
	</div>
</Example>

</SubSection>
<!-- Lectures 28, 29  -->

<SubSubSection title="Centroids of Basic Shapes" id="basic_shapes">

<style>
    /* Center-align all table content */
    #mvdiag_table th, #mvdiag_table td {
        text-align: center;
        vertical-align: middle;
    }
    
    /* Center images within table cells */
    #mvdiag_table td img {
        display: block;
        margin: 0 auto;
    }
</style>

<DisplayTable id="mvdiag_table">
    <thead>
        <tr style="text-align: center">
            <th class="table-shaded" style="vertical-align: middle; width:10%"><strong>Shape</strong></th>
            <th class="table-shaded" style="vertical-align: middle; width:60%"><strong>Diagram</strong></th>            
            <th class="table-shaded"><strong><DisplayEquation equation=" \\boldsymbol{\\bar{x}}"/></strong></th>
            <th class="table-shaded"><strong><DisplayEquation equation=" \\boldsymbol{\\bar{y}}"/></strong></th>    
        </tr>
    </thead>
    <tbody>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft" >
                Rectangle </td>
                <td><Image src='/Statics/COMFigures/RectangleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="b/2" /></td>
            <td><DisplayEquation equation="h/2" /></td>
        </tr>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft">
                Right Triangle </td>
                <td><Image src='/Statics/COMFigures/TriangleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="b/3" /></td>
            <td><DisplayEquation equation="h/3" /></td>
        </tr>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft">
                Isoceles Triangle </td>
                <td><Image src='/Statics/COMFigures/IsocelesTriangleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="b/2" /></td>
            <td><DisplayEquation equation="h/3" /></td>
        </tr>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft">
                Circle </td>
                <td><Image src='/Statics/COMFigures/CircleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="r" /></td>
            <td><DisplayEquation equation="r" /></td>
        </tr>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft">
                Semicircle </td>
                <td><Image src='/Statics/COMFigures/SemicircleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="r" /></td>
            <td><DisplayEquation equation="\\frac{4r}{3\\pi}" /></td>
        </tr>
        <tr style="vertical-align: middle; text-align: center">
            <td class="nosideborderleft">
                Quarter Circle </td>
                <td><Image src='/Statics/COMFigures/QuarterCircleCentroid.png' width='5' />
            </td>
            <td><DisplayEquation equation="\\frac{4r}{3\\pi}" /></td>
            <td><DisplayEquation equation="\\frac{4r}{3\\pi}" /></td>
        </tr>

    </tbody>
</DisplayTable>

<SubSubSection title = "Finding Centroids Using Composite Shapes" id = "composite_shapes">

<p> We can find the centroid of more complicated shapes by breaking them up into simpler shapes and finding the centroids of those simpler shapes. </p>

<p> To solve for the centroid of our original shape <InlineEquation equation="(\\bar{x}, \\bar{y})" />, we take a weighted sum of each of the centroids of our smaller shapes. We will call the centroid locations of the smaller shapes <InlineEquation equation="\\tilde{x}" /> and <InlineEquation equation="\\tilde{y}" />. </p>

<DisplayEquation title="Composite Centroid (x)" id="compositex" background="True" equation="\\bar{x} = \\frac{\\sum \\tilde{x}_i A_i}{\\sum A_i}" >
</DisplayEquation>

<DisplayEquation title="Composite Centroid (y)" id="compositey" background="True" equation="\\bar{y} = \\frac{\\sum \\tilde{y}_i A_i}{\\sum A_i}" >
</DisplayEquation>

<p> For these equations, the weighted sum is dependent on the area of each individual shape. This is typically for 2D problems. You can also use length, weight, or mass as your weighing factor depending on what you're being asked to solve for. </p>

<Example title="Find centroid of a composite shape"  id="com-ccs">
	
   Solve for centroid <InlineEquation equation=" (\\bar{x} , \\bar{y})" />  of the shape below.

	
	<Image src="/Statics/COMFigures/CompositeEx.jpg" width="4"></Image>
	
	<div slot="solution">
	<p> First, we notice that there's a line of symmetry along <InlineEquation equation=" x = 2 \\ cm" /> , so we know that <InlineEquation equation="\\bar{x} = 2  \\ cm" />  because if there is a line of symmetry the centroid falls on that line of symmetry. This means that we only need to solve for <InlineEquation equation="\\bar{y}" />. </p>
	<DisplayEquation equation=" \\begin{aligned}  (\\bar{x}, \\bar{y}) &amp;= (2, ?)  \\\\     \\bar{y} &amp;= \\frac{\\sum \\tilde{y}_i A_i}{\\sum A_i}   \\end{aligned}"/>

	<p> We can do this by splitting our shape into composite shapes with known centroid locations. In this case, we will use a rectangle, a semicircle, and an isoceles triangle. </p>

	<Image src="/Statics/COMFigures/CompositeSol.jpg" width="8"></Image>
	
	<DisplayTable id="comsol_table">
    <thead>
        <tr>
	    <th class="table-shaded"> 
            Segment
            </th>            
	   <th class="table-shaded">
			Area
            </th>
            <th class="table-shaded">
                 <InlineEquation equation=" \\tilde{x}"  /> 
            </th>
            <th class="table-shaded"> 
                <InlineEquation equation=" \\tilde{y}"  /> 
            </th>	
			<th class="table-shaded"> 
                <InlineEquation equation=" \\tilde{y} A"  /> 
            </th>	
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                1
            </td>
            <td>
                <InlineEquation equation=" 24 \\ cm^2 " />
            </td>
	    <td>
               <InlineEquation equation=" 2 \\ cm " /> 
           </td>
	    <td> 
				<InlineEquation equation=" 3 \\ cm " />
	   </td>
	   <td> 
				<InlineEquation equation=" 72 \\ cm^3 " />
	   </td>
           </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                2
            </td>
            <td>
                <InlineEquation equation=" -4 \\ cm^2 " />
            </td>
	    <td>
               <InlineEquation equation=" 2 \\ cm " /> 
           </td>
	    <td> 
				<InlineEquation equation=" \\frac{1}{3} (2) = \\frac{2}{3} \\ cm " />
	   </td>
	   <td> 
				<InlineEquation equation=" - \\frac{64}{3} \\ cm^3 " />
	   </td>
           </tr>
    </tbody>
        <tbody>
        <tr>
            <td class="nosideborderleft">
                3
            </td>
            <td>
                <InlineEquation equation=" 2 \\pi \\ cm^2 " />
            </td>
	    <td>
               <InlineEquation equation=" 2 \\ cm " /> 
           </td>
	    <td> 
				<InlineEquation equation=" \\frac{4R}{3 \\pi} +6 = \\frac{8}{3 \\pi} \\ cm " />
	   </td>
	   <td> 
				<InlineEquation equation=" \\frac{16}{3} + 12 \\pi \\ cm^3 " />
	   </td>
           </tr>
    </tbody>
</DisplayTable>
	
	 <DisplayEquation equation=" \\bar{y} = \\frac{\\sum \\tilde{y}_i A_i}{\\sum A_i} = \\frac{(72 - \\frac{64}{3} + \\frac{16}{3} + 12 \\pi) \\ cm^3}{(24 - 4 +2 \\pi \\ cm^2)}  = 3.56 \\ cm   "/>
	 <DisplayEquation equation=" (\\bar{x} , \\bar{y}) = (2, 3.56) \\ cm   "/>
	 
	</div>
</Example>

</SubSubSection>

</SubSection>


</Layout>

<script src="/sta/centers_of_mass/canvases.js" is:inline></script>
