---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Force systems">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#equivalent_systems'>Equivalent systems</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#concentrated_forces'>Concentrated forces</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#distributed_loads'>Distributed loads</a></li>
          <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#rectangular_loading'>Rectangular loading</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#triangular_loading'>Triangular loading</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#nonuniform_distributed_loads'>Nonuniform distributed loads</a></li>
        </ul>
      </ul>
      </div>

<Section title="Force systems" id="force_systems"></Section>

<SubSection title="Equivalent systems" id="equivalent_systems">

It can be helpful at times to reduce the forces on a body and combine resultant moments and simplify the analysis. 

Note: These forces and moments will have the same <strong>external</strong> effect on the body, but the internal forces on the rigid body may be different. 

For example, the four systems below are statically equivalent, which means that the sum of external forces and sum of external moments are the same for both systems.

<Image src='/sta/force_systems/EquivalentSystems.jpg' width='5 '> All four of these systems are statically equivalent. </Image>

It can be helpful to know what are equivalent transformations for both forces and moments. These are described below: 

</SubSection>

<SubSubSection title="Allowable force transformations" id="allowable force transformations">

Replacing two forces with their vector sum: 
<Image src='/sta/force_systems/Equivalent_VectorSum.PNG' width='5 '> </Image>

Moving a force ALONG its line of action: 
<Image src='/sta/force_systems/Equivalent_Force_LOA.png' width='5 '> </Image>

</SubSubSection>

<SubSubSection title="Allowable moment transformations" id="allowable moment transformations">

Replacing a force couple with a couple moment: 
<Image src='/sta/force_systems/Equivalent_CoupleReplace.png' width='5 '> </Image>

Moving a couple moment to another spot on a rigid body: 
<Image src='/sta/force_systems/Equivalent_CoupleMove.png' width='5 '> </Image>

</SubSubSection>

<SubSection title="Concentrated forces" id="concentrated_forces">

Concentrated forces are forces acting at a specific point on a body. 

<Image src='/sta/force_systems/ConcentratedForce.PNG' width='5 '> A concentrated force applied to a bar at point A.</Image>

</SubSection>

<SubSection title="Distributed loads" id="distributed_loads">
<!-- from lecture 11 and 12 -->

Distributed loads (usually written as <InlineEquation equation='w(x)' />) are forces applied over a length, volume, or area. The SI units for distributed loads are N/m. These loads, written as a function of length <InlineEquation equation='x' /> can be simplified into an equivalent force, <InlineEquation equation='F_R' />, which results in the same external loading on the rigid body. 

The magnitude of the equivalent force <InlineEquation equation='F_R' /> is the area under the <InlineEquation equation='w(x)' /> curve. The location of the resultant force <InlineEquation equation='F_R' /> is the location of the centroid of the shape of the force curve. 

<!--Later, we can add a side comment about examples of distributed loads in real life. For example, books on a bookshelf, air pressure over a lake, the distribution of loads on on the ground over your foot when you take a step-->

</SubSection>

<SubSubSection title="Rectangular loading" id="rectangular_loading">

For a constant distributed load of magnitude c applied to a bar over a length l, the resultant force magnitude is 

<DisplayEquation equation='F_R = c*l\\' title="Rectangular Distributed Load" background="True" />

the resultant force location is at <InlineEquation equation='l/2' />.

<Image src='/sta/force_systems/DistLoad.PNG' width='5'> Example distributed load (top) and its equivalent force system (bottom).</Image>

</SubSubSection>

<SubSubSection title="Triangular loading" id="triangular_loading">

For a triangular distributed load (a uniformly varying load), the magnitude of the load is equivalent to the area of the triangle. 

<DisplayEquation equation='F_R = 0.5*c*l\\' title="Triangular Distributed Load" background="True"/>

The location of <InlineEquation equation='F_R' /> is 1/3 from the base of the triangle. 

<Image src='/sta/force_systems/TriangleLoad.PNG' width='5'> Example triangular distributed load (top) and its equivalent force system (bottom).</Image>

</SubSubSection>

<!-- from lecture 11 and 12 -->

<SubSubSection title="Nonuniform distributed loads" id="nonuniform_distributed_loads">

More complex distributed loads can be reduced to two distributed loads of uniform shape, or the integral of the distributed load function can be taken to obtain the area under <InlineEquation equation='w(x)' />, which is <InlineEquation equation='F_R' />. 

<DisplayEquation equation='F_R = \\int_{0}^{L} w(x) \\,dx \\' title="Nonuniform Distributed Load" background="True" />

The location of <InlineEquation equation='F_R' /> on the beam can be found by solving for the moment <InlineEquation equation='M_R' /> about a point. In this case we will take the moment about the point <InlineEquation equation='x' />=0 and setting it equivalent to the moment produced by the resultant force <InlineEquation equation='F_R' /> at <InlineEquation equation='x' />=0. 

<DisplayEquation equation='M_R = \\int_{0}^{L} x*w(x) \\,dx = \\bar{x}*F_R\\' title="Moment from distributed load" background="True" />

Now we can solve for the center of mass of the distributed load, <InlineEquation equation='\\bar{x}' />, using

<DisplayEquation equation='\\bar{x} = \\dfrac{M_R}{F_R}\\' title="Location of resultant force" background="True" />

<Image src='/sta/force_systems/NonuniformLoad.jpg' width='8'> Nonuniform load.</Image>

<div style = "display: flex; justify-content: center; align-items: center;">
  <div style = "display: flex; gap: 120px;">
      <div style = "width: 300px; height: 200px; text-align: center;">
        <p class = "text-center">Moment about 0 from force <InlineEquation equation = "dF:"/></p>
        <DisplayEquation equation = `\\begin{align} dM &= x * (dF) \\\\
        &= x * w * dx \\end{align}`/>
        <p class = "text-center">Total moment <InlineEquation equation = "(M_R)"/> about point 0:</p>
        <DisplayEquation equation = "M_R = \\int dM = \\int_{0} ^ {L} x * w(x) \\, dx"/>
      </div>
      <div style = "width: 300px; height: 200px; text-align: center;">
        <p class = "text-center">Total moment <InlineEquation equation = "(M_R)"/> about point 0:</p>
        <DisplayEquation equation = "M_R = \\bar{x} * F_R"/>
        <p class = "text-center">solve for <InlineEquation equation = "\\bar{x}:"/></p>
        <DisplayEquation equation = "\\bar{x} = \\frac{M_R}{F_R} = \\frac{\\int_{0} ^ {L} x * w \\, dx}{\\int_{0} ^ {L} w \\, dx}"/>
      </div>
    </div>
</div>

</SubSubSection>

<!-- from lecture 11 and 12 -->
</Layout>
