---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="ForceSystems">
<Section title="Force Systems"></Section>

<SubSection title="Equivalent systems">

<BlueText>Do we need this section?</BlueText>

It can be helpful at times to reduce the forces on a body and combine resultant moments and simplify the analysis. For example, you can replace a force couple with their equivalent couple moment in a system. 

These forces and moments will have the same external effect on the body, but the internal forces on the rigid body may be different. 

</SubSection>

<SubSection title="Concentrated forces">

<BlueText>Do we need this section? - from lecture 2</BlueText>

Concentrated forces are forces acting at a specific point on a body. 

<Image src='/Statics/ForceSystemsFigures/ConcentratedForce.PNG' width='5 '> A concentrated force applied to a bar at point A.</Image>

</SubSection>

<SubSection title="Distributed loads">
<!-- from lecture 11 and 12 -->

Distributed loads (usually written as <InlineEquation equation='w(x)' />) are forces applied over a length, volume, or area. The SI units for distributed loads are N/m. These loads, written as a function of length <InlineEquation equation='x' /> can be simplified into an equivalent force, <InlineEquation equation='F_R' />, which results in the same external loading on the rigid body. 

The magnitude of the equivalent force <InlineEquation equation='F_R' /> is the area under the <InlineEquation equation='w(x)' /> curve. The location of the resultant force <InlineEquation equation='F_R' /> is the location of the centroid of the shape of the force curve. 

<BlueText>Later, we can add a side comment about examples of distributed loads in real life. For example, books on a bookshelf, air pressure over a lake, the distribution of loads on on the ground over your foot when you take a step</BlueText>

</SubSection>

<SubSubSection title="Rectangular loading">

For a constant distributed load of magnitude c applied to a bar over a length l, the resultant force magnitude is 

<DisplayEquation equation='F_R = c*l\\' />

the resultant force location is at <InlineEquation equation='l/2' />.

<Image src='/Statics/ForceSystemsFigures/DistLoad.PNG' width='5 '> Example distributed load (top) and its equivalent force system (bottom).</Image>

</SubSubSection>

<SubSubSection title="Triangular loading">

For a triangular distributed load (a uniformly varying load), the magnitude of the load is equivalent to the area of the triangle. 

<DisplayEquation equation='F_R = 0.5*c*l\\' />

The location of <InlineEquation equation='F_R' /> is 1/3 from the base of the triangle. 

<Image src='/Statics/ForceSystemsFigures/TriangleLoad.PNG' width='5 '> Example triangular distributed load (top) and its equivalent force system (bottom).</Image>

</SubSubSection>

<!-- from lecture 11 and 12 -->

<SubSubSection title="Nonuniform distributed loads">

More complex distributed loads can be reduced to two distributed loads of uniform shape, or the integral of the distributed load function can be taken to obtain the area under <InlineEquation equation='w(x)' />, which is <InlineEquation equation='F_R' />. 

<DisplayEquation equation='F_R = \\int_{0}^{L} w(x) \\,dx \\' />

The location of <InlineEquation equation='F_R' /> on the beam can be found by solving for the moment <InlineEquation equation='M_R' /> about a point. In this case we will take the moment about the point <InlineEquation equation='x' />=0 and setting it equivalent to the moment produced by the resultant force <InlineEquation equation='F_R' /> at <InlineEquation equation='x' />=0. 

<DisplayEquation equation='M_R = \\int_{0}^{L} x*w(x) \\,dx = \\bar{x}*F_R\\' />

Now we can solve for the center of mass of the distributed load, <InlineEquation equation='\\bar{x}' />, using

<DisplayEquation equation='\\bar{x} = \\dfrac{M_R}{F_R}\\' />

<Image src='/Statics/ForceSystemsFigures/NonuniformLoad.PNG' width='5 '> Nonuniform load. Need to remake this in the same style as the other pictures.</Image>
</SubSubSection>

<!-- from lecture 11 and 12 -->
</Layout>