---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import RedText from "../../components/RedText.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import Example from "../../components/Example.astro"
---
<Layout title = "Frames and machines" description = "Learn about systems using multi-force members and the needed assumptions to solve for unknowns.">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#machines'>Machines</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#framemachineanalysis'>Frame and machine analysis</a></li>
      </ul>
      </div>
<Section title="Frames" id="frames">
<p>
Frames and machines are systems that contain at least one non two force member. This means that at least one member in a frame or machine has at least 3 loads applied to it. 

Unlike trusses, frames and machines are not necessarily only loaded at the joints, and are not necessarily compsed of long, slender members. 

Multi-force members in both frames and machines have the potential to have not only axial internal loads, but also shear internal forces and internal bending moments. 

</p>



<p>Frames are systems with at least one multi-force member that are generally designed to be stationary. Some examples of frames could be a children's playground or even a table. 

</p>
</Section>

<SubSection title="Machines" id="machines">

<p>Machines are systems with at least one multi-force member that have the potential to move. For example, an excavator is a machine.  

</p>
</SubSection>

<SubSection title="Frame and machine analysis" id="framemachineanalysis">

<p>
Because frames and machines carry not only axial loads but also shear loads and bending moments, we can't use the method of joints or the method of sections to get internal forces. 

Instead, we need to "break apart" the pieces of the frame or machine and draw free body diagrams of each piece individually. 

Frame and machine analysis involves the following steps: 
<Enumerate>
	<Item> Identify any two-force members and apply the two force member assumptions (see the Truss reference pages for more details)
    </Item>
	<Item> Identify any multi force members and make free body diagrams for each multip force member. Remember that the same forces in two different free body diagrams will be equal and opposite!
    </Item>
	<Item> Use equations of equilibrium to solve for the unknown forces in the free body diagrams. 
    </Item>
</Enumerate>

</p>
<!--
<Example id="machine-example" title="Machine Example" solution="True">
<p>   This example is from <em>Engineering Statics</em> by Daniel Baker and William Haynes. </p>
<p> In this question, we want to know what the cutting force is at A and B given an applied load <InlineEquation equation='F'/>=60N. </p>
<Image src='/sta/frames_and_machines/Machine_Pliers.jpg' width='4'></Image>


    <div slot="solution">
	<p>

	<Enumerate>
		<Item> Through examination, we first notice that the DE and AB are two force members, so the forces on those two members are equal and opposite and pass through the points AB and DE. 
    		</Item> 
		<Item> The multi force members that we will examine are members GE and ACD. 
    		</Item> 
	</Enumerate>

	Let's start with member GE: 

	<Image src='/sta/frames_and_machines/FBD_GE.jpg' width='5'></Image>

	<p class = "text-center"><u>Unknowns:</u> <InlineEquation equation = "G_x, G_y, F_{DE}"/></p>
	<DisplayEquation equation = `\\begin{align} &\\sum F_x = G_x + F_{DE} * \\cos \\theta = 0 \\\\
		&\\sum F_y = G_y + F_{DE} * \\sin \\theta + F = 0 \\\\
		&\\sum M_G = F * (145 \\text{ mm}) + (F_{DE} * \\sin \\theta) * (33 \\text{ mm}) = 0 \\end{align}`/>
	<DisplayEquation equation = "\\text{where } \\theta = \\arctan \\frac{17}{16} = 46.7357 ^ \\circ"/>
	<DisplayEquation equation = "F_{DE} = -F * \\frac{(145 \\text{ mm})}{(33 \\text{ mm}) * \\sin \\theta} = -362.038 \\text{ N}"/>

	<p> Taking the sum of force in the x and y direction and the sum of moments about G, we can solve for <InlineEquation equation='F_{DE}'/>, which is -362.038 N. </p>

	<p> We can then draw a FBD for member ACD: 

	Note that the force <InlineEquation equation='F_{DE}'/>, which was in the FBD for member GE, is facing the opposite direction in this FBD. </p>

	<Image src='/sta/frames_and_machines/FBD_ACD.jpg' width='5'></Image>

	<p class = "text-center"><u>Unknowns:</u> <InlineEquation equation = "F_A, C_x, C_y"/></p>
	<DisplayEquation equation = "\\sum M_C = 0"/>
	<DisplayEquation equation = "= -(F_{DE} * \\sin \\theta) * (49 \\text{ mm}) - (F_{DE} * \\cos \\theta) * (14 \\text{ mm}) -F_A * (61 \\text{ mm})"/>
	<DisplayEquation equation = "F_A = 268.692 \\text{ N}"/>

	<p> Writing the sum of moments about point C allows us to solve for the force at A, which is 268.692 N. </p>

	<p> We can also calculate the mechanical advantage of this machine by dividing the cutting force by the applied force of 60 N. In this case, the maching gives a mechanical advantage of 4.478. </p>

	</p>

    </div>
  </Example>
-->

</SubSection>


</Layout>

<script src="/sta/frames_and_machines/canvases.js" is:inline></script>
