---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Center from "../../components/Center.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title = "Free body diagrams" description = "Learn how to represent the external forces on a system graphically.">

  <div slot="navtree">
    <ul class='list-group list-group-flush py-0'> 
      <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#pulley_idealizations'>Pulley idealizations</a></li> 
      <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#spring_idealizations'>Spring idealizations</a></li>
      <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#smooth_surface_idealizations'>Smooth surface idealizations</a></li>
  </ul>
  </div>

<Section title="Free body diagrams" id="free_body_diagrams">

  <p>
     A free-body diagram (abbreviated as FBD, also called force diagram) is a diagram used to show the magnitude and direction of all applied forces, moments, and reaction and constraint forces acting on a body. They are important and necessary in solving complex problems in mechanics.
  </p>
  <p>
     What is and is not included in a free-body diagram is important. Every free-body diagram should have the following:
  </p>

	<ul>
		<li> The body represented as a dot if it is a point mass, and the body itself if it is a rigid body. </li>
		<li> The external forces/moments. The force vector should indicate: relative magnitude, point of application, and the direction. </li>
		<li> A properly defined coordinate system </li>
	</ul>

	<p>
		A free-body diagram should not include the following:
	</p>

	<ul>
		<li> Bodies other than the body we are interested in. </li>
		<li> Forces applied <i>by</i> the body </li>
		<li> Internal forces depending on the chosen system. For example, a free-body diagram on a truss should not include the forces between individual truss members. </li>
		<li> Kinematic quantities (velocity and acceleration). </li>
	</ul>

<CalloutContainer slot="cards">
        <CalloutCard title="Warning!">
            <p>
                Always assume the direction of forces/moments to be positive according to the appropriate coordinate system. The calculations from Newton/Euler equations will provide you with the correct direction of those forces/moments. Things that should not follow this are:
              </p>
              <ul>
                <li> Gravity </li>
				<li> Tension </li>
				<li> Friction if the velocity <InlineEquation equation="\\vec{v}" /> is provided </li>
              </ul>
        </CalloutCard>
        <CalloutCard title="Warning!">
            <p>
                If forces/moments are present, always begin with a free-body diagram. Do not write down equations before drawing the FBD as those are often simple kinematic equations, or Newton/Euler equations.
              </p>
        </CalloutCard>
    </CalloutContainer>


</Section>

<SubSection title="Pulley idealizations" id="pulley_idealizations">

In this course we assume that a pulley is frictionless, meaning that the magnitude of the tensile force of the rope on either side of a pulley will be the same. 

<DisplayEquation equation='{T_1} = {T_2}\\' title="Pulley Assumptions" background="True" />

<Image src='/sta/free_body_diagrams/PulleyAssumptions.jpg' width='3'></Image>

</SubSection>

<SubSection title="Spring idealizations" id="spring_idealizations">

In this course, we assume springs are linearly elastic, which means that the force (tension) in the spring is linearly proportional to the extension of the spring (<InlineEquation equation='s' />) through the spring constant, <InlineEquation equation='k' />.

<DisplayEquation equation='{F} = {k*s}\\' title="Spring force-extension relation" background="True" />

<DisplayEquation equation='{s} = {l-l_0}\\' title="Spring extension" background="True" />

<Image src='/sta/free_body_diagrams/SpringAssumptions.jpg' width='6'></Image>

</SubSection>

<SubSection title="Smooth surface idealizations" id="smooth_surface_idealizations">

If a surface is described as "smooth", we assume that there is no frictional force on the surface. Therefore, any force applied by the surface is normal to the surface. 

<Image src='/sta/free_body_diagrams/SmoothAssumptions.jpg' width='3'></Image>

<!-- Taken from TAM 210 Lecture 5 - Slide 8. This could become an interactive image eventually where the angles of the surfaces are changed by the user and then the reaction forces are also changing.-->

<!-- \subsection{\red{Equivalent force systems}} -->
<!-- lecture 10 -->

</SubSection>

</Layout>
