---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import Example from "../../components/Example.astro"
---

<style>
    tbody.center-text > tr > td{
        text-align: center;
    }
</style>
<Layout title="Friction">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#static_friction'>Static Friction</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#tip_slip'>Tipping vs. Slipping</a></li>
      </ul>
      </div>

<Section title="Friction" id="friction">

<p>
Friction is a force that resists the movement of two contacting surfaces sliding relative to each other. Frictional forces act tangential to the surface at the point of contact and act in opposition to the possible or existing motion between the surfaces. 
In TAM 210/211, we will focus on dry friction. Dry friction occurs between two surfaces with <strong>no</strong> lubricating fluid between them. 
</p>

<p>
Consider a box with applied load <InlineEquation equation=" P "/> and weight <InlineEquation equation=" W "/> sitting on a rough surface. The box has normal force <InlineEquation equation=" N "/> and frictional force <InlineEquation equation=" F_f "/> opposing the motion of the box: 
</p>

<Image src='/sta/friction/FGraph.jpg' width='5'></Image>

<p>
With a very small applied load, the box won't move. However, at some point, with a large enough <InlineEquation equation=" P "/>, the box will start to slide along the surface. 
</p>

<p>
Writing the equations of equilibrium of the box and solving for <InlineEquation equation=" P "/> results in <InlineEquation equation=" P = F_f "/>. As the applied load increases, the frictional force will also increase. 
This is indicated by the straight line on the <InlineEquation equation=" F_f "/> vs. <InlineEquation equation=" P "/> graph. Once the frictional force reaches a maximum, the box will begin to slide on the surface. 
</p>

<p>
The maximum static frictional force is written as: 
</p>

<DisplayEquation equation="F_f \\le  \\mu_s N" background="True"  title="Limit on static friction force magnitude." />

<p>
	Variables <b> <InlineEquation equation=" F_f "/> </b> and <b> <InlineEquation equation=" N "/> </b> are the magnitude of the friction force <b> <InlineEquation equation=" \\vec{F_f} "/> </b> and the normal force <b> <InlineEquation equation=" \\vec{N} "/> </b>, and <b> <InlineEquation equation=" \\mu_s "/> </b> is the coefficient of static friction.
</p>

<CalloutContainer slot="cards">
        <CalloutCard title="Did you know?">
            <p>
                Mabuchi et al. conducted a <a href = "https://www.jstage.jst.go.jp/article/trol/7/3/7_147/_article">study in 2012</a> to examine the coefficient of static friction of a banana peel! 
		</p>
		<p>They found <strong>banana peels</strong> to be almost 6x as slippery as the floor, with <InlineEquation equation=" \\mu_s "/>= 0.066! 
		They also examined other fruit peels and found <strong>apples</strong> have a <InlineEquation equation=" \\mu_s "/> of 0.125, <strong>orange peels</strong> have a <InlineEquation equation=" \\mu_s "/> of 0.198, and <strong>tangerine peels</strong> are the least slippery with <InlineEquation equation=" \\mu_s "/> = 0.225. 
              </p>

		<Image src='/sta/friction/BananaPeel.png' width='8'>Image from Mabuchi, Kiyoshi, et al. "Ig Nobel Prize-winning episode: Trip from a slip on a banana peel to the mysterious world of mucus." Biosurface and Biotribology 2.3 (2016): 81-85.</Image>

              <p>
                This study won the 2014 <a href = "https://www.bbc.com/news/science-environment-29253796">Ig Nobel Prize</a>, which recognizes unusual scientific achievements. 
		<a href = "https://www.sciencedirect.com/science/article/pii/S2405451816300253">Insights gained from the study</a> could help with undertanding more about how articular joints are lubricated and move. 
              </p>
        </CalloutCard>
    </CalloutContainer>

</Section>

<SubSection title="Static Friction" id="static_friction">

Static friction is the friction between two bodies when there is no movement between them.

Examples of coefficients of static friction: 


<DisplayTable id="friction_table" class_="table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">System</th>
            <th class="text-center">Static friction \(\mu_s\)</th>
        </tr>
    </thead>
    <tbody class="center-text">
        <tr>
            <td>Rubber on dry concrete</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td>Wood on wood</td>
            <td>0.5</td>
        </tr>
        <tr>
            <td>Steel on steel</td>
            <td>0.6</td>
        </tr>
        <tr>
            <td>Shoes on wood</td>
            <td>0.9</td>
        </tr>
        <tr>
            <td>Shoes on ice</td>
            <td>0.1</td>
        </tr>
    </tbody>
</DisplayTable>



<!--This might be a good place to add practical examples - maybe how engine brakes use friction? And another thing about how cartilage in your joints has very little friction (like ice on ice!) which allows for joint movement.-->

    <CalloutContainer slot="cards">
        <CalloutCard title="Did you know?">
            <p>
                <a href="https://en.wikipedia.org/wiki/Hyaline_cartilage#Articular_cartilage">Articular cartilage</a> lines the end of your bones at joints, where two bones come together in your body. It acts as a smooth surface that allows your bones to slide past each other when your body is moving. 
              </p>
		
              <p>
                Articular cartilage is very slippery and has a <i>very</> small coefficient of friction: <a href="https://www.annualreviews.org/content/journals/10.1146/annurev-bioeng-081514-123305">as low as 0.001</a>! This is similar to the coefficient of friction between two pieces of ice! 
              </p>
        </CalloutCard>
    </CalloutContainer>

</SubSection>

<SubSection title="Tipping vs. Slipping" id="tip_slip">

Consider a box of length <i>l</i> that is sitting on a rough surface with an applied load <i>P</i> on the right side. 

As <i>P</i> increases, there are two possible scenarios: either the box will "slip" and start sliding along the surface, or the box will tip onto the right corner.  

<Image src='/sta/friction/TipSlip.png' width='5'>tipping vs. slipping</Image>

<p>
If the box experiences <b>slipping</b>, the normal force will act at a location <i>x</i> from the center of the box. The frictional force can be written as  <DisplayEquation equation="\F_f = \\mu_s N" /> You can use the other equations of equilibrium to solve for the force <i>P</i> required for the box to slip. 
</p>
<p>
If the box experiences <b>tipping</b>, the normal force will act at the bottom right corner of the box, and the couple from the frictional force and <i>N</i> will create a moment causing the box to tip. 
</p>
<p>
To determine which of these scenarios will occur, you should write the equations of equilibrium for each case and solve for the force <i>P</i> required to cause either slipping or tipping. Whichever condition has the smallest force <i>P</i> will be the condition that occurs. 
</p>

<p>
<em>Note:</em> See the derivation below for an explanation of why the normal force does not act at the center of mass of the box.
</p>
<!-- From Lecture 27 -->

  <DisplayEquation title="Location of Normal Force: Derivation" id="nfl" background="True" equation="\\begin{align} &\\sum F_x = P - F_f = 0 \\\\ &\\sum F_y = N - W = 0 \\\\ &\\sum M_O = -Py \\neq 0 \\end{align}" derivation="True">
    
      <Image src='/sta/friction/NLocation.jpg' width='5'></Image>

        <p>
          If the normal force <i>N</i> acted at the middle of the box (at the center of mass), we would write the three equations of equilibrium as follows: 
	</p>
         
	  <DisplayEquation equation="\\sum F_x = P - F_f = 0" />
	  <DisplayEquation equation="\\sum F_y = N - W = 0" />
	
	<p>
          So far, so good! However, we run into a problem when we write the sum of moments equation:  
	</p>

	  <DisplayEquation equation="\\sum M_O = -Py \\neq 0" />

	<p>
	The sum of moments equation about point O results in an expression that is not possible: we know that <i>P</> cannot be zero, so there must be some sort of moment about the center of the box from the normal force acting offset from the center of mass of the box. 

        </p>
    
  </DisplayEquation>

<Example title="Frictional forces on a fridge: Slipping and Tipping">
	<p> <b>Given:</b> Fridge weight = 250 lb and <InlineEquation equation=" \\mu_s "/> = 0.4 </p>
	<p> <b>Find:</b>  The maximum horizontal force P that can be applied without causing movement of the fridge </p>

	<Image src='/sta/friction/FridgeEx.jpg' width='4'></Image>

	<div slot="solution">
	<p> Drawing a FBD of the fridge yields: </p>

	<Image src='/sta/friction/FridgeFBD.jpg' width='4'></Image>

	<p> We will then use the FBD and equations of equilibrium to solve for the force <InlineEquation equation=" P "/> necessary to make the fridge tip, and make the fridge slip along the surface: </p>
	
	<ol>
		<li> Assume slipping, max <InlineEquation equation="F = \\mu_s \\ N" /> 
				<DisplayEquation equation=" \\begin{aligned}  \\sum{F_x} &amp;= 0   \\\\   P - F &amp;= 0  \\\\  P &amp;= F  \\\\ \\sum{F_y} &amp;= 0   \\\\   N - W &amp;= 0  \\\\  N &amp;= W \\end{aligned} " />
				<p> If <InlineEquation equation=" P = F \\leq \\mu_s \\ N" /> , the fridge won't slide </p>
				<p> Max <InlineEquation equation=" P " /> before sliding: </p>
				<DisplayEquation equation="P = F = \\mu_s \\ N = \\mu_s \\ W = 0.4 \\ (250 \\ lb) = 100 \\ lb" /> 
		</li>
		<li> Check to see if it is tipping at <InlineEquation equation="P = 100 \\ lb" />, solve for <InlineEquation equation="x" /> 
			<DisplayEquation equation="\\begin{aligned}  \\sum{M_o} &amp;= P_y  - N_x = 0  \\\\  x &amp;= \\frac{P_y}{N} = \\frac{P_y}{W} = \\frac{100 \\ lb \\ (40 \\ in)}{250 \\ lb}  = 16'' \\end{aligned}"   /> 
			<p> If  <InlineEquation equation=" x = 18 '' " /> , the fridge would tip. Because <InlineEquation equation=" x = 16 '' " /> , the fridge is not tipping!  </p>
		</li>
		<li> Assume tipping, solve for <InlineEquation equation="P" />  
			<DisplayEquation equation=" \\begin{aligned}  \\sum{F_x} &amp;= 0   \\\\   P - F &amp;= 0  \\\\  P &amp;= F  \\\\ \\sum{F_y} &amp;= 0   \\\\   N - W &amp;= 0  \\\\  N &amp;= W   \\\\  \\sum{M_o} &amp;= 0  \\\\   P_y  - N_x &amp;= 0  \\\\ P &amp;= \\frac{N_x}{y}  = \\frac{W_x}{y}  =  \\frac{250 \\ lb \\ (18 \\ in)}{40 \\ in}  \\\\ P &amp;= 112.5 \\ lb \\quad \\text{for tipping} \\end{aligned}"   /> 
		</li>
	</ol>
	
	
	<ul>
		<li> Min <InlineEquation equation="P" /> for sliding: 100 lb </li>
		<li> Min <InlineEquation equation="P" /> for tipping: 112.5 lb </li>
		<li> Fridge will slide at <InlineEquation equation="P=100 \\ lb" />  </li>
	</ul>


	</div>

</Example>

</SubSection>

</Layout>
