---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Hydrostatic Fluid Pressure">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#fluid_pressure'>Fluid Pressure</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#buoyancy'>Buoyancy</a></li>
      </ul>
      </div>
<Section title="Hydrostatic Fluid Pressure" id="hydrostatic_fluid_pressure">

<!-- Lecture 30, 31, 32 -->
<strong>Pascal's Law:</strong> A fluid at rest creates a pressure point <em>p</em> at a point that is the same in all directions. 

</Section>

<SubSection title="Fluid Pressure" id="fluid_pressure">

For an incompressible fluid (density <InlineEquation equation='\\rho' />) at rest, the pressure <InlineEquation equation='p' /> varies linearly with fluid depth <InlineEquation equation='z' />. This means that the pressure along a horizontal plane (at a certain depth <InlineEquation equation='z' /> is constant.

<Image src='/Statics/FluidFigures/HydrostaticPressure.jpg' width='4'> Derivation of the pressure  <InlineEquation equation='P(z)' />  at the bottom of a cylinder of liquid with cross-sectional area  <InlineEquation equation='A' /></Image>



    <DisplayEquation equation="P(z) = \\rho*g*z" background="True" title="The fluid pressure P(z) can be written as"   id="hfp-eq" derivation="True">
            <p>
                Ignoring air pressure:
				<Image src='/Statics/FluidFigures/FluidDerivation.jpg' width='4'> </Image>
                <DisplayEquation equation="\\begin{aligned} \\sum{F_y} &amp;= 0  \\\\ P(z)A - W &amp;= 0   \\\\   P(z)A - (\\rho \\ A \\ z) \\ g &amp;=  0 \\\\   P(z)  &amp;= \\rho \\ g \\ z          \\end{aligned}"/>
                
			 </p>
    </DisplayEquation>
		
</SubSection>

<SubSection title="Buoyancy" id="buoyancy">

<strong>Archimedes' Principle:</strong> Any object that is either partially or totally immersed in a fluid has a buoyancy force equal to the weight of the fluid displaced by the object. 

<Image src='/Statics/FluidFigures/Buoyancy.jpg' width='4'>


    <DisplayEquation equation="\\begin{aligned}  F_B &amp;=  W   \\\\   &amp;= m_{water} \\ g \\\\  &amp;= \\rho_{water} \\ V_{displaced} \\ g    \\\\   &amp;= \\rho_{water} (\\frac{4}{3} \\pi R^3) \\ g  \\end{aligned}"   background="True" title="Force equation of Buoyancy"   id="hff-eq" derivation="True">
            <p>
                <Image src='/Statics/FluidFigures/BuoyancyDerivation.jpg' width='4'>
				
				
                <DisplayEquation equation="\\sum F_x :  \\text{horizontal forces cancel out}"/>
				<DisplayEquation equation="\\begin{aligned}  \\sum F_y :  F_B  &amp;= F_{R_2} - F_{R_1}  \\\\    &amp;= W_2 \\ S  -  W_1 \\ S  \\\\   &amp;=  \\rho \\ g \\ h_2 \\ S^2 -  \\rho \\ g \\ h_1 \\ S^2   \\\\   &amp;=  \\rho \\ g \\ S^2 \\ (h_2  -  h_1)  \\\\ &amp;=  \\rho \\ g \\ S^3   \\\\  F_B  &amp;=  \\rho \\ g \\ V  = m \\ g  \\end{aligned} "/>
                
				<p> In which <InlineEquation equation=" F_B " /> is the buoyance force, <InlineEquation equation=" \\rho \\ g \\ V " /> is the volume of the cube, and <InlineEquation equation=" m \\ g " /> is the weight of the cube. </p>
			 </p>
    </DisplayEquation>


</DisplayEquation>

<!--Do we need to include anything else for buoyancy?
%Lecture 32-->

</SubSection>

</Layout>