---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import Enumerate from "../../components/Enumerate.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import Item from "../../components/Item.astro"
---
<Layout title="Shear Force & Bending Moment Diagrams">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#sign_conventions'>Sign Conventions</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#general_procedure'>General Procedure</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#general_rules'>General Rules</a></li>
      </ul>
      </div>


<style>
    tr {
        border: solid 0px var(--bs-border-color); 
    }
    td {
        border-right: solid 1px var(--bs-border-color); 
        border-left: solid 1px var(--bs-border-color);
        text-align:center;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    th{
        border-right: solid 1px var(--bs-border-color); 
        border-left: solid 1px var(--bs-border-color);
        text-align:center;
    }
</style>

<Section title="Shear Force & Bending Moment Diagrams" id="internal_forces">
<p>
Internal forces of a member can be determined by creating an imaginary cut in a member, and then solving for the internal shear force, normal force, and bending moment (which, after the cut, become "external" forces that can be solved for). 
</p>

<p>
To determine how the internal shear force and bending moment change throughout the member, shear force and bending moment diagrams are created. Shear force diagrams provide a graphical representation of the internal shear force within a member, and bending moment diagrams provide a graphical representation of the internal bending moment within a member. 
</p>

<Image src='/Statics/IntForceFigures/IntForces.jpg' width='5 '> Internal shear force (V), internal normal force (N), and internal moment (M).</Image>

</Section>

<!-- starts in lecture 19 -->

<SubSection title="Sign Conventions" id="sign_conventions">

<Image src='/Statics/IntForceFigures/SignConventions.jpg' width='5'> Sign conventions for internal forces and moments</Image>

</SubSection>


<SubSection title="General Procedure" id="general_procedure">
<p>
Creating a shear force and bending moment diagram allows us to create a graphical representation of <InlineEquation equation='V' /> and <InlineEquation equation='M' /> as a function of the position along the beam, <InlineEquation equation='x' />. Therefore when creating internal loading diagrams we are trying to write equations for <InlineEquation equation='V(x)' /> and <InlineEquation equation='M(x)' />.
</p>

<p>
The general procedures for creating shear / bending moment diagrams are:</p> 
<!-- %from TAM 210 Lecture 22 -->
<Enumerate>
    <Item>Find support reactions</Item>
    <Item>Specify the x-coordinates</Item>
    <Item>Divide the beam into regions: one region for every change in loading</Item>
    <Item>Analyze each region by cutting inside each region and analyzing the free body diagram of the left side of the cut</Item>
    <Item>Apply equations of equilibrium to solve for \(V\) and \(M\) as functions of x</Item>
</Enumerate>

<Image src='/Statics/IntForceFigures/IntLoadRecap.jpg' width='8'>Examples of shear and moment diagrams</Image>

    <CalloutContainer slot="cards">
        <CalloutCard title="A note on concentrated moments">
            <p>
                In our discussion on <a href="https://www.mechref.org/sta/force_systems/#equivalent_systems">Equivalent Systems</a>, we noted that you can move a couple moment anywhere on a rigid body with no <b>external</b> effect. 
              </p>
              <p>
                <i>However,</i> in this section we are concerned about the <b>internal</b> forces in a rigid body. When you move a concentrated moment, it changes the internal loading of the rigid body, so you have to leave the moment where it is to analyze the internal forces of a system.  
              </p>
        </CalloutCard>
    </CalloutContainer>

</SubSection>

<SubSection title="General Rules" id="general_rules">

<Enumerate>
	<Item>When there is an external concentrated force or moment, there will be a "jump" in the shear force or bending moment diagram. Upward forces lead to an upward jump in \(V\), and clockwise external moments result in a jump "up" in the graph of \(M\).
    </Item>
	<Item>\(w(x)\), \(V\), and \(M\) are related via the following relationship: </Item>
</Enumerate>

<Image src='/Statics/IntForceFigures/IntDerivRelationships.jpg' width='5'>Relationships between \(w(x)\), \(V\), and \(M\).</Image>

<DisplayTable id="moi_table">
    <thead>
        <tr>
            <th class="nosideborderleft">
                
            </th>
            <th>
                <strong>Diagram</strong>
            </th>
            <th> 
                <strong>Jumps</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nosideborderleft">
                <strong>Other names</strong>
            </td>
            <td>

            </td>
            <td class="table-shaded">
                Second moment of area
            </td>
        </tr>
        <tr>
            <td class="nosideborderleft">
                <strong>Description</strong>
            </td>
            <td>
                Determines the torque needed to produce a desired angular rotation about an axis of rotation (resistance to rotation)
            </td>
            <td class="table-shaded">
                Determines the moment needed to produce a desired curvature about an axis(resistance to bending)
            </td>
        </tr>
        <tr>
            <td class="nosideborderleft">
                <strong>Equations</strong>
            </td>
            <td>
                <DisplayEquation equation='I_{P,\\hat{a}} = \\iiint_\\mathcal{B} \\rho r^2 \\,dV\\' /> 
            </td>
            <td class="table-shaded">
                <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />
                <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />
                <DisplayEquation equation='\\begin{aligned} J_O &= \\int_{A}^{} r^2 \\,dA \\\\ &= \\int_{A}^{} (x^2+y^2) \\,dA\\ \\end{aligned}' />
            </td>
        </tr>
        <tr>
            <td class="nosideborderleft">
                <strong>Units</strong> 
            </td>
            <td>
                <InlineEquation equation="length*mass^2"/>
            </td>
            <td class="table-shaded">
                <InlineEquation equation="length^4"/>
            </td>
        </tr>
        <tr>
            <td class="nosideborderleft">
                <strong>Typical Equations</strong>
            </td>
            <td>
                <DisplayEquation equation='\\tau = I\\alpha' /> 
            </td>
            <td class="table-shaded">
                <DisplayEquation equation='\\sigma = (My)/I \\' />
            </td>
        </tr>
        <tr>
            <td class="nosideborderleft">
                <strong>Courses</strong>
            </td>
            <td>
                TAM 212
            </td>
            <td class="table-shaded">
                TAM 210, TAM 251
            </td>
        </tr>
    </tbody>
</DisplayTable>

</SubSection>

</Layout>
