---
import Center from "../../components/Center.astro" 
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
---
<Layout title="Introduction">
<Section title="Introduction to Statics"></Section>

<SubSection title="Newton's Laws">


<p>
    Newton's equations relate the acceleration <InlineEquation equation='\\vec{a}' /> of a point mass with mass <InlineEquation equation='m' /> to the total applied force <InlineEquation equation='\\vec{F}' /> on the mass (sum of all applied forces).
</p>

<p>
    There is no derivation for Newton's equations, because they are an assumed model for dynamics. We can only verify them by comparing with experimental evidence, which confirms that Newtonian dynamics are accurate for non-relativistic and non-quantum systems.
</p>



</SubSection>

<SubSubSection title="Newton's First Law">

A particle at rest stays that way unless acted on by unbalanced forces. 

</SubSubSection>

<SubSubSection title="Newton's Second Law">

    <DisplayEquation equation="\\vec{F} = m\\vec{a}" background="True" title="Newton's second law: "/>

</SubSubSection>

<SubSubSection title="Newton's Third Law">

The mutual forces of action and reaction between two particles are equal, opposite, and collinear. 

</SubSubSection>

<SubSubSection title="Example">


    <PrairieDrawCanvas id="rep-ff-c" width="600" height="600">
        <small><em>Click and drag to impart a force on the particle and observe its velocity and position changes.</em></small>
    </PrairieDrawCanvas>

</SubSubSection>

<SubSection title="Idealizations"></SubSection>

<SubSubSection title="Particles">
<!-- Could change this section to "Idealizations" and write about particle idealizations, rigid body assumptions, and concentrated / distributed force assumptions.  -->

In this course, we assume two things about particles: 

<ol>
	<li>The mass of the particle is not 0.</li>
	<li>The radius of the mass is 0.</li>
</ol>


 Through these assumptions, we are essentially concentrating all of the mass of an object at a single point in space. The particle has a mass but the size and shape of the particle is not taken into account. 

</SubSubSection>

<SubSubSection title="Rigid Bodies">

For rigid bodies, we assume that the object has both mass (similar to particles) but also take its shape into account. 

We call these bodies "rigid" because we assume that they do not deform under applied forces or moments. 

A <em>rigid body</em> is an extended area of material that
          includes all the points inside it, and which moves so that
          the distances and angles between all its points remain
          constant. The location of a rigid body can be described by
          the position of one point \(P\) inside it, together with the
          rotation angle of the body (one angle in 2D, three angles in
          3D).
    <Center>
        <table class="table table-responsive table-sm">
            <tr>
            <th></th>
            <th>location description</th>
            <th>velocity description</th>
            </tr>
            <tr>
            <th>point mass</th>
            <td>position vector <InlineEquation equation="\\vec{r}_P" /></td>
            <td>velocity vector <InlineEquation equation="\\vec{v}_P" /></td>
            </tr>
            <tr>
            <th>rigid body in 2D</th>
            <td>
                position vector <InlineEquation equation="\\vec{r}_P" />
                <br />
                angle <InlineEquation equation="\\theta" />
            </td>
            <td>
                velocity vector <InlineEquation equation="\\vec{v}_P"/>
                <br />
                angular velocity <InlineEquation equation="\\omega" />
            </td>
            </tr>
            <tr>
            <th>rigid body in 3D</th>
            <td>
                position vector <InlineEquation equation="\\vec{r}_P"/>
                <br />
                angles <InlineEquation equation="\\theta,\\phi,\\psi"/>
            </td>
            <td>
                velocity vector <InlineEquation equation="\\vec{v}_P"/>
                <br />
                angular velocity vector <InlineEquation equation="\\vec{\\omega}" />
            </td>
            </tr>
        </table>
    </Center>

    <p>
        Neither point masses nor rigid bodies can physically exist,
        as no body can really be a single point with no extent, and
        no extended body can be exactly rigid. Despite this, these
        are very useful models for mechanics and dynamics.
      </p>

</SubSubSection>

</Layout>

<script src="/sta/introduction/canvases.js" is:inline></script>
