---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Moment of Inertia">
<Section>Moment of Inertia</Section>

<!-- Lecture 33 -->
<em>Note that in statics we are using the second moment of area as our moment of inertia. In dynamics a different moment of inertia is used (the mass moment of inertia). The differences between these two quantities are summarized in the table below: </em>

\begin{table}[]
\centering
\begin{tabular}{c|c|c}
 & <strong>Mass moment of inertia</strong> & <strong>Area moment of inertia</strong> \\ \hline
<strong>Other names</strong> &  & Second moment of area \\
 &  &  \\
<strong>Description</strong> & \begin{tabular}[c]{@{}c@{}}Determines the torque \\ needed to produce a \\ desired angular rotation \\ about an axis of rotation \\ (resistance to rotation)\end{tabular} & \begin{tabular}[c]{@{}c@{}}Determines the moment \\ needed to produce a \\ desired curvature \\ about an axis \\ (resistance to bending)\end{tabular} \\
 &  &  \\
<strong>Equations</strong> & 
\begin{tabular}[c]{@{}c@{}} 
 <DisplayEquation equation='I_{P,\\hat{a}} = \\iiint_\\mathcal{B} \\rho r^2 \\,dV\\' /> \\ 
 \end{tabular} &

 \begin{tabular}[c]{@{}c@{}}
 <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />\\ 
 <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />\\ 
 <DisplayEquation equation='J_O = \\int_{A}^{} r^2 \\,dA = \\int_{A}^{} (x^2+y^2) \\,dA\\' />
 \end{tabular} \\
 
 &  \\
<strong>Units</strong> & length*mass\textasciicircum{}2 & length\textasciicircum{}4 \\
 &  &  \\
<strong>Typical Equations</strong> & <DisplayEquation equation='\\tau = I\\alpha \\] &  \\[\\sigma = (My)/I \\' />\\
 &  &  \\
<strong>Courses</strong> & TAM 212 & TAM 210, TAM 251
\end{tabular}
\end{table}

<SubSection>Moment of Inertia (Second Moment of Area)</SubSection>

The moment of inertia used in statics is the "second moment of area", which is a mass property that determines the amount of torque that is needed to create an angular acceleration about a specific axis of rotation. The dimension of the area moment of inertia is <InlineEquation equation='length^4' />.\\

Moment of inertia about the x-axis:  <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />

Moment of inertia about the y-axis: <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />

Polar moment of inertia: <DisplayEquation equation='J_O = \\int_{A}^{} r^2 \\,dA = \\int_{A}^{} (x^2+y^2) \\,dA\\' />
<em>Note that the polar moment of inertia depicts the measure of the distribution of area about a point (usually the origin), rather than about an axis.</em>

<SubSection>Parallel axis theorum</SubSection>

<BlueText>Need to transcribe this to be the correct format and drawings</BlueText>

\begin{figure*}[!h]
\centering
\includegraphics[angle=0, width=\textwidth]{MOIFigures/ParallelAxisThm.png}
\vspace{-2mm}
\caption{\small <BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText>}
\vspace{-3mm}
\label{Fig:ParallelAxisThm}
<Image src='/Statics/MOIFigures/ParallelAxisThm.png' width=''><BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText></Image>


<SubSection>Combining moments of inertia</SubSection>

<BlueText>Need to transcribe this to be the correct format and drawings - show the example problem with the house-shaped object.</BlueText>

\begin{figure*}[!h]
\centering
\includegraphics[angle=0, width=\textwidth]{MOIFigures/MOIComposite.png}
\vspace{-2mm}
\caption{\small <BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText>}
\vspace{-3mm}
\label{Fig:MOIComposite}
<Image src='/Statics/MOIFigures/MOIComposite.png' width=''><BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText></Image>

<SubSection>Moment of inertia for typical shapes</SubSection>

\begin{figure*}[!h]
\centering
\includegraphics[angle=0, width=\textwidth]{MOIFigures/TypicalMOI.png}
\vspace{-2mm}
\caption{\small <BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText>}
\vspace{-3mm}
\label{Fig:TypicalMOI}
<Image src='/Statics/MOIFigures/TypicalMOI.png' width=''><BlueText>Taken from TAM 210 Lecture 3 - Slide 3</BlueText></Image>


</Layout>