---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import DisplayTable from "../../components/DisplayTable.astro"
---
<style>
    table { border-collapse: collapse; }
    tr {
        border: none; 
    }
    td {
        border-right: solid 1px #000; 
        border-left: solid 1px #000;
        text-align:center;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    th{
        border-right: solid 1px #000; 
        border-left: solid 1px #000;
        border-bottom: solid 1px #000;;
        text-align:center;
    }
</style>

<Layout title="Moment of Inertia">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#second_moment'>Moment of Inertia (Second Moment of Area)</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#parallel_axis_theorem'>Parallel axis theorem</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#combining_moments'>Combining moments of inertia</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#typical_shapes'>Moment of inertia for typical shapes</a></li>

        </ul>
      </div>
<Section title="Moment of Inertia" id="moments">

<!-- Lecture 33 -->
<em>Note that in statics we are using the second moment of area as our moment of inertia. In dynamics a different moment of inertia is used (the mass moment of inertia). The differences between these two quantities are summarized in the table below: </em>

<DisplayTable>
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                <strong>Mass moment of inertia</strong>
            </th>
            <th>
                <strong>Area moment of inertia</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>Other names</strong>
            </td>
            <td>

            </td>
            <td>
                Second moment of area
            </td>
        </tr>
        <tr>
            <td>
                <strong>Description</strong>
            </td>
            <td>
                Determines the torque needed to produce a desired angular rotation about an axis of rotation (resistance to rotation)
            </td>
            <td>
                Determines the moment needed to produce a desired curvature about an axis(resistance to bending)
            </td>
        </tr>
        <tr>
            <td>
                <strong>Equations</strong>
            </td>
            <td>
                <DisplayEquation equation='I_{P,\\hat{a}} = \\iiint_\\mathcal{B} \\rho r^2 \\,dV\\' /> 
            </td>
            <td>
                <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />
                <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />
                <DisplayEquation equation='\\begin{aligned} J_O &= \\int_{A}^{} r^2 \\,dA \\\\ &= \\int_{A}^{} (x^2+y^2) \\,dA\\ \\end{aligned}' />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Units</strong> 
            </td>
            <td>
                <InlineEquation equation="length*mass^2"/>
            </td>
            <td>
                <InlineEquation equation="length^4"/>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Typical Equations</strong>
            </td>
            <td>
                <DisplayEquation equation='\\tau = I\\alpha' /> 
            </td>
            <td>
                <DisplayEquation equation='\\sigma = (My)/I \\' />
            </td>
        </tr>
        <tr>
            <td>
                <strong>Courses</strong>
            </td>
            <td>
                TAM 212
            </td>
            <td>
                TAM 210, TAM 251
            </td>
        </tr>
    </tbody>
</DisplayTable>

</Section>

<SubSection title="Moment of Inertia (Second Moment of Area)" id="second_moment">

The moment of inertia used in statics is the "second moment of area", which is a mass property that determines the amount of torque that is needed to create an angular acceleration about a specific axis of rotation. The dimension of the area moment of inertia is <InlineEquation equation='length^4' />.\\

Moment of inertia about the x-axis:  <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />

Moment of inertia about the y-axis: <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />

Polar moment of inertia: <DisplayEquation equation='J_O = \\int_{A}^{} r^2 \\,dA = \\int_{A}^{} (x^2+y^2) \\,dA\\' />
<em>Note that the polar moment of inertia depicts the measure of the distribution of area about a point (usually the origin), rather than about an axis.</em>

</SubSection>

<SubSection title="Parallel axis theorem" id="parallel_axis_theorem">
<p>
    The parallel axis theorem is used to calculate the moment of inertia for an object around axes other than through the centroid. The parallel axis theorum states: 
</p>

    <DisplayEquation equation="\\begin{align} I_{x} = I_{x'} + A(d_y)^2 \\\\ I_{y} = I_{y'} + A(d_x)^2 \\end{align}" />
<p>
    where <InlineEquation equation="I_{x'}" /> and <InlineEquation equation="I_{y'}" /> are the moments of inertia about the centroid, A is the total area of the shape, and d is the perpendicular distance from the centroid in either the x or y directions.
</p>

</SubSection>

<SubSection title="Combining moments of inertia" id="combining_moments">
<p>
Moments of inertia of simple shapes can be combined to calculate the moments of inertia of more complex shapes using the parallel axis theorum. 
</p>

<p>Example problem: what is the \(I_x\) of the composite shape? </p>

<Image src='/Statics/MOIFigures/MOIComposite.jpg' width='5'></Image>

</SubSection>

<SubSection title="Moment of inertia for typical shapes" id="typical_shapes">

<Image src='/Statics/MOIFigures/TypicalMOI.png' width='5'></Image>

</SubSection>

</Layout>