---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import Enumerate from "../../components/Enumerate.astro"
import Item from "../../components/Item.astro"
import RedText from "../../components/RedText.astro"
import DisplayEquation from "../../components/DisplayEquation.astro"
import InlineEquation from "../../components/InlineEquation.astro"
import PrairieDrawCanvas from "../../components/PrairieDrawCanvas.astro"
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
---
<Layout title="Trusses">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#assumptions'>Truss Assumptions</a></li> 
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#two_force_member'>Two Force Member</a></li>
          <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#zero_force_member'>Zero Force Member</a></li>
		  <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#joints'>Truss Analysis: Joints</a></li>
		  <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#sections'>Truss Analysis: Sections</a></li>
      </ul>
      </div>
<Section title="Trusses" id="trusses">

<p>Trusses are support members that are joined together at the ends. The function of a truss is to transmit loads to a support joint. In this section, we will analyze a simplified version of planar trusses called simple trusses, which consist of two-force members connected by frictionless joints/pins.

</p>
</Section>

<!-- starting in lecture 16 -->

<!-- Definition of a truss -->

<SubSection title="Truss Assumptions" id="assumptions">

The main assumptions for trusses and truss structures are:
<Enumerate>
	<Item>All loading is applied at the joints.</Item>
	<Item>The weight of the truss is negligible.</Item>
</Enumerate>
<p>
Because of these assumptions, all truss members are <em>two force members</em>, with the forces on the truss acting along the axis of the member. 

If the forces on the truss member "stretch" it, the member is in tension. 

If the forces on the truss member "squish" it, the member is in compression. 

<Image src='/Statics/TrussFigures/TensionCompression.jpg' width='5'> Truss member in tension (left) and compression (right)</Image>

</p>
</SubSection>

<!-- good summary in lecture 17, slide 5 -->

<SubSection title="Two Force Member" id="two_force_member">
<p>
A two force member is a rigid body that has two forces (no moments) acting on it in two locations, say \(A\) and \(B\). Equilibrium of the two-force member implies</p>
	
<DisplayEquation equation="\\vec{F_A} + \\vec{F_B} = \\vec 0," />

resulting in

<Enumerate>
	<Item>\(|F_A| = |F_B|\)</Item>
	<Item><InlineEquation equation="\\vec{F_A}" /> and <InlineEquation equation="\\vec{F_B}" /> act along the same line of action.</Item>
</Enumerate>

<Image src='/Statics/TrussFigures/2ForceMembers.jpg' width='6'> Examples of different two force members.</Image>

<p>
Specifically, the two forces act along the line between the two points where they are applied. 
</p>

</SubSection>

<!-- Lecture 16 -->
<SubSection title="Zero Force Member" id="zero_force_member">

Zero force members are members in a truss structure that experience no force. They act as support trusses to add stability, but are not load bearing. There are 2 cases where zero force members occur: 
<Enumerate>
	<Item> Two noncolinear members share a pin with no support or external forces (Zero force member example, left)
    </Item>
	<Item> Two colinear forces with a third noncolinear force on a pin (zero force member example, right)
</Item>
</Enumerate>

<Image src='/Statics/TrussFigures/0ForceMembers.jpg' width='5'> Examples of different zero force members, highlighted in red.</Image>

<p>
   These rules will help us simplify trusses and solve for the internal forces in the desired members.
	</p>

<p>
   Drawing free-body diagrams on trusses is simple. As mentioned in the beginning, we will choose the entire truss as our system and draw the free-body diagram to determine the reaction forces on pinned/roller joints. Note we will need more equations and free-body diagrams on individual truss members to fully determine the reaction forces. The following is a diagram showcasing eliminating zero-force members as well as the free-body diagram on the truss.
	</p>

<PrairieDrawCanvas id="rfb-xzf-f" height="600" width="600">
	<p class="controls">
		<button class="option-toggle:rfb-xzf-f:FBD" onclick="rfb_xzf_f.toggleOption('FBD')">free-body diagram</button>
	</p>
	<Row>
		<Col values="12">
			<div class="flex-grow-1 d-flex align-items-baseline">
				<span class="data-option:rfb-xzf-f:trussStage">Stage: 0</span>
				<input type="range" min="0" max="6" value="0" step="1" class="data-input:rfb-xzf-f:stage flex-grow-1 mx-2" onchange="rfb_xzf_f.setOption('stage', this.value); document.querySelector('span[class*=trussStage]').innerText = `Stage: ${this.value}`; console.log(this.value);" oninput="rfb_xzf_f.setOption('stage', this.value); document.querySelector('span[class*=trussStage]').innerText = `Stage: ${this.value}`;"/>
			</div>
			
		</Col>
	</Row>
</PrairieDrawCanvas>
</SubSection>

<!-- lecture 18 -->

<SubSection title="Truss Analysis: Method of Joints" id="joints">

Method of joints for truss analysis: 
<Enumerate>
	<Item>Draw a free-body diagram for the entire truss and solve for the external reaction forces and moments at the supports</Item>
	<Item>Draw a free-body diagram of a joint with at least 1 known force and at most two unknown forces</Item>
	<Item>Use the equations of equilibrium for the joint to solve for the unknown forces</Item>
	<Item>Repeat steps 2 and 3 to find the forces in the trusses you are interested in. </Item>
</Enumerate>

<p><em>Note:</em> Remember that truss members that are in compression "push back" on the pin joints, and truss members that are in tension "pull" on the pin joints. 
</p>

<Image src='/Statics/TrussFigures/ExplodedTruss.jpg' width='5'></Image>

</SubSection>

<SubSection title="Truss Analysis: Method of Sections" id="sections">

<p> 
The method of sections is helpful for determining the internal forces inside a truss member. The first step for the method of sections is the same as the firts step for the method of joints: Draw a FBD for the entire truss and solve for the external forces at the supports. 

Then, you "cut" the truss so that the internal force you want is "exposed" from the cut and analyze the two parts of the truss system to solve for the internal forces of the truss members. 
</p>

<Image src='/Statics/TrussFigures/MethodofSections.jpg' width='6'>Example of methods of sections for joint analysis</Image>

<!-- lecture 19  -->

</SubSection>



</Layout>

<script src="/sta/trusses/canvases.js" is:inline></script>
