---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Vectors Scalars">
<Section title="Vectors and Scalars"></Section>

<!-- \subsection{Force Vectors} -->

<!-- I'm not sure we need a reference page for this - or maybe put it at the end? -->

<SubSection title="Scalars vs. Vectors"></SubSection>

<SubSubSection title="Vectors">

<SubSection title="Notation">

    <p>
        Some textbooks differentiate between <em>free
        vectors</em>, which are free to slide around, and
        <em>bound vectors</em>, which are anchored in space. We
        will only use free vectors.
      </p>

      <p>
        We will use the over-arrow notation <InlineEquation equation="\\vec{a}" /> for vector
        quantities. Other common notations include bold
        <InlineEquation equation="\\boldsymbol{a}" /> and under-bars <InlineEquation equation="\\underline{a}" />. For unit
        (length one) vectors we will use an over-hat <InlineEquation equation="\\hat{a}" />.
      </p>
</SubSection>

<p>
A <em>vector</em> is an arrow with a length and a direction. Just like positions, vectors exist before we measure or describe them. Unlike positions, vectors can mean many different things, such as position vectors, velocities, etc. Vectors are not anchored to particular positions in space, so we can slide a vector around and locate it at any position.
</p>

<Image src='/Statics/VectorsScalarsFigures/VectorDef.png' width='4'></Image>

</SubSubSection>

<SubSubSection title="Scalars">

<p>
While a vector represents magnitude and direction, a <em>scalar</em> is a number that represents a magnitude, but with no directional information. Some examples of scalar quantities can be mass, length, time, speed, or temperature. 
</p>

</SubSubSection>

<SubSection title="Vector Operations"></SubSection>

<SubSubSection title="Scaling Vectors">

<p>
Vectors can be multiplied by a scalar number, which multiplies their length. 
</p>

<Image src='/Statics/VectorsScalarsFigures/VecScaling.png' width='4'><BlueText>Taken from TAM212 Reference Pages (Vectors and Bases). Don't include the a+b vector - only keep one a and one b vector with their scaled counterparts.</BlueText></Image>

</SubSubSection>

<SubSubSection title="Vector Addition and Subtraction">

<BlueText>From TAM212 Reference Pages (Vectors and Bases):</BlueText>

<p>
Vectors can be added or subtracted together, using the parallelogram law of addition or the head-to-tail rule.
</p>

<Image src='/Statics/VectorsScalarsFigures/VecAddition.png' width='2'><BlueText>Taken from TAM212 Reference Pages (Vectors and Bases). Only include the left part of the figure, and add another part on the right that shows a-b.</BlueText></Image>

</SubSubSection>

<SubSection title="Unit Vectors">

<BlueText>Use the same content here as from the TAM212 Reference Pages (Vectors and Bases - Unit Vectors)</BlueText>

</SubSection>

<SubSection title="Vector Magnitude and Direction">

<p>
Vectors can be written as a magnitude (length) multiplied by the unit vector in the same direction as the original vector. 
</p>

<DisplayEquation equation='\\vec{A} = \\|\\vec{A}\\|  \\hat{u_A}\\' />

<BlueText>Insert the same content here as from the TAM212 Reference Pages (Vectors and Bases - Length of Vectors) for vector magnitude.</BlueText>

<p>
The direction of a vector can be written as a unit vector by dividing the vector components by the vector magnitude. 
</p>

<Image src='/Statics/VectorsScalarsFigures/UnitVec.jpg' width='4'><BlueText>Taken from TAM210 Lecture 03 Notes - Slide 3</BlueText></Image>

<p>
Alternatively, the vector components can be determined geometrically via the angles of each component with respect to the Cartesian coordinates. 
</p>

<BlueText>Can probably make some sort of interactive figure here based on the image from TAM 210 lecture notes - slide 4</BlueText>

</SubSection>

<SubSection title="Scalar and Vector Products"></SubSection>

<SubSubSection title="Dot Product">

<BlueText>Insert the same content here as from the TAM212 Reference Pages (Vectors and Bases - Dot Product).</BlueText>

</SubSubSection>

<SubSubSection title="Cross Product">

<p>Formula for a cross product:</p>
<Image src='/Statics/VectorsScalarsFigures/UnitVecAngles.jpg' width='8'><BlueText>Taken from TAM210 Lecture 03 Notes - Slide 4</BlueText></Image>

<Image src='/Statics/VectorsScalarsFigures/CrossProduct.jpg' width='8' /> 

<BlueText>Insert the same content here as from the TAM212 Reference Pages (Vectors and Bases - Cross Product).</BlueText>

</SubSubSection>

<SubSubSection title="Vector Projection">

<BlueText>Insert the same content here as from the TAM212 Reference Pages (Vectors and Bases - Projection and Complementary Projection).</BlueText>

</SubSubSection>

</Layout>
