---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Cycles">
<Section title="">Power Cycles</Section>
<p>Much of the power that we use in our daily lives is produced through cycles operating with a working fluid.</p>
<p></p><p>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<SubSection title="">Carnot cycle</SubSection>
<p>A <strong>Carnot cycle</strong> is defined as an ideal gas, undergoing a 4-step, reversible, closed thermodynamic cycle. Imagine that an ideal gas contained within a piston-cylinder undergoes the series of processes depicted in Fig.~\ref{fig:CarnotCycle} below, with the gas starting in state <InlineEquation equation="1" /> before progressing to states <InlineEquation equation="2" />, <InlineEquation equation="3" />, <InlineEquation equation="4" />, and then returning to state <InlineEquation equation="1" /> to complete a cycle. </p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,every text node part/.style={align=center},>=latex']
<p>%pistons</p>
<p>% State1 cylinder</p>
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref) + (2,1)" />) --  (<InlineEquation equation=" (ref) + (0,1) " />) -- (ref) -- (<InlineEquation equation=" (ref) + (2,0)" />);
	\draw (ref) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref) + (1,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (1,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref) + (1.2,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (0,1.9)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="1" />};
	\draw [ultra thick, -latex] (<InlineEquation equation=" (ref) + (1.4,0.5)" />)  node[right, xshift=-0.15cm] {<InlineEquation equation="|W_{12}|" />} -- (<InlineEquation equation=" (ref) + (0.5,0.5)" />);
	\draw [ draw=none, pattern=north west lines, pattern color=black] (ref) -- (<InlineEquation equation=" (ref) + (0,1)" />) -- (<InlineEquation equation=" (ref) + (2,1)" />) -- (<InlineEquation equation=" (ref) + (2,1.25)" />) -- (<InlineEquation equation=" (ref) + (-0.25,1.25)" />) -- (<InlineEquation equation=" (ref) + (-0.25,-0.25)" />) -- (<InlineEquation equation=" (ref) + (2,-0.25)" />) -- (<InlineEquation equation=" (ref) + (2,0)" />) -- cycle; % insulated region
	\draw (<InlineEquation equation=" (ref) + (-0.25,1.15)" />) [ draw= none, fill=red!70] rectangle(<InlineEquation equation=" (ref) + (2,1.5)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref) + (-0.25,1.45)" />) [ draw= none, top color=white, bottom color=red!70] rectangle(<InlineEquation equation=" (ref) + (2,1.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref) + (-0.25,-0.5)" />) [ draw= none, fill=Dlblue] rectangle(<InlineEquation equation=" (ref) + (2,-0.15)" />); % define rectangle by lower left and upper right points, cold reservoir
	\draw (<InlineEquation equation=" (ref) + (-0.25,-0.45)" />) [ draw= none, top color=Dlblue, bottom color=white] rectangle(<InlineEquation equation=" (ref) + (2,-0.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref) + (0.875,-1)" />) node[draw = none]  {\footnotesize <InlineEquation equation="1 \\to 2" />};
<p></p><p>
<!--  State2 cylinder</p> -->
	\node (ref2) at  (<InlineEquation equation=" (ref) + (2.5,0)" />)  [draw=none, coordinate] {};
	\draw (ref2) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref2) + (0.5,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (0.5,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref2) + (0.7,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (0,1.9)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="2" />};
	\draw [ultra thick, latex-] (<InlineEquation equation=" (ref2) + (1.1,0.5)" />)  node[right, xshift=-0.15cm] {<InlineEquation equation="|W_{23}|" />} -- (<InlineEquation equation=" (ref2) + (0.25,0.5)" />);
	\draw [ draw=none, pattern=north west lines, pattern color=black] (ref2) -- (<InlineEquation equation=" (ref2) + (0,1)" />) -- (<InlineEquation equation=" (ref2) + (2,1)" />) -- (<InlineEquation equation=" (ref2) + (2,1.25)" />) -- (<InlineEquation equation=" (ref2) + (-0.25,1.25)" />) -- (<InlineEquation equation=" (ref2) + (-0.25,-0.25)" />) -- (<InlineEquation equation=" (ref2) + (2,-0.25)" />) -- (<InlineEquation equation=" (ref2) + (2,0)" />) -- cycle; % insulated region
	\draw (<InlineEquation equation=" (ref2) + (-0.25,1)" />) [ draw= none, fill=red!70] rectangle(<InlineEquation equation=" (ref2) + (2,1.5)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref2) + (-0.25,1.45)" />) [ draw= none, top color=white, bottom color=red!70] rectangle(<InlineEquation equation=" (ref2) + (2,1.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref2) + (-0.25,-0.5)" />) [ draw= none, fill=Dlblue] rectangle(<InlineEquation equation=" (ref2) + (2,-0.15)" />); % define rectangle by lower left and upper right points, cold reservoir
	\draw (<InlineEquation equation=" (ref2) + (-0.25,-0.45)" />) [ draw= none, top color=Dlblue, bottom color=white] rectangle(<InlineEquation equation=" (ref2) + (2,-0.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref2) + (0.875,-1)" />) node[draw = none]  {\footnotesize <InlineEquation equation="2 \\to 3" />};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref2) + (2,1)" />) --  (<InlineEquation equation=" (ref2) + (0,1) " />) -- (ref2) -- (<InlineEquation equation=" (ref2) + (2,0)" />);
	\draw[-latex,decorate,decoration={snake,amplitude=.5mm,segment length=1.5mm ,post length=6pt}, very thick, draw=red!70, color=red!70] (<InlineEquation equation=" (ref2) + (0.25,1.05)" />) -- (<InlineEquation equation=" (ref2) + (0.25,0.55)" />)  node[below, text=red!70] {\footnotesize <InlineEquation equation="Q_H" />} ;
	\draw (<InlineEquation equation=" (ref2) + (0.875,1.25)" />) node[draw = none, text=white]  {\footnotesize hot reservoir <InlineEquation equation="T_H" />};
<p>	%\draw (<InlineEquation equation=" (ref2) + (-0.25,1.8)" />) node[draw = none, text=red!20]  {\footnotesize <InlineEquation equation="T_H" />};</p>
<p>	</p>
<p>% State3 cylinder</p>
	\node (ref3) at  (<InlineEquation equation=" (ref2) + (2.4,0)" />)  [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref3) + (2,1)" />) --  (<InlineEquation equation=" (ref3) + (0,1) " />) -- (ref3) -- (<InlineEquation equation=" (ref3) + (2,0)" />);
	\draw (ref3) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref3) + (1,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref3) + (1,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref3) + (1.2,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref3) + (0,1.9)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="3" />};
	\draw [ultra thick, latex-] (<InlineEquation equation=" (ref3) + (1.6,0.5)" />)  node[right,xshift=-0.15cm] {<InlineEquation equation="|W_{34}|" />} -- (<InlineEquation equation=" (ref3) + (0.6,0.5)" />);
	\draw [ draw=none, pattern=north west lines, pattern color=black] (ref3) -- (<InlineEquation equation=" (ref3) + (0,1)" />) -- (<InlineEquation equation=" (ref3) + (2,1)" />) -- (<InlineEquation equation=" (ref3) + (2,1.25)" />) -- (<InlineEquation equation=" (ref3) + (-0.25,1.25)" />) -- (<InlineEquation equation=" (ref3) + (-0.25,-0.25)" />) -- (<InlineEquation equation=" (ref3) + (2,-0.25)" />) -- (<InlineEquation equation=" (ref3) + (2,0)" />) -- cycle; % insulated region
	\draw (<InlineEquation equation=" (ref3) + (-0.25,1.15)" />) [ draw= none, fill=red!70] rectangle(<InlineEquation equation=" (ref3) + (2,1.5)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref3) + (-0.25,1.45)" />) [ draw= none, top color=white, bottom color=red!70] rectangle(<InlineEquation equation=" (ref3) + (2,1.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref3) + (-0.25,-0.5)" />) [ draw= none, fill=Dlblue] rectangle(<InlineEquation equation=" (ref3) + (2,-0.15)" />); % define rectangle by lower left and upper right points, cold reservoir
	\draw (<InlineEquation equation=" (ref3) + (-0.25,-0.45)" />) [ draw= none, top color=Dlblue, bottom color=white] rectangle(<InlineEquation equation=" (ref3) + (2,-0.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref3) + (0.875,-1)" />) node[draw = none]  {\footnotesize <InlineEquation equation="3 \\to 4" />};
<p>	</p>
<p>% State4 cylinder</p>
	\node (ref4) at  (<InlineEquation equation=" (ref3) + (2.7,0)" />)  [draw=none, coordinate] {};
	\draw (ref4) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref4) + (1.5,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref4) + (1.5,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref4) + (1.7,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref4) + (0,1.9)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="4" />};
	\draw [ultra thick, -latex] (<InlineEquation equation=" (ref4) + (1.9,0.5)" />)  node[right,xshift=-0.15cm] {<InlineEquation equation="|W_{41}|" />} -- (<InlineEquation equation=" (ref4) + (1.1,0.5)" />);
	\draw [ draw=none, pattern=north west lines, pattern color=black] (ref4) -- (<InlineEquation equation=" (ref4) + (0,1)" />) -- (<InlineEquation equation=" (ref4) + (2,1)" />) -- (<InlineEquation equation=" (ref4) + (2,1.25)" />) -- (<InlineEquation equation=" (ref4) + (-0.25,1.25)" />) -- (<InlineEquation equation=" (ref4) + (-0.25,-0.25)" />) -- (<InlineEquation equation=" (ref4) + (2,-0.25)" />) -- (<InlineEquation equation=" (ref4) + (2,0)" />) -- cycle; % insulated region
	\draw (<InlineEquation equation=" (ref4) + (-0.25,1.15)" />) [ draw= none, fill=red!70] rectangle(<InlineEquation equation=" (ref4) + (2,1.5)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref4) + (-0.25,1.45)" />) [ draw= none, top color=white, bottom color=red!70] rectangle(<InlineEquation equation=" (ref4) + (2,1.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref4) + (-0.25,-0.5)" />) [ draw= none, fill=Dlblue] rectangle(<InlineEquation equation=" (ref4) + (2,0)" />); % define rectangle by lower left and upper right points, cold reservoir
	\draw (<InlineEquation equation=" (ref4) + (-0.25,-0.45)" />) [ draw= none, top color=Dlblue, bottom color=white] rectangle(<InlineEquation equation=" (ref4) + (2,-0.7)" />); % define rectangle by lower left and upper right points, hot reservoir
	\draw (<InlineEquation equation=" (ref4) + (0.875,-1)" />) node[draw = none]  {\footnotesize <InlineEquation equation="4 \\to 1" />};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref4) + (2,1)" />) --  (<InlineEquation equation=" (ref4) + (0,1) " />) -- (ref4) -- (<InlineEquation equation=" (ref4) + (2,0)" />);
	\draw[-latex,decorate,decoration={snake,amplitude=.5mm,segment length=1.5mm ,post length=6pt}, very thick, draw=Dlblue, color=Dlblue] (<InlineEquation equation=" (ref4) + (0.75,0.5)" />) node[left, text=Dlblue] {\footnotesize <InlineEquation equation="Q_C" />} -- (<InlineEquation equation=" (ref4) + (0.75,-0.05)" />);
	\draw (<InlineEquation equation=" (ref4) + (0.875,-0.25)" />) node[draw = none, text=white]  {\footnotesize cold reservoir <InlineEquation equation="T_C" />};

\end{tikzpicture}\end{center}
\caption{A schematic of a piston-cylinder executing a Carnot cycle between hot and cold thermal reservoirs. }\label{fig:CarnotCycle}
<Image src="/Thermo/" width="5"></Image>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p></p><p>
During the cycle, the system contacts sequentially a hot reservoir and a cold reservoir at temperatures <InlineEquation equation="T_H" /> and <InlineEquation equation="T_C" />, respectively. While in contact with a thermal reservoir, the system remains at the temperature of the thermal reservoir. In between reservoir contacts, the system is insulated and no heat transfer occurs. Each process <strong>quasi-static</strong>, and <strong>reversible</strong>. In this idealized cycle, heat transfers in and out of the system despite the fact that there is no temperature difference to drive heat flow. Such hypothetical heat flow is reversible because an infinitesimal increase in the reservoir temperature relative to the system will cause heat to flow into the system, or vice versa for an infinitesimal decrease in the reservoir temperature. This idealized cycle is known as a Carnot cycle. </p>

\paragraph{Reversible process:} In a reversible process, the direction can be reversed at any point by an infinitesimal change in external conditions. 

\paragraph{Quasi-static process:} A process that occurs at an infinitesimally slow rate so that the system is in a thermodynamic equilibrium at all times.

<SubSubSection title="">Carnot Cycle Steps</SubSubSection>
<p></p><p>
In processes <InlineEquation equation="2 \\to 3" /> and <InlineEquation equation="3 \\to 4" />, work is done by the gas. Figure~\ref{fig:PVwork1} illustrates two potential, monotonic processes corresponding to positive work, or work done by the gas. On the left, pressure is higher in state <InlineEquation equation="b" /> than state <InlineEquation equation="a" />. On the right, pressure is higher in state <InlineEquation equation="a" /> than state <InlineEquation equation="b" />. <InlineEquation equation="V_b > V_a" /> in both cases. When illustrating the magnitude of the work to be determined, the arrow is drawn out of the system as shown in state <InlineEquation equation="1" />. </p>


\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,>=latex',
<p>	declare function={</p>
<p>        		curve1(\x) = \x^2;</p>
<p>		curve2(\x) = 1/(\x^2);</p>
<p>  	}
	]</p>
<p></p><p>
<!--  upper cylinder</p> -->
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref) + (2,1)" />) -- (<InlineEquation equation=" (ref) + (0,1) " />) -- (ref) -- (<InlineEquation equation=" (ref) + (2,0)" />);
	\draw (ref) [ thick, fill=Dlblue] rectangle(<InlineEquation equation=" (ref) + (0.75,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (0.75,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref) + (0.95,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (-0.25,1)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="a" />};
	\draw [ultra thick, -latex] (<InlineEquation equation=" (ref) + (0.5,0.5)" />)  -- (<InlineEquation equation=" (ref) + (1.5,0.5)" />) node[above] {<InlineEquation equation="W" />};
<p>% lower cylinder</p>
	\node (ref2) at (<InlineEquation equation=" (ref) - (0,2)" />) [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref2) + (2,1)" />) -- (<InlineEquation equation=" (ref2) + (0,1) " />) -- (ref2) -- (<InlineEquation equation=" (ref2) + (2,0)" />);
	\draw (ref2) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref2) + (1.3,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (1.3,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref2) + (1.5,1)" />);  % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (-0.25,1)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="b" />};
<p>	% arrow between</p>
	\node [isosceles triangle, draw, fill=black, isosceles triangle stretches, minimum height=0.2cm, minimum width=0.5cm, shape border rotate=-90, inner sep=0pt] at (<InlineEquation equation=" (ref) + (1,-0.5)" />) {};
<p>	</p>
<p>% left plot</p>
	\node (refp1) at (<InlineEquation equation=" (ref) + (2.75,-2)" />) [draw=none, coordinate] {};
	\begin{axis} [at={(refp1)},xmin=1, ymin=0.5, xmax=2, ymax = 4.2, samples = 50, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 4.5cm, height=4.5cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 1.1:1.9, fill between/on layer={axis background}]</p>
		
		\addplot[name path=f, black, very thick,->] {curve1(x)}; % Curve
		\path[name path=ax] (axis cs:1, 0.5) -- (axis cs:2, 0.5); % Axis base to shade to
		\addplot [left color = Dlblue, right color = Mteal] % Add shaded region
<p>		fill between [</p>
<p>			of = f and ax,</p>
<p>			soft clip={domain=1.1:1.9},</p>
<p>		];</p>
		\addplot [only marks, very thick] coordinates { % Add end points
<p>		(1.1, {curve1(1.1)})</p>
<p>		(1.9, {curve1(1.9)})</p>
<p>		};</p>
		\node [above, color=black] at (axis cs:1.1, {curve1(1.1)}) {<InlineEquation equation="a" />};
		\node [above, color=black] at (axis cs:1.9, {curve1(1.9)}) {<InlineEquation equation="b" />};
		
	\end{axis}
	\draw (<InlineEquation equation=" (refp1) + (1.5,2.8)" />) node[draw=none] {<InlineEquation equation="p_b>p_a" />};
<p></p><p>
<!--  right plot</p> -->
	\node (refp2) at (<InlineEquation equation=" (refp1) + (3.5,0)" />) [draw=none, coordinate] {};
	\begin{axis} [at={(refp2)},xmin=1, ymin=0.1, xmax=2, ymax = 1, samples = 50, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 4.5cm, height=4.5cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 1.1:1.9, fill between/on layer={axis background}]</p>
		
		\addplot[name path=g, black, very thick,->] {curve2(x)};
		\path[name path=ax2] (axis cs:1, 0.1) -- (axis cs:2, 0.1);
		\addplot [left color = Dlblue, right color = Mteal]
<p>		fill between [</p>
<p>			of = g and ax2,</p>
<p>			soft clip={domain=1.1:1.9},</p>
<p>		];</p>
		\addplot [only marks, very thick] coordinates {
<p>		(1.1, {curve2(1.1)})</p>
<p>		(1.9, {curve2(1.9)})</p>
<p>		};</p>
		\node [above, color=black] at (axis cs:1.1, {curve2(1.1)}) {<InlineEquation equation="a" />};
		\node [above, color=black] at (axis cs:1.9, {curve2(1.9)}) {<InlineEquation equation="b" />};
	\end{axis}
	\draw (<InlineEquation equation=" (refp2) + (1.5,2.8)" />) node[draw=none] {<InlineEquation equation="p_a>p_b" />};

\end{tikzpicture}
\end{center}
\caption{Work done by the gas}\label{fig:PVwork1}
<Image src="/Thermo/" width="5"></Image>
<p></p><p>
</p><p></p><p>
In processes <InlineEquation equation="1 \\to 2" /> and <InlineEquation equation="4 \\to 1" />, work is done on the gas. Figure~\ref{fig:PVwork1} illustrates two potential, monotonic processes corresponding to positive work, or work done by the gas. On the left, pressure is higher in state <InlineEquation equation="b" /> than state <InlineEquation equation="a" />. On the right, pressure is higher in state <InlineEquation equation="a" /> than state <InlineEquation equation="b" />. <InlineEquation equation="V_a > V_b" /> in both cases as shown in Figure~\ref{fig:PVwork2}. Recall the expression for <InlineEquation equation="pV" /> work,</p>
<DisplayEquation equation="W = \int_{V_a}^{V_b} p(V) dV," title="" />
<p>noting that work for these processes is negative as indicated by the right-to-left process curve arrow in each of the <InlineEquation equation="pV" /> diagrams. When illustrating the magnitude of the work to be determined, the arrow is drawn into the system as shown in state <InlineEquation equation="a" /> (Fig.~\ref{fig:PVwork2}). </p>

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,>=latex',
<p>	declare function={</p>
<p>        		curve1(\x) = 1/(\x^2);</p>
<p>		curve2(\x) = \x^2;</p>
<p>  	}
	]</p>
<p></p><p>
<!--  upper cylinder</p> -->
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref) + (2,1)" />) -- (<InlineEquation equation=" (ref) + (0,1) " />) -- (ref) -- (<InlineEquation equation=" (ref) + (2,0)" />);
	\draw (ref) [ thick, fill=Mteal] rectangle(<InlineEquation equation=" (ref) + (1.3,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (1.3,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref) + (1.5,1)" />);  % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref) + (-0.25,1)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="a" />};
	\draw [ultra thick, latex-] (<InlineEquation equation=" (ref) + (0.75,0.5)" />)  -- (<InlineEquation equation=" (ref) + (1.75,0.5)" />) node[above] {<InlineEquation equation="W" />};
<p>% lower cylinder</p>
	\node (ref2) at (<InlineEquation equation=" (ref) - (0,2)" />) [draw=none, coordinate] {};
	\draw [ thick, join=round] (<InlineEquation equation=" (ref2) + (2,1)" />) -- (<InlineEquation equation=" (ref2) + (0,1) " />) -- (ref2) -- (<InlineEquation equation=" (ref2) + (2,0)" />);
	\draw (ref2) [ thick, fill=Dlblue] rectangle(<InlineEquation equation=" (ref2) + (0.75,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (0.75,0)" />) [ thick, fill=gray!80] rectangle(<InlineEquation equation=" (ref2) + (0.95,1)" />); % define rectangle by lower left and upper right points
	\draw (<InlineEquation equation=" (ref2) + (-0.25,1)" />) node[circle, inner sep=0.5pt, draw]  {\footnotesize <InlineEquation equation="b" />};
<p>	% arrow between</p>
	\node [isosceles triangle, draw, fill=black, isosceles triangle stretches, minimum height=0.2cm, minimum width=0.5cm, shape border rotate=-90, inner sep=0pt] at (<InlineEquation equation=" (ref) + (1,-0.5)" />) {};
<p>	</p>
<p>% left plot</p>
	\node (refp1) at (<InlineEquation equation=" (ref) + (2.75,-2)" />) [draw=none, coordinate] {};
	\begin{axis} [at={(refp1)},xmin=1, ymin=0.1, xmax=2, ymax = 1, samples = 50, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 4.5cm, height=4.5cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 1.1:1.9, fill between/on layer={axis background}]</p>
		
		\addplot[name path=f, black, very thick,<-] {curve1(x)}; % Curve
		\path[name path=ax] (axis cs:1, 0.1) -- (axis cs:2, 0.1); % Axis base to shade to
		\addplot [left color = Dlblue, right color = Mteal] % Add shaded region
<p>		fill between [</p>
<p>			of = f and ax,</p>
<p>			soft clip={domain=1.1:1.9},</p>
<p>		];</p>
		\addplot [only marks, very thick] coordinates { % Add end points
<p>		(1.1, {curve1(1.1)})</p>
<p>		(1.9, {curve1(1.9)})</p>
<p>		};</p>
		\node [above, color=black] at (axis cs:1.1, {curve1(1.1)}) {<InlineEquation equation="b" />};
		\node [above, color=black] at (axis cs:1.9, {curve1(1.9)}) {<InlineEquation equation="a" />};
		
	\end{axis}
	\draw (<InlineEquation equation=" (refp1) + (1.5,2.8)" />) node[draw=none] {<InlineEquation equation="p_b>p_a" />};
<p></p><p>
<!--  right plot</p> -->
	\node (refp2) at (<InlineEquation equation=" (refp1) + (3.5,0)" />) [draw=none, coordinate] {};
	\begin{axis} [at={(refp2)},xmin=1, ymin=0.5, xmax=2, ymax = 4.2, samples = 50, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 4.5cm, height=4.5cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 1.1:1.9, fill between/on layer={axis background}]</p>
		
		\addplot[name path=g, black, very thick,<-] {curve2(x)};
		\path[name path=ax2] (axis cs:1, 0.5) -- (axis cs:2, 0.5);
		\addplot [left color = Dlblue, right color = Mteal]
<p>		fill between [</p>
<p>			of = g and ax2,</p>
<p>			soft clip={domain=1.1:1.9},</p>
<p>		];</p>
		\addplot [only marks, very thick] coordinates {
<p>		(1.1, {curve2(1.1)})</p>
<p>		(1.9, {curve2(1.9)})</p>
<p>		};</p>
		\node [above, color=black] at (axis cs:1.1, {curve2(1.1)}) {<InlineEquation equation="b" />};
		\node [above, color=black] at (axis cs:1.9, {curve2(1.9)}) {<InlineEquation equation="a" />};
	\end{axis}
	\draw (<InlineEquation equation=" (refp2) + (1.5,2.8)" />) node[draw=none] {<InlineEquation equation="p_a>p_b" />};

\end{tikzpicture}
\end{center}
\caption{Work done on the gas}\label{fig:PVwork2}
<Image src="/Thermo/" width="5"></Image>
<p></p><p>
To plot the processes that make up the cycle in Fig.~\ref{fig:CarnotCycle}, we first observe that processes <InlineEquation equation="2 \\to 3" /> and <InlineEquation equation="4 \\to 1" /> are <strong>isothermal</strong>, meaning the temperature of the working fluid is constant during the process. Given that the working fluid is an ideal gas, <InlineEquation equation="pV = mRT" /> and therefore </p>
<DisplayEquation equation="p = \frac{mR}{V} T" title="eq:IG_eos2" />
<p>where <InlineEquation equation="m" /> is the mass of gas and <InlineEquation equation="R" /> is the gas constant. An isothermal process at <InlineEquation equation="T_H" /> or <InlineEquation equation="T_C" />, the temperature of the hot and cold reservoirs, must therefore fall on the dashed lines in Fig.~\ref{fig:CarnotpV}. These lines are known as <strong>isotherms</strong>. </p>

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,>=latex',
<p>	declare function={</p>
<p>        		curveTH(\x) = 1/(\x);</p>
<p>		curveTC(\x) = 0.5/(\x);</p>
<p>		curveR(\x) = 0.8/(\x^(2));</p>
<p>		curveL(\x) = 0.4/(\x^(2));</p>
<p>  	}
	]</p>
<p></p><p>
<!--  plot</p> -->
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\begin{axis} [at={(ref)}, xmin=0.3, ymin=0.2, xmax=1.8, ymax = 2.6, samples = 100, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 5cm, height=5cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 0.35:1.7, fill between/on layer={axis background}]</p>
		
		\addplot[red!70, very thick, dashed] {curveTH(x)};
		\addplot[Dlblue, very thick,dashed] {curveTC(x)};
		\addplot[black!50, very thick,dotted] {curveL(x)};
		\addplot[black, very thick,dotted] {curveR(x)};

	\end{axis}
	\node (refL) at (<InlineEquation equation=" (ref) + (4,3)" />) [draw=none, coordinate] {};
	\draw [dashed, very thick, red!70] (<InlineEquation equation=" (refL) + (0,0)" />) -- (<InlineEquation equation=" (refL) + (1cm,0)" />) node[right, draw=none] {<InlineEquation equation="T_H" />};
	\draw [dashed, very thick, Dlblue] (<InlineEquation equation=" (refL) + (0,-0.5cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-0.5cm)" />) node[right, draw=none] {<InlineEquation equation="T_C" />};
	\draw [dotted, very thick, black!50] (<InlineEquation equation=" (refL) + (0,-1cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-1cm)" />) node[right, draw=none] {<InlineEquation equation="C = p_1V_1^{\\gamma} = p_2V_2^{\\gamma}" />};
	\draw [dotted, very thick, black] (<InlineEquation equation=" (refL) + (0,-1.5cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-1.5cm)" />) node[right, draw=none] {<InlineEquation equation="C = p_3V_3^{\\gamma} = p_4V_4^{\\gamma}" />};

\end{tikzpicture}
\end{center}
\caption{<InlineEquation equation="pV" /> curves for ideal gas expansion and compression in a Carnot cycle.}\label{fig:CarnotpV}
<Image src="/Thermo/" width="5"> curves for ideal gas expansion and compression in a Carnot cycle.</Image>
<p></p><p>
Processes <InlineEquation equation="1 \\to 2" /> and <InlineEquation equation="3 \\to 4" /> are <strong>adiabatic</strong>, meaning that during the process no heat transfer occurs. We will show later in the class that the adiabatic, reversible expansion or compression of an ideal gas must obey the relation</p>
<DisplayEquation equation="pV^{\gamma}=C" title="eq:polytropic" />
<p>where <InlineEquation equation="\\gamma" /> and <InlineEquation equation="C" /> are constants and <InlineEquation equation="\\gamma > 1" />. Therefore these processes must fall on a curve defined by</p>
<DisplayEquation equation="p(V)=\frac{C}{V^{\gamma}}," title="eq:Pexpression" />
<p>illustrated for two values of <InlineEquation equation="C" /> by the dash-dot lines in Fig.~\ref{fig:CarnotpV}. </p>
<p></p><p>
Combining the <InlineEquation equation="p(V)" /> relations for the ideal gas expansion and compression with the directionality of the work shown in Figs.~\ref{fig:PVwork1} and \ref{fig:PVwork2}, we can plot a Carnot cycle for an ideal gas on a <InlineEquation equation="pV" /> diagram as shown in Fig.~\ref{fig:CarnotpVcycle}. </p>

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,>=latex',
<p>	declare function={</p>
<p>        		curveTH(\x) = 1/(\x);</p>
<p>		curveTC(\x) = 0.5/(\x);</p>
<p>		curveR(\x) = 0.8/(\x^(2));</p>
<p>		curveL(\x) = 0.4/(\x^(2));</p>
<p>  	}
	]</p>
<p></p><p>
<!--  plot</p> -->
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\begin{axis} [at={(ref)}, xmin=0.3, ymin=0.2, xmax=1.8, ymax = 2.6, samples = 100, 
<p>			ytick=\empty, yticklabels={}, ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels={},</p>
<p>			ylabel={<InlineEquation equation="p" />}, xlabel={<InlineEquation equation="V" />},</p>
<p>			width = 7cm, height=7cm, axis y line = left, axis x line = bottom,</p>
<p>			domain = 0.35:1.7, fill between/on layer={axis background}]</p>
		
		\addplot[red!70,  thick, dashed] {curveTH(x)};
		\addplot[Dlblue,  thick,dashed] {curveTC(x)};
		\addplot[black!50,  thick,dotted] {curveL(x)};
		\addplot[black,  thick,dotted] {curveR(x)};
		\addplot[name path=hot, Ddblue, very thick, domain=0.4:0.8, ->] {curveTH(x)};
		\addplot[name path=cold, Ddblue, very thick, domain={0.4/0.5}:{0.8/0.5}, <-] {curveTC(x)};
		\addplot[name path=left, Ddblue, very thick, domain=0.4:{0.4/0.5}, <-] {curveL(x)};
		\addplot[name path=right, Ddblue, very thick, domain=0.8:{0.8/0.5}, ->] {curveR(x)};
		\addplot [Mteal, draw=Mteal]
<p>		fill between [</p>
<p>			of = hot and left,</p>
<p>			soft clip={domain=0.4:0.8},</p>
<p>		];</p>
		\addplot [Mteal]
<p>		fill between [</p>
<p>			of = right and cold,</p>
<p>			soft clip={domain=0.8:{0.8/0.5}},</p>
<p>		];</p>
		\addplot [only marks, thick] coordinates {
<p>		({0.4/0.5}, {curveTC(0.4/0.5)})</p>
<p>		(0.4, {curveTH(0.4)})</p>
<p>		(0.8, {curveTH(0.8)})</p>
<p>		({0.8/0.5}, {curveTC(0.8/0.5)})</p>
<p>		};</p>
		\node [below, color=black] at (axis cs:{0.4/0.5}, {curveTC(0.4/0.5)}) {<InlineEquation equation="1" />};
		\node [right, color=black] at (axis cs:{0.4}, {curveTH(0.4)}) {<InlineEquation equation="2" />};
		\node [right, color=black] at (axis cs:{0.8}, {curveTH(0.8)}) {<InlineEquation equation="3" />};		
		\node [above, color=black] at (axis cs:{0.8/0.5}, {curveTC(0.8/0.5)}) {<InlineEquation equation="4" />};
	\end{axis}
	\node (refL) at (<InlineEquation equation=" (ref) + (3,5)" />) [draw=none, coordinate] {};
	\draw [dashed,  thick, red!70] (<InlineEquation equation=" (refL) + (0,0)" />) -- (<InlineEquation equation=" (refL) + (1cm,0)" />) node[right, draw=none] {<InlineEquation equation="T_H" />};
	\draw [dashed,  thick, Dlblue] (<InlineEquation equation=" (refL) + (0,-0.5cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-0.5cm)" />) node[right, draw=none] {<InlineEquation equation="T_C" />};
	\draw [dotted,  thick, black!50] (<InlineEquation equation=" (refL) + (0,-1cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-1cm)" />) node[right, draw=none] {<InlineEquation equation="C_{12} = p_1V_1^{\\gamma} = p_2V_2^{\\gamma}" />};
	\draw [dotted,  thick, black] (<InlineEquation equation=" (refL) + (0,-1.5cm)" />) -- (<InlineEquation equation=" (refL) + (1cm,-1.5cm)" />) node[right, draw=none] {<InlineEquation equation="C_{34} = p_3V_3^{\\gamma} = p_4V_4^{\\gamma}" />};

\end{tikzpicture}
\end{center}
\caption{A <InlineEquation equation="pV" /> diagram for an ideal gas undergoing a Carnot cycle as depicted in Fig.~\ref{fig:CarnotCycle}.}\label{fig:CarnotpVcycle}
<Image src="/Thermo/" width="5"><InlineEquation equation="pV" />  diagram for an ideal gas undergoing a Carnot cycle as depicted in Fig.~ \ref{fig:CarnotCycle} .</Image>
<p></p><p>
The work done by the cycle <InlineEquation equation="W" /> is positive and equal to the shaded area in Fig.~\ref{fig:CarnotpVcycle}, where the net work is described as the sum of the work done during each of the processes,</p>
<DisplayEquation equation="W= W_{12} + W_{23} + W_{34} + W_{41}" title="" />
</p>
<SubSubSection title="">Isothermal Processes</SubSubSection>
<p>For isothermal processes <InlineEquation equation="2 \\to 3" /> and <InlineEquation equation="4 \\to 1" /> the work is determined by the <InlineEquation equation="p(V)" /> relation in Eqn~\eqref{eq:IG_eos2}
which yields</p>
<DisplayEquation equation="W_{23} =mRT_H\ln\left(\frac{V_3}{V_2}\right) \,\,\text{ and }\,\, W_{41} = mRT_C\ln\left(\frac{V_1}{V_4}\right)" title="" />
<p>Because temperature is not changing and the fluid is an ideal gas, the change in internal energy for these processes is zero. An energy balance on the gas for each of these processes yields</p>
<DisplayEquation equation="Q_{23} = Q_{H} = W_{23} = mRT_H\ln\left(\frac{V_3}{V_2}\right) " title="eq:QH" />
<p>where <InlineEquation equation="Q_H" /> refers to the heat transferred into the system from the hot reservoir and </p>
<DisplayEquation equation="Q_{41} = - Q_{C} = W_{41} = mRT_C\ln\left(\frac{V_1}{V_4}\right)" title="eq:QC" />
<p>where <InlineEquation equation="Q_C" /> refers to the heat transferred from the system to the cold reservoir. </p>
<SubSubSection title="">Adiabatic Processes</SubSubSection>
<p>For adiabatic, reversible processes <InlineEquation equation="1 \\to 2" /> and <InlineEquation equation="3 \\to 4" /> the work is given by</p>
<DisplayEquation equation="W_{12} = \int_{V_1}^{V_2} \frac{C_{12}}{V^{\gamma}} dV \text{ and } W_{34} = \int_{V_3}^{V_4} \frac{C_{34}}{V^{\gamma}} dV" title="" />
<p>which, when integrated yield</p>
<DisplayEquation equation="\begin{gathered}
W_{12} =\frac{-C_{12}}{\gamma-1}\left(\frac{1}{V_2^{\gamma-1}} - \frac{1}{V_1^{\gamma-1}}\right) \\
\text{ and } \\
 W_{34} = \frac{-C_{34}}{\gamma-1}\left(\frac{1}{V_4^{\gamma-1}} - \frac{1}{V_3^{\gamma-1}}\right) 
\end{gathered}" title="" />
<p>Multiplying both sides of the relation in Eqn.~\eqref{eq:polytropic} by <InlineEquation equation="1/V^{\\gamma-1}" /> and using the resulting relation, <InlineEquation equation="pV = C/V^{\\gamma-1}" />, combined with the ideal gas equation of state, we can express the work in the adiabatic, reversible processes as</p>
<DisplayEquation equation="W_{12} =\frac{mR(T_C - T_H)}{\gamma - 1}  \,\,\text{ and }\,\, W_{34} = \frac{mR(T_H - T_C)}{\gamma - 1}" title="" />
illustrating that the work in these two processes are equal in magnitude but opposite in sign. </p>
<p>It is interesting to determine the relationship between volume and temperature in the end states of processes <InlineEquation equation="1 \\to 2" /> and <InlineEquation equation="3 \\to 4" /> for the ideal gas. For an infinitesimal change in internal energy <InlineEquation equation="dU" /> no heat flow occurs, but an infinitesimal amount of <InlineEquation equation="pV" /> work is done, <InlineEquation equation="\\delta W = p dV" />. We write this infinitesimal form of the energy balance as</p>
<DisplayEquation equation="d U = \cancelto{0}{\delta Q} - \delta W = -p dV" title="" />
<p>For an ideal gas, <InlineEquation equation="dU/dT = mc_v" /> and <InlineEquation equation="p = mRT/V" /> so that</p>
<DisplayEquation equation="c_v dT = -\frac{RT}{V} dV" title="" />
<p>Separating the volume <InlineEquation equation="V" /> and temperature <InlineEquation equation="T" /> and integrating, between states <InlineEquation equation="1" /> and <InlineEquation equation="2" /> yields</p>
<DisplayEquation equation="\int_{T_C}^{T_H} \frac{c_v}{RT} dT =  \ln\left(\frac{V_1}{V_2}\right)." title="eq:VT12" />
<p>Integrating between states <InlineEquation equation="4" /> and <InlineEquation equation="3" /> yields </p>
<DisplayEquation equation="\int_{T_C}^{T_H} \frac{c_v}{RT} dT = \ln\left(\frac{V_4}{V_3}\right)." title="eq:VT43" />
<p>The left hand side of both Eqns.~\eqref{eq:VT12} and \eqref{eq:VT43} are equal so that </p>
<DisplayEquation equation="\ln\left(\frac{V_1}{V_2}\right) = \ln\left(\frac{V_4}{V_3}\right)." title="" />
<p>or equivalently\sidenote{ <InlineEquation equation="\\ln(x/y) = \\ln x - \\ln y" />.}
<DisplayEquation equation="\ln\left(\frac{V_1}{V_4}\right) = \ln\left(\frac{V_2}{V_3}\right)." title="eq:V1234" />
<p>Recalling the results from the energy balances on the isothermal processes (Eqns.~\eqref{eq:QH} and \eqref{eq:QC}) we can show that the ratio of the heat influx <InlineEquation equation="Q_H" /> to heat loss <InlineEquation equation="Q_C" /> is</p>
<DisplayEquation equation="\frac{Q_H}{Q_C} = \frac{T_H\ln\left(\frac{V_3}{V_2}\right) }{T_H\ln\left(\frac{V_4}{V_1}\right)}" title="" />
<p>Applying Eqn.~\eqref{eq:V1234}, which defines the relationship between the states before and after the adiabatic processes, we obtain</p>
<DisplayEquation equation="\frac{Q_H}{Q_C} = \frac{T_H}{T_C}" title="eq:HeatTemp" />
<p>for an ideal gas undergoing a Carnot cycle. </p>
<SubSubSection title="">Internal Energy Balance of the System</SubSubSection>
<p>The total change in the internal energy of the Carnot cycle <InlineEquation equation="\\Delta U" /> can alternately be determined by an energy balance on the cycle</p>
\begin{align}
\Delta U&= Q - W \label{eq:Ebalance} \\
<p>&= Q_H - Q_C - W_{12} - \underbrace{W_{23}}_{=Q_H} - \underbrace{W_{34}}_{=-W_{12}} - \underbrace{W_{41}}_{=-Q_C} \label{eq:Ebaldetailed} \\</p>
<p>&= 0</p>
\end{align}
<p>Thus the Carnot cycle is consistent with the energy change for a cycle in general.</p>
<SubSubSection title="">Thermal Efficiency</SubSubSection>
<p>This Carnot cycle turns heat input <InlineEquation equation="Q_H" /> into work output <InlineEquation equation="W" />. The thermal efficiency <InlineEquation equation="\\eta" /> for such a <strong>heat engine</strong> is given by </p>
<DisplayEquation equation="\eta = \frac{\text{net work output}}{\text{heat input}} = \frac{W}{Q_H}" title="" />
<p>Combining <InlineEquation equation="\\Delta U = 0" /> for a cycle, the expression for the energy balance on the cycle (Eqns.~\eqref{eq:Ebalance} and \eqref{eq:Ebaldetailed}), and the temperature-heat transfer relationship found in Eqn.~\eqref{eq:HeatTemp} yields</p>
<DisplayEquation equation="\eta = \frac{Q_H - Q_C}{Q_H} = 1-\frac{T_C}{T_H}." title="" />
<p>A Carnot cycle produces the maximum possible efficiency for any heat engine. The efficiency can only approach <InlineEquation equation="1" /> (equivalent to 100\%) when either <InlineEquation equation="T_C \\to 0" /> or <InlineEquation equation="T_H \\to \\infty" />, neither of which is physically attainable. </p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<SubSection title="">A Rankine Cycle</SubSection>
<p>The Rankine cycle is the basis for steam-electric power plants, which produce nearly 90\% of all electricity worldwide.  This cycle includes two isentropic processes, and utilizes isobaric heat transfers. </p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto,every text node part/.style={align=center}]

	\node (hexIN) [draw, fill = Dorange, rectangle, minimum width = 2cm, minimum height = 3cm, very thick]{};
	\node (hexLabel) at (hexIN) [draw=none,color=black,xshift=-0.4cm] {\small{heat}\\[-5pt]\small{source}\\ \tiny{coal, sun,}\\[-8pt] \tiny{nuclear, etc.}};
	\node (turbine) at (<InlineEquation equation="(hexIN) + (2,4)" />) [draw, very thick, trapezium,trapezium left angle=70,trapezium right angle=70,rotate=90,minimum width=0.75cm, minimum height=0.75cm, 
<p>	text width=1cm, text height = 1cm, text depth = 0cm, text centered,thick,yshift=-1cm, xshift=-2cm] {};</p>
	\node (turbineLabel) at (turbine) [draw=none] {\small{turbine}};
	\node (hexOUT) at (<InlineEquation equation="(turbine) + (0.65,-3)" />) [draw, fill=Dteal!20,rectangle, minimum width = 1.5cm, minimum height = 2cm, very thick]{};
	\node (pump) at (<InlineEquation equation="(hexIN) + (1.5,-3)" />) [draw, circle, minimum width=0.75cm, very thick] {\small{pump}};
	
	
	\node (electric) at (<InlineEquation equation="(turbine) + (2,0)" />) [draw,rectangle, minimum width = 1.5cm, minimum height = 1cm, very thick, rounded corners] {\small{electric} \\[-5pt] \small{generator}};
<p>	</p>
<p>	% power</p>
	\draw [line width=10pt] (turbine.south) -- (electric.west);
	\draw [thick,latex-,color=Dlblue] (<InlineEquation equation="(pump)+(0,-0.25)" />) -- ++(1,-0.6) node[right] {<InlineEquation equation="\\dot{W}_p" />};
	\draw [thick,-latex,color=Dlblue] (electric.east) -- ++(1,0) node[right] {<InlineEquation equation="\\dot{W}_{\\text{out}}" />};	
<p></p><p>
	% working fluid flow</p>
	\draw [-,ultra thick,double, decorate,decoration={snake,amplitude=3mm,segment length=5mm, post length=8pt, pre length=10pt}] (<InlineEquation equation="(hexIN.south)+(0.5,0)" />) node[above,xshift=-0.25cm]{}-- ++(0,3);
	\draw [-latex,ultra thick,double] (<InlineEquation equation="(hexIN.north)+(0.5,0)" />) |- (turbine.north)  node[above, xshift=-0.5cm]{\circled{1}};
	\draw [-latex,ultra thick,double] (turbine.200) -- (<InlineEquation equation="(hexOUT.north)+(-0.3,0)" />) node[above, xshift=0.5cm]{\circled{2}};
	\draw [-,ultra thick,double, decorate,decoration={snake,amplitude=2.5mm,segment length=4mm, post length=4pt, pre length=5pt}] (<InlineEquation equation="(hexOUT.north)+(-0.3,0)" />) node[above,xshift=-0.25cm]{}-- ++(0,-2);
	\draw [-latex,ultra thick,double] (<InlineEquation equation="(hexOUT.south)+(-0.3,0)" />) node[right, yshift=-0.5cm]{\circled{3}} |- (pump.east) ;
	\draw [-latex,ultra thick,double] (pump.west) -| (<InlineEquation equation="(hexIN.south)+(0.5,0)" />) node[above, xshift=-0.5cm, yshift=-1.5cm]{\circled{4}};
<p>	</p>
<p>	% cooling fluid</p>
	\draw [-latex, ultra thick, double,color=Dteal] (<InlineEquation equation="(hexOUT.east)+(1,-0.75)" />) node[right] {\small{from cooling}\\[-5pt] \small{tower}}-- (<InlineEquation equation="(hexOUT.east)+(-0.35,-0.75)" />) -- (<InlineEquation equation="(hexOUT.east)+(-0.35,0.75)" />) -- (<InlineEquation equation="(hexOUT.east)+(1,0.75)" />) node[right] {\small{to cooling}\\[-5pt] \small{tower}};


\end{tikzpicture}\end{center}
\caption{A schematic of a vapor power plant capable of undergoing a Rankine cycle.}\label{fig:IdealRankineCycle}
<Image src="/Thermo/" width="5"></Image>
<p></p><p>
An ideal Rankine cycle consists of the following internally reversible processes: </p>
\begin{itemize}
\item <strong>Process  <InlineEquation equation="1\\to 2" /> :</strong> Isentropic expansion of the working fluid through the turbine from saturated vapor at state <InlineEquation equation="1" /> to the condenser pressure <InlineEquation equation="p_2" />.
\item <strong>Process  <InlineEquation equation="2\\to 3" /> :</strong> Heat transfer from the working fluid as it flows at constant pressure <InlineEquation equation="p_2 = p_3" /> through the condenser, exiting as a saturated liquid at state <InlineEquation equation="3" />. 
\item <strong>Process  <InlineEquation equation="3\\to 4" /> :</strong> Isentropic compression in the pump to state <InlineEquation equation="4" /> in the compressed liquid region of the phase diagram.
\item <strong>Process  <InlineEquation equation="4\\to 1" /> :</strong> Heat transfer to the working fluid as it flows at constant pressure <InlineEquation equation="p_4 = p_1" /> through the boiler to complete the cycle. 
\end{itemize}
<p></p><p>
</p><p></p><p>
Instead, the condenser stream is taken to the saturated liquid state, so that only a compressed liquid must be pumped.\sidenote{Cavitation is less of an issue in the two phase fluid used in the turbine since the vapor bubbles that form nearer the saturated vapor portion of the vapor dome are less driven to collapse.} While state <InlineEquation equation="4" /> could be taken all the way to <InlineEquation equation="T_{\\text{sat}}(p_4 = p_1)" />, this would also lead to practical difficulties since, to maintain an isothermal heat transfer, a large thermal reservoir would be required. Instead, the process from state <InlineEquation equation="4" /> to state <InlineEquation equation="1" /> follows an isobar as shown in the plot below. </p>

\begin{figure}
\begin{tikzpicture}[auto,>=latex',
<p>	declare function={</p>
<p>        		curveL(\x) = -1.6*\x^2-0.25*x^3+10;</p>
<p>		curveR(\x) = -1*\x^2 + 0.3*x^2.5 + 10;</p>
<p>  	}
	]</p>
<p></p><p>
	%%% Example isobar</p>
	
	\node (ref) at (0,0) [draw=none, coordinate] {};
	\begin{axis} [at={(ref)},xmin=-4, ymin=0, xmax=7, ymax = 11, samples = 50, 
<p>			ytick={2,8}, yticklabels={<InlineEquation equation="T_{\\text{sat}}(p_2 = p_3)" />,<InlineEquation equation="T_{\\text{sat}}(p_4 = p_1)" />},  ylabel style={rotate=-90},</p>
<p>			xtick=\empty, xticklabels=\empty,</p>
<p>			ylabel={<InlineEquation equation="T" />}, xlabel={<InlineEquation equation="s" />},</p>
<p>			width = 6cm, height=6cm, axis y line = left, axis x line = bottom,</p>
<p>			thick,ylabel style = {at={(axis description cs:0,0.95)},anchor=south east}, xlabel style = {at={(axis description cs:0.95,0)},anchor=north east}]</p>
<p></p><p>
    	%L+V dome</p>
            		\addplot[thick,domain=-5:0, name path=L] {curveL(x)};	
            		\path[name path=axL] (axis cs:-5, 0) -- (axis cs:0, 0);	
            		\addplot[thick,domain=0:7, name path=R] {curveR(x)};
            		\path[name path=axR] (axis cs:0, 0) -- (axis cs:14, 0);
<p>	%isobar</p>
			\addplot[ultra thick, mark=none,color=Dlorange] coordinates {(-4,3.5) (-1.25,8) (1.84,8) (3,10.5)} node[right,xshift=0.05cm]{isobar};
<p>			</p>
<p>	% Tavg</p>
			\addplot[thick,  dashed,color=Dteal] coordinates {(-4,7.1) (5,7.1)};
			\node [above, color=Dteal] at (axis cs:5, 7) {<InlineEquation equation="T_{\\text{avg}}" />};
<p>			</p>
<p>				% Cycle  		</p>
			\addplot[thick,  ->] coordinates {(-1.25,8) (1.84,8)};
			\addplot[thick, ->] coordinates {(1.84,2) (-3.13,2)};
			\addplot[ thick,->] coordinates {(-3.13,2) (-3.13,5)};
			\addplot[thick] coordinates {(-3.13,5) (-1.25,8)};
			\addplot[thick, ->] coordinates {(1.84,8) (1.84,2)};
			\addplot [only marks, thick] coordinates {
<p>			(-3.13,2) (-3.13,5)</p>
<p>			(1.84,2) (1.84,8)</p>
<p>			};</p>

			
		\node [below, color=black] at (axis cs:-3.13, 2) {\circled{3}};
		\node [above, color=black] at (axis cs:-3.13, 5) {\circled{4}};
		\node [right, color=black] at (axis cs:1.84, 8) {\circled{1}};		
		\node [right, color=black] at (axis cs:1.84, 2) {\circled{2}};

	\end{axis}

\end{tikzpicture}
\caption{A <InlineEquation equation="T" />-<InlineEquation equation="s" /> diagram of an ideal Rankine cycle.}\label{fig:TsDiagramRankine}
<Image src="/Thermo/" width="5"><InlineEquation equation="T" /> - <InlineEquation equation="s" />  diagram of an ideal Rankine cycle.</Image>
<p></p><p>
For reversible processes, the second law can be written as:</p>
<DisplayEquation equation="Q = \int T dS," title="" />
<p> meaning that the area under the curve in a <InlineEquation equation="T" />-<InlineEquation equation="s" /> diagram corresponds to heat transferred to or from a system. Thus to approximate a Carnot cycle, an average temperature value at which the same heat transfer <InlineEquation equation="Q_H" /> occurs can be approximated on the diagram.</p>
<p>Since the Carnot cycle tells us that the maximum thermal efficiency of a power cycle is:</p>
<DisplayEquation equation="\eta = 1- Q_C/Q_H = 1-T_C/T_H" title="" /> 
<p>it is clear from Fig.~\ref{fig:TsDiagramRankine} that a hypothetical Carnot cycle with maximum operating temperature <InlineEquation equation="T_H" /> will always have a greater thermal efficiency than a Rankine cycle with the same maximum operating temperature since the \emph{average} operating temperature of the Rankine cycle is lower. </p>


<SubSection title="">Otto Cycle</SubSection>
<p>The Otto cycle provides an approximation of the internal combustion engines that still make up the largest share of the transportation industry. </p>
<p></p><p>
An automotive internal combustion engine uses a reciprocating piston-cylinder action to produce work.  In a four-stroke engine</p>
<Enumerate>
	<Item> The intake valve is open and the piston makes an intake stroke to draw in a fresh charge, e.g., a combustible mixture of fuel and air. 
</Item>
	<Item> The intake valve closes and the piston undergoes a compression stroke that increases the pressure and temperature of the air within. At the end of the compression, combustion is induced, e.g., via a spark plug.
</Item>
	<Item> A power stroke follows as the gas mixture expands, doing work on the piston.
</Item>
	<Item> Finally, the exhaust valve is opened and burned gases are purged during an exhaust stroke.
</Item>
</Enumerate>

<p></p><p>
The Otto cycle simplifies this process by ignoring affects associated with the addition and removal of fuel. Instead it uses air, acting as an ideal gas, to provide insight into how such cycles can be optimized. The combustion itself is replaced by heat transfer and all processes are internally reversible. As a result, the Otto cycle consists of the following steps.</p>
\begin{itemize}
\item <strong>Process 1-2:</strong> Isentropic compression of the air as the piston moves from bottom to top.
\item <strong>Process 2-3:</strong> Constant-volume heat transfer to the air from an external source while the piston is at the top. (Approximates fuel ignition and rapid burning.)
\item <strong>Process 3-4:</strong> Isentropic expansion (power stroke).
\item <strong>Process 4-1:</strong> Constant-volume process in which heat is rejected from the air while the piston is at the bottom.
\end{itemize}
<p>Note that because it is operating within a piston cylinder, the states the processes operate between are the state of the air in the closed piston cylinder system. This is different from the Rankine cycle, in which the stream states change by going through processes facilitated by different thermodynamics devices. We will show in class that the thermal efficiency of an Otto cycle can be expressed entirely as a function of the compression ratio, <InlineEquation equation="r" />, defined as the ratio of the largest gas volume over the smallest <InlineEquation equation="V_1/V_2" /> according to:</p>
<DisplayEquation equation="\eta = 1-\frac{1}{r^{k-1}}" title="" />
<p>and shows that engine efficiency can be increased by inducing a larger change in piston chamber volume. Of course, further practical considerations, such as the increased weight of such an engine, provide other design constraints. We only touch on a few of these design constraints, but in general thermodynamics provides many of the key principles through which energy systems can be optimized. </p>
<p></p>

</Layout>