---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="First Law">
<Section title="">Mass and Energy Balances</Section>
<p>The rate of change of a system's internal energy is due to the net rate of energy input minus the net rate of energy output. </p>

<SubSection title="">Closed System Energy Rate Balance</SubSection> 
<p>In the absence of mass flow, the closed system energy rate balance depends on the net heat flow rate <InlineEquation equation="\\dot{Q}(t)" /> and the net work transfer rate <InlineEquation equation="\\dot{W}(t)" />, as follows,</p>
<DisplayEquation equation="\frac{dU}{dt}=\dot{Q}(t)-\dot{W}(t)," title="eqn:deltaIE" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=15pt, minimum width=3cm, minimum height = 2cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=0.5cm, xshift=-1cm]{<InlineEquation equation="\\dot{Q}_{\\text{in}}" />};
	\node(5) [draw=none, fill=none, left of=1,yshift=-0.7cm, xshift=-1cm]{<InlineEquation equation="\\dot{W}_{\\text{by}}" />};
	\node(3) [draw=none, fill=none, right of=1,yshift=0.7cm, xshift=1cm]{<InlineEquation equation="\\dot{W}_{\\text{on}}" />};
	\node(4) [draw=none, fill=none, right of=1,yshift=-0.7cm, xshift=1cm]{<InlineEquation equation="\\dot{Q}_{\\text{out}}" />};
<p>	% Flow arrows</p>
	\draw [-latex,decorate,decoration={snake,amplitude=.4mm,segment length=2mm, post length=9pt}, ultra thick] (2) -- (100);
	\draw[-latex,decorate,decoration={snake,amplitude=.4mm,segment length=2mm ,post length=9pt}, ultra thick] (100) -- (4);
	\draw [-latex, ultra thick] (3) -- (100);
	\draw [-latex, ultra thick] (100) -- (5);
\end{tikzpicture}
\end{center}
<Image src="/Thermo/" width="5"><InlineEquation equation="\\dot{Q}" /> , a net power output  <InlineEquation equation="\\dot{W}" /> , and mass flowrates into  <InlineEquation equation="\\dot{m}_{\\text{in}}" />  and out of  <InlineEquation equation="\\dot{m}_{\\text{out}}" />  the system occur.</Image>

\paragraph{Net Heat Flow Rate:} Comprised of the sum of the heat flow rates into the system minus the flow rates out of the system. 
<DisplayEquation equation="\dot{Q}(t)=\dot{Q}_{\text{in}}(t)-\dot{Q}_{\text{out}}(t)." title="eqn:dQdt" />
\paragraph{Net Work Transfer Rate:} Also known as net <strong>power</strong> transfer, where <InlineEquation equation="\\dot{W}_{\\text{by}}" /> is the net work done by the system and <InlineEquation equation="\\dot{W}_{\\text{on}}" /> is the net work done on the system.
<DisplayEquation equation="\dot{W}(t)=\dot{W}_{\text{by}}-\dot{W}_{\text{on}}." title="eqn:dWdt" />

\paragraph{Closed System Energy Rate Balance:} Here, <InlineEquation equation="\\dot{Q}_{\\text{in}}" />, <InlineEquation equation="\\dot{Q}_{\\text{out}}" />, <InlineEquation equation="\\dot{W}_{\\text{by}}" /> and <InlineEquation equation="\\dot{W}_{\\text{on}}" /> are explicitly defined as the \emph{magnitude} of energy flow in the direction stated. The rate of change of the internal energy in the system is determined by combining Eqns.~\ref{eqn:deltaIE}, ~\ref{eqn:dQdt}, and ~\ref{eqn:dWdt}.

<DisplayEquation equation="\begin{split}
\frac{dU}{dt}&=\dot{Q}_{\text{in}}-\dot{Q}_{\text{out}}-(\dot{W}_{\text{by}}-\dot{W}_{\text{on}})\\
&=\dot{Q}_{\text{in}}-\dot{Q}_{\text{out}}-\dot{W}_{\text{by}}+\dot{W}_{\text{on}}
\end{split}" title="" />
</p>

<SubSection title="">Closed System Energy Balance</SubSection>
<p>The previous expression for the closed system energy balance can be determined by integrating the closed system energy rate balance (Eqn.~\ref{eqn:deltaIE}) with respect to time,</p>
<DisplayEquation equation="\begin{split}

U(t)-U(0)&=\int_0^t \dot{Q}(\tau)d\tau-\int_0^t \dot{W}(\tau)d\tau\\
\Delta U(t)&=Q(t)-W(t).
\end{split}" title="eqn:intUdt" />

<SubSection title="">Energy Transfer via Mass Flow</SubSection>
<p>Energy also transfers to or from a system during mass flow. For mass flow into a system, energy increases by the addition of both the internal energy of the additional mass \emph{and} the <InlineEquation equation="pV" /> work done by the mass on the system as it enters, and vice versa.</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=15pt, minimum width=3cm, minimum height = 2cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,xshift=-1cm]{<InlineEquation equation="\\dot{m}_{\\text{in}}" />};
	\node(4) [draw=none, fill=none, right of=1,xshift=1cm]{<InlineEquation equation="\\dot{m}_{\\text{out}}" />};
<p>	% Flow arrows</p>
	\draw [-latex, double, ultra thick] (2) -- (100);
	\draw[-latex,double, ultra thick] (100) -- (4);t
	\draw[->] (<InlineEquation equation=" (1) + (2.5,1)" />) node[right]{boundary} -- (1);
\end{tikzpicture}
\end{center}
\end{figure}
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
\begin{figure}
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=2.5cm, text height = 0.5cm, text depth = 3cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
	\node (2) [cylinder,thick,aspect=1.3,cylinder uses custom fill, cylinder body fill=Dlblue!30,cylinder end fill=Dlblue,shape border rotate=0, draw,minimum height=2.5cm,
<p>	minimum width=1cm,xshift=-0.8cm,left of=1] { };</p>
	\node(200) [draw=none, fill=none, right=0.3cm of 2.west]{<InlineEquation equation="p" />, <InlineEquation equation="v" />, <InlineEquation equation="u" />};
	\node (3) [cylinder,thick,aspect=1.3, fill=Dorange!40,opacity=0.6, dashed,shape border rotate=0, draw,minimum height=1cm,minimum width=1cm,left of=1,xshift=0.65cm]{};
<p>	% Flow labels</p>
	\node(201) [draw=none, fill=none, left of=2, xshift=0.3cm]{<InlineEquation equation="\\dot{m}" />};
	\node(301) [draw=none, fill=none, below of=3, xshift=-1.0cm, yshift=0.7cm]{<InlineEquation equation="A" />};
	\node(101) [draw=none, fill=none, above of=1, xshift=-2.5cm, yshift=0.5cm]{boundary};
<p>	% Flow arrows</p>
	\draw [double,->, line width=0.5mm] ([xshift=0.2cm]3.east) -- ([xshift=-0.5cm]1.east);
	\draw [->, line width=0.5mm] (101) .. controls +(down:0.5cm) and +(left:0cm) .. ([yshift=-0.5cm]1.north west);
	\draw [-, line width=0.5mm] ([yshift=0.2cm,xshift=-0.1cm]301.east) .. controls +(up:0.2cm) and +(right:0.1cm) .. ([xshift=-0.2cm]2.east);
\end{tikzpicture}
\end{center}
\end{figure}
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<SubSubSection title="">Internal Energy Change via Mass Flow</SubSubSection>
<p>A mass flow having rate <InlineEquation equation="\\dot{m}" /> with cross-sectional area, <InlineEquation equation="A" />, \underline{slowly} enters a system. The mass is at a pressure <InlineEquation equation="p" />, has a specific volume <InlineEquation equation="v" />, and has a specific internal energy, <InlineEquation equation="u" />, relative to some reference state.</p>
<p>The mass flowing into the system, over a given time interval <InlineEquation equation="\\Delta t" />, increases by the the internal energy the system as it enters, by:</p>
<DisplayEquation equation="\dot{m}\Delta t u=mu." title="eqn:Deltau_dotm" />

<SubSubSection title=""><InlineEquation equation="pV" />  Work Done via Mass Flow</SubSubSection>\label{sec:pvwork}
<p>The volume occupied by the portion of the stream entering a system is defined by,</p>
<DisplayEquation equation="V_{\text{in-flow}}=\dot{m}\Delta t v=mv" title="" />
<p>This volume is pushed at constant pressure, <InlineEquation equation="p" />, into the system, doing <InlineEquation equation="pV" /> work on the system,</p>
<DisplayEquation equation="W_{\text{in-flow}}=\int_{0}^{V_{\text{in-flow}}}p dV=mpv." title="eqn:massflowPVwork" />
<p>For an input stream with a constant specific volume <InlineEquation equation="v" /> and pressure <InlineEquation equation="p" />, taking the derivative of the above expression with respect to time yields the rate of work  done on the system,</p>
<DisplayEquation equation="\dot{W}=\dot{m}pv." title="" />

<SubSubSection title="">Total Internal Energy Change via Mass Flow</SubSubSection>
<p>It follows that the total increase in the internal energy of the system includes the contributions of both Eqn.~\ref{eqn:Deltau_dotm} and  Eqn.~\ref{eqn:massflowPVwork}.</p>
<DisplayEquation equation="\begin{split}
\Delta U&=mu+mpv\\
&=m(u+pv)
\end{split}" title="" />
<p>The rate of internal energy increase is therefore,</p>
<DisplayEquation equation="\frac{d U}{dt}=\dot{m}(u+pv)" title="eqn:rateofDeltaU" />
<SubSubSection title="">Relative Specific Enthalpy</SubSubSection>
<p>Recall, that the sum <InlineEquation equation="u+pv" /> appears frequently in thermodynamic discussion so it is conveniently defined as relative specific enthalpy <InlineEquation equation="h" />, consisting of the same atomic and molecular kinetic and potential energies as specific internal energy <InlineEquation equation="u" />, but with the addition of \emph{flow work}, <InlineEquation equation="pv" /></p>
<DisplayEquation equation="h=u+pv." title="eqn:RelativeEnthalpy" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>

<SubSection title="">Internal Energy Rate Balance</SubSection>
<p>In thermodynamic systems that experience both mass flow rates <InlineEquation equation="\\dot{m}_{\\text{in}}" /> and <InlineEquation equation="\\dot{m}_{\\text{out}}" />, net heat flow rate, <InlineEquation equation="\\dot{Q}" />, into the system, and performs work at a rate <InlineEquation equation="\\dot{W}" /> on its surroundings, a generalized energy rate balance can be used to describe all of these changes at once.</p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=3cm, text height = 1cm, text depth = 1cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=0.5cm, xshift=-1.2cm]{<InlineEquation equation="\\dot{m}_{\\text{in}}" />};
	\node(3) [draw=none, fill=none, left of=1,yshift=-1cm, xshift=-1cm]{<InlineEquation equation="\\dot{Q}" />};
	\node(4) [draw=none, fill=none, right of=1,yshift=1.5cm, xshift=1cm]{<InlineEquation equation="\\dot{W}" />};
	\node(5) [draw=none, fill=none, right of=1,yshift=-0.7cm, xshift=1.2cm]{<InlineEquation equation="\\dot{m}_{\\text{out}}" />};
<p>	% Flow arrows</p>
	\draw [double,->, line width=0.3mm] (2) -- (2-|1.west);
	\draw[->, line width=0.5mm] (100) -- (4);
	\draw [->,decorate,decoration={snake,amplitude=.4mm,segment length=2mm ,post length=9pt}, line width=0.5mm] (3) -- (100);
	\draw [double,->, line width=0.3mm] (5-|1.east) -- (5);
\end{tikzpicture}
\end{center}
\caption{A schematic of an open system for which a net heat transfer rate <InlineEquation equation="\\dot{Q}" />, a net power output <InlineEquation equation="\\dot{W}" />, and mass flowrates into <InlineEquation equation="\\dot{m}_{\\text{in}}" /> and out of <InlineEquation equation="\\dot{m}_{\\text{out}}" /> the system occur.} \label{fig:OpenSystemQW}
\end{figure}
\vspace{12pt}

<strong>Recall</strong> that the rate of change of the internal energy of a system in the absence of mass flows is given by
<DisplayEquation equation="\left.\frac{dU}{dt}\right|_{\text{no-flow}}=\dot{Q}(t)-\dot{W}(t)" title="eqn:ROCofU_woMF" />
\vspace{12 pt}

<strong>Recall</strong> that the the mass flow rate `in' changes the internal energy of the system at a rate
<DisplayEquation equation="\left.\frac{dU}{dt}\right|_{\text{in-flow}}=\dot{m}_{\text{in}}(u_{\text{in}}+p_{\text{in}}v_{\text{in}})=\dot{m}_{\text{in}}h_{\text{in}}" title="eqn:ROCofU_MFin" />
\vspace{12 pt}

<strong>Similarly</strong> the mass flow rate `out' changes the internal energy at a rate
<DisplayEquation equation="\left.\frac{dU}{dt}\right|_{\text{out-flow}}=-\dot{m}_{\text{out}}(u_{\text{out}}+p_{\text{out}}v_{\text{out}})=-\dot{m}_{\text{out}}h_{\text{out}}" title="eqn:ROCofU_MFout" />
<p>The total rate of change in the internal energy is the sum of Eqns.~\ref{eqn:ROCofU_woMF}, \ref{eqn:ROCofU_MFin}, and \ref{eqn:ROCofU_MFout}, yielding a generalized equation</p>
<p>to an arbitrary number of input and output streams yields</p>
<DisplayEquation equation="\frac{dU}{dt}=\dot{Q}-\dot{W}+\sum_{\text{in}}\dot{m}_{\text{in}}h_{\text{in}}-\sum_{\text{out}}\dot{m}_{\text{out}}h_{\text{out}}" title="" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<SubSection title="">Total Energy Balance</SubSection>
<p>The kinetic and potential energy changes contribute to the <strong>total energy</strong> <InlineEquation equation="\\Delta E" /> of the system</p>
<DisplayEquation equation="\Delta E=\Delta U+ \Delta \text{PE}+ \Delta \text{KE}" title="" />

<SubSection title="">Total Energy Rate Balance</SubSection>
<p>The most general form of the energy rate balance <InlineEquation equation="\\frac{dE}{dt}" /></p>
<p>accounts for internal energy effects, along with kinetic and gravitational potential energy effects on the system via the <strong>total energy</strong> <InlineEquation equation="E" />.</p>
<DisplayEquation equation="\frac{dE}{dt}=\frac{d (\Delta U + \Delta KE + \Delta PE)}{dt} = \frac{dU}{dt}+\frac{d\text{KE}}{dt}+\frac{d\text{PE}}{dt}" title="" />
<p>This energy rate balance accounts for all energy contributions including kinetic and gravitational potential energy contributions to the system via mass inputs and outputs.</p>
<DisplayEquation equation="\frac{dE}{dt}=\dot{Q}-\dot{W}
+\sum_{\text{in}}\dot{m}_\text{in}(h_\text{in}+\frac{1}{2}\vec{v}_\text{in}^2+gz_\text{in})
-\sum_{\text{out}}\dot{m}_\text{out}(h_\text{out}+\frac{1}{2}\vec{v}_\text{out}^2+gz_\text{out})" title="eqn:ERateTotalGeneral" />
<p></p>

</Layout>