---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import OrangeText from "../../components/OrangeText.astro" 
import TealText from "../../components/TealText.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Heat and Work">
<Section title="">Energy Transfers</Section>\label{sec:energytransfers}
<p>When mass does not flow into or out of a system, the energy of the system changes in only two ways, through the loss or addition of <strong>work</strong> and/or <strong>heat</strong>.</p>

 The internal energy (<InlineEquation equation="U" />) of a system is affected by the energetic contributions from heat flow (<InlineEquation equation="Q" />) in and out of a system and work (<InlineEquation equation="W" />)done by or on a system.  
<DisplayEquation equation='\\Delta U = Q -  W.' title="eq:Ebal" />



<SubSection title="">Heat</SubSection>
<p>In thermodynamics, heat <InlineEquation equation="Q" /> is the thermal energy transferred between systems due to a temperature difference. Heat can both flow into and out of a system as shown in Figure <OrangeText>fig:HeatSchematic</OrangeText>.</p>






<SubSection title="">Work</SubSection>
<p>Recall from previous physics courses, that when a force <InlineEquation equation="f" /> acts over a distance <InlineEquation equation="d" /> it does work, defined as</p>
<DisplayEquation equation='W=fd.' title="" />
<p>However, applied force does not have to be constant during a process. More generally, work is</p>
<DisplayEquation equation='W=\\int_{d_1}^{d_2}f(x)dx' title="eqn: GenW" />
<p>where <InlineEquation equation="f" /> varies along the path parameterized by <InlineEquation equation="x" /> from position <InlineEquation equation="d_1" /> to position <InlineEquation equation="d_2" />, where we are assuming <InlineEquation equation="f" /> is tangent to the path.</p>
<p> </p>


<SubSubSection title=""><InlineEquation equation="pV" />  work</SubSubSection>
<p>Work done by or on a gas, is known as <InlineEquation equation="\\boldsymbol{pV}" />~<strong>work</strong>.  A gas, such as the one enclosed in the cylindrical device in Figure <OrangeText>fig:pressure</OrangeText>, applies a force uniformly over an area <InlineEquation equation="A" />, due to collisions against the wall, which is defined as pressure,</p>

<DisplayEquation equation='p=\\frac{f}{A}.' title="eq:Pdefn" />
<p>Referring back to the definition of work in Eqn.~<OrangeText>eqn: GenW</OrangeText>, if <InlineEquation equation="x" /> is a single cartesian direction normal to an area <InlineEquation equation="A" /> then <InlineEquation equation="A\\cdot dx" /> is a differential volume <InlineEquation equation="dV" />.  Additionally, using the definition of pressure Eqn.~<OrangeText>eq:Pdefn</OrangeText>, we can define <InlineEquation equation="pV" /> work as follows,</p>
\begin{align}
\label{eq:pVwork}
<p>W&=\int_{d_1}^{d_2}f(x)\,dx \nonumber \\</p>
<p>&=\int_{d_1}^{d_2}\frac{f(x)}{A}A\,dx \nonumber \\</p>
<p>&=\int_{V_1}^{V_2}p(V)\,dV </p>
\end{align}


<h4><strong><InlineEquation equation="pV" /> diagrams</strong></h4>
<p>Graphs whose <InlineEquation equation="y" /> and <InlineEquation equation="x" /> axes are <InlineEquation equation="p" /> and <InlineEquation equation="V" />, respectively.  According to Eqn.~</p> 

\eqref{eq:pVwork}, work is the area under the process curve.  An example is shown in Figure <OrangeText>fig:PVdiagrams</OrangeText>.



<h4><strong>Isobaric Process:</strong></h4>
<p>During the process to go from 1 state to another, the system remains at a constant pressure, as shown in Figure</p> 

<OrangeText>fig:PVdiagrams</OrangeText> (left).

<h4><strong>Work is path dependent:</strong></h4>
<p>Work transfer depends on the process. Figure</p> 

<OrangeText>fig:PVdiagrams</OrangeText> shows two processes where despite having the same initial and final thermodynamic states, the difference in magnitude of work for these two processes is different.
<p>
</p>

\subsubsection{<TealText>Shaft work</TealText>}

<p>Work can also be done via shaft work.  This can be explained by a shaft, on which a weight and pulley are mounted, providing a mechanism for inputting or extracting work as in Fig.~<OrangeText>fig:CycleWithThermalReservoir</OrangeText>. Work <InlineEquation equation="W_{\\text{cycle}}" /> is done by the lowering mass on the system when the mass is released from its the raised position. The motion of the molecules in the system increases due to the shaft work input. This additional molecular energy temporarily increases the temperature of the system before the excess thermal energy is transmitted as heat <InlineEquation equation="Q" /> to the reservoir.  </p>

</Layout>