---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import Enumerate from "../../components/Enumerate.astro" 
import Item from "../../components/Item.astro" 
import Itemize from "../../components/Itemize.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
---
<Layout title="Thermodynamic Systems">
<Section title="">Thermodynamic Terminology and Definitions</Section>
<SubSection title="">System, boundaries and surroundings</SubSection>
<p>Energy and matter flow between a <strong>thermodynamic system</strong> and its <strong>surroundings</strong> that are separated by a <strong>boundary</strong>, lead to changes its internal state. An increase in its mass results when the matter flowing into the system is greater than that flowing out of the system. An increase in its internal energy results when the energy flowing into the system is greater than that flowing out of the system. When the flow rates into and out of the system are equal, the system is in a steady state. </p>

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=3cm, text height = 1cm, text depth = 1cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=1cm, xshift=-1.5cm]{energy in};
	\node(3) [draw=none, fill=none, left of=1,yshift=-1cm, xshift=-1.5cm]{energy out};
	\node(4) [draw=none, fill=none, above of=1,xshift=-0.5cm]{mass in};
	\node(5) [draw=none, fill=none, right of=1,yshift=-0.5cm, xshift=1.5cm]{energy in};
	\node(6) [draw=none, fill=none, right of=1,yshift = 0.7cm, xshift=1.5cm]{boundary};
	\node(7) [draw=none, fill=none, above of=1,xshift = 3cm]{\color{Dteal}surroundings};
	\node(8) [draw=none, fill=none, below of=1,xshift=-0.5cm]{mass out};
<p>	% Flow arrows</p>
	\draw [-latex, ultra thick] (2) -- (100);
	\draw [-latex,double, ultra thick] (4) -- (100);
	\draw [-latex, ultra thick] (100) -- (3);
	\draw [-latex,  ultra thick] (5) -- (100);
	\draw [->] (6) -- (1);
	\draw [-latex, double,  ultra thick] (100) -- (8);
\end{tikzpicture}
\end{center}
\caption{A schematic representation of a thermodynamic system illustrating its key features including depictions of energy and mass flows.}\label{fig:SysSchematic}
<Image src="/Thermo/" width="5"></Image>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
\paragraph{Steady-state:} When the flow rates into and out of the system are equal, the system is in a <strong>steady state</strong>
\paragraph{Transient:} The state of a thermodynamic system is <strong>transient</strong> if it is not in steady state.

<SubSubSection title="">Types of Systems: Closed, Open, and Isolated Systems</SubSubSection> 
\paragraph{Closed System:} Mass cannot flow in or out of the system, therefore energy is transferred via only heat or work.

\paragraph{Open System:} An open system can exchange both energy and matter with its surroundings.

\paragraph{Isolated System:} A system is isolated from its environment, meaning neither matter nor energy may flow in or out of the system. 
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<SubSection title="">Units of Interest</SubSection>
<SubSubSection title="">Typical Units in SI and English Systems</SubSubSection>

\begin{table*}[h]
\small
  \caption{\ Typical Units in SI and English Systems: Dimensions}
  \label{tbl:units}
  \begin{tabular*}{\textwidth}{@{\extracolsep{\fill}}lllllll}
    \hline
<p>    Dimension & SI Units  & English Engineering Unit \\</p>
    \hline
<p>    Force & newton (N) &  pound force (lbf) \\</p>
<p>    Length & meter (m) &  foot (ft) \\</p>
<p>    Mass & kilogram (kg) &  pound mass (lb) \\</p>
<p>    Time & second (s) &  second (s) \\</p>
  \end{tabular*}
\end{table*}

\begin{table*}[h]
\small
  \caption{\ Typical Units in SI and English Systems: State properties}
  \label{tbl:units}
  \begin{tabular*}{\textwidth}{@{\extracolsep{\fill}}lllllll}
    \hline
<p>    State property & SI Units  & English Engineering Unit \\</p>
    \hline
<p>    Pressure & Pascals (Pa) &  Pound Force per square inch (psi) \\</p>
<p>      & 1 Pa = N/m<InlineEquation equation="^2" /> = J/m<InlineEquation equation="^3" /> &  \\</p>
<p>    Volume & m<InlineEquation equation="^3" /> &  ft<InlineEquation equation="^3" /> \\</p>
<p>    Temperature & degrees Celcius (<InlineEquation equation="^{\\circ}" />C) &  degrees Fahrenheit (<InlineEquation equation="^{\\circ}" />F) \\</p>
<p>    Absolute Temperature & Kelvin (K) &  degree Rankine (<InlineEquation equation="^{\\circ}" />R) \\</p>
<p>    Internal Energy, Enthalpy & Joules (J) &  British thermal Unit (Btu) \\</p>
<p>     & Newton-meter (N<InlineEquation equation="\\cdot" />m) & Foot-pound force (ft<InlineEquation equation="\\cdot" />lbf)\\</p>
<p>    Entropy  &  (J/K) & Btu/<InlineEquation equation="^{\\circ}" />R \\</p>
  \end{tabular*}
\end{table*}
<SubSubSection title="">Useful Conversions</SubSubSection>
\paragraph{Pressure}
\begin{align*}
<p>  1~\textrm{standard atm} = 1.01325 ~\textrm{bar} = 1.01325 \times 10^{5} ~\textrm{Pa} = 14.696~\textrm{psi} = 760~\textrm{mmHg} = 29.92~\textrm{inHg}  </p>
\end{align*}

\paragraph{Temperature}
\begin{align*}
    \textrm{Fahrenheit to Rankine:}~ ^{\circ}\textrm{R} = ^{\circ}\textrm{F} + 459.67\\
    \textrm{Celsius to Kelvin:}~ \textrm{K} = ^{\circ}\textrm{C} + 273.15
\end{align*}
\paragraph{Energy}
\begin{align*}
    \textrm{Btu to ft<InlineEquation equation="\\cdot" />lbf:}~ 1~\textrm{Btu} = 778.18~ \textrm{ft}\cdot\textrm{lbf}
\end{align*}
<SubSubSection title="">Useful Constants</SubSubSection>
\paragraph{Gravity}
\begin{align*}
<p>    9.8~\textrm{N} = 1~\textrm{kg}\times 9.8~ \textrm{m}/\textrm{s}^2 \\</p>
<p>    1~\textrm{lbf} = 1~\textrm{lb}\times 32~ \textrm{ft}/\textrm{s}^2</p>
\end{align*}
\paragraph{Universal Gas Constant, <InlineEquation equation="\\overline{R}" />}
\begin{align*}
    \overline {R} = 8.314~\textrm{kJ/kmol}\cdot \textrm{K} \\
    \overline {R} = 1545~\textrm{ft}\cdot \textrm{lbf}/\textrm{lbmol}\cdot ^{\circ}\textrm{R} \\
    \overline {R} = 1.986~\textrm{Btu}/\textrm{lbmol}\cdot ^{\circ}\textrm{R} 
\end{align*}
\paragraph{Molecular weights <InlineEquation equation="M" /> of common substances (1 g/mol = 1 kg/kmol = 1 lb/lbmol): <InlineEquation equation="R= \\frac{\\overline{R}}{M}" />}
<Itemize>
	<Item> Air- 28.97 g/mol
    </Item>
	<Item> Carbon dioxide CO</Item>
	<Item> Ethane C</Item>
	<Item> Hydrogen H</Item>
	<Item> Methane CH</Item>
	<Item> Nitrogen N</Item>
	<Item> Oxygen O</Item>
	<Item> Refrigerant 22- 86.48 g/mol
    </Item>
	<Item> Refrigerant 134a- 102.3 g/mol
    </Item>
	<Item> Water H</Item>
</Itemize>

<SubSubSection title="">Helpful Math Expressions</SubSubSection>
\paragraph{Integrals:}
\begin{equation*}
    \int_{y_a}^{y_b} \frac{1}{y}dy = ln(y)|_{y_a}^{y_b}
\end{equation*}
\begin{equation*}
    \int_{y_a}^{y_b} \frac{1}{y^{\gamma}}dy = - \left \frac{1}{\gamma -1}\frac{1}{y^{\gamma -1}}\right |_{y_a}^{y_b} ,~\textrm{for}~\gamma \neq 1
\end{equation*}
\paragraph{Natural Logs:}
\begin{equation*}
<p>    ln(ab)= ln(a)+ln(b)</p>
\end{equation*}
\begin{equation*}
<p>    e^{aln(b)} = b^a</p>
\end{equation*}
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p>
<SubSection title="">Mass and Mass Flow</SubSection>
<p>As matter flows in and out of a thermodynamic system, the amount of mass in the system at time <InlineEquation equation="t" /> by is defined by <InlineEquation equation="m(t)" />, then </p>
<DisplayEquation equation="\frac{dm}{dt}(t) = \sum_{in}\dot{m}_{in}(t) - \sum_{out}\dot{m}_{out}(t)," title="eq:MassBalanceDiff" />
<p>refers to `the rate of change of the mass of the system.' The sums on the right add up all mass flows into and out of the system, respectively. If this quantity is positive, then the mass of the system is increasing. If it is negative, the mass of the system must be decreasing, as long as there is still mass left inside the system. </p>
<p></p><p>
If these flow rates are known functions of time, then this equation implies that</p>
<DisplayEquation equation="m(t) = m(0) + \int_0^t \left( \sum_{in}\dot{m}_{in}(\tau) - \sum_{out}\dot{m}_{out}(\tau)\right) d\tau," title="eq:MassBalanceInt" />
<p>where <InlineEquation equation="m(0)" /> is the initial value of the mass in the system at time <InlineEquation equation="t=0" />. Integrating Eqn.~\eqref{eq:MassBalanceInt} with respect to time yields.</p>
<DisplayEquation equation="m(t) - m(0) = \Delta m =  \sum_{in}m_{in}- \sum_{out}m_{out}" title="eq:MassBalanceInt2" />
where <InlineEquation equation="m_{in}" /> and <InlineEquation equation="m_{out}" /> are the total quantities of mass transferred in or out of the system for a given set of processes. </p>
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=3cm, text height = 1cm, text depth = 1cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left=0.5cm of 1.west]{<InlineEquation equation="\\dot{m}_{in,1}" />};
	\node(3) [draw=none, fill=none, above of=1,xshift=-0.5cm]{<InlineEquation equation="\\dot{m}_{in,2}" />};
	\node(4) [draw=none, fill=none, below of=1,xshift=-0.5cm]{<InlineEquation equation="\\dot{m}_{out,1}" />};
<p>	% Flow arrows</p>
	\draw [-latex,double,line width=0.5mm] (2) -- (100);
	\draw [-latex,double,line width=0.5mm] (3) -- (100);
	\draw [-latex,double,line width=0.5mm] (100) -- (4);
\end{tikzpicture}
\end{center}
\caption{A system whose state is changing due to mass flow.}\label{fig:SysSchematic}
<Image src="/Thermo/" width="5"></Image>
<p></p><p>
Given the thermodynamic system shown in Figure \ref{fig:SysSchematic}, one can write the rate of change of mass of the system equals the following quantity,</p>
<DisplayEquation equation="\dot{m}_{in,1} +\dot{m}_{in,2} - \dot{m}_{out,1}" title="" />
<p><!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<p><!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<SubSection title="">\teal{Volume and Volume Flow}</SubSection>
<p>The volume <InlineEquation equation="V" /> of a system is an extensive parameter for describing its thermodynamic state. The specific volume <InlineEquation equation="v" />, an intensive property, is the system's volume per unit mass. Volume is a function of state and is interdependent with other thermodynamic properties such as pressure and temperature. </p>
\paragraph{Specific Volume}
<p>Specific volume is the volume per unit mass</p>
\begin{equation*}
<p>    v=\frac{V}{m}={\frac{\textrm{m}^3}{\textrm{kg}}}
\end{equation*}
<SubSubSection title="">Volume Flow</SubSubSection>
As mass flows into a system, energy increases by the addition of both the internal energy of the additional mass \emph{and} the <InlineEquation equation="pV" /> work done by the volume occupied by the mass on the system as it enters, and vice versa.</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=15pt, minimum width=3cm, minimum height = 2cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,xshift=-1cm]{<InlineEquation equation="\\dot{m}_{\\text{in}}" />};
	\node(4) [draw=none, fill=none, right of=1,xshift=1cm]{<InlineEquation equation="\\dot{m}_{\\text{out}}" />};
<p>	% Flow arrows</p>
	\draw [-latex, double, ultra thick] (2) -- (100);
	\draw[-latex,double, ultra thick] (100) -- (4);t
	\draw[->] (<InlineEquation equation=" (1) + (2.5,1)" />) node[right]{boundary} -- (1);
\end{tikzpicture}
\end{center}
<Image src="/Thermo/" width="5"></Image>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
\begin{figure}
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=2.5cm, text height = 0.5cm, text depth = 3cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
	\node (2) [cylinder,thick,aspect=1.3,cylinder uses custom fill, cylinder body fill=Dlblue!30,cylinder end fill=Dlblue,shape border rotate=0, draw,minimum height=2.5cm,
<p>	minimum width=1cm,xshift=-0.8cm,left of=1] { };</p>
	\node(200) [draw=none, fill=none, right=0.3cm of 2.west]{<InlineEquation equation="p" />, <InlineEquation equation="v" />, <InlineEquation equation="u" />};
	\node (3) [cylinder,thick,aspect=1.3, fill=Dorange!40,opacity=0.6, dashed,shape border rotate=0, draw,minimum height=1cm,minimum width=1cm,left of=1,xshift=0.65cm]{};
<p>	% Flow labels</p>
	\node(201) [draw=none, fill=none, left of=2, xshift=0.3cm]{<InlineEquation equation="\\dot{m}" />};
	\node(301) [draw=none, fill=none, below of=3, xshift=-1.0cm, yshift=0.7cm]{<InlineEquation equation="A" />};
	\node(101) [draw=none, fill=none, above of=1, xshift=-2.5cm, yshift=0.5cm]{boundary};
<p>	% Flow arrows</p>
	\draw [double,->, line width=0.5mm] ([xshift=0.2cm]3.east) -- ([xshift=-0.5cm]1.east);
	\draw [->, line width=0.5mm] (101) .. controls +(down:0.5cm) and +(left:0cm) .. ([yshift=-0.5cm]1.north west);
	\draw [-, line width=0.5mm] ([yshift=0.2cm,xshift=-0.1cm]301.east) .. controls +(up:0.2cm) and +(right:0.1cm) .. ([xshift=-0.2cm]2.east);
\end{tikzpicture}
\end{center}
<Image src="/Thermo/" width="5"></Image>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<p></p><p>
A mass flow having rate <InlineEquation equation="\\dot{m}" /> with cross-sectional area, <InlineEquation equation="A" />, \underline{slowly} enters a system. The mass is at a pressure <InlineEquation equation="p" />, has a specific volume <InlineEquation equation="v" />, and has a specific internal energy, <InlineEquation equation="u" />, relative to some reference state.</p>
<p>The mass flows into the system, over a given time interval <InlineEquation equation="\\Delta t" />, increasing the internal energy of the system as it enters, by:</p>
<DisplayEquation equation="\dot{m}\Delta t u=mu." title="eqn:Deltau_dotm" />
<p></p><p>
The volume occupied by the portion of the stream entering a system is defined by,</p>
<DisplayEquation equation="V_{\text{in-flow}}=\dot{m}\Delta t v=mv" title="" />
<p>This volume is pushed at constant pressure, <InlineEquation equation="p" />, into the system, is doing <InlineEquation equation="pV" /> work on the system, which will be described further in <BlueText>section  \ref{sec:pvwork} . (link this to section)</BlueText>
</p><p></p><p>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<p><!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<SubSection title="">Energy and Energy Flow</SubSection>
<SubSubSection title="">Internal Energy</SubSubSection>
<p>The <strong>internal energy</strong>, <InlineEquation equation="U" />, of a thermodynamic system relative to some <strong>reference state</strong> <InlineEquation equation="U_0" /> is the energy required to set up the positions and motions of the atoms and molecules within the system from their positions and motions in the reference state. When the system is in its reference state, its relative internal energy equals <InlineEquation equation="0" />. </p>
<DisplayEquation equation="\Delta U = U - U_0 = \textrm{energy}_{in} - \textrm{energy}_{out}" title="eq:Ebalance" />
\vspace{12pt}
<p></p><p>
The addition of energy to a system in its reference state will result in the system having a positive relative internal energy. The removal of energy from a system in its reference state will result in the system having a negative relative internal energy. Eqn.~\eqref{eq:MassBalanceInt2}.</p>

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=3cm, text height = 1cm, text depth = 1cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=1cm, xshift=-1.5cm]{energy in};
	\node(3) [draw=none, fill=none, left of=1,yshift=-1cm, xshift=-1.5cm]{energy out};
	\node(4) [draw=none, fill=none, right of=1,yshift=-0.5cm, xshift=1.5cm]{energy in};
	\node(5) [draw=none, fill=none, right of=1,yshift = 0.7cm, xshift=1.5cm]{boundary};
	\node(6) [draw=none, fill=none, above of=1,xshift = 3cm]{\color{Dteal}surroundings};
<p>	% Flow arrows</p>
	\draw [-latex, ultra thick] (2) -- (100);
	\draw [-latex, ultra thick] (100) -- (3);
	\draw [-latex,  ultra thick] (4) -- (100);
	\draw [->] (5) -- (1);
\end{tikzpicture}
\end{center}
\caption{A schematic representation of a thermodynamic system illustrating energy flows.}\label{fig:SysSchematic}
\end{figure}

\paragraph{Internal Energy Contributions} The internal energy (<InlineEquation equation="U" />) of a system is affected by the energetic contributions from heat flow (<InlineEquation equation="Q" />) in and out of a system and work (<InlineEquation equation="W" />) done by or on a system.  
<DisplayEquation equation="\Delta U = Q -  W." title="eq:Ebal" />
\paragraph{Sign Convention:} These energetic changes affect thermodynamic systems as follows:
<Enumerate>
	<Item> When heat is transferred to the system, the system energy increases (positive heat transfer).
    </Item>
	<Item> When the system does work on its surroundings, the system energy decreases (negative sign in front of work done by system).
    </Item>
	<Item> When the system transfers heat to the surroundings, the system energy decreases (negative heat transfer).
    </Item>
	<Item> When work is done on to the system, the system energy increases (positive sign in front of work done on system).
    
</Item>
</Enumerate>


\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, minimum width=3cm, minimum height = 2cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=0.7cm, xshift=-2cm]{<InlineEquation equation="Q_{1}" />, heat to system};
	\node(3) [draw=none, fill=none, left of=1,yshift=-0.7cm, xshift=-2.1cm]{<InlineEquation equation="W_{2}" />, work on system};
	\node(4) [draw=none, fill=none, right of=1,yshift=-0.7cm, xshift=2.3cm]{<InlineEquation equation="Q_{2}" />, heat from system};
	\node(5) [draw=none, fill=none, right of=1,yshift=0.7cm, xshift=2cm]{<InlineEquation equation="W_{1}" />, work by system};
	\node(6) [draw=none, fill=none, above of=1,xshift = 3cm]{\color{Dlblue}surroundings};
<p>	% Flow arrows</p>
	\draw [-latex,decorate,decoration={snake,amplitude=.4mm,segment length=2mm, post length=9pt}, ultra thick] (2) -- (100);
	\draw[-latex,decorate,decoration={snake,amplitude=.4mm,segment length=2mm ,post length=9pt}, ultra thick] (100) -- (4);
	\draw [-latex, ultra thick] (3) -- (100);
	\draw [-latex, ultra thick] (100) -- (5);
\end{tikzpicture}
\end{center}
\caption{A schematic illustrating the direction of energy flow when heat is transferred to/from the system and work is performed on or by the system.}\label{fig:SysSchematic1}	
\end{figure}
<p></p><p>
Given the system shown in Figure \ref{fig:SysSchematic1}, the net work done by the system is <InlineEquation equation="W_1-W_2" />. The net heat transferred to the system is <InlineEquation equation="Q_1-Q_2" />. The change in system energy is</p>
<DisplayEquation equation="\Delta U = Q_1-Q_2-(W_1-W_2)." title="" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<SubSubSection title="">Potential Energy</SubSubSection>
<p>A system may find itself subject to a conservative force in a position that differs from a reference position.  In this scenario, work has been done against a conservative force, such as changing the height, <InlineEquation equation="h" />, to change the potential energy.</p>
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->

\begin{figure}[h]
\begin{center}
\begin{tikzpicture}[auto, node distance=1.75cm,>=latex']
	\node(1) [draw, fill=Mteal, rectangle, rounded corners=10pt, text width=3cm, text height = 1cm, text depth = 1cm, text centered,thick] {system};
	\node(100) [draw=none, fill=none, text width=2cm, text height=0.5cm, text depth=0.5cm]{};
<p>	% Flow labels</p>
	\node(2) [draw=none, fill=none, left of=1,yshift=0.5cm, xshift=-0.9cm]{<InlineEquation equation="\\dot{m}" />, <InlineEquation equation="\\vec{v}" />, <InlineEquation equation="h" />};
<p>	% Flow arrows</p>
	\draw [double,->, line width=0.5mm] ([xshift=-1.8cm]1.west) -- ([xshift=0.2cm]100.west);
\end{tikzpicture}
\end{center}
\end{figure}
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
 Typical conservative forces include elastic potential energy, \emph{e.g.}, a spring, and electric potential energy. For the particular case of gravity,
<DisplayEquation equation="\begin{split}
W_{\text{PE}_g}&=\int_{z_1}^{z_2}mg\,dz\\
&=mg(z_2-z_1)
\end{split}" title="eq:PE" />
<p>Thus the change in the gravitational potential energy of the system.</p>
<DisplayEquation equation="    W_{\text{PE}_g}=\Delta \text{PE}_g " title="" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->


<SubSubSection title="">Kinetic Energy</SubSubSection>
<p>A system may find itself in motion with respect to a reference frame. In this first case, work has been done to</p>
<p>accelerate the system to its velocity. Work done is defined by forces acting over a distance, and work <InlineEquation equation="W_{\\text{KE}}" /> can be done to accelerate the system to its velocity,</p>
<DisplayEquation equation="W_{\text{KE}}=\int_{\vec{x_1}}^{\vec{x_2}}\vec{f}\,d\vec{x}." title="" />
<p>Force is determined from Newton's 2nd law:</p>
<DisplayEquation equation="\vec{f}=m\frac{d\vec{v}}{dt}=m\frac{d\vec{v}}{d\vec{x}}\underbrace{\frac{d\vec{x}}{dt}}_{\vec{v}}=m\vec{v}\frac{d\vec{v}}{d\vec{x}}" title="" />
<p>This results in the following relationship for work done via kinetic energy change (<InlineEquation equation="W_{\\text{KE}}" />)</p>
<DisplayEquation equation="\begin{split}
W_{\text{KE}}&=\int_{\vec{v_1}}^{\vec{v_2}}m\vec{v}\,d\vec{v}\\
&=\frac{1}{2}m(\vec{v}_2^2-\vec{v}_1^1).
\end{split}" title="eq:KE" />
<p>Thus the change in kinetic energy of the system.</p>
<DisplayEquation equation="    W_{\text{KE}}=\Delta \text{KE}" title="" />
</p>
<SubSubSection title="">Enthalpy</SubSubSection>
<p>Enthalpy is a state function that is the sum of a system's internal energy <InlineEquation equation="\\mu" /> and the product of its pressure and volume <InlineEquation equation="pv" />.</p>
\paragraph{Relative Specific Enthalpy}
<p>The sum <InlineEquation equation="u+pv" /> appears frequently in thermodynamic discussion so it is conveniently defined as relative specific enthalpy <InlineEquation equation="h" />, consisting of the same atomic and molecular kinetic and potential energies as specific internal energy <InlineEquation equation="u" />, but with the addition of \emph{flow work}, <InlineEquation equation="pv" /></p>
<DisplayEquation equation="h=u+pv." title="eqn:RelativeEnthalpy" />
<p>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</p> -->
<SubSection title=""><BlueText>Entropy</BlueText></SubSection>
<BlueText>We would like this to link to the Entropy page :)</BlueText>

</Layout>