---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SubSection from "../components/SubSection.astro";
import SubSubSection from "../components/SubSubSection.astro";
import SubSubSubSection from "../components/SubSubSubSection.astro";
import CalloutContainer from "../components/CalloutContainer.astro";
import CalloutCard from "../components/CalloutCard.astro";
import InlineEquation from "../components/InlineEquation.astro";
import DisplayEquation from "../components/DisplayEquation.astro";
import DisplayTable from "../components/DisplayTable.astro";
import Warning from "../components/Warning.astro";
---

<Layout title="Mechref Example Skeleton">
    
    
    <Section id="main-section" title="Main section">
        <p>
            Use this page to get familiar with the different components Mechref has to offer. Resize the browser window to visualize how the pages look like on different screen sizes (desktop vs. tablet vs. phone).
        </p>
        
    </Section>

    <SubSection id="secondary-section" title="Secondary section">
        <p>
            You can add little cards to the side of each section. These are meant to contain extra information not critical to what's discussed in the section, such as fun-facts, extra readings related to the material, or real-world applications. 
        </p>
        <p>
            These will follow the user as they scroll through the section they are defined in, but will stay contained to their section. Scroll up and down to experience this effect.
        </p>
        <CalloutContainer slot="cards">
            <CalloutCard title="I'm here!">
                By default, the title is "Did you know?", but can be changed, as illustrated here.
            </CalloutCard>
        </CalloutContainer>
    </SubSection>

    <SubSubSection id="tertiary-section" title="Tertiary section">
        There exists a hierarchy of sections to indicate to students that certain concepts are directly related to another. The main "Section" item should only be used at the top of the page and acts as the page's title. There also exist "SubSection", "SubSubSection", and "SubSubSubSection", each with a progressively smaller header and faded color, to emphasize that they belong inside another bigger section.
    </SubSubSection>

    <SubSubSubSection id="quatenary-section" title="Quatenary section">
        An even smaller section.
    </SubSubSubSection>

    <SubSection id="math-section" title="Math in Mechref">
        <p>
            <InlineEquation equation="\\LaTeX"/> can be used inside your pages. Just like in Latex, we differentiate between inline-math and display-math:
        </p>
        <p class="m-0">
            <u>Example of inline-math:</u>
        </p> 
        <p>
            <InlineEquation equation="E = mc^2"/> as proved by Einstein.
        </p>
        <p class="m-0">
            <u>Example of display-math:</u>
        </p> 
        <p>
            <DisplayEquation equation="E = mc^2"></DisplayEquation>
            as proved by Einstein.
        </p>
        <p>
            For really important equations, we can emphasize them using a background, and give them a title and id for easy reference in other pages:
            <DisplayEquation equation="\\begin{aligned}&{\\text{Find a vector}}&&\\mathbf {x} \\\\&{\\text{that maximizes}}&&\\mathbf {c} ^{\\mathsf {T}}\\mathbf {x} \\\\&{\\text{subject to}}&&A\\mathbf {x} \\leq \\mathbf {b} \\\\&{\\text{and}}&&\\mathbf {x} \\geq \\mathbf {0} .\\end{aligned}" background="true" title="Standard form of a Linear-Program." id="lp-std-form"/>
        </p>
        <p>
            When we want to show students how a particular equation is derived, we can add an expendable derivation field:
            <DisplayEquation equation="P\\left(T>s+t\\mid T>s\\right)=P(T>t),\\qquad \\forall s,t\\geq 0." background="true" title="Memorylessness of the exponential distribution." id="exp-memoryless" derivation="true">
                <DisplayEquation equation="\\begin{aligned}P\\left(T>s+t\\mid T>s\\right)&={\\frac {P \\left(T>s+t\\cap T>s\\right)}{P \\left(T>s\\right)}} \\\\ &={\\frac {P \\left(T>s+t\\right)}{P \\left(T>s\\right)}} \\quad \\text{since} \\; [0, s) \\subset [0, s+t) \\\\ &={\\frac {e^{-\\lambda (s+t)}}{e^{-\\lambda s}}} \\\\ &=e^{-\\lambda t} \\\\ &=P(T>t).\\end{aligned}" />
            </DisplayEquation>
        </p>
        <Warning title="Do not reuse IDs" id="unique-ids">
            These expendable warning fields can be used to emphasize that students should really pay attention to what's inside. Here, we want to warn you not to reuse IDs, since unique IDs are essential to certain features working correctly.
        </Warning>

    </SubSection>

</Layout>
