---
const { id, class_="" } = Astro.props;
---

<div id={id + '_container'} class="overflow-auto">
    <table id={id} class={class_ + ' w-100'} >
        <slot/>
    </table>
</div>

<script is:inline define:vars={{id}}>
    let body_width;
    let table_width;

    function set_width(id){
        body_width = $('body').width();
        table_width = body_width - 24;

        if (body_width < 992){
            document.querySelector(`#${id}`).style = `width: ${table_width}px`;
            document.querySelector(`#${id}_container`).style = `width: ${table_width}px`;
        }else{
            document.querySelector(`#${id}`).style = `width: 100%`;
            document.querySelector(`#${id}_container`).style = `width: 100%;`;
        }
        
        console.log(body_width)
    }

    set_width(id);

    $( window ).on( "resize", function() {
        set_width(id)
        
    } );
</script>