---
const { src, width="5", alt='', id=""} = Astro.props;

const img_path_split = src.split('/')

const filename = 'Fig: ' + img_path_split.pop().replace('.png', '')
---

<style define:vars={{width}}>
    .filename{
        display: none;
    }

    .image-block{
        width: 100%;
    }

    @media (min-width: 768px){
        .image-block{
            width: min(calc(var(--width) / 6 * 100%), 100%);
        }
    }

    @media (min-width: 992px){
        .image-block{
            width: min(calc(var(--width) / 7 * 100%), 100%);
        }
    }

    @media (min-width: 1200px){
        .image-block{
            width: calc(var(--width) / 8 * 100%);
        }
    }
</style>

<div class="img-container w-100 d-flex flex-column align-items-center my-3" id={id}>
    <div class="d-flex flex-column align-items-center image-block">
        <img src={src} class="w-100" alt={alt}>
    </div>
    <figcaption class="filename">{filename}</figcaption>
    <div class="d-flex flex-row justify-content-center align-items-baseline flex-wrap" style="gap: 5px;">
        <small><em><slot /></em></small>
    </div>
</div>