---
    import classes from "../../public/classes.json"

    const course_tags = {
        'Dynamics': 'dyn',
        'Solid Mechanics': 'sol',
        'Statics': 'sta'
    }

    const {page, course} = Astro.props;

    const json_file = `/public/${course}/trees/${page}.json`

    console.log(json_file)

    const data = await import(json_file /* @vite-ignore */)
---

<style>
    .subsection{
        margin-left: 1rem;
    }

    .subsubsection{
        margin-left: 1rem;
        color: #808080;
    }

    li {
        color:red;
    }

    #nav-tree-container_ul{
        list-style-type: none;
    }
</style>

<div id="nav-tree-container">
    <ul id="nav-tree-container_ul" >
    </ul>
</div>

<script is:inline define:vars={{data}}>
    console.log(data)

    nav_tree_container  = document.querySelector('#nav-tree-container_ul')
    console.log(data.default)
    data.default.forEach(element => {
        console.log(element)
        
        
        if (element[0] === 'section'){
            return;
        }else{
            nav_tree_container.innerHTML += `<li id="${element[2]}" class='my-0 ${element[0]}'><p >${element[1]}</p></li>`;
        }
    });
</script>