---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import SubSection from "../../components/SubSection.astro";
import SubSubSection from "../../components/SubSubSection.astro";
import SubSubSubSection from "../../components/SubSubSubSection.astro";
import CalloutContainer from "../../components/CalloutContainer.astro";
import CalloutCard from "../../components/CalloutCard.astro";
import InlineEquation from "../../components/InlineEquation.astro";
import DisplayEquation from "../../components/DisplayEquation.astro";
import Image from "../../components/Image.astro"
import DisplayTable from "../../components/DisplayTable.astro";
import Warning from "../../components/Warning.astro"
import InlineCanvas from "../../components/InlineCanvas.astro";
import Itemize from "../../components/Itemize.astro";
import Item from "../../components/Item.astro";

---

<Layout title="Mechref Example Skeleton">

    <!--TODO: fix this-->
    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#main-section'>Introduction to Stress Concentrations</a>
                <ul class='list-group list-group-flush py-0'> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#subsection1_1'>Actual Stress Distribution vs Nominal Stress</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#subsection1_2'>Example Problem</a></li>
                </ul>
            </li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#main-section2'>Application of Stress Concentrations</a>
                <ul class='list-group list-group-flush py-0'>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#subsection2_1'>Residual Stresses After Unloading</a></li>
                </ul>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#main-section3'>Design Considerations</a></li>
        </ul>
    </div>



    <Section id="main-section" title="Introduction to Stress Concentrations">
        <p>
            In mechanical engineering, "stress concentration" refers to the increase in stress around small features
            like holes, notches, or sharp corners in a material.
        </p>
        <p>
            Imagine you're trying to tear a piece of paper. If you pull it from both ends, it's tough to rip. But if
            you make a small cut (a notch) first, the tear spreads easily from there. This happens because stress
            (force per unit area) gets concentrated around sharp edges or holes.
        </p>
    </Section>
        <SubSection id="subsection1_1" title="Actual Stress Distribution vs Nominal Stress">
            <p>
                Imagine a metal plate like the one shown in Figure 1, with a hole in the middle, being pulled from both ends.
                The stress (force per area) is not evenly spread across the plate. Instead, it is concentrated near the edges of the hole.
                This introduces a relationship between the <strong>Nominal Stress</strong> and <strong>Maximum Stress</strong>
                (<InlineEquation equation="\\sigma_{nom}" /> and <InlineEquation equation="\\sigma_{max}" /> respectively)
                related by the <strong>Stress Concentration Factor</strong> (<InlineEquation equation="\K_t"/>).
            </p>

            <p>
                Their relationship can be defined as follows:
                <Itemize>
                    <Item><strong>Nominal Stress</strong>: The average stress.</Item>
                    <Item> <strong>Maximum Stress</strong>: The highest stress, which occurs at the edge of the stress concentration.</Item>
                    <Item> <strong>Concentration Factor</strong>: A number that tells us how much the stress is increased due to the stress concentration.</Item>
                </Itemize>
                For example, if <InlineEquation equation="\K_t=3"/> , then the highest stress (Located at the edge of the hole, crack, or notch) is
                <strong>three times</strong>  the applied stress.
            </p>
        </SubSection>

        <SubSection id="subsubsection1_2" title="Example Problem">
            <p>
                Consider the steel plate below, with a width of <InlineEquation equation="100 \\; mm"/> and a thickness of
                <InlineEquation equation="10 \\; mm"/> is subjected to a tensile
                force of <InlineEquation equation="20 \\; Kn"/>. The plate has a circular hole with a diameter of <InlineEquation equation="20 \\; mm"/> at its center. The stress
                concentration factor for this geometry is given as <InlineEquation equation="\K_t = 3"/>.

                <Itemize>
                    <Item>What is the Nominal stress <InlineEquation equation="\\sigma_{nom}"/>?</Item>
                    <Item>What is the Maximum Stress <InlineEquation equation="\\sigma_{max}"/>?</Item>
                </Itemize>

            </p>
                <Image src="/mf/Stress Concentrations/Stress Concentrations Diagram Problem 1.png" width="7"> Figure 1: Sample stress concentration problem </Image>
            <p>
                Step 1: Compute the Nominal Stress
            </p>
            <p>
                <InlineEquation equation="\A= (W-d) \\times t= (100 - 20) \\times 10 = 800 \\text{ mm}^2">
            </p>
            <p>
                Thus, the nominal stress is:
            </p>
            <p>
                <InlineEquation equation="\\sigma_{\\text{nom}} = \\frac{20,000 \\text{ N}}{800 \\text{ mm}^2} = 25 \\text{ MPa}">
            </p>

            <Warning title="Computing Cross Sectional Area" id="stress_concentration_warning">
                The diameter of the hole must be subtracted from the height of the plate to calculate the correct cross sectional area.
            </Warning>
            <p>
                Step 2: Compute the Maximum Stress
            </p>
            <p>
                The maximum stress <InlineEquation equation="\\sigma_{\\text{max}}"> at the edge of the hole is given by:
            </p>
            <p>
                <InlineEquation equation="\\sigma_{\\text{max}} = K_t \\times \\sigma_{\\text{nom}}">
            </p>
            <p>
                <InlineEquation equation="\\sigma_{\\text{max}} = 3  \\times 25 \\text{ MPa} = 75 \\text{ MPa}">
            </p>
        </SubSection>
    <Section id="main-section2" title="Application of Stress Concentrations">
        <p>
        <strong>What happens if the stress exceeds the yield strength of the material? Plastic Deformation</strong>
        </p>
        <p>
            As we increase the stress on an object, we know that the the stress can’t keep increasing past a certain limit,
            called the yield strength <InlineEquation equation="\S_y"/> of the material.
        </p>
        <p>
            If stress exceeds the yield strength of the material, plastic deformation will occur.
            If the stress is evenly distributed across the entire object,
            this plastic deformation will often cause the object to fail.
        </p>
        <p>
            However, if a stress concentration is present, it is possible for the <strong>maximum</strong> stress to exceed the
            yield strength of the material, while the nominal stress remains below the material's yield strength.
        </p>
        <p>
            Once yeilding occurs:
            <Itemize>
                <Item>Some areas reach their maximum stress limit and start deforming permanently.
                    This means that these areas cannot bear any additional stress. </Item>
                <Item>As a result, the stress that was supposed to be born by these area is instead redistributed to
                    other areas in a process called load redistribution.</Item>
                <Item>This makes the stress spread out.</Item>
            </Itemize>
            <Image src="/mf/Stress Concentrations/Stress Concentrations Diagram Stress Redistribution.png" width="7">
                Figure 2: Diagram of Stress Redistribution </Image>
            In figure 2 we can see this process in a little more detail:
            <Itemize>
                <Item>The orange curve shows the stress that is applied to the object assuming the material stays elastic (no permanent deformation). </Item>
                <Item>The vertical dashed lines, <InlineEquation equation="\\sigma_{nom}"/>,<InlineEquation equation="\S_y"/>,and <InlineEquation equation="\\sigma_{max"/> represent the nominal stress,
                    the yield strength and the maximum stress respectively</Item>
                <Item>he blue curve shows the redistributed stress that the material experiences after plastically
                    deforming and redistributing the stress. Note that the nominal stress is the same, as the decrease
                    in stress near the stress concentration is offset by an increase in the stress further away from
                    the stress concentration. </Item>
            </Itemize>
        </p>
        
    </Section>
        <SubSection id="subsection2_1" title="Residual Stresses After Unloading">
            <p>
                After the external force is removed, the object will try to return to its original shape.
                Elastic deformation will be recovered but the plastically deformed regions cannot return to their original form.
                Due to this, some stresses remain inside the material. These are called residual stresses, and it can be
                calculated by subtracting the elastic stress (shown in orange) from the actual stress (shown in blue).
            </p>
        </SubSection>


    

        <Section id="main-section3" title="Design Considerations">
            <p>
                As an engineer, it is important to know when we should consider the effects of stress concentrations,
                as well as times that the effects of stress concentrations can be safely ignored.
            </p>
            <p>
                In general, stress concentrations can be safely ignored when the material in question is ductile.
                This is because the material can yield locally, and redistribute stresses. Even if local plastic
                deformation does occur, it is unlikely to cause the object as a whole to fail.
            </p>
            <p>
                However, there are several situations were it is imperative to consider the impact of stress concentrations.
                <Itemize>
                    <Item>Brittle materials may fracture rather than yield locally, so a stress concentration can cause catastrophic failure. </Item>
                    <Item>Impact or dynamic loading may cause stresses to be applied so quickly that they cannot be adequately redistributed, causing failure.</Item>
                    <Item>Repeated loading can cause fatigue failure due to cyclic loading. In these scenarios the
                        presence of stress concentrations can accelerate the process of fatigue failure and should be considered.  </Item>
                </Itemize>
            </p>

    </Section>






</Layout>
