---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Item from "../../components/Item.astro"
import Itemize from "../../components/Itemize.astro"
import Enumerate from "../../components/Enumerate.astro"
import Example from "../../components/Example.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
import DisplayTable from "../../components/DisplayTable.astro"
---
<Layout title="Beam Deflection">
    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#sign-conventions'>Sign Conventions</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#boundary-conditions'>Boundary Conditions</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#moment-curvature'>Moment-Curvature Equation</a>
                <ul class='list-group list-group-flush py-0'> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#assumptions'>Assumptions</a></li> 
                </ul>
            </li>  
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#differentiation'>Differentiation</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#integration'>Integration</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#solutions'>Beam Solutions</a></li>
        </ul>
    </div>
<Section title="Beam Deflection" id="beam-deflection">

<strong>Goal:</strong> Determine the deflection and slope at specified points of beams and shafts.
<br>
 <strong>Solve statically indeterminate beams:</strong> where the number of reactions at the supports exceeds the number of equilibrium equations available.
 <br>

 <strong>Maximum deflection of the beam:</strong> Design specifications of a beam will generally include a maximum allowable value for its deflection.

</Section>

<SubSection title="Sign Conventions" id="sign-conventions">

<Image src='/sol/beam_deflection/UpdatedSignConventions.png' width='5'></Image>

</SubSection>

<SubSection title="Boundary Conditions" id="boundary-conditions">

<Image src='/sol/beam_deflection/UpdatedBoundaryConditions.png' width='5'></Image>

</SubSection>

<SubSection title="Moment-Curvature Equation" id="moment-curvature">

<Image src='/sol/beam_deflection/ElasticCurveBeam.png' width='4'></Image>

The physical shape of the deflected beam is called the elastic curve. The curvature <InlineEquation equation="\\kappa"/> can be found by rearranging the bending moment <InlineEquation equation="M(x)"/> equation, and for small angles, can be approximated by the second derivative of <InlineEquation equation="y(x)"/>.

<DisplayEquation equation="\\kappa = \\frac{1}{\\rho} \\approx y''(x)" title="Moment-curve equation." background="True" derivation="True" id="els-crv">

    <DisplayEquation equation="M(x) = \\frac{E(x)I(x)}{\\rho(x)}" />
    <DisplayEquation equation="\\frac{1}{\\rho} = \\frac{M(x)}{EI}" />

</DisplayEquation>

<Image src='/sol/beam_deflection/ElasticCurveGraph.png' width='5'>  </Image>

<DisplayEquation equation='\\frac{d^2y}{dx^2} = \\frac{M(x)}{EI}\\'  title="Elastic curve governing equation." background="True" />

To find the deflection shape:

<Enumerate>
    <Item> Find the bending moment <InlineEquation equation='M(x)' />.</Item>
    <Item> Integrate both sides of the governing equation twice. </Item>
    <Item> Solve for <InlineEquation equation='y(x)' />. </Item>
</Enumerate>


</SubSection>


<SubSubSection title="Assumptions" id="assumptions">

<Itemize>
    <Item> <InlineEquation equation='y(x)' /> is the vertical direction </Item>
    <Item> Bending only: we will neglect effects of transverse shear </Item>
    <Item> Small deflection angles </Item>
</Itemize>

</SubSubSection>


<SubSection title="Differentiation" id="differentiation">

    <DisplayEquation equation="EIy''(x) = M(x)" title="Elastic curve equation for constant E and I." background="True" />
    <DisplayEquation equation="EIy'''(x) = \\frac{dM(x)}{dx} = V(x)" title="Differentiating the elastic curve equation." background="True" />
    <DisplayEquation equation="EIy''''(x) = \\frac{dV(x)}{dx} = w(x)" title="Differentiating the elastic curve equation a second time. " background="True" />

    <Itemize>
        <Item> <InlineEquation equation="EIy''(x):" /> bending moment </Item>
        <Item><InlineEquation equation="EIy '''(x):" /> shear force </Item>
        <Item> <InlineEquation equation="EIy''''(x):" /> distributed load</Item>
    </Itemize>


</SubSection>

<SubSection title="Integration" id="integration">


   <DisplayEquation equation='V(x) = \\int w(x) dx\\' title="Shear force." background="True"/>
   <DisplayEquation equation='M(x) = \\int V(x)dx\\' title="Internal bending moment." background="True"/>
   <DisplayEquation equation='\\frac{dy}{dx} = \\int \\frac{1}{EI}M(x)dx\\' title="Slope of the tangent line." background="True"/>
   <DisplayEquation equation="y(x) = \\int y'(x) dx\\" title="Deflection." background="True"/>


   

    <Itemize>
        <Item><InlineEquation equation="y(x):" /> deflection </Item>
        <Item> <InlineEquation equation="y'(x):" /> slope </Item>
    </Itemize>

    <Example id="ovr-hng" title="Overhanging beam." solution="False">
        <div class="d-flex">
            <p>
                <Image src='/sol/beam_deflection/Overhang Ex.png' width='5'></Image>
              </p>
        </div>
    </Example>
  
    <Example id="can-tlv" title="Cantilever beam." solution="False">
        <div class="d-flex">
            <p>
                <Image src='/sol/beam_deflection/Cantilever Ex.png' width='5'></Image>
              </p>
        </div>
    </Example>

   </SubSection>


<SubSection title="Beam Solutions" id="solutions"> 
    Common beam deflection solutions have been worked out.
    <DisplayTable id="beam_sol_table" >
        <thead class="text-center">
            <tr valign="top">
                <th class="table-shaded">
            <strong>Diagram</strong>
                </th>
                <th class="table-shaded">
                    <strong>Max. deflection 
                        <br>
                        <InlineEquation equation="y_{max}"/>
                    </strong>
                </th>
                <th class="table-shaded"> 
                    <strong>Slope at end
                        <br>
                        <InlineEquation equation="\\theta"/>
                    </strong>
                </th>
            <th class="table-shaded"> 
                    <strong>Elastic curve
                        <br>
                        <InlineEquation equation="y(x)"/>
                    </strong>
                </th>	
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table1.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{PL^3}{3EI}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{PL^2}{2EI}"/>    
                </td>
                <td valign="middle">
                    <InlineEquation equation="\\frac{P}{6EI}(x^3-3Lx^2)" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table2.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{wL^4}{8EI}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{wL^3}{6EI}"/>    
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{w}{24EI}(x^4-4Lx^3+6L^2x^2)" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table3.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{ML^2}{2EI}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{ML}{EI}"/>    
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{M}{2EI}x^2" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table4.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{5wL^4}{384EI}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="\\pm\\frac{wL^3}{24EI}"/>    
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{w}{24EI}(x^4-2Lx^3+L^3x)" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table5.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{PL^3}{48EI}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="\\pm\\frac{PL^2}{16EI}"/>    
                </td>
                <td valign="middle">
                    <p style="text-align:left;">
                        For <InlineEquation equation="0 \\le x \\le \\frac{L}{2}:"/>
                    </p>

                    <InlineEquation equation="\\frac{P}{48EI}(4x^3-3L^2x)" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table6.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <p style="text-align:left;">
                        For <InlineEquation equation="a>b:"/>
                    </p>
                    <InlineEquation equation="-\\frac{Pb(L^2-b^2)^{\\frac{3}{2}}}{9\\sqrt{3}EIL}"/>
                    <br>
                    <br>
                    <InlineEquation equation="x_m = \\sqrt{\\frac{L^2-b^2}{3}}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="B: -\\frac{Pb(L^2-b^2)}{6EIL}"/>   
                    <br>
                    <br>
                    <InlineEquation equation="A: +\\frac{Pa(L^2-a^2)}{6EIL}"/>    
                </td>
                <td valign="middle">
                    <p style="text-align:left;">
                        For <InlineEquation equation="x<a:"/>
                    </p>
                    <InlineEquation equation="\\frac{Pb}{6EIL}(x^3-x(L^2-b^2))" />
                    <br>
                    <br>
                    <p style="text-align:left;">
                        For <InlineEquation equation="x=a:"/>
                    </p>
                    <InlineEquation equation="-\\frac{Pa^2 b^2}{3EIL}" />
                </td>
            </tr>
        </tbody>
        <tbody class="text-center">
            <tr>
                <td class="nosideborderleft">
                    <Image src='/sol/beam_deflection/Table7.png' width='7'></Image>
                </td>
                <td valign="middle">
                    <InlineEquation equation="-\\frac{ML^2}{9\\sqrt{3}EI}"/>
                    <br>
                    <br>
                    <InlineEquation equation="x_m = \\frac{L}{\\sqrt{3}}"/>
                </td>
                <td valign="middle">
                    <InlineEquation equation="A: -\\frac{ML}{6EI}"/>   
                    <br>
                    <br>
                    <InlineEquation equation="B: +\\frac{ML}{3EI}"/>   
                </td>
                <td valign="middle">
                    <InlineEquation equation="\\frac{M}{6EIL}(x^3-L^2x)" />
                </td>
            </tr>
        </tbody>
    </DisplayTable>  
    
    
     To solve loadings that are not in the table, use <strong>superposition</strong> to get the resulting deflection curve.
    
     <Example id="dfl-spp" title="Deflection from a moment and distributed load using superpositon." solution="False">
        <div class="d-flex">
            <p>
                <Image src='/sol/beam_deflection/Superposition Ex.png' width='3'></Image>
              </p>
        </div>
    </Example>
    
</SubSection>

</Layout>

