---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro"
import RedText from "../../components/RedText.astro"  
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Item from "../../components/Item.astro"
import Itemize from "../../components/Itemize.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import DisplayTable from "../../components/DisplayTable.astro"
import InlineCanvas from "../../components/InlineCanvas.astro"
---

<style>
    td, th{
        border-left: 1px solid var(--bs-border-color);
        border-right: 1px solid var(--bs-border-color);
    }
</style>
<Layout title="Bending">

    <div slot="navtree">
        <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#sign-conventions'>Sign Conventions</a></li>
            <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#boundary-conditions'>Boundary Conditions</a></li> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#pure-bending'>Pure Bending</a></li> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#geom-deform'>Geometry of Deformation</a></li> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#stress-strain-variations'>Stress-Strain Variations</a></li> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#linear-elastic-beams'>Material Behavior: linear elastic beams</a>
                <ul class='list-group list-group-flush py-0'> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#first-moi'>First Moment of Area: Centroid of an Area</a></li> 
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#second-moi'>Second Moment or Area Moment of Inertia</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#summary-moi'>Summary: Moment of Inertia</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#max-normal-stress'>Maximum Normal Stress</a></li>
                    <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#eccentric-loading'>Eccentric Axial Loading in a Plane of Symmetry</a></li>  
                </ul>
            </li>  
        </ul>
    </div>

<Section title="Pure Bending" id="bending">

Transverse loads applied to a beam causes deflections, primarily up or down is referred to as <strong>bending</strong>. Bending stresses depend on the beams cross-section, length, and material properties.

</Section>

<SubSection title="Sign Conventions" id="sign-conventions">

<strong>Internal</strong>

<Image src='/sol/bending/Internal sign convention - correct branding.png' width='5'> </Image>

 <strong>External</strong>

<Image src='/sol/bending/External sign convention - correct branding.png' width='4.5'> </Image>

</SubSection>

<SubSection title="Boundary Conditions" id="boundary-conditions">

<strong>Statically Determinate Beams</strong>

<Image src='/sol/bending/StaticallyDeterminateBeams.png' width='7'> </Image>


 <strong>Statically Indeterminate Beams</strong>

<Image src='/sol/bending/StaticallyIndeterminateBeams.png' width='7'> </Image>

 <strong>Loadings</strong>
<Image src='/sol/bending/UpdatedLoadings.png' width='7'> </Image>

</SubSection>

<SubSection title="Pure Bending" id="pure-bending">

<Image src='/sol/bending/PureBending.png' width='3'></Image>

Take a flexible strip, such as a thin ruler, and apply equal forces with your fingers as shown. Each hand applies a couple or moment (equal and opposite forces a distance apart). The couples of the two hands must be equal and opposite. Between the thumbs, the strip has deformed into a circular arc. For the loading shown here, just as the deformation is uniform, so the internal bending <strong>moment is uniform</strong>, equal to the moment applied by each hand.

</SubSection>

<SubSection title="Geometry of Deformation" id="geom-deform">

<Image src='/sol/bending/Geometry.png' width='3.5'>Bending diagram</Image>

 Assumptions:
<Itemize>
    <Item> 
        Plane sections remain plane <InlineEquation equation='\\rightarrow' /> <strong>no shear</strong> stress/strains.
        <DisplayEquation equation='\\gamma_{xy} = \\gamma_{xz} = 0\\' background="True"/>
        Therefore: <DisplayEquation equation='\\tau_{xy} = \\tau_{xz} = 0\\' background="True"/>
        Also, traction free boundary conditions yields... <DisplayEquation equation="\\sigma_y = \\sigma_z = \\tau_{yz} = 0\\" background="True"/>
    </Item>
    <Item> 
        There is a <strong>Neutral axis</strong> between the top and the bottom where the length does not change. <DisplayEquation equation='\\sigma_x = 0 \\rm\\ and \\rm\\ \\epsilon_x = 0\\' background="True"/>
    </Item>
    
    <Item> 
        The beam deforms into a <strong>circular arc</strong> where the top surface (<InlineEquation equation='AB'/>) is in compression <DisplayEquation equation='\\sigma_x, \\varepsilon_x <0' background="True"/>, and the bottom surface (<InlineEquation equation='AB ^\\prime' />) is in tension <DisplayEquation equation='\\sigma_x, \\varepsilon_x >0' background="True"/>.
    </Item>
    <Item> Any point in the beam is in a state of <strong>uniaxial normal stress.</strong></Item>
    <Item> Finding stresses is a <strong>statically indeterminate</strong> problem.</Item>
</Itemize>
</SubSection>

<SubSection title="Stress-Strain Variations" id="stress-strain-variations">

<Image src='/sol/bending/StressStrainVar.png' width='4'></Image>

The magnitudes of stress and strain vary along the cross section. The magnitudes increase as the point of intrest moves away from the neutral axis. The maximum is at the point farthest away from the neutral axis. 
    

<Image src='/sol/bending/Superposition.png' width='5'> </Image>

This variation also changes as more moads are added. 

</SubSection> 

<SubSection title="Material Behavior: linear elastic beams" id="linear-elastic-beams">
<strong>Elastic range:</strong> bending moment is such that the normal stresses remain below the yield strength.

<DisplayEquation equation='\\int_A y dA =0\\' title="Hooke’s law combined with equilibrium." background="True"/> 
<DisplayEquation equation='M(x) = \\frac{E(x)I_z(x)}{\\rho(x)}\\' title=" Moment-curvature equation." background="True" derivation="True" id="mmt-crv"> 

Constitutive Relationship:
<DisplayEquation equation='L_{y_i} = L_{NAi} = L_{NAf} = \\rho\\theta\\' />
<DisplayEquation equation='L_{y_f} = (\\rho - y)\\theta\\' />
<DisplayEquation equation='\\varepsilon_x = \\frac{(\\rho-y)\\theta - \\rho\\theta}{\\rho\\theta}\\' />
<DisplayEquation equation='\\varepsilon_x = \\frac{-y\\theta}{\\rho\\theta} = \\frac{-y}{\\rho}\\' />
<DisplayEquation equation='\\sigma_x = E\\varepsilon_x = -\\frac{Ey}{\\rho}\\' />

Force Equilibrium: 
<DisplayEquation equation='\\Sigma F_x = 0\\' />
<DisplayEquation equation='\\Sigma F_x = \\int dF\\' />
<DisplayEquation equation='\\Sigma F_x = \\int \\sigma_x dA\\' />
<DisplayEquation equation='\\Sigma F_x = \\int\\frac{-Ey}{\\rho}dA\\' />
<DisplayEquation equation='\\Sigma F_x = \\frac{-E}{\\rho}\\int y dA = 0\\' />

Moment Equilibrium:
<DisplayEquation equation='\\Sigma M_z = -M - \\int y dF = 0\\' />
<DisplayEquation equation='\\Sigma M_z = -M - \\int y\\sigma_x dA\\' />
<DisplayEquation equation='\\Sigma M_z = -M - \\int y (\\frac{-Ey}{\\rho}) dA\\' />
<DisplayEquation equation='\\Sigma M_z = -M - + \\frac{E}{\\rho} \\int y^2 dA = 0\\' />

 </DisplayEquation>
 </SubSection>

<SubSubSection title="First Moment of Area: Centroid of an Area" id="first-moi">
The first moment of the area A with respect to the z-axis is given by <InlineEquation equation='Q_x = \\int_A y dA = \\Sigma yA' /> .

 The first moment of the area A with respect to the y-axis is given by <InlineEquation equation='Q_y = \\int_A x dA  = \\Sigma zA' />.



 <InlineEquation equation='(\\overline{x}, \\overline{y})' title="The centroid of an area." background="True"/>

<Image src='/sol/bending/Centroid.png' width='2'> Centroid of a body </Image>

<DisplayEquation equation='\\bar{x} = \\frac{1}{A}\\int_A x dA\\' title="x coordinate." background="True"/>
<DisplayEquation equation='\\bar{y} = \\frac{1}{A}\\int_A y dA\\' title="y coordinate." background="True"/> 

Complex (or composite) areas can be divided into smaller, easier parts.

<Image src='/sol/bending/CompositeCentroid.png' width='6'>  Centroid of a composite body</Image>

<DisplayEquation equation="\\bar{X} = \\frac{1}{A_{tot}}\\sum_i (A_i\\bar{y}_i)\\" title="Composite x coordinate" background="True"/>
<DisplayEquation equation='\\bar{Y} = \\frac{1}{A_{tot}} \\sum_i (A_i\\bar{y}_i)' title="Composite y coordinate" background="True"/>




</SubSubSection>

<SubSubSection title="Second Moment or Area Moment of Inertia" id="second-moi">
The moment of inertia of the area <InlineEquation equation='A' /> with respect to the x-axis.

<DisplayEquation equation='I_x = \\int_A y^2 dA' title="x-axis second moment." background="True" />

The moment of inertia of the area <InlineEquation equation='A' /> with respect to the y-axis.

<DisplayEquation equation='I_y = \\int_A x^2 dA' title="y-axis second moment." background="True" />

<br>
<em>Note:</em>  polar moment of inertia in this plane 

<DisplayEquation equation='J = \\int_A \\rho^2 dA = \\int_A (y^2 + x^2)dA = I_y + I_x\\' title="Polar moment of Inertia." background="True"/>

 <strong>Parallel-axis theorem:</strong> the moment of inertia about an axis through C parallel to the axis through the centroid C is related to <InlineEquation equation='I_C' />. 
 <DisplayEquation equation="I_C = I_{C'} +A'd_{CC'}^2\\" title="Parallel axis theorem." background="True"/>

</SubSubSection >


<SubSubSection title="Summary: Moment of Inertia" id="summary-moi">

    <center><em>Common shapes about the origin: <InlineEquation equation='I'/> and <InlineEquation equation='J_O'/></em></center>
    <center><em>Common shapes about the centroid: <InlineEquation equation='\\bar{I}'/> and <InlineEquation equation='J_c'/></em></center>
    <DisplayTable class_="text-center" id="shapes_table">
        <thead>
            <tr>
                <th class="table-shaded">
            <strong>Shape</strong>
                </th>
                <th class="table-shaded" style="width:50%">
                    <strong>Diagram</strong>
                </th>
                <th class="table-shaded"> 
                    <strong>Equations</strong>
                </th>	
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Rectangle
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Rect.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="\\bar{I_{x'}} = \\frac{1}{12}b h^3" />    
                <br>
                <br>
                <InlineEquation equation="\\bar{I_{y'}} = \\frac{1}{12}b^3 h" />
                <br>
                <br>
                <InlineEquation equation="I_x = \\frac{1}{3}b h^3"/>
                <br>
                <br>
                <InlineEquation equation="I_y = \\frac{1}{3}b^3 h"/>
                <br>
                <br>
                <InlineEquation equation="J_c = \\frac{1}{12}bh(b^2+h^2)"/>
            </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Triangle
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Tri.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="\\bar{I_{x'}} = \\frac{1}{36}bh^3" />
                <br>
                <br>
                <InlineEquation equation="I_x = \\frac{1}{12}bh^3" />    
            </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Circle
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Circle.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="\\bar{I_x} = \\bar{I_y}  = \\frac{1}{4} \\pi r^4" />
                <br>
                <br>
                <InlineEquation equation="J_O= \\frac{1}{2} \\pi r^4"/>    
            </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Semicircle
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Semi.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="I_x = I_y = \\frac{1}{8} \\pi r^4" />
                <br>
                <br>
                <InlineEquation equation="J_O = \\frac{1}{4} \\pi r^4"/>    
            </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Quarter circle
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Quart.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="I_x = I_y = \\frac{1}{16} \\pi r^4" />
                <br>
                <br>
                <InlineEquation equation="J_O = \\frac{1}{8} \\pi r^4"/>    
            </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="nosideborderleft" style="vertical-align: middle">
                    Ellipse
                </td>
                <td>
                    <Image src='/sol/bending/CommonShapes_Elipse.png' width='5'> </Image>
                </td>
            <td style="vertical-align: middle">
                <InlineEquation equation="\\bar{I_x} = \\frac{1}{4} \\pi a b^3" />
                <br>
                <br>
                <InlineEquation equation="\\bar{I_y} = \\frac{1}{4} \\pi a^3 b"/>
                <br>
                <br>
                <InlineEquation equation="J_O = \\frac{1}{4} \\pi ab(a^2+b^2)" />

            </td>
            </tr>
        </tbody>
        
    </DisplayTable>
    

    <DisplayTable class_="text-center" id="inertia-table">
        <thead>
            <tr>
                <th class="table-shaded" class="nosideborderleft">
                    
                </th>
                <th class="table-shaded">
                    <strong>Mass moment of inertia</strong>
                </th>
                <th class="table-shaded" colspan="3">
                    <strong>Area moment of inertia</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td class="table-shaded" class="nosideborderleft">
                    <strong>Other names</strong>
                </td>
                    
                <td class="table-shaded">
                    
                </td>

                <td class="table-shaded">First moment of area</td>
                <td class="table-shaded">Second moment of area</td>
                <td class="table-shaded">Polar moment of area</td>


            </tr>
            <tr>
                <td class="nosideborderleft">
                    <strong>Description</strong>
                </td>
                <td>
                    Determines the torque needed to produce a desired angular rotation about an axis of rotation (resistance to rotation)
                </td>
                <td>Determines the centroid of an area </td>
                <td>
                    Determines the moment needed to produce a desired curvature about an axis(resistance to bending)
                </td>
                <td>Determines the torque needed to produce a desired twist a shaft or beam(resistance to torsion) </td>
                
            </tr>
            <tr>
                <td class="nosideborderleft">
                    <strong>Equations</strong>
                </td>
                <td>
                    <DisplayEquation equation='I_{P,\\hat{a}} = \\iiint_\\mathcal{B} \\rho r^2 \\,dV\\' /> 
                </td>
                <td >
                    <DisplayEquation equation="Q_z = \\int_A y dA = \\Sigma yA" />
                    <DisplayEquation equation="Q_y = \\int_A z dA  = \\Sigma zA" />
                    <DisplayEquation equation="\\bar{y} = \\frac{1}{A}\\int_A y dA" />
                    <DisplayEquation equation="\\bar{z} = \\frac{1}{A}\\int_A z dA" />
                </td>
                <td>
                    <DisplayEquation equation='I_x = \\int_{A}^{} y^2 \\,dA \\' />
                    <DisplayEquation equation='I_y = \\int_{A}^{} x^2 \\,dA \\' />
                </td>
                <td>
                    <DisplayEquation equation='\\begin{aligned} J_O &= \\int_{A}^{} r^2 \\,dA \\\\ &= \\int_{A}^{} (x^2+y^2) \\,dA\\ \\end{aligned}' />
                </td>
            </tr>
            <tr>
                <td class="nosideborderleft">
                    <strong>Units</strong> 
                </td>
                <td>
                    <InlineEquation equation="mass*length^2"/>
                </td>
                <td>
                    <InlineEquation equation="length^3"/>
                </td>
                <td>
                    <InlineEquation equation="length^4"/>
                </td>
                <td>
                    <InlineEquation equation="length^4"/>
                </td>
            </tr>
            <tr>
                <td class="nosideborderleft">
                    <strong>Typical Equations</strong>
                </td>
                <td>
                    <DisplayEquation equation='\\tau = I\\alpha' /> 
                </td>
                <td>
                    <DisplayEquation equation='\\tau = \\frac{VQ}{It}' /> 
                </td>
                <td>
                    <DisplayEquation equation='\\sigma = (My)/I' />
                    <DisplayEquation equation='\\tau = \\frac{VQ}{It}' /> 
                </td>
                <td>
                    <DisplayEquation equation='\\tau = \\frac{T\\rho}{J}' />
                </td>
            </tr>
            <tr>
                <td class="nosideborderleft">
                    <strong>Courses</strong>
                </td>
                <td>
                    TAM 212
                </td>
                <td>
                    TAM 251
                </td>
                <td>
                    TAM 210, TAM 251
                </td>
                <td>
                    TAM 251
                </td>
            </tr>
        </tbody>
    </DisplayTable>
</SubSubSection>


<SubSubSection title="Maximum Normal Stress" id="max-normal-stress">

<CalloutContainer slot="cards">
    <CalloutCard title="Heads  up! - Extra">
        <p>
            <strong> Composite beams </strong> builds on this content.
            </p>
            <p>
                Recall that <InlineEquation equation='\\epsilon_x = -\\frac{y}{\\rho}' /> does not depend on the material properties of the beam, and is based only on the assumptions of geometry done so far.



                <Image src='/sol/bending/CompositeBeam.png' width='9'></Image>



                In non-homogeneous beams, we can no longer assume that the neutral axis passes through the centroid of the composite section. We should now determine that location…
                
                <br>
                After obtaining the TRANSFORMED CROSS SECTION, we get
                <DisplayEquation equation='\\int_{A_t}y d A_t = 0\\' />

                Therefore, the neutral axis passes through the centroid of the transformed cross section.
                <br>
                <em>Note:</em> the widening (<InlineEquation equation='n > 1' />) or narrowing (<InlineEquation equation='n < 1' />) must be done in a direction parallel to the neutral axis of the section, since we want y-distances to be the same in the original and transformed section, so that the distance y in the flexural formula is unaltered.

                <DisplayEquation equation='\\sigma_1 = -\\frac{My}{I_t}\\' />
                <DisplayEquation equation='\\sigma_2 = -\\frac{nMy}{I_t}\\' />
            </p>
    </CalloutCard>
</CalloutContainer>
From equilibrium: the centroid is located at <InlineEquation equation='\\bar{y}=0' />, i.e., <em>the neutral axis passes through the centroid of the section</em>.

<DisplayEquation equation='\\sigma_x (x,y) = - \\frac{M(x)y}{I_z(x)}\\' title="Elastic flextural formula." background="True" derivation="True" id="ela-flx">

<DisplayEquation equation='M_z = \\frac{EI_z}{\\rho}\\' />
<DisplayEquation equation='M_z = \\frac{-\\sigma_x}{y}I_z\\' />
</DisplayEquation>

 To evaluate the maximum absolute normal stress, denoting “c” the largest distance from the neutral surface, we use:

<Image src='/sol/bending/MaxStress.png' width='4'></Image>

<DisplayEquation equation='\\sigma_{max} = \\frac{|M|c}{I_z}\\' title="Absolute maximum stress." background="True"/>

 <em>Note:</em> the ratio I/c depends only upon the geometry of the cross section. This ratio is called the <strong>elastic section modulus</strong> and is denoted by S.

<DisplayEquation equation='\\sigma_{max} = \\frac{|M|}{S}\\' title="Absolute maximum stress." background="True" />
<DisplayEquation equation='S = \\frac{I}{c}\\' title="Elastic section modulus." background="True"/>

</SubSubSection>


<SubSection title="Eccentric Axial Loading in a Plane of Symmetry" id="eccentric-loading">

<Image src='/sol/bending/EccentricLoading.png' width='3.5'> </Image>

<DisplayEquation equation="F=P \\ \\ \\text{and} \\ \\ M=Pd\\" title="Equilibrium." background="True"/>


 Stress due to eccentric loading found by superposing the uniform stress due to a centric load and linear stress distribution due to a pure bending moment.

 Validity requires stresses below proportional limit (elastic region), deformations have negligible effect on geometry, and stresses not evaluated near points of load application.


</SubSection>

</Layout>
