---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
---
<Layout title="Failure Theories">

<div slot="navtree">
    <ul class='list-group list-group-flush py-0'> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#tresca'>Maximum Shear Stress (Tresca) Criterion</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#tension'>Uniaxial Tension</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#2d-loading'>General 2D Loading State</a></li> 
            </ul>
        </li> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#von-mises'>Maximum Distortion Energy (Von Mises) Criterion</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#failure-surfaces'>Interactive 3D Failure Surfaces</a></li> 
            </ul>
        </li>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#max-normal'>Maximum Normal Stress Criterion</a></li>
    </ul>
</div>
<Section title="Failure Theories" id="units">
    
<!-- BSM:A table at the end summarizing the three main theories and their failure conditions would be a nice addition. -->

Failure of a material depends on (1) nature of loading and (2) type of material. There are theories that can predict material failure for complex states. 

</Section>

<SubSection title="Maximum Shear Stress (Tresca) Criterion" id="tresca">

 If a material is <strong>ductile</strong>, failure is defined by <strong>yield stress</strong> (<InlineEquation equation="\\sigma_Y" />) and occurs at <strong>max shear stress</strong> (<InlineEquation equation="\\tau_{max}" />).

</SubSection>

<SubSubSection title="Uniaxial Tension" id="tension">

<Image src='/Solid_Mechanics/Failure Theories-Figures/Tresca.png' width='3'> </Image>

 Consider a material subjected to <strong>uniaxial tension</strong> <InlineEquation equation="\\sigma = \\frac{P}{A}" /> and <InlineEquation equation="P" /> is loaded to the yield point, then the following is true:
 
<DisplayEquation equation="\\begin{align} \\sigma_1 = \\sigma_Y \\\\ \\sigma_2 = 0 \\\\ \\tau_{max} = \\frac{\\sigma_Y}{2} \\end{align}" title="Tresca uniaxial tension." background="True"/>


<strong>Shear stress</strong> is responsible for causing the ductile material to yield and <InlineEquation equation="\\sigma_Y" /> is the <strong>tensile</strong> yield strength.

<DisplayEquation equation="\\tau_{max} \\ge \\frac{\\sigma_Y}{2}\\" title="Max  shear." background="True" />



</SubSubSection>

<SubSubSection title="General 2D Loading State" id="2d-loading">

<DisplayEquation equation="\\sigma_z = \\sigma_3 = 0\\" title="Plane stresses." background="True" />

 Failure still occurs at max  shear.

<DisplayEquation equation="\\tau_{max} = \\frac{\\sigma_Y}{2}\\" title="Tresca material failure." background="True" />

<Image src='/Solid_Mechanics/Failure Theories-Figures/TrescaSurface.png' width='4'></Image>

 The equations for <InlineEquation equation="\\sigma_1" /> and <InlineEquation equation="\\sigma_2" /> can be plotted to show the failure surface. Loading conditions that occur <strong>outside</strong> of the surface are when the material fails.

<br>
<br>
 If <InlineEquation equation="\\sigma_1" /> and <InlineEquation equation="\\sigma_2" /> have the <strong>same</strong> signs:

 <Image src='/Solid_Mechanics/Failure Theories-Figures/TrescaSameSigns.png' width='3'></Image>

<DisplayEquation equation=" \\begin{align} |\\sigma_1| = \\sigma_Y \\\\ |\\sigma_2| = \\sigma_Y \\end{align}" title="Tresca with same signs." background="True" />

 If <InlineEquation equation="\\sigma_1" /> and <InlineEquation equation="\\sigma_2" /> have <strong>opposite</strong> signs:

<Image src='/Solid_Mechanics/Failure Theories-Figures/TrescaOppositeSigns.png' width='3'></Image>

<DisplayEquation equation="|\\sigma_1 - \\sigma_2| = \\sigma_Y\\" title="Tresca with opposite signs." background="True" />

</SubSubSection>

<SubSection title="Maximum Distortion Energy (Von Mises) Criterion" id="von-mises">

<strong>Ductile</strong> materials likely do not fail due to stresses that only result in a <strong>volume change</strong>. It is hypothesized that failure is driven by <strong>distortion strain energy</strong>.

<Image src='/Solid_Mechanics/Failure Theories-Figures/VonMises.png' width='6'></Image>

 All elastic deformations can be broken down into <strong>volumetric</strong> and <strong>distortional</strong> deformations. 



 The total strain energy <InlineEquation equation="W" /> in a material is broken into these same parts.

<DisplayEquation equation="W = W_v + W_d\\" />


<DisplayEquation equation="\\sigma_{VM} = \\sqrt{\\sigma_1^2 - \\sigma_1 \\sigma_2 + \\sigma_2^2} \\ge \\sigma_Y\\" title="Von Mises material failure." background="True" derivation="True" id="von-mis">

    <DisplayEquation equation="W_d = \\frac{1+\\nu}{3E}(\\sigma_1^2 - \\sigma_1 \\sigma_2 + \\sigma_2^2)\\" title="Strain energy density for  plane stress." />
    
    <DisplayEquation equation="W_{d,yield} = \\frac{1+\\nu}{3E}\\sigma_Y^2\\" title="Strain energy density at the moment of yield." />
        
    <DisplayEquation equation="\\sigma_1^2 - \\sigma_1 \\sigma_2 + \\sigma_2^2 = \\sigma_Y^2\\" title="Equating the plane stress and moment of yield equations." />
        
    <DisplayEquation equation="\\sigma_{VM}^2 = \\sigma_Y^2\\" title="Von Mises at yield." />
    

</DisplayEquation>

<Image src='/Solid_Mechanics/Failure Theories-Figures/VonMisesSurface.png' width='4'></Image>

 The equating equation be plotted to show the failure surface. The elliptical surface is the Von Mises surface overlaid with the Teresca surface. Loading conditions that occur <strong>outside</strong> of the surface are when the material fails.

</SubSection>

<SubSubSection id="failure-surfaces" title="Interactive 3D Failure Surfaces">

<p>
    The following figure shows the failure surfaces of <BlueText>Tresca</BlueText> and <RedText>von Mises</RedText> criteria in term of the principal stresses in 3 dimensions. 
    The 2D figure above can be found cenered around the origin in this plot. 
    The shape of the 2D failure surface <InlineEquation equation="(\\sigma_1,\\sigma_2)"/> remains the same, but moves location depending on <InlineEquation equation="\\sigma_3"/>.
    Just like in 2D, regions <strong>outside</strong> the surfaces are considered to have failed. 
</p>

<div id="failure-criteria-container" class="overflow-hidden d-flex flex-column align-items-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>      
    <span class="visually-hidden">Loading...</span>
</div>

<script is:inline>

    $(function(){

        const layout = {
            autosize: true, 
            width: '100%', 
            height: 400 
        };


        var data = $.getJSON("/FailureCriteria.json").done(function(){
            document.querySelector("#failure-criteria-container").innerHTML = "";
            console.log(JSON.parse(data['responseText']))
            Plotly.newPlot("failure-criteria-container", JSON.parse(data['responseText']), layout ,{responsive: true})
            Plotly.Plots.resize("failure-criteria-container")
        });

        $(window).on("resize", function(){Plotly.Plots.resize("failure-criteria-container")})

        $( window ).on( "resize", function() {
            let body_width;
            body_width = $('body').width();
            graph_width = body_width - 24;
            if (body_width < 992){
                //document.querySelector(`#${id}`).style = `max-width: ${graph_width}px`;
                document.querySelector(`#failure-criteria-container`).style = `max-width: ${graph_width}px; overflow-x: auto;`;
            }else{
                document.querySelector(`#failure-criteria-container`).style = `width: 100%; overflow-x: auto;`
            }
            }  
        );

    });
</script>
<em>Note: </em> Click and drag to rotate, scroll to zoom, and click legend entries to toggle. 
</SubSubSection>

<SubSection title="Maximum Normal Stress Criterion" id="max-normal">

For <strong>brittle</strong> materials, failure is caused by the <strong>maximum tensile stress</strong> and NOT compressive stress.




<DisplayEquation equation="\\begin{align} |\\sigma_1| = \\sigma_{ult} \\\\ |\\sigma_2| = \\sigma_{ult} \\end{align}" title="Maximum normal stress criterion material failure." background="True" />
 
<Image src='/Solid_Mechanics/Failure Theories-Figures/Brittle.png' width='3'></Image>

 The <InlineEquation equation="\\sigma_1" /> and <InlineEquation equation="\\sigma_2" /> equations can be plotted to show the failure surface. Loading conditions that occur <strong>outside</strong> of the surface are when the material fails.

 Brittle fracture can be difficult to predict, so use this theory with caution

</SubSection>

</Layout>

<script src="/plotly.js" is:inline></script>