---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Warning from "../../components/Warning.astro"
---
<style>
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>


<Layout title="Material Properties">

<div slot="navtree">
    <ul class='list-group list-group-flush py-0'> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#stress-strain_diagram'>Stress-Strain Diagram</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#elastic_behavior'>Elastic Behavior</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#plastic_behavior'>Plastic Behavior</a></li> 
            </ul>
        </li> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#other_derived_properties'>Other Derived Properties</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#directional_materials'>Directional Materials</a></li>
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href="#poissons_ratio">Poisson's Ratio</a></li>
            </ul>
        </li> 
    </ul>
</div>

<Section title="Material Properties" id="material_properties"></Section>

<SubSection title="Continuum Mechanics Fundamentals" id="continuum_mechanics">

<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p>
        If you want more details on this topic, consider taking a course in continuum mechanics.
        </p>
    </CalloutCard>

    <CalloutCard title="Heads up!">
        <p>
            Bold symbols, such as <InlineEquation equation="\\boldsymbol{\\sigma}" /> and <InlineEquation equation="\\boldsymbol{\\varepsilon}" />,
            represent tensors rather than scalar quantities.
        </p>

        <p>
            Additionally, some quantities might be represented with indicial notation. When indices on the right hand side of the equation are repeated, 
            this represents a summation where the index values range from 1 to 3. 
            For example, <DisplayEquation equation = "\\sigma_{ij} = C_{ijkl}\\varepsilon_{kl}" />
            represents <DisplayEquation equation= "\\sigma_{ij} = \\sum_{k=1}^{3}\\sum_{l=1}^{3}C_{ijkl}\\varepsilon_{kl}"/>

            This is a shorthand to make writing long summations easier.
        </p>
    </CalloutCard>

</CalloutContainer>

<p>
Generally, the state of stress a 3D material can be represented as a second-rank tensor (i.e. a matrix) with <InlineEquation equation="3^2 = 9" /> components.
</p>
<Image src="/sol/stress/Modified stress tensor.jpg" id="stress-element" width="7"> Infinitesimal Stress element</Image>
<DisplayEquation equation=  "\\boldsymbol{\\sigma} = \\begin{bmatrix} \\sigma_{11} & \\sigma_{12} & \\sigma_{13} \\\\ \\sigma_{21} & \\sigma_{22} & \\sigma_{23} \\\\ \\sigma_{31} & \\sigma_{32} & \\sigma_{33} \\end{bmatrix} \\" title="Stress tensor." background="True"/>

<p>
Using indicial notation, component <InlineEquation equation = "(i, j)"/> of this tensor is denoted as <InlineEquation equation="\\sigma_{ij}" />. The same can be said for a material strain tensor.
</p>

<Image src="/sol/strain/Modified Strain Tensor.jpg" width="5"> Infinitesimal Strain Element </Image>
<DisplayEquation equation= "\\boldsymbol{\\varepsilon} = \\begin{bmatrix} \\varepsilon_{11} & \\varepsilon_{12} & \\varepsilon_{13} \\\\ \\varepsilon_{21} & \\varepsilon_{22} & \\varepsilon_{23} \\\\ \\varepsilon_{31} & \\varepsilon_{32} & \\varepsilon_{33} \\end{bmatrix} \\" title="Strain tensor." background="True"/>

<p>

Using indicial notation, component <InlineEquation equation = "(k, l)"/> of this tensor is denoted as <InlineEquation equation="\\varepsilon_{kl}" />. Note
that both the stress and strain tensors are symmetric, that is <InlineEquation equation="\\sigma_{ij} = \\sigma_{ji}" /> and
<InlineEquation equation="\\varepsilon_{kl} = \\varepsilon_{lk}" />.

</p>

<p>

For our purposes, lets bound the discussion of material stress-strain behavior to only the elastic range, that is, deformation is linear proportional applied load. 
This is Hooke’s law. The relationship between stress and strain is referred to as the constitutive relationship of a material. In the most general case, this relationship is defined as a fourth-rank tensor with <InlineEquation equation = "3^4=81"/> components. 
This elasticity tensor, C, relating the stress and strain tensors is shown in indicial notation (rather than a matrix operation).

</p>

<DisplayEquation equation= "\\sigma_{ij} = C_{ijkl}\\varepsilon_{kl}" title="Hooke's law general form." background="True" derivation = "True" id="mat-hls">
    This is short form representation of a summation, known as indicial notation. Whenever there are repeated indices on the right hand side of an equation,
    as with k and l above (repeated in <InlineEquation equation = "C_{ij\\mathbf{kl}}"/> and <InlineEquation equation = "\\varepsilon_{\\mathbf{kl}}"/>), these indices represent 
    a summation over three dimensions. So the example can be rewritten as shown below, where <InlineEquation equation = "k\\ \\in \\{1 \\ 2 \\ 3\\}"/> and <InlineEquation equation = "l\\ \\in \\{1 \\ 2 \\ 3\\}"/>.
    
    <DisplayEquation equation = "\\sigma_{ij} = \\sum_{k=1}^{3}\\sum_{l=1}^{3}C_{ijkl}\\varepsilon_{kl}" />
</DisplayEquation>

Expanding over these two summations yields:
<DisplayEquation equation= "\\begin{aligned}\\sigma_{ij} = &C_{ij11}\\varepsilon_{11} + C_{ij12}\\varepsilon_{12} + C_{ij13}\\varepsilon_{13} \\\\ + &C_{ij21}\\varepsilon_{21} + C_{ij22}\\varepsilon_{22} + C_{ij23}\\varepsilon_{23} \\ + C_{ij31}\\varepsilon_{31} + C_{ij32}\\varepsilon_{32} + C_{ij33}\\varepsilon_{33}\\end{aligned}" id="expanded"/>

<p>

What this means is there can be as many as 9 components of strain and 9 material coefficients that contribute to each stress component.
(You can see the benefit of indicial notation here.)

</p>

<p>
However, not all 81 components of this tensor are independent, because of symmetry of stress and strain tensors there are only 21 independent components. If
the material is assumed to be isotropic (having the same behavior in all directions) this is further reduced to just 2 independent components (for instance,
<InlineEquation equation = "E"/> Young’s modulus and <InlineEquation equation = "\\nu"/>, Poisson’s ratio). With this simplification, the 3D isotropic elastic material constitutive relation can be simplified.

<DisplayEquation equation={
  `\\begin{bmatrix}
  \\varepsilon_{11} \\\\ \\varepsilon_{22} \\\\ \\varepsilon_{33} \\\\ 2\\varepsilon_{23} \\\\ 2\\varepsilon_{13} \\\\ 2\\varepsilon_{12}
  \\end{bmatrix}
  =
  \\begin{bmatrix}
  \\varepsilon_{11} \\\\ \\varepsilon_{22} \\\\ \\varepsilon_{33} \\\\ \\gamma_{23} \\\\ \\gamma_{13} \\\\ \\gamma_{12}
  \\end{bmatrix}
  =
  \\frac{1}{E}
  \\begin{bmatrix}
  1 & -\\nu & -\\nu & 0 & 0 & 0 \\\\
  -\\nu & 1 & -\\nu & 0 & 0 & 0 \\\\
  -\\nu & -\\nu & 1 & 0 & 0 & 0 \\\\
  0 & 0 & 0 & 2 + 2\\nu & 0 & 0 \\\\
  0 & 0 & 0 & 0 & 2 + 2\\nu & 0 \\\\
  0 & 0 & 0 & 0 & 0 & 2 + 2\\nu
  \\end{bmatrix}
  \\begin{bmatrix}
  \\sigma_{11} \\\\ \\sigma_{22} \\\\ \\sigma_{33} \\\\ \\sigma_{23} \\\\ \\sigma_{13} \\\\ \\sigma_{12}
  \\end{bmatrix}`
} title = "Voigt notation." background = "true"/>

</p>

Here the engineering shear strains <InlineEquation equation = \\gamma_{23},\\gamma_{13},\\gamma_{12} /> are introduced.
This, along with identification of shear stresses <InlineEquation equation = \\sigma_{23},\\sigma_{13},\\sigma_{12} />
as <InlineEquation equation = \\tau_{23},\\tau_{13},\\tau_{12} />
allows for the expression for pure axial stress & strain in one direction to be represented as <InlineEquation equation = "\\varepsilon_{11} = \\frac{\\sigma_{11}}{E}" />.
Rearranging the terms, relation can be expressed in a more general form.

<DisplayEquation equation = "\\sigma = E\\varepsilon" title = "Simplified Hooke's Law." background = "True"/>

Similarly, the expression for pure shear stress & strain can be expressed as <InlineEquation equation = "\\gamma_{12} = \\frac{\\tau_{12}(2+2\\nu)}{E} = \\frac{\\tau_{12}}{G}" />.

Again, this can be expressed in a more general form.

<p>
<DisplayEquation equation = "\\tau = \\gamma G" title = "Simplified shear stress equation." background = "True"/>
</p>

</SubSection>

<SubSection title="Stress-Strain Diagram" id="stress-strain_diagram">

A <strong>stress-strain diagram</strong> is the relationship of normal stress as a function of normal strain. One way to collect these measurement is a <strong>uniaxial tension test</strong> in which a specimen at a very slow, constant rate (quasi-static). A load <InlineEquation equation="P" /> and distance <InlineEquation equation="L" /> are measured at frequent intervals.

<DisplayEquation equation="\\varepsilon = \\frac{\\delta}{L_0} = \\frac{L-L_0}{L_0}\\" title="Evaluation of average normal strain, or engineering strain (relative to undeformed length)." background="True" />

<DisplayEquation equation="\\sigma = \\frac{P}{A_0}\\" title="Evaluation of average normal stress, or engineering stress (relative to undeformed cross section)." background="True" />

<Warning title="Two stress-strain diagrams for a particular material will be similar, but not identical." id="str-stn">
    <p>
      Things that effect  the material properties include imperfections, different composition, rate or loading, or temperature.
    </p>
   </Warning>
   
<Image src='/sol/material_properties/Stress Strain Diagram.png' width='4'> Stress-strain diagram showing key properties</Image>
</SubSection>

<SubSubSection title="Elastic Behavior" id="elastic_behavior">
Loading in this region results <strong>elastic behavior</strong>, meaning the material returns to its original shape when unloaded. This region of the diagram is mostly a straight line, limited by the proportional limit). This region ends at <InlineEquation equation="\\sigma_Y" /> (yielding). For <InlineEquation equation="\\sigma \\le \\sigma_{pl}" />, the diagram is linear, and the behavior is elastic. For <InlineEquation equation="\\sigma_{pl} < \\sigma < \\sigma_Y" />, the diagram is nonlinear, but the behavior is still elastic.


 <strong>Young's Modulus</strong>



 Hooke's law is used for small deformations in the elastic region. The Young's modulus is the slope <InlineEquation equation="E" />.
<DisplayEquation equation="\\sigma = E\\varepsilon\\" title="Hooke's law." background="True" />

<table class="table table-responsive table-bordered table-sm">
    <thead>
        <tr>
            <th>Material</th>
            <th>Young's modulus [\(GPa\)]</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mild Steel</td>
            <td>210</td>
        </tr>
        <tr>
            <td>Copper</td>
            <td>120</td>
        </tr>
        <tr>
            <td>Bone</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Plastic</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Rubber</td>
            <td>0.02</td>
        </tr>
    </tbody>
</table>


<strong>Shear Modulus</strong>

<Image src='/sol/material_properties/Shear Diagram.png' width='4'>Shear stress strain diagram</Image>


<DisplayEquation equation="\\tau_{xy} = G\\gamma_{xy}\\" title="Hooke's law." background="True" />

<DisplayEquation equation="G = \\frac{E}{2(1+\\nu)}\\" title="Shear modulus." background="True" id="v_modulus"/>
In the above equation, \(\nu\) refers to <strong>Poisson's ratio</strong>, further explained in a <a href="#poissons_ratio">subsequent section</a>. Only two of the three material constants (ie; <InlineEquation equation="G" />, <InlineEquation equation="E" />, <InlineEquation equation="\\nu" />) are independent in isotropic materials.

</SubSubSection>

<SubSubSection title="Plastic Behavior" id="plastic_behavior">

Stresses above the plastic limit (<InlineEquation equation="\\sigma_Y < \\sigma" />) cause the material to permanently deform.

<p>
 <strong>Yield Strength</strong>
</p>

<p>
 Perfect plastic or ideal plastic: well-defined <InlineEquation equation="\\sigma_Y" />, stress plateau up to failure. Some materials (e.g. mild steel) have two yield points (stress plateau at <InlineEquation equation="\\sigma_{YL}" />). Most ductile metals do not have a stress plateau; yield strength <InlineEquation equation="\\sigma_{YS}" /> is then defined by the <strong>0.002 (0.2%) offset method</strong>.
</p>

 <strong>Strain Hardening</strong>

<Image src='/sol/material_properties/Strain Hardening.png' width='5.5'>Strain hardening</Image>

<p>
 <em>Atoms rearrange</em> in plastic region of ductile materials when a higher stress is sustained. Plastic strain remains after unloading as <em>permanent set</em>, resulting in permanent deformation. Reloading is linear elastic up to the new, higher yield stress (at <strong>A'</strong>) and a reduced ductility.
</p>

 <strong>Ultimate Strength</strong>


<p>
 The ultimate strength (<InlineEquation equation="\\sigma_u" />) is the maximum stress the material can withstand.
</p>

 <strong>Necking</strong>

<Image src='/sol/material_properties/Necking.png' width='3'>Necking</Image>
<p>
 After ultimate stress (<InlineEquation equation="\\sigma_u < \\sigma" />), the middle of the material elongates before failure.
</p>

</SubSubSection>

<SubSubSection title="Failure" id="failure">


<p>
 Also called fracture or rupture stress (<InlineEquation equation="\\sigma_f" />) is the stress at the point of failure for the material. Brittle and Ductile materials fail differently.
</p>

<p><strong>Ductile</strong> materials generally fail in shear. There is a large region of plastic deformation before failure (fracture) at higher strain and necking.</p>

<Image src='/sol/material_properties/ductile.png' width='4.5'>Ductile failure</Image>

<Row>
    <Col values="12 md-6"><li>Axial – maximum shear stress at \(45^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum shear stress at \(0^o\) angle</li></Col>
</Row>

<p class="mt-2"><strong>Brittle</strong> materials are weaker in tension than shear. There is a small plastic region between yield and failure (fracture) and no necking.</p>

<Image src='/sol/material_properties/brittle.png' width='4.5'>Brittle failure</Image>

<Row>
    <Col values="12 md-6"><li>Axial – maximum normal stress at \(0^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum normal stress at \(45^o\) angle</li></Col>
</Row>

<p class="mt-2">
 Note the difference between engineering and true stress/strain diagrams: ultimate stress is a consequence of necking, and the true maximum is the true fracture stress.
</p>

 <strong>Example:</strong> Concrete is a brittle material.

<Itemize>
	<Item>Maximum compressive strength is substantially larger than the maximum tensile strength.
    </Item>
	<Item>For this reason, concrete is almost always reinforced with steel bars or rods whenever it is designed to support tensile loads.
    </Item>
</Itemize>

<CalloutContainer slot="cards">
    <CalloutCard title="Heads up!">
        <p>
           <strong> Strain Energy</strong> builds on this content in Engineering Materals.
        </p>
        <p>
            Deformation does work on the material: equal to internal strain energy (by energy conservation).

            <DisplayEquation equation="\\Delta U = \\int F_{z}dz = \\int \\sigma_{z}(\\Delta x \\Delta y \\Delta z)d\\varepsilon_{z}\\" />

            Energy density. <DisplayEquation equation="u = \\frac{\\Delta U}{\\Delta V} = \\int \\sigma_{z}d\\varepsilon_{z}\\" />

            Can be generalized to any deformation: areas under stress-strain curves

            <DisplayEquation equation="u = \\int \\sigma d\\varepsilon\ \\quad \\text{or} \\quad u = \\int \\tau d\\gamma\\" />
        </p>
    </CalloutCard>

    <CalloutCard title="Heads up!">
        <p>
            <strong>Fatigue</strong> builds on this content in Engineering Materals and Mechanical Design.                
        </p>
        <p>
            <Image src='/sol/material_properties/SN Curve.png' width='4'>SN curve examples</Image>

            If stress does not exceed the elastic limit, the specimen returns to its original configuration. However, this is not the case if the loading is repeated thousands or millions of times. In such cases, rupture will happen at stress lower than the fracture stress - this phenomenon is known as fatigue.
        </p>
    </CalloutCard>
</CalloutContainer>

</SubSubSection>

<SubSection title="Other Derived Properties" id="other_derived_properties"></SubSection>
  
<SubSubSection title="Directional Materials" id="directional_materials">

<Itemize>
    <Item><strong>Isotropic:</strong> material properties are independent of the direction</Item>
    <Item><strong>Anisotropic:</strong> material properties depend on the direction (ie; composites, wood, and tissues)</Item>
</Itemize>

</SubSubSection>

<SubSubSection title="Poisson's Ratio" id="poissons_ratio">

<Image src="/sol/material_properties/Poisson's Ratio.png" width='4'>Poisson's ratio</Image>

<p>
    As illustrated in the figure above, when an object is being compressed it expands outward, and when stretched it will become thinner. Depending on the material, it may experience more or less lateral deformation for a given amount of axial deformation. The ratio that governs the amount of lateral strain per unit of axial strain is called <strong>Poisson's ratio</strong>.
</p>

<DisplayEquation equation="\\varepsilon_{x} = \\frac{\\delta_x}{L}\\" title="Axial (normal) strain." background="True" />

 <DisplayEquation equation="\\nu = -\\frac{\\text{lateral strain}}{\\text{axial strain}} = -\\frac{\\varepsilon_y}{\\varepsilon_x}" title=" Poisson's ratio \\(\\nu\\)." background="True" />

<DisplayEquation equation="0 < \\nu < 0.5\\" title="Typical range." background="True" derivation="True" id="poisson_range">
    <p class="m-0">Consider a cylinder with volume <InlineEquation equation="V = A\\cdot L" />. We know that <InlineEquation equation="A = \\frac{\\pi}{4}d^2" />. Since the diameter is dependant on the change in length \(dx\) due to Poisson's ratio, we get </p> 
    <DisplayEquation equation=" \\frac{\\partial A}{\\partial x} = 2d\\frac{\\partial d}{\\partial x}\\frac{\\pi}{4} = \\frac{\\partial d}{\\partial x}\\frac{\\pi d}{2}" />
    <p class="m-0">We use the chain rule to find the change in volume</p>

    <DisplayEquation equation=`\\begin{aligned}
    \\frac{\\partial V}{\\partial x} &= \\frac{\\partial A}{\\partial x}L + \\frac{\\partial L}{\\partial x} A \\\\
    &= \\frac{\\partial d}{\\partial x}\\frac{\\pi d}{2}L + L \\frac{\\pi d^2}{4}
    \\end{aligned}` />

    <p class="m-0">
        By definition, 
    </p>

    <DisplayEquation equation="\\nu = -\\frac{\\varepsilon_y}{\\varepsilon_x} = -\\frac{\\frac{\\partial d}{d}}{\\frac{\\partial L}{L}} = -\\frac{\\partial d}{d}\\frac{L}{\\partial L}= -\\frac{\\partial d}{d}\\frac{L}{L\\partial x} = -\\frac{1}{d}\\frac{\\partial d}{\\partial x} \\implies \\frac{\\partial d}{\\partial x} = -\\nu d" />

    <p class="m-0">
        Returning to our first equation, 
    </p>

    <DisplayEquation equation=`\\begin{aligned}
    \\frac{\\partial V}{\\partial x} &= \\frac{\\partial d}{\\partial x}\\frac{\\pi d}{2}L + L \\frac{\\pi d^2}{4} \\\\
    &= -\\nu d \\frac{\\pi d}{2}L + L \\frac{\\pi d^2}{4} \\\\
    &= -\\nu \\frac{\\pi d^2}{2}L + L \\frac{\\pi d^2}{4} \\\\
    &= \\frac{\\pi d^2L}{4}\\left( 1- 2\\nu \\right) \\\\
    &= V\\left( 1- 2\\nu \\right) \\\\
    \\end{aligned}` />

    <p>
        Since \(\partial V \geq 0\) and \(\nu &gt; 0\) in nicely behaved materials, \( 0 &lt; \nu \leq 0.5\). In practice \(\nu = 0.5\) only if the material is incompressible, thus in most materials \(\nu &lt; 0.5\).
    </p>
    
</DisplayEquation> 

<DisplayEquation equation="\\varepsilon_{z} = \\varepsilon_{y} = -\\nu\\varepsilon_{x}\\" title="Lateral strain." background="True" />

<Warning title="Negative Poisson's Ratio (auxetics)" id="ngt-psn">
    <p>
      A negative Poisson's  ratio is possible when the material structure is non-trival.
    </p>
   </Warning>
   
</SubSubSection>
</Layout>