---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import Center from "../../components/Center.astro"
---
<Layout title="Material Properties">
<Section title="Material Properties"></Section>

<SubSection title="Stress-Strain Diagram">

A <strong>stress-strain diagram</strong> is the relationship of normal stress as a function of normal strain. One way to collect these measurement is a <strong>uniaxial tension test</strong> in which a specimen at a very slow, constant rate (quasi-static). A load <InlineEquation equation="P" /> and distance <InlineEquation equation="L" /> are measured at frequent intervals.

<DisplayEquation equation="\\varepsilon = \\frac{\\delta}{L_0} = \\frac{L-L_0}{L_0}\\" title="Evaluation of average normal strain, or engineering strain (relative to undeformed length):" background="True" />

<DisplayEquation equation="\\sigma = \\frac{P}{A_0}\\" title="Evaluation of average normal stress, or engineering stress (relative to undeformed cross section):" background="True" />

Note that two stress-strain diagrams for a particular material will be similar, but not identical, e.g. because of imperfections, different composition, rate or loading, or temperature.

<Image src='/Solid_Mechanics/Material Properties-Figures/Stress Strain Diagram.png' width='3'> Stress-strain diagram showing key properties</Image>
</SubSection>
<SubSubSection title="Elastic Behavior">
Loading in this region results <strong>elastic behavior</strong>, meaning the material returns to its original shape when unloaded. This region of the diagram is mostly a straight line, limited by the proportional limit). This region ends at <InlineEquation equation="\\sigma_Y" /> (yielding). For <InlineEquation equation="\\sigma \\le \\sigma_{pl}" />, the diagram is linear, and the behavior is elastic. For <InlineEquation equation="\\sigma_{pl} < \\sigma < \\sigma_Y" />, the diagram is nonlinear, but the behavior is still elastic.


 <strong>Young's Modulus</strong>



 Hooke's law is used for small deformations in the elastic region. The Young's modulus is the slope <InlineEquation equation="E" />.
<DisplayEquation equation="\\sigma = E\\varepsilon\\" title="Hooke's law:" background="True" />

<Image src='/Solid_Mechanics/Material Properties-Figures/Modulus Examples.png' width='2'> Table screenshot from ref pages. Approximate elastic modulus values for different material families.</Image>


<strong>Shear Modulus</strong>

<Image src='/Solid_Mechanics/Material Properties-Figures/Shear Diagram.png' width='4'>Shear stress strain diagram</Image>


<DisplayEquation equation="\\tau_{xy} = G\\gamma_{xy}\\" title="Hooke's law:" background="True" />

<DisplayEquation equation="G = \\frac{E}{2(1+\\nu)}\\" title="Shear modulus:" background="True"/>
 Only two of the three material constants (ie; <InlineEquation equation="G" />, <InlineEquation equation="E" />, <InlineEquation equation="\\nu" />) are independent in isotropic materials.

</SubSubSection>

<SubSubSection title="Plastic Behavior">

Stresses above the plastic limit (<InlineEquation equation="\\sigma_Y < \\sigma" />) cause the material to permanently deform.

<p>
 <strong>Yield Strength</strong>
</p>

<p>
 Perfect plastic or ideal plastic: well-defined <InlineEquation equation="\\sigma_Y" />, stress plateau up to failure. Some materials (e.g. mild steel) have two yield points (stress plateau at <InlineEquation equation="\\sigma_{YL}" />). Most ductile metals do not have a stress plateau; yield strength <InlineEquation equation="\\sigma_{YS}" /> is then defined by the <strong>0.002 (0.2\%) offset method</strong>.
</p>

 <strong>Strain Hardening</strong>

<Image src='/Solid_Mechanics/Material Properties-Figures/Strain Hardening.png' width='5.5'>Strain hardening</Image>

<p>
 <em>Atoms rearrange</em> in plastic region of ductile materials when a higher stress is sustained. Plastic strain remains after unloading as <em>permanent set</em>, resulting in permanent deformation. Reloading is linear elastic up to the new, higher yield stress (at <strong>A'</strong>) and a reduced ductility.
</p>

 <strong>Ultimate Strength</strong>


<p>
 The ultimate strength (<InlineEquation equation="\\sigma_u" />) is the maximum stress the material can withstand.
</p>

 <strong>Necking</strong>

<Image src='/Solid_Mechanics/Material Properties-Figures/Necking.png' width='3'>Necking</Image>
<p>
 After ultimate stress (<InlineEquation equation="\\sigma_u < \\sigma" />), the middle of the material elongates before failure.
</p>

 <strong>Failure</strong>


<p>
 Also called fracture or rupture stress (<InlineEquation equation="\\sigma_f" />) is the stress at the point of failure for the material. Brittle and Ductile materials fail differently.
</p>

<p><strong>Ductile</strong> materials generally fail in shear. There is a large region of plastic deformation before failure (fracture) at higher strain and necking.</p>

<Image src='/Solid_Mechanics/Material Properties-Figures/ductile.png' width='4.5'>Ductile failure</Image>

<Row>
    <Col values="12 md-6"><li>Axial – maximum shear stress at \(45^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum shear stress at \(0^o\) angle</li></Col>
</Row>

<p class="mt-2"><strong>Brittle</strong> materials are weaker in tension than shear. There is a small plastic region between yield and failure (fracture) and no necking.</p>

<Image src='/Solid_Mechanics/Material Properties-Figures/brittle.png' width='4.5'>Brittle failure</Image>

<Row>
    <Col values="12 md-6"><li>Axial – maximum normal stress at \(0^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum normal stress at \(45^o\) angle</li></Col>
</Row>

<p class="mt-2">
 Note the difference between engineering and true stress/strain diagrams: ultimate stress is a consequence of necking, and the true maximum is the true fracture stress.
</p>

 <strong>Example:</strong> Concrete is a brittle material.

<Itemize>
	<Item>Maximum compressive strength is substantially larger than the maximum tensile strength.
    </Item>
	<Item>For this reason, concrete is almost always reinforced with steel bars or rods whenever it is designed to support tensile loads.
    </Item>
</Itemize>

</SubSubSection>

<SubSection title="Other Derived Properties"></SubSection>

    <CalloutContainer slot="cards">
        <CalloutCard title="Heads  up!">
            <p>
               <strong> Strain Energy</strong> builds on this content in Engineering Materals.
              </p>
              <p>
                 Deformation does work on the material: equal to internal strain energy (by energy conservation).

		<DisplayEquation equation="\\Delta U = \\int F_{z}dz = \\int \\sigma_{z}(\\Delta x \\Delta y \\Delta z)d\\varepsilon_{z}\\" />

		 Energy Density: <DisplayEquation equation="u = \\frac{\\Delta U}{\\Delta V} = \\int \\sigma_{z}d\\varepsilon_{z}\\" />

 		Can be generalized to any deformation: areas under stress-strain curves

		<DisplayEquation equation="u = \\int \\sigma d\\varepsilon\ \\quad \\text{or} \\quad u = \\int \\tau d\\gamma\\" />
              </p>
        </CalloutCard>

        <CalloutCard title="Heads up!">
            <p>
		<strong>Fatigue</strong> builds on this content in Engineering Materals and Mechanical Design.                
              </p>
		<p>
		<Image src='/Solid_Mechanics/Material Properties-Figures/SN Curve.png' width='4'>SN curve examples</Image>

		If stress does not exceed the elastic limit, the specimen returns to its original configuration. However, this is not the case if the loading is repeated thousands or millions of times. In such cases, rupture will happen at stress lower than the fracture stress - this phenomenon is known as fatigue.
		</p>
        </CalloutCard>
    </CalloutContainer>

<SubSubSection title="Directional Materials">

<Itemize>
    <Item><strong>Isotropic:</strong> material properties are independent of the direction</Item>
    <Item><strong>Anisotropic:</strong> material properties depend on the direction (ie; composites, wood, and tissues)</Item>
</Itemize>

</SubSubSection>

<SubSubSection title="Poisson's Ratio">

<Image src="/Solid_Mechanics/Material Properties-Figures/Poisson's Ratio.png" width='4'>Poisson's ratio</Image>

<DisplayEquation equation="\\varepsilon_{x} = \\frac{\\delta}{L}\\" title="Axial (normal) strain:" background="True" />

 <DisplayEquation equation="\\nu = -\\frac{\\text{lateral strain}}{\\text{axial strain}}" title=" Poisson's ratio <InlineEquation equation="\\nu" />:" background="True" />

<DisplayEquation equation="0 < \\nu < 0.5\\" title="Typical Range:" background="True" /> 

<DisplayEquation equation="\\varepsilon_{z} = \\varepsilon_{y} = -\\nu\\varepsilon_{x}\\" title="Lateral strain:" background="True" />

 <strong>Negative Poisson's Ratio (auxetics)</strong>

 Possible because of non-trivial structure of the material.
