---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Row from "../../components/Row.astro"
import Col from "../../components/Col.astro"
import CalloutCard from "../../components/CalloutCard.astro"
import CalloutContainer from "../../components/CalloutContainer.astro"
import Enumerate from "../../components/Enumerate.astro"
---
<Layout title="Torsion">

<div slot="navtree">
    <ul class='list-group list-group-flush py-0'> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#units'>Units</a></li>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#notation_and_convention'>Notation and Convention</a></li>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#equilibrium'>Equilibrium</a>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#assuptions'>Assumptions</a>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#shear_stress_and_strain'>Shear Stress and Strain</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#geometry_of_deformation'>Shear Strain: Geometry of Deformation</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#torsion_formula'>Shear Stress: Torsion Formula</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#polar_moment_of_inertia'>Shear Stress: Polar Moment of Inertia</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#angle_of_twist'>Shear Stress: Angle of Twist</a></li> 
            </ul>
        </li> 
        
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#miscellaneous'>Miscellaneous</a></li>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#types_of_material_failure'>Types of Material Failure</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#gear_systems'>Gear Systems</a></li> 
            </ul>
        </li> 
    </ul>
</div>
    
<Section title="Torsion" id="torsion">

<strong>Torsion</strong> refers to the twisting of a specimen when it is loaded by couples (or <strong>moments</strong>) that produce rotation about the longitudinal axis. Applications include aircraft engines, car transmissions, and bicycles, etc.

</Section>

<SubSection title="Units" id="units">

Force X distance [lb-in or N-m]

</SubSection>

<SubSection title="Notation and Convention" id="notation_and_convention">

<Image src="/sol/torsion/Convention.png" width="5">  Sign convention for internal toruqe in a shaft </Image>

 <Itemize>
     <Item><InlineEquation equation="\\phi > 0" /> : counter clockwise </Item>
     <Item><InlineEquation equation="\\phi < 0" /> : clockwise </Item>
 </Itemize>

<Image src="/sol/torsion/RightHandRule.png" width="4">  Right hand rule </Image>

 Torque and angle of twist follow the right hand rule sign convention. When positive, using the right hand, the thumb points outward from the shaft and the fingers will curl in the direction of the positive twist/torque.

</SubSection>

<SubSection title="Equilibrium" id="equilibrium">

<Image src="/sol/torsion/Equilibrium.png" width="5">  Single element shear stresses </Image>

The stress distribution in the shaft is not known.
 <Itemize>
     <Item>Statically indeterminate: must consider shaft deformations. </Item>
     <Item>Multi-planar: equilibrium requires the existence of shear stresses on the faces formed by the two planes containing the axis of the shaft </Item>
 </Itemize>

</SubSection>

<SubSection title="Assumptions" id="assuptions">

<Image src="/sol/torsion/TorsionLines.png" width="7"> Torsion lines </Image>


<Itemize>
	<Item>For circular shafts (hollow and solid): cross-sections remain plane and undistorted due to axisymmetric geometry</Item>
	<Item>For non-circular shafts: cross-sections are distorted when subject to torsion</Item>
	<Item>Linear and elastic deformation</Item>
</Itemize>

</SubSection>

<SubSection title="Shear Stress and Strain" id="shear_stress_and_strain"></SubSection>

<SubSubSection title="Shear Strain: Geometry of Deformation" id="geometry_of_deformation">

<Image src="/sol/torsion/GeometryDeformation.png" width="5">  Deformation </Image>

The angle of twist increases as x increases.

<DisplayEquation equation="\\frac{d\\phi}{dx} = \\frac{\\gamma}{\\rho} = \\frac{\\gamma_{max}}{c}\\" title="The twist rate is given by." background="True" />

where <InlineEquation equation="c" /> is the radius and <InlineEquation equation="\\rho" /> is a point between 0 and <InlineEquation equation="c" />.

<DisplayEquation equation="\\gamma = \\rho \\frac{d\\phi}{dx}\\" title="Moving terms." background="True" />

<DisplayEquation equation="\\delta = \\rho d\\phi\\" title="Arc length." background="True" />

 Hence, the shear strain (<InlineEquation equation="\\gamma" />):
<Itemize>
    <Item> is proportional to the angle of twist</Item>
    <Item> varies linearly with the distance from the axis of the shaft</Item>
    <Item> is <strong>maximum</strong> at the surface</Item>
</Itemize>

</SubSubSection>

<SubSubSection title="Shear Stress: Torsion Formula" id="torsion_formula">

<DisplayEquation equation="\\gamma = \\rho \\frac{d\\phi}{dx}\\" title="Geometry" background="True"/>

<DisplayEquation equation="\\tau = G\\gamma\\" title="Hooke's law." background="True"/>

<DisplayEquation equation="\\frac{d\\phi}{dx} = \\frac{T}{GJ}\\" title="From equilibrium." background="True"/>

<DisplayEquation equation="\\tau = \\frac{T\\rho}{J}\\" title="Elastic torsion formula." background="True"/>

The shear stress in the elastic range varies linearly with the radial position in the section.

<Image src="/sol/torsion/StressDistribution.png" width="5"> Stress distribution </Image>

<em>Note:</em>  shaft under torque <InlineEquation equation="T" /> rotating at angular speed <InlineEquation equation="\\omega" /> transmits power  <InlineEquation equation="P" />.
 
<DisplayEquation equation="P=T\\omega\\" title="Power." background="True"/>

</SubSubSection>

<SubSubSection title="Shear Stress: Polar Moment of Inertia" id="polar_moment_of_inertia">

<CalloutContainer slot="cards">
    <CalloutCard title="Heads  up!">
        <p>
           For a  <strong> moment of inertia </strong> summary, go to the "Moment of Inertia Summary" section of the <a href="/sol/bending">Bending</a> page.
            </p>
    </CalloutCard>
</CalloutContainer>

<DisplayEquation equation='J = \\frac{\\pi R^4}{2} = \\frac{\\pi D^4}{32}' title="Solid shaft (radius and diameter)." background="True" derivation="True" id="tor-pmi">
    

<DisplayEquation equation=`\\begin{aligned}J &= \\int_A{\\rho^2dA}\\\\
&= \\int_{0}^{2\\pi}{\\int_0^R{\\rho^2(\\rho \\; d\\rho \\; d\\theta)}}\\\\
&= \\int_{0}^{2\\pi}{d\\theta}\\int_0^R{\\rho^3d\\rho}\\\\
&= 2\\pi\\left[\\frac{1}{4} \\rho^4\\right]_0^R\\\\
&= \\frac{\\pi R^4}{2} = \\frac{\\pi D^4}{32} \\end{aligned}` />

</DisplayEquation>

<DisplayEquation equation="J = \\frac{\\pi}{2}(R_o^4-R_i^4) = \\frac{\\pi}{32}(D_o^4-D_i^4)\\" title="Hollow shaft (inner and outer radius)." background="True" derivation="True" id="tor-hol">
    

<DisplayEquation equation=`\\begin{aligned}J &= \\int_{0}^{2\\pi}{\\int_{R_i}^{R_o}{\\rho^3 \\; d\\rho \\; d\\theta}} \\\\
&= \\frac{\\pi}{2} [{R_o}^4 - {R_i}^4]\\end{aligned}` />
  
</DisplayEquation>

</SubSubSection>

<SubSubSection title="Shear Stress: Angle of Twist" id="angle_of_twist">
From observation:
<Itemize>
	<Item>The angle of twist of the shaft is proportional to the applied torque </Item>
	<Item>The angle of twist of the shaft is proportional to the length </Item>
	<Item>The angle of twist of the shaft decreases when the diameter of the shaft increases
</Item>
</Itemize>

<DisplayEquation equation="\\phi = \\frac{TL}{GJ}\\" title="Angle of twist." background="True"/>

<DisplayEquation equation="k_T = \\frac{GJ}{L}\\" title="Torsional stiffness." background="True"/>

<DisplayEquation equation="f_T = \\frac{L}{GJ}\\" title="Torsional flexibility." background="True"/>

</SubSubSection>

<SubSection title="Miscellaneous" id="miscellaneous"></SubSection>
<SubSubSection title="Types of Material Failure" id="types_of_material_failure">

<CalloutContainer slot="cards">
    <CalloutCard title="Heads  up - Extra!">
        <p>
            <strong> Torsion of thin-walled hallow shafts </strong> builds on this content.
            </p>
            <p>
                In general, the maximum shear stress is given by 
                
                <DisplayEquation equation="\\phi = \\frac{TL}{GJ}\\"/>

                For thin-walled shafts 
                
                <DisplayEquation equation="\\tau_{max} = \\frac{T}{2tA_m}\\"/>

                where 
                
                <DisplayEquation equation="\\begin{align} A_m &= \\pi R_{ave}^2 \\\\ R_{ave} &= \\frac{R_o + R_i}{2} \\end{align}"/>

                Note that is NOT the cross sectional area of the hollow shaft!
            </p>
        </CalloutCard>
</CalloutContainer>

<strong>Ductile </strong>materials generally fail in shear

<Image src="/sol/torsion/ductile.png" width="6"> </Image>

<!-- \begin{multicols}{2} -->
<Row>
    <Col values="12 md-6"><li>Axial – maximum shear stress at \(45^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum shear stress at \(0^o\) angle</li></Col>
</Row>


 
 <strong>Brittle</strong> materials are weaker in tension than shear

<Image src="/sol/torsion/brittle.png" width="6"> </Image>

<!-- \begin{multicols}{2} -->
<Row>
    <Col values="12 md-6"><li>Axial – maximum normal stress at \(0^o\) angle</li></Col>
    <Col values="12 md-6"><li>Torsion – maximum normal stress at \(45^o\) angle</li></Col>
</Row>

</SubSubSection>

<SubSubSection title="Gear Systems" id="gear_systems">

<CalloutContainer slot="cards">
    <CalloutCard title="Extra!">
        <p>
            <strong> Power transmition </strong> can be used to find shear stress in gear shafts.
            </p>
            <p>
                <DisplayEquation equation="\\tau = \\frac{P c}{\\omega J}\\" title="Maximum shear stress:"/>
            </p>
	<em>Note:</em>  1 hp = 550 ft.lb/s
    </CalloutCard>
</CalloutContainer>

<Image src="/sol/torsion/GearSystemv2.png" width="5">  Gear system </Image>

Gear system problems can be solved using the torsion equations. 

<p> Common assuptions:</p>


<Itemize>
	<Item>Gears are perfectly rigid. </Item>
	<Item>The rotation axis is perfectly fixed in space. </Item>
	<Item>Gear teeth are evenly spaced and perfectly shaped so there is no gap to create lost motion. </Item>
    <Item>Gear tooth faces are perfectly smooth so there is no slip. </Item>
    <Item>Mated gears twist through the same arc length. </Item>
</Itemize>

<p>To solve:</p>

<Enumerate>
	<Item>Draw a FBD for each shaft.  </Item>
	<Item>Use the torsion equilibrium equations of each shaft to find the recation forces and torques. </Item>
    <Item>Use the shear stress equation to find the stresses in the shaft. </Item>
</Enumerate>

The angle of twist between two mating gears is related through the gear ratio. 

<DisplayEquation equation="GR = d_B:d_A\\" title="Gear ratio." background="True" />

<DisplayEquation equation="\\phi_A = GR \\text{  } \\phi_B\\" title="Angle of twist" background="True" />

</SubSubSection>

</Layout>
