---
import Layout from "../../layouts/Layout.astro" 
import Image from "../../components/Image.astro" 
import Section from "../../components/Section.astro" 
import SubSection from "../../components/SubSection.astro" 
import SubSubSection from "../../components/SubSubSection.astro" 
import BlueText from "../../components/BlueText.astro" 
import RedText from "../../components/RedText.astro" 
import InlineEquation from "../../components/InlineEquation.astro" 
import DisplayEquation from "../../components/DisplayEquation.astro" 
import Itemize from "../../components/Itemize.astro" 
import Item from "../../components/Item.astro" 
import CalloutContainer from "../../components/CalloutContainer.astro"
import CalloutCard from "../../components/CalloutCard.astro"
---
<Layout title="Transverse Shear">

  <div slot="navtree">
    <ul class='list-group list-group-flush py-0'> 
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#shear_in_beams'>Shear Stress in Beams</a></li>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#avg_shear_stress'>Average Shear Stress</a>
            <ul class='list-group list-group-flush py-0'> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#rect_beam'>Rectangular Beam Cross-Section</a></li> 
                <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#i_beam'>I-Shaped Beam Cross-Section</a></li>  
            </ul>
        <li class='list-group-item py-0'><a class='text-decoration-none subsection' href='#shear_flow'>Built-up Members/Beams: Shear Flow</a>
          <ul class='list-group list-group-flush py-0'> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#adhesives'>Adhesives</a></li> 
            <li class='list-group-item py-0'><a class='text-decoration-none subsubsection' href='#fasteners'>Fasteners</a></li>  
        </ul>
        </li> 
    </ul>
</div>
<Section title="Transverse Shear" id="transverse_shear">

<Image src="/Solid_Mechanics/TransverseShear-Figures/TransToLong.png" width="4"></Image>

Transverse loading creates corresponding <strong>longitudinal shear stresses</strong> which will act along longitudinal planes of the beam

</Section>

<SubSection title="Shear Stress in Beams" id="shear_in_beams">


<Image src="/Solid_Mechanics/TransverseShear-Figures/TransverseShear.png" width="5.5"></Image>

 When a shear force is applied, it tends to cause warping of the cross section. Therefore, when a beam is subject to moments and shear forces, the <strong>cross section will not remain plane</strong> as assumed in the derivation of the flexural formula. However, we can assume that the warping due to shear is small enough to be neglected, which is particularly true for slender beams (<InlineEquation equation="L>5d"/>). 

<Image src="/Solid_Mechanics/TransverseShear-Figures/EquilibriumEqtn.png" width="5.5"></Image>

 Transverse loading applied to a beam results in normal and shearing stresses in transverse sections, as well as a bending moment.


 The distribution of normal and shearing stresses satisfies the following where <InlineEquation equation="dA" /> is the cross sectional area. 

<DisplayEquation equation="\\begin{align*} &F_x = \\int\\sigma_x dA = 0 		 &M_x &= \\int(y\\tau_{xz} - z\\tau_{xy})dA=0 \\\\ &F_y = \\int\\tau_{xy} dA = -V 	 &M_y &= \\int z\\sigma_{x} dA = 0 \\\\ &F_z = \\int\\tau_{xz} dA = 0 	 &M_z &= \\int(-y\\sigma_{x})dA = M \\\\ \\end{align*}" title="Equilibrium." background="True"/>

 When shearing stresses are exerted on the vertical faces of an element, equal stresses must be exerted on the horizontal faces.



 Longitudinal shearing stresses must exist in any member subjected to transverse loading.



<p> Symmetry of stress: transverse xy stress implies longitudinal yx stress. </p>

<Image src="/Solid_Mechanics/TransverseShear-Figures/Symmetry.png" width="2"></Image>

<DisplayEquation equation="\\tau_{xy} = \\tau_{yx}\\" title="Symmetry." background="True"/>


 
</SubSection>

<SubSection title="Average Shear Stress" id="avg_shear_stress">

<Image src="/Solid_Mechanics/TransverseShear-Figures/AvgShear.png" width="5"></Image>

Shear stress varies throughout the cross-section of the beam where the maximum shear stress is at the neutral axis and is zero at the edges. Shear stress can be represented as an average across the beam. 

<DisplayEquation equation="\\tau = \\frac{V}{A}\\" title="Avg. shear stress." background="True" />

<Image src="/Solid_Mechanics/TransverseShear-Figures/ShearAtPoint.png" width="6"></Image>

Shear stress can also be evaluated at any given point (<InlineEquation equation="y_1" />) from the z-axis. 

<DisplayEquation equation="\\tau = \\frac{VQ}{It}\\" title="shear stress at a point." background="True" derivation="True" id="shr-pts">

  <Image src="/Solid_Mechanics/TransverseShear-Figures/ElementFBD.png" width="8"></Image>

  <strong>(A)</strong> An element of width <InlineEquation equation="dx" /> in a bending beam has a FBD of the bending moment stress distribution.
  <p>
  <strong>(B)</strong> An element distance <InlineEquation equation="y" /> away from the neutral axis has a FBD of the bending moment stress distribution For this element to be in equilibrium, <InlineEquation equation="\\tau_{xy}" /> must be present.
 </p>
  <DisplayEquation equation="\\sigma_{x_1} \\neq \\sigma_{x_2}\\" />
 
  <strong>(C)</strong> Simplified FBD. The width of this element is <InlineEquation equation="t(y)" />
 
  <DisplayEquation equation="F_x = \\int\\sigma_x dA = 0\\" />
  <DisplayEquation equation="\\Sigma F_x = F_{x_1} - F_{x_2} + \\Delta H\\" />
  <DisplayEquation equation="\\int_{y}^{y_{top}} \\sigma_{x_1} t(y) dy - \\int_{y}^{y_{top}} \\sigma_{x_2} t(y) dy + \\tau_{xy} t(y) dx = 0\\" />
  <DisplayEquation equation="\\int_{y}^{y_{top}} \\frac{M(x)y}{I} t(y) dy - \\int_{y}^{y_{top}} \\frac{(M(x)+dM(x))y}{I} t(y) dy + \\tau_{xy} t(y) dx = 0\\" />
  <DisplayEquation equation="\\tau_{xy} = \\frac{dM(x)}{dx}\\frac{1}{I t(y)} \\int_{y}^{y_{top}} y t(y) dy\\" />
  <DisplayEquation equation="V(x) = \\frac{dM(x)}{dx}\\" />
  <DisplayEquation equation="\\tau_{xy} = \\frac{V(x)}{I t(y)} \\int_{y}^{y_{top}} y t(y) dy\\" />
  <DisplayEquation equation="\\tau_{xy} = \\frac{V(x) Q(y)}{I t(y)}\\" />

</DisplayEquation>

<Itemize>
  <Item><InlineEquation equation="V" /> : shear force</Item>
  <Item><InlineEquation equation="Q" /> : First area moment of inertia of cut section ( <InlineEquation equation="Q = \\Sigma \\bar{y}'A'" /> )</Item>
  <Item><InlineEquation equation="I" /> : Second area moment of inertia of whole cross-sectional area</Item>
  <Item><InlineEquation equation="t" /> : beam thickness</Item>
</Itemize>

</SubSection>

<SubSubSection title="Rectangular Beam Cross-Section" id="rect_beam">

<Image src="/Solid_Mechanics/TransverseShear-Figures/RectCrossSect.png" width="5"></Image>

 
<DisplayEquation equation="\\begin{align*} &\\tau_{cut} = \\frac{3}{2} \\frac{V}{bh}(1-\\frac{y^2}{c^2})	\\\\ \\text{where}	 \\\\ &c = \\frac{1}{2}h \\\\ \\text{or} \\\\ &\\tau_{cut} = \\frac{6V}{bh^3}(\\frac{h^2}{4}-y^2) \\end{align*}" title="Shear stress at a given point (y) in a rectangular beam." background="True" derivation="True" id="shr-rct"> 

 <DisplayEquation equation="I_z = \\frac{1}{12} bh^3\\" /> 
 <DisplayEquation equation="t=b\\" /> 
 <DisplayEquation equation="Q = A\\bar{y}\\" /> 
 <DisplayEquation equation="Q = b(\\frac{1}{2}h-y)[y+\\frac{1}{2}(\\frac{1}{2}h-y)]\\" /> 
 <DisplayEquation equation="Q = \\frac{1}{2}b(\\frac{1}{4}h^2-y^2)\\" /> 

</DisplayEquation>
 
Maximum shear stress occurs at the neutral axis.
<DisplayEquation equation="\\tau_{max} = 1.5 \\frac{V}{A}\\" title="Max. shear stress in rectangular beam." background="True"/>

</SubSubSection>

<SubSubSection title="I-Shaped Beam Cross-Section" id="i_beam">

<Image src="/Solid_Mechanics/TransverseShear-Figures/IbeamCrossSect.png" width="5"></Image>

The neutral axis of an I-beam is the center. To find the I, use the parallel axis theorem. When determining the stress distribution, break the beam up into sub-sections of constant thickness for easier calculations. The stress distribution is a discontinuous parabola. 

</SubSubSection>

<SubSection title="Built-up Members/Beams: Shear Flow" id="shear_flow">

  <CalloutContainer slot="cards">
    <CalloutCard title="Heads  up!">
        <p>
           <strong> shear stresses in thin-walled members </strong> builds on this content.
          </p>
          <p>
            <Image src="/Solid_Mechanics/TransverseShear-Figures/ThinWalledMembers.png" width=""></Image>  
 
            The variation of shear flow across the section depends only on the variation of the first moment.
           <DisplayEquation equation="q = \\tau t = \\frac{VQ}{I}\\" />
           
           <Image src="/Solid_Mechanics/TransverseShear-Figures/RectThinWallShearFlow.png" width=""></Image> 
            For a box beam, q grows symmetrically. From the edge to where the beam becomes hollow, the flow increases linearly and from where it becomes hollow to the neutral axis, the flow increases parabolically.
           
             <Image src="/Solid_Mechanics/TransverseShear-Figures/UchannelShearFlow.png" width=""></Image> 
             For a u-channel beam, the shear flow increases linearly on the sides from the edge to the base, and on the base it increases from the sides to the neutral axis.

          </p>
    </CalloutCard>
</CalloutContainer>

In some cases, it is more useful to look at shear flow (<InlineEquation equation="q" />) through a structure than internal shear stress.

<Image src="/Solid_Mechanics/TransverseShear-Figures/IbeamShearFlow.png" width="5">L: Shear flow direction. R: Shear flow magnitude</Image> 

For an I-beam, the shear flow increases symmetrically on top from the end to the neutral axis in the y-direction, and on the side increases from the flanges to the neutral axes.

Shear flow is the a measure of force per length.

<DisplayEquation equation="\\begin{align*} &dF = \\frac{VQ}{I}dx	\\\\ \\text{where}	 \\\\ &q = \\frac{dF}{dx} = \\frac{VQ}{I} \\\\ \\end{align*}" title="Shear flow (q)." background="True" derivation="True" id="shr-flw">

<DisplayEquation equation="F_x = \\int\\sigma_x dA = 0\\" />
<DisplayEquation equation="\\Sigma F_x = F_{x_1} - F_{x_2} + \\Delta H\\" />
<DisplayEquation equation="\\Delta H + \\int \\frac{M_{x_1} y}{I}dA - \\int \\frac{M_{x_2} y}{I}dA = 0\\" />
<DisplayEquation equation="\\Delta H = \\frac{M_{x_1}-M_{x_2}}{I} \\int ydA = 0\\" />
<DisplayEquation equation="\\Delta H = \\frac{\\Delta M}{I} Q = 0\\" />
<DisplayEquation equation="\\frac{\\Delta H}{\\Delta x} = \\frac{\\Delta M}{\\Delta x} \\frac{Q}{I} = 0\\" />
<DisplayEquation equation="\\lim_{x\\to 0} \\frac{\\Delta H}{\\Delta x} = \\frac{dH}{dx} = q\\" />
<DisplayEquation equation="q = \\frac{dM}{dx} \\frac{Q}{I}\\" />

</DisplayEquation>

<DisplayEquation equation="\\tau = \\frac{q}{t}" title="Shear stress using shear flow." background="True" />

Shear flow is most applicable in design situations such as built-up beams.
Built-up beams are beams that have been put together with either an adhesive (glue, epoxy, etc) or fasteners (nails, bolts, etc). Calculating shear flow allows for determining how much adhesive or how often a fastener is needed.

<Image src="/Solid_Mechanics/TransverseShear-Figures/BuiltUpBeams.png" width="5"></Image>
</SubSection>

<SubSubSection title="Adhesives" id="adhesives">
<p>
<strong>Adhesives</strong> supply resistance along the length of the contacting parts. Determine the minimum shear strength at these contacting/weak points using the shear stress equation.
</p>

<strong>Example:</strong> The following I-beam is composed of 4 boards glued together. The vertical shear is is <InlineEquation equation="V = 100 \\text{ } N"/>.
Find the minumum required shear strength for the glue (<InlineEquation equation="\\tau_{glue}" />). 
<Image src="/Solid_Mechanics/TransverseShear-Figures/AdhesiveExample.png" width="2"></Image>

<DisplayEquation equation="\\begin{align*} &\\tau_{AB} = \\frac{V Q_A}{I t_A},\\  &\\tau_{BD} = \\frac{V Q_D}{I t_D}\\ \\end{align*}" title="The larger shear stress is the minimum required strength" background="True" derivation="True" id="adh-exp">

  <Image src="/Solid_Mechanics/TransverseShear-Figures/IBeamQ.png" width="1.5"></Image>

  <DisplayEquation equation="Q_A = A \\bar{y_A} = 3.13*10^4 \\text{ } mm^3" />
  <DisplayEquation equation="Q_D = A \\bar{y_D} = 9.38*10^4 \\text{ } mm^3" />

  <Image src="/Solid_Mechanics/TransverseShear-Figures/IBeamMOI.png" width="1"></Image>

  <DisplayEquation equation="I = I_1 + 2 I_2 = 1.04*10^7 \\text{ } mm^4" />
  <DisplayEquation equation="I_1 = \\frac{1}{12}b_1 h_1^3 = 8.79*10^5 \\text{ } mm^4" />
  <DisplayEquation equation="I_2 = \\frac{1}{12}b_2 h_2^3 +A_2d_2^2 = 47.85*10^5 \\text{ } mm^4 " />

  <Image src="/Solid_Mechanics/TransverseShear-Figures/IBeamThick.png" width="1"></Image>

  <DisplayEquation equation="t_A = 25 \\text{ } mm" />
  <DisplayEquation equation="t_D = 25 \\text{ } mm" />

  <DisplayEquation equation="\\tau_{AB} = 12.0 \\text{ } kPa" />
  <DisplayEquation equation="\\tau_{BD} = 36.1 \\text{ } kPa" />

  <DisplayEquation equation="\\begin{align*} &\\tau_{AB} < \\tau_{BD} \\  &\\tau_{glue} = 36.1 \\text{ } kPa\\ \\end{align*}" />

</DisplayEquation>


</SubSubSection>

<SubSubSection title="Fasteners" id="fasteners">
<p>
<strong>Fasteners</strong> supply resistance at fixed intervals. Use the shear flow formula to analyze the beam.
</p>

<strong>Example:</strong> The followling beams are composed of two boards nailed together with 6 nails at an interval of <InlineEquation equation="\\Delta s = 50 \\text{ } mm"/>. The shear force is <InlineEquation equation="V = 100 \\text{ } kN"/>. 
Find the shear flow (<InlineEquation equation="q"/>) and the load each fastener carries (<InlineEquation equation="f_n"/>).

<Image src="/Solid_Mechanics/TransverseShear-Figures/FastenerExample.png" width="5.5"></Image>

<DisplayEquation equation="\\begin{align*} &q = \\frac{VQ}{I},\\  &f_n = \\frac{q*s_{total}}{4}\\ \\end{align*}" title="Shear flow in fasteners" background="True" derivation="True" id="fsn-exp">

  <Image src="/Solid_Mechanics/TransverseShear-Figures/BoardsQ.png" width="2"></Image>

  <DisplayEquation equation="Q = (b*h)\\bar{y} = 3.75*10^5 \\text{ } mm^3" />

  <DisplayEquation equation="I = \\frac{1}{12}b h^3 = 2.5*10^7 \\text{ } mm^4" />

  <DisplayEquation equation="q = 1.5 \\text{ } \\frac{kN}{mm}" />


  <DisplayEquation equation="\\Sigma F_{total} = \\frac{1}{2}f_n + f_n + \\frac{1}{2}f_n = 2f_n" />
  
  Because there are 2 nails in each row, 

  <DisplayEquation equation="\\Sigma F_{total} = 2*F_{total} = 2*2f_n = 4f_n" />

  <DisplayEquation equation="s_{total} = 2\\Delta s = 100 \\text{ } mm^4" />

  <DisplayEquation equation="f_n = 37.5 \\text{ } kN" />




</DisplayEquation>


</SubSubSection>
</Layout>